/* 화면 크기 조정 */
//사이즈 정의
@mixin resize-size-variable() {
	--upl-resize--list-icon-radius: var(--upl-radius-small2);
}

//컬러 정의
@mixin resize-color-variable($mode: light) {
	--upl-resize--list-icon-color-border: var(--upl-#{$mode}-color-border-gray);
	--upl-resize--list-icon-color-border-selected: var(--upl-#{$mode}-color-element-secondary);
	--upl-resize--list-icon-color-background: var(--upl-#{$mode}-color-action-secondary);
	--upl-resize--list-icon-color-background-selected: var(--upl-#{$mode}-color-element-secondary);
}

//모드 설정
$mode-setting: light;
/* upl-drop-wrap */
.upl-drop-wrap {
	@include resize-size-variable();
	@include resize-color-variable(#{$mode-setting});

	&.upl-resize {
		.drop-menu {
			min-width: 15rem;
		}
		.drop-list {
			.item-link {
				white-space: nowrap;
				&::before {
					@include pseudo();
					@include square(var(--upl-icon--size-large));
					background: url(#{$url}/img/component/icon/head_ico_font_sample.svg) no-repeat center / contain;
					flex-shrink: 0;
					border-radius: var(--upl-resize--list-icon-radius);
					border: 0.1rem solid var(--upl-resize--list-icon-color-border);
					background-color: var(--upl-resize--list-icon-color-background);
				}
				&.active {
					&::before {
						background-image: url(#{$url}/img/component/icon/head_ico_font_sample_white.svg);
						border-color: var(--upl-resize--list-icon-color-border-selected);
						background-color: var(--upl-resize--list-icon-color-background-selected);
					}
				}
				$sizes: (
					sm: 2.2,
					md: 2.4,
					lg: 2.6,
					xlg: 2.8,
					xxlg: 3,
				);
				@each $name, $size in $sizes {
					$icon-size: #{$size}rem;
					&.#{$name} {
						&::before {
							width: $icon-size;
							height: $icon-size;
						}
					}
				}
			}
		}
	}
}

// upl-scaled-layout
.upl-scaled-layout {
	.upl-in-page-navigation-type {
		& > .inner:not(.in-between) {
			padding-right: 0;
		}
		.in-between {
			.contents {
				padding-right: 0;
			}
		}
		.upl-in-page-navigation-area {
			position: static;
			margin-bottom: var(--upl-gap-9);
		}
	}
}

//고대비모드
@include color-mode($mode: dark) {
	//모드 설정
	$mode-setting: dark;

	/* upl-drop-wrap */
	.upl-drop-wrap {
		@include resize-color-variable(#{$mode-setting});
		&.upl-resize {
			.item-link {
				&::before {
					background: url(#{$url}/img/component/icon/head_ico_font_sample_white.svg) no-repeat center / contain;
				}
			}
		}
	}
}