/* Switch */
// Switch 사이즈 관련 공통 변수 Mixin
@mixin switch-size-variables($size) {
	@if $size ==large {
		--upl-switch--#{$size}-height: var(--upl-number-22);
		--upl-switch--#{$size}-width: var(--upl-number-38);
		--upl-switch--#{$size}-padding-left: calc(var(--upl-number-38) + var(--upl-padding-8));
		--upl-switch--#{$size}-label-width: var(--upl-number-18);
		--upl-switch--#{$size}-label-height: var(--upl-number-18);
		--upl-switch--#{$size}-border-radius: var(--upl-radius-10);
		--upl-switch--#{$size}-font-size: var(--upl-font-size-body-medium);
		--upl-switch--#{$size}-line-height: var(--upl-typo-line-height-font-size-16);
	}
}

// Switch 색상 변수 Mixin (mode 기본값: light)
@mixin switch-color-variables($size, $mode: light) {
	--upl-switch--#{$size}-off-fill: var(--upl-#{$mode}-color-selection-switch-#{$size}-off-background-color);
	--upl-switch--#{$size}-on-fill: var(--upl-#{$mode}-color-selection-switch-#{$size}-on-background-color);
	--upl-switch--#{$size}-off-disabled-fill: var(--upl-#{$mode}-color-selection-switch-#{$size}-off-disabled-background-color);
	--upl-switch--#{$size}-on-disabled-fill: var(--upl-#{$mode}-color-selection-switch-#{$size}-on-disabled-background-color);
	--upl-switch--#{$size}-circle-fill: var(--upl-color-light-gray-white); // 공통 값으로 보존
	--upl-switch--#{$size}-off-font-color: var(--upl-#{$mode}-color-selection-#{$size}-off-font-color);
	--upl-switch--#{$size}-off-disabled-font-color: var(--upl-#{$mode}-color-selection-#{$size}-off-disabled-font-color);
}

// Switch 최종 Mixin
@mixin switch-variables($size: large, $mode: light) {
	@include switch-size-variables($size);
	@include switch-color-variables($size, $mode);
}

// Switch Style
[class^="switch"] {
	@include switch-variables();
	display: inline-block;
	position: relative;
	vertical-align: top;

	input {
		position: absolute;
		left: 0;
		z-index: 0;
		opacity: 0;
	}
}

.switch {
	@include checkbox-variables;

	display: inline-block;
	position: relative;
	height: var(--upl-switch--large-height);
	vertical-align: top;

	label {
		display: block;
		position: relative;
		height: var(--upl-switch--large-height);
		padding-left: var(--upl-switch--large-padding-left);
		font-size: var(--upl-switch--large-font-size);
		line-height: var(--upl-switch--large-line-height);

		&:before {
			position: absolute;
			top: 0;
			left: 0;
			content: '';
			width: var(--upl-switch--large-width);
			height: var(--upl-switch--large-height);
			margin-right: 0.8rem;
			border-radius: var(--upl-switch--large-border-radius);
			background: var(--upl-switch--large-off-fill);
		}

		&:after {
			position: absolute;
			top: 0.2rem;
			left: 0.2rem;
			content: '';
			width: var(--upl-switch--large-label-width);
			height: var(--upl-switch--large-label-width);
			border-radius: 50%;
			background: var(--upl-switch--large-circle-fill);
			box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
			-webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
			transition: left 0.2s ease-out;
		}

		span {
			font-size: 1.5rem !important;
			color: var(--fc-03);
			padding-left: 0.8rem;
			line-height: 2.2rem;
		}
	}

	input[type='checkbox'] {
		@include checkbox-variables;
		width: 100%;
		height: 100%;
		background: none !important;

		+label {
			display: block;
			position: relative;
			height: var(--upl-switch--large-height);
		}

		&:checked+label {
			&:before {
				background: var(--upl-switch--large-on-fill);
			}

			&:after {
				left: 1.8rem;
			}
		}

		&:disabled+label {
			&:before {
				background-color: var(--upl-switch--large-off-disabled-fill);
			}

			&:after {
				float: left;
			}

			span {
				color: var(--upl-switch--large-off-disabled-font-color);
			}
		}

		&[checked]:disabled+label {
			&:before {
				background-color: var(--upl-switch--large-on-disabled-fill);
			}

			&:after {
				float: right;
			}
		}
	}
}