/*** Basic ***/
/* Radius */
.rd-2 {border-radius: var(--radius-2);}
.rd-4 {border-radius: var(--radius-4);}
.rd-6 {border-radius: var(--radius-6);}
.rd-8 {border-radius: var(--radius-8);}
.rd-10 {border-radius: var(--radius-10);}
.rd-12 {border-radius: var(--radius-12);}
.rd-14 {border-radius: var(--radius-14);}
.rd-16 {border-radius: var(--radius-16);}
.rd-18 {border-radius: var(--radius-18);}
.rd-20 {border-radius: var(--radius-20);}
.rd-max {border-radius: var(--radius-max);}

/* Margin */
.mg-2 {margin: var(--gap-2);}
.mg-4 {margin: var(--gap-4);}
.mg-6 {margin: var(--gap-6);}
.mg-8 {margin: var(--gap-8);}
.mg-10 {margin: var(--gap-10);}
.mg-12 {margin: var(--gap-12);}
.mg-14 {margin: var(--gap-14);}
.mg-16 {margin: var(--gap-16);}
.mg-18 {margin: var(--gap-18);}
.mg-20 {margin: var(--gap-20);}
.mg-24 {margin: var(--gap-24);}
.mg-28 {margin: var(--gap-28);}
.mg-32 {margin: var(--gap-32);}
.mg-40 {margin: var(--gap-40);}
.mg-48 {margin: var(--gap-48);}
.mg-52 {margin: var(--gap-52);}
.mg-56 {margin: var(--gap-56);}
.mg-60 {margin: var(--gap-60);}
.mg-64 {margin: var(--gap-64);}
.mg-68 {margin: var(--gap-68);}
.mg-72 {margin: var(--gap-72);}
.mgt-2 {margin: var(--gap-2);}
.mgt-4 {margin: var(--gap-4);}
.mgt-6 {margin: var(--gap-6);}
.mgt-8 {margin: var(--gap-8);}
.mgt-10 {margin-top: var(--gap-10);}
.mgt-12 {margin-top: var(--gap-12);}
.mgt-14 {margin-top: var(--gap-14);}
.mgt-16 {margin-top: var(--gap-16);}
.mgt-18 {margin-top: var(--gap-18);}
.mgt-20 {margin-top: var(--gap-20);}
.mgt-24 {margin-top: var(--gap-24);}
.mgt-28 {margin-top: var(--gap-28);}
.mgt-32 {margin-top: var(--gap-32);}
.mgt-40 {margin-top: var(--gap-40);}
.mgt-48 {margin-top: var(--gap-48);}
.mgt-52 {margin-top: var(--gap-52);}
.mgt-56 {margin-top: var(--gap-56);}
.mgt-60 {margin-top: var(--gap-60);}
.mgt-64 {margin-top: var(--gap-64);}
.mgt-68 {margin-top: var(--gap-68);}
.mgt-72 {margin-top: var(--gap-72);}
.mgb-2 {margin-bottom: var(--gap-2);}
.mgb-4 {margin-bottom: var(--gap-4);}
.mgb-6 {margin-bottom: var(--gap-6);}
.mgb-8 {margin-bottom: var(--gap-8);}
.mgb-10 {margin-bottom: var(--gap-10);}
.mgb-12 {margin-bottom: var(--gap-12);}
.mgb-14 {margin-bottom: var(--gap-14);}
.mgb-16 {margin-bottom: var(--gap-16);}
.mgb-18 {margin-bottom: var(--gap-18);}
.mgb-20 {margin-bottom: var(--gap-20);}
.mgb-24 {margin-bottom: var(--gap-24);}
.mgb-28 {margin-bottom: var(--gap-28);}
.mgb-32 {margin-bottom: var(--gap-32);}
.mgb-40 {margin-bottom: var(--gap-40);}
.mgb-48 {margin-bottom: var(--gap-48);}
.mgb-52 {margin-bottom: var(--gap-52);}
.mgb-56 {margin-bottom: var(--gap-56);}
.mgb-60 {margin-bottom: var(--gap-60);}
.mgb-64 {margin-bottom: var(--gap-64);}
.mgb-68 {margin-bottom: var(--gap-68);}
.mgb-72 {margin-bottom: var(--gap-72);}
.mgl-2 {margin-left: var(--gap-2);}
.mgl-4 {margin-left: var(--gap-4);}
.mgl-6 {margin-left: var(--gap-6);}
.mgl-8 {margin-left: var(--gap-8);}
.mgl-10 {margin-left: var(--gap-10);}
.mgl-12 {margin-left: var(--gap-12);}
.mgl-14 {margin-left: var(--gap-14);}
.mgl-16 {margin-left: var(--gap-16);}
.mgl-18 {margin-left: var(--gap-18);}
.mgl-20 {margin-left: var(--gap-20);}
.mgl-24 {margin-left: var(--gap-24);}
.mgl-28 {margin-left: var(--gap-28);}
.mgl-32 {margin-left: var(--gap-32);}
.mgl-40 {margin-left: var(--gap-40);}
.mgl-48 {margin-left: var(--gap-48);}
.mgl-52 {margin-left: var(--gap-52);}
.mgl-56 {margin-left: var(--gap-56);}
.mgl-60 {margin-left: var(--gap-60);}
.mgl-64 {margin-left: var(--gap-64);}
.mgl-68 {margin-left: var(--gap-68);}
.mgl-72 {margin-left: var(--gap-72);}
.mgr-2 {margin-right: var(--gap-2);}
.mgr-4 {margin-right: var(--gap-4);}
.mgr-6 {margin-right: var(--gap-6);}
.mgr-8 {margin-right: var(--gap-8);}
.mgr-10 {margin-right: var(--gap-10);}
.mgr-12 {margin-right: var(--gap-12);}
.mgr-14 {margin-right: var(--gap-14);}
.mgr-16 {margin-right: var(--gap-16);}
.mgr-18 {margin-right: var(--gap-18);}
.mgr-20 {margin-right: var(--gap-20);}
.mgr-24 {margin-right: var(--gap-24);}
.mgr-28 {margin-right: var(--gap-28);}
.mgr-32 {margin-right: var(--gap-32);}
.mgr-40 {margin-right: var(--gap-40);}
.mgr-48 {margin-right: var(--gap-48);}
.mgr-52 {margin-right: var(--gap-52);}
.mgr-56 {margin-right: var(--gap-56);}
.mgr-60 {margin-right: var(--gap-60);}
.mgr-64 {margin-right: var(--gap-64);}
.mgr-68 {margin-right: var(--gap-68);}
.mgr-72 {margin-right: var(--gap-72);}

/* Padding */
.pd-2 {padding: var(--padding-2);}
.pd-4 {padding: var(--padding-4);}
.pd-6 {padding: var(--padding-6);}
.pd-8 {padding: var(--padding-8);}
.pd-10 {padding: var(--padding-10);}
.pd-12 {padding: var(--padding-12);}
.pd-14 {padding: var(--padding-14);}
.pd-16 {padding: var(--padding-16);}
.pd-18 {padding: var(--padding-18);}
.pd-20 {padding: var(--padding-20);}
.pd-22 {padding: var(--padding-22);}
.pd-24 {padding: var(--padding-24);}
.pd-26 {padding: var(--padding-26);}
.pd-28 {padding: var(--padding-28);}
.pd-30 {padding: var(--padding-30);}
.pd-32 {padding: var(--padding-32);}
.pdt-2 {padding-top: var(--padding-2);}
.pdt-4 {padding-top: var(--padding-4);}
.pdt-6 {padding-top: var(--padding-6);}
.pdt-8 {padding-top: var(--padding-8);}
.pdt-10 {padding-top: var(--padding-10);}
.pdt-12 {padding-top: var(--padding-12);}
.pdt-14 {padding-top: var(--padding-14);}
.pdt-16 {padding-top: var(--padding-16);}
.pdt-18 {padding-top: var(--padding-18);}
.pdt-20 {padding-top: var(--padding-20);}
.pdt-22 {padding-top: var(--padding-22);}
.pdt-24 {padding-top: var(--padding-24);}
.pdt-26 {padding-top: var(--padding-26);}
.pdt-28 {padding-top: var(--padding-28);}
.pdt-30 {padding-top: var(--padding-30);}
.pdt-32 {padding-top: var(--padding-32);}
.pdb-2 {padding-bottom: var(--padding-2);}
.pdb-4 {padding-bottom: var(--padding-4);}
.pdb-6 {padding-bottom: var(--padding-6);}
.pdb-8 {padding-bottom: var(--padding-8);}
.pdb-10 {padding-bottom: var(--padding-10);}
.pdb-12 {padding-bottom: var(--padding-12);}
.pdb-14 {padding-bottom: var(--padding-14);}
.pdb-16 {padding-bottom: var(--padding-16);}
.pdb-18 {padding-bottom: var(--padding-18);}
.pdb-20 {padding-bottom: var(--padding-20);}
.pdb-22 {padding-bottom: var(--padding-22);}
.pdb-24 {padding-bottom: var(--padding-24);}
.pdb-26 {padding-bottom: var(--padding-26);}
.pdb-28 {padding-bottom: var(--padding-28);}
.pdb-30 {padding-bottom: var(--padding-30);}
.pdb-32 {padding-bottom: var(--padding-32);}
.pdl-2 {padding-left: var(--padding-2);}
.pdl-4 {padding-left: var(--padding-4);}
.pdl-6 {padding-left: var(--padding-6);}
.pdl-8 {padding-left: var(--padding-8);}
.pdl-10 {padding-left: var(--padding-10);}
.pdl-12 {padding-left: var(--padding-12);}
.pdl-14 {padding-left: var(--padding-14);}
.pdl-16 {padding-left: var(--padding-16);}
.pdl-18 {padding-left: var(--padding-18);}
.pdl-20 {padding-left: var(--padding-20);}
.pdl-22 {padding-left: var(--padding-22);}
.pdl-24 {padding-left: var(--padding-24);}
.pdl-26 {padding-left: var(--padding-26);}
.pdl-28 {padding-left: var(--padding-28);}
.pdl-30 {padding-left: var(--padding-30);}
.pdl-32 {padding-left: var(--padding-32);}
.pdr-2 {padding-right: var(--padding-2);}
.pdr-4 {padding-right: var(--padding-4);}
.pdr-6 {padding-right: var(--padding-6);}
.pdr-8 {padding-right: var(--padding-8);}
.pdr-10 {padding-right: var(--padding-10);}
.pdr-12 {padding-right: var(--padding-12);}
.pdr-14 {padding-right: var(--padding-14);}
.pdr-16 {padding-right: var(--padding-16);}
.pdr-18 {padding-right: var(--padding-18);}
.pdr-20 {padding-right: var(--padding-20);}
.pdr-22 {padding-right: var(--padding-22);}
.pdr-24 {padding-right: var(--padding-24);}
.pdr-26 {padding-right: var(--padding-26);}
.pdr-28 {padding-right: var(--padding-28);}
.pdr-30 {padding-right: var(--padding-30);}
.pdr-32 {padding-right: var(--padding-32);}

/* Alpha */
.alpha-10 {opacity: var(--alpha-10)}
.alpha-20 {opacity: var(--alpha-20)}
.alpha-30 {opacity: var(--alpha-30)}
.alpha-40 {opacity: var(--alpha-40)}
.alpha-50 {opacity: var(--alpha-50)}
.alpha-60 {opacity: var(--alpha-60)}
.alpha-70 {opacity: var(--alpha-70)}
.alpha-80 {opacity: var(--alpha-80)}
.alpha-90 {opacity: var(--alpha-90)}