/** BottomSheet **/
.popup.bottom .pop-body {overflow-x:hidden; overflow-y:auto;}
.popup.bottom .pop-head,
.popup.bottom .pop-head h1 {font-weight:var(--bottomsheet-title-font-weight); font-size:var(--bottomsheet-title-font-size); color:var(--bottomsheet-title-font-color); line-height:var(--bottomsheet-title-line-height);}
.popup.bottom .pop-head > div {padding:var(--bottomsheet-title-padding-top) var(--bottomsheet-padding-x) var(--bottomsheet-title-padding-bottom);}
.popup.bottom .pop-close {top:var(--bottomsheet-close-padding-y); right:var(--bottomsheet-close-padding-x); width:var(--bottomsheet-close-toucharea); height:var(--bottomsheet-close-toucharea);}
.popup.bottom .pop-wrap {position:fixed; bottom:0; border-radius:var(--bottomsheet-top-radius) var(--bottomsheet-top-radius) 0 0; background-color:var(--bottomsheet-background-color); -webkit-transform:translate3d(0, 110%, 0); transform:translate3d(0, 110%, 0); opacity:1}
.popup.bottom .pop-wrap {box-shadow:0 -0.5rem 0.6rem rgba(0,0,0,.1); overflow:hidden;}
.popup.bottom .pop-wrap .pop-body:first-child > .pop-section {padding-top:var(--bottomsheet-untitled-noclose-height);} /* 바텀 헤더 마크업 없는 경우 */
.popup.bottom.is-swipe .pop-head span.swipe {display:block; position:absolute; top:0; left:0; right:0; height:var(--bottomsheet-untitled-noclose-height); z-index:30}
.popup.bottom.is-swipe .pop-head span.swipe::after {content:''; position:absolute; top:10px; left:50%; width:var(--number-32); height:var(--number-4); margin-left:calc(var(--number-16) * -1); background-color:var(--color-gray-500); border-radius:var(--radius-max);}
.popup.bottom.is-swipe .pop-head span.swipe:only-child {position:unset;}
.popup.bottom .pop-foot > div {padding:var(--bottomsheet-button-padding-top) var(--bottomsheet-padding-x) calc(var(--sab) + var(--bottomsheet-button-padding-bottom))}
.popup.bottom .pop-foot .btn-area span + span {margin-left:var(--bottomsheet-button-gap-x);}
/* 타이틀 있고, 닫기 x 버튼 있는 경우 */
.popup.bottom .pop-close {top:var(--bottomsheet-close-padding-y); right:var(--bottomsheet-close-padding-x);}
.popup.bottom.close .pop-head > div {padding-right:calc(var(--bottomsheet-close-toucharea) + var(--bottomsheet-title-gap) * 2);} 
/* 타이틀 없고, 닫기 x 버튼 있는 경우 */
.popup.bottom.close.no-title .pop-head > div {min-height:var(--bottomsheet-untitled-close-height)}
.popup.bottom.close.no-title .pop-close {top:var(--bottomsheet-close-untitled-padding-y);}
/* 게이트형 : 타이틀 없고, 닫기 x 버튼 없는 경우 */
.popup.bottom.no-title .pop-head > div {min-height:var(--bottomsheet-untitled-noclose-height); padding:0;} 

@media(min-width:1024px){
    .popup.bottom .pop-wrap {max-width:102.4rem; margin-left:auto; margin-right:auto; left:50%; margin-left:-51.2rem}
}

/** show **/
.popup.show.bottom {background-color:var(--bottomsheet-dim-color);}
