@charset "euc-kr"; 

/*** Button ***/
.btn {display:inline-block; position: relative; overflow:hidden; text-align:center;}

/* Confirm Button */
.btn-confirm-wrap .btn-area {display:flex;position:fixed;left:0;bottom:0;width:100%; height:var(--button-stick-wrap-height);  padding:var(--button-stick-wrap-padding-top) var(--button-stick-wrap-padding-x) 0; z-index:150;}
.btn-confirm-wrap .btn-area > span {display:block;width:100%;}
.btn-confirm-wrap .btn-area > span + span {margin-left:var(--button-stick-wrap-gap-left)}
.btn-confirm-wrap .btn {display:block; width:100%;}
.btn-confirm-wrap.nofix .btn-area {position:absolute;}

/* Sick Button */
.btn.stick.lg {min-width:32.7rem; height:var(--button-stick-large-height); padding:0 var(--button-stick-large-text-padding-x); border-radius: var(--button-stick-large-radius); font-size: var(--button-stick-large-font-size); border-width:var(--button-stick-large-border-width); line-height:var(--button-stick-large-line-height)}

.btn.stick.primary {background:var(--button-stick-primary-default-background-color); color:var(--button-stick-primary-default-font-color);}
.btn.stick.primary.pressed {background:var(--button-stick-primary-pressed-background-color); color:var(--button-stick-primary-pressed-font-color)}
.btn.stick.primary:disabled {background:var(--button-stick-primary-disabled-background-color);}

.btn.stick.secondary {background:var(--button-stick-secondary-default-background-color); color:var(--button-stick-secondary-default-font-color);}
.btn.stick.secondary.pressed {background:var(--button-stick-secondary-pressed-background-color); color:var(--button-stick-secondary-pressed-font-color)}
.btn.stick.secondary:disabled {background:var(--button-stick-secondary-disabled-background-color); color:var(--button-stick-secondary-disabled-font-color);}

.btn.stick.outlined {background:var(--button-stick-outlined-default-background-color); color:var(--button-stick-outlined-default-font-color); border:1px solid var(--button-stick-outlined-default-border-color)}
.btn.stick.outlined.pressed {background:var(--button-stick-outlined-pressed-background-color); color:var(--button-stick-outlined-pressed-font-color); border:1px solid var(--button-stick-outlined-pressed-border-color)}
.btn.stick.outlined:disabled {background:var(--button-stick-outlined-disabled-background-color); color:var(--button-stick-outlined-disabled-font-color); border:1px solid var(--button-stick-outlined-disabled-border-color)}

/* Solid Button */
.btn.solid {min-width:32.7rem;}
.btn.solid.md {height:var(--button-solid-medium-height); line-height: 1; padding:0 var(--button-solid-medium-text-padding-x); font-size: var(--button-solid-medium-font-size); border-radius: var(--button-solid-medium-radius); border-width:var(--button-solid-medium-border-width)}
.btn.solid.sm {height:var(--button-solid-small-height); line-height: 1; padding:0 var(--button-solid-small-text-padding-x); font-size: var(--button-solid-small-font-size); border-radius: var(--button-solid-small-radius); border-width:var(--button-solid-small-border-width)}

.btn.solid.primary {background:var(--button-solid-primary-default-background-color); color:var(--button-solid-primary-default-font-color);}
.btn.solid.primary.pressed {background:var(--button-solid-primary-pressed-background-color); color:var(--button-solid-primary-pressed-font-color);}
.btn.solid.primary:disabled {background:var(--button-solid-primary-disabled-background-color); color:var(--button-solid-primary-disabled-font-color);}

.btn.solid.secondary {background:var(--button-solid-secondary-default-background-color); color:var(--button-solid-secondary-default-font-color);}
.btn.solid.secondary.pressed {background:var(--button-solid-secondary-pressed-background-color); color:var(--button-solid-secondary-pressed-font-color);}
.btn.solid.secondary:disabled {background:var(--button-solid-secondary-disabled-background-color); color:var(--button-solid-secondary-disabled-font-color);}

.btn.solid.outlined {background:var(--button-solid-outlined-default-background-color); color:var(--button-solid-outlined-default-font-color); border:1px solid var(--button-solid-outlined-default-border-color)}
.btn.solid.outlined.pressed {background:var(--button-solid-outlined-pressed-background-color); color:var(--button-solid-outlined-pressed-font-color); border:1px solid var(--button-solid-outlined-pressed-border-color)}
.btn.solid.outlined:disabled {background:var(--button-solid-outlined-disabled-background-color); color:var(--button-solid-outlined-disabled-font-color); border:1px solid var(--button-solid-outlined-disabled-border-color)}

/* Text Button */
.btn-text {display: inline-flex; align-items: center; vertical-align: middle;}
.btn-text::before {width: auto;}

.btn-text.lg {font-size: var(--button-text-large-font-size); line-height:var(--button-text-large-line-height)}
.btn-text.md {font-size: var(--button-text-medium-font-size); line-height:var(--button-text-medium-line-height)}
.btn-text.sm {font-size: var(--button-text-small-font-size); line-height:var(--button-text-small-line-height)}
.btn-text.lg [class*=icon] {width: var(--button-text-large-icon-size); height: var(--button-text-large-icon-size);}
.btn-text.md [class*=icon] {width: var(--button-text-medium-icon-size); height: var(--button-text-medium-icon-size);}
.btn-text.sm [class*=icon] {width: var(--button-text-small-icon-size); height: var(--button-text-small-icon-size);}
.btn-text.lg [class*=icon].left {padding-right: var(--button-text-large-icon-gap-x);}
.btn-text.lg [class*=icon].right {padding-left: var(--button-text-large-icon-gap-x);}
.btn-text.md [class*=icon].left {padding-right: var(--button-text-medium-icon-gap-x);}
.btn-text.md [class*=icon].right {padding-left: var(--button-text-medium-icon-gap-x);}
.btn-text.sm [class*=icon].left {padding-right: var(--button-text-small-icon-gap-x);}
.btn-text.sm [class*=icon].right {padding-left: var(--button-text-small-icon-gap-x);}

.btn-text.default {color:var(--button-text-default-font-color);}
.btn-text.secondary {color:var(--button-text-secondary-font-color);}
.btn-text:disabled {color:var(--button-text-disabled-font-color);}
.btn-text.danger {color:var(--button-text-danger-font-color);}
