/*** Icon ***/
[class*="icon"] {display:inline-block; width:var(--iconsize-md); height:var(--iconsize-md); vertical-align:middle;} /* default basic size */
[class*="icon"]::before {content:''; display:block; width:100%; height:100%; background-size:100%; background-repeat:no-repeat; background-position: 50% 50%;}
[class*="icon"].xxxs {width:var(--iconsize-xxxs); height:var(--iconsize-xxxs);}
[class*="icon"].xxs {width:var(--iconsize-xxs); height:var(--iconsize-xxs);}
[class*="icon"].xsm {width:var(--iconsize-xsm); height:var(--iconsize-xsm);}
[class*="icon"].sm {width:var(--iconsize-sm); height:var(--iconsize-sm);} 
[class*="icon"].smd {width:var(--iconsize-smd); height:var(--iconsize-smd);}
[class*="icon"].md {width:var(--iconsize-md); height:var(--iconsize-md);}   /* basic size */
[class*="icon"].mlg {width:var(--iconsize-mlg); height:var(--iconsize-mlg);}
[class*="icon"].lg {width:var(--iconsize-lg); height:var(--iconsize-lg);}
[class*="icon"].xlg {width:var(--iconsize-xlg); height:var(--iconsize-xlg);}
[class*="icon"].xxlg {width:var(--iconsize-xxlg); height:var(--iconsize-xxlg);}
[class*="icon"].xxxlg {width:var(--iconsize-xxxlg); height:var(--iconsize-xxxlg);}

.icon_arrow_right:before {background-image:url(/pub/assets/img/common/ico-24x-arrow-right.svg);}
.icon_arrow_down:before {background-image:url(/pub/assets/img/common/ico-24x-arrow-down.svg);}
.icon_system_info:before {background-image:url(/pub/assets/img/common/ico-24x-system-info.svg);}
.icon_close:before {background-image:url(/pub/assets/img/common/ico-24x-close.svg);}
.icon_delete:before {background-image:url(/pub/assets/img/common/ico-24x-delete.svg);}
.icon_duplicate:before {background-image:url(/pub/assets/img/common/ico-24x-duplicate.svg);}
.icon_info:before {background-image:url(/pub/assets/img/common/ico-24x-info.svg);}
.icon_success:before {background-image:url(/pub/assets/img/common/ico-24x-success.svg);}
.icon_error:before {background-image:url(/pub/assets/img/common/ico-24x-error.svg);}
.icon_tooltip:before {background-image:url(/pub/assets/img/common/ico-24x-tooltip.svg);}
