@charset "euc-kr"; 

/*** Switch ***/
[class^="switch"] {display:inline-block;position:relative;vertical-align:top}
[class^="switch"] input {position:absolute; left:0; z-index:0; opacity: 0;}

.switch {display:inline-block; position:relative; height:2.2rem; vertical-align:top;}
.switch label {display:block; position:relative; height: 2.2rem; padding-left: 4.6rem;}
.switch label:before {position:absolute; top:0; left:0; content:''; width:3.8rem; height:2.2rem; margin-right: .8rem; border-radius:var(--switch-large-radius); background:var(--switch-large-off-background-color);}
.switch label:after {position:absolute; top:.2rem; left:.2rem; content:''; width:1.8rem; height:1.8rem; border-radius:50%; background:var(--switch-background-color); box-shadow: 0px 2px 3px rgba(0,0,0,.1); -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.1); transition: left .2s ease-out;}
.switch label span{font-size: 1.5rem !important; color:var(--fc-03); padding-left:.8rem; line-height:2.2rem;}
.switch input[type=checkbox] {width:100%; height:100%; background:none !important;}
.switch input + label {display:block; position:relative; height: 2.2rem;}
.switch input:checked + label:before {background:var(--switch-large-on-background-color);}
.switch input:checked + label:after {left:1.8rem; background:var(--switch-background-color);}
.switch input:disabled + label:before {background-color:var(--switch-large-on-disabled-background-color);}
.switch input:disabled + label:after {float:left; background-color:var(--switch-background-color);}
.switch input[checked]:disabled + label:before {background-color:var(--switch-large-on-disabled-background-color);}
.switch input[checked]:disabled + label:after {float:right; background-color:var(--switch-background-color);}
.switch input:disabled + label span,
.switch input[checked]:disabled + label span {color:var(--fc-07);}
