:root {
    --color-gray-100: #fafafa;
    --color-gray-200: #f5f5f5;
    --color-gray-300: #efefef;
    --color-gray-400: #9e9e9e;
    --color-gray-500: #757575;
    --color-gray-600: #666666;
    --color-gray-700: #3f3f3f;
    --color-gray-800: #2a2a2a;
    --color-gray-900: #222222;
    --color-gray-white: #ffffff;
    --color-gray-black: #000000;
    --color-primary-50: #f3f7ff;
    --color-primary-100: #d8e5fd;
    --color-primary-200: #b1cefb;
    --color-primary-300: #86aff9;
    --color-primary-400: #4b87f8;
    --color-primary-500: #005ce6;
    --color-primary-600: #0026d2;
    --color-primary-700: #001687;
    --color-primary-800: #001168;
    --color-primary-900: #000e54;
    --color-red-100: #ffcdd2;
    --color-red-200: #ef9a9a;
    --color-red-300: #e57373;
    --color-red-400: #ef5350;
    --color-red-500: #f44336;
    --color-red-600: #e53935;
    --color-red-700: #d32f2f;
    --color-red-800: #c62828;
    --color-red-900: #b71c1c;
    --color-blue-100: #bbdefb;
    --color-blue-200: #90caf9;
    --color-blue-300: #64b5f6;
    --color-blue-400: #42a5f5;
    --color-blue-500: #2196f3;
    --color-blue-600: #1e88e5;
    --color-blue-700: #0026d2;
    --color-blue-800: #1565c0;
    --color-blue-900: #0d47a1;
    --color-alpha-black100: #000000;
    --color-alpha-black75: rgba(0, 0, 0, 0.75);
    --color-alpha-black50: rgba(0, 0, 0, 0.5);
    --color-alpha-black25: rgba(0, 0, 0, 0.25);
    --color-alpha-black10: rgba(0, 0, 0, 0.1);
    --color-alpha-black0: rgba(0, 0, 0, 0);
    --color-alpha-white100: #ffffff;
    --color-alpha-white75: rgba(255, 255, 255, 0.75);
    --color-alpha-white50: rgba(255, 255, 255, 0.5);
    --color-alpha-white25: rgba(255, 255, 255, 0.25);
    --color-alpha-white10: rgba(255, 255, 255, 0.1);
    --color-alpha-white0: rgba(255, 255, 255, 0);
    --color-alpha-black80: rgba(0, 0, 0, 0.8);
    --color-orange-100: #ffede8;
    --color-orange-200: #ffe2d9;
    --color-orange-300: #ffcfc0;
    --color-orange-400: #ffa182;
    --color-orange-500: #ff875c;
    --color-orange-600: #fe6f37;
    --color-orange-700: #ff5e20;
    --color-orange-800: #f24500;
    --color-orange-900: #c53100;
    --typo-font-type: Pretendard;
    --typo-font-weight-regular: Regular;
    --typo-font-weight-bold: Bold;
    --typo-font-weight-semi-bold: SemiBold;
    --typo-letter-spacing-0: 0rem;
    --typo-letter-spacing-1: 0.1rem;
    --typo-letter-spacing-01: -0.01rem;
    --typo-line-height-20: 2rem;
    --typo-line-height-24: 2.4rem;
    --typo-line-height-26: 2.6rem;
    --typo-line-height-28: 2.8rem;
    --typo-line-height-34: 3.4rem;
    --number-0: 0rem;
    --number-1: 0.1rem;
    --number-2: 0.2rem;
    --number-3: 0.3rem;
    --number-4: 0.4rem;
    --number-5: 0.5rem;
    --number-6: 0.6rem;
    --number-7: 0.7rem;
    --number-8: 0.8rem;
    --number-9: 0.9rem;
    --number-10: 1rem;
    --number-11: 1.1rem;
    --number-12: 1.2rem;
    --number-13: 1.3rem;
    --number-14: 1.4rem;
    --number-15: 1.5rem;
    --number-16: 1.6rem;
    --number-17: 1.7rem;
    --number-18: 1.8rem;
    --number-19: 1.9rem;
    --number-20: 2rem;
    --number-21: 2.1rem;
    --number-22: 2.2rem;
    --number-23: 2.3rem;
    --number-24: 2.4rem;
    --number-25: 2.5rem;
    --number-26: 2.6rem;
    --number-27: 2.7rem;
    --number-28: 2.8rem;
    --number-29: 2.9rem;
    --number-30: 3rem;
    --number-31: 3.1rem;
    --number-32: 3.2rem;
    --number-33: 3.3rem;
    --number-34: 3.4rem;
    --number-35: 3.5rem;
    --number-36: 3.6rem;
    --number-40: 4rem;
    --number-44: 4.4rem;
    --number-48: 4.8rem;
    --number-52: 5.2rem;
    --number-56: 5.6rem;
    --number-60: 6rem;
    --number-64: 6.4rem;
    --number-68: 6.8rem;
    --number-72: 7.2rem;
    --button-stick-button-primary-text: #ffffff;
    --button-stick-button-primary-fill: #0026d2;
    --button-stick-button-primary-pressed: #001687;
    --button-stick-button-primary-disabled: #b1cefb;
    --button-stick-button-seconday-text: #005ce6;
    --button-stick-button-secondary-fill: #f5f5f5;
    --button-stick-button-secondary-pressed: #d8e5fd;
    --button-stick-button-seconday-disabled-text: #86aff9;
    --button-stick-button-secondary-disabled: #d8e5fd;
    --button-stick-button-outlined-text: #2a2a2a;
    --button-stick-button-outlined-border: #9e9e9e;
    --button-stick-button-outlined-fill: #ffffff;
    --button-stick-button-outlined-pressed-border: #666666;
    --button-stick-button-outlined-disabled-border: #efefef;
    --button-stick-button-outlined-disabled-text: #9e9e9e;
    --button-stick-button-font-large: 1.8rem;
    --button-stick-button-radius-basic: 1.2rem;
    --button-stick-button-height-bg: 9.2rem;
    --button-stick-button-height-basic: 5.6rem;
    --button-stick-button-text-padding: 1.6rem;
    --button-stick-button-border-width: 0.1rem;
    --button-solid-button-primary-text: #ffffff;
    --button-solid-button-primary-fill: #005ce6;
    --button-solid-button-primary-pressed: #0026d2;
    --button-solid-button-primary-disabled: #b1cefb;
    --button-solid-button-seconday-text: #3f3f3f;
    --button-solid-button-secondary-fill: #f3f7ff;
    --button-solid-button-secondary-pressed: #d8e5fd;
    --button-solid-button-seconday-disabled-text: #9e9e9e;
    --button-solid-button-secondary-disabled: #f3f7ff;
    --button-solid-button-outlined-text: #2a2a2a;
    --button-solid-button-outlined-border: #9e9e9e;
    --button-solid-button-outlined-fill: #ffffff;
    --button-solid-button-outlined-pressed-border: #666666;
    --button-solid-button-outlined-disabled-border: #efefef;
    --button-solid-button-outlined-disabled-text: #9e9e9e;
    --button-solid-button-font-large: 1.6rem;
    --button-solid-button-font-medium: 1.4rem;
    --button-solid-button-radius-large: 0.8rem;
    --button-solid-button-radius-medium: 0.6rem;
    --button-solid-button-height-large: 4.8rem;
    --button-solid-button-height-medium: 4rem;
    --button-solid-button-text-padding: 1.6rem;
    --button-solid-button-border-width: 0.1rem;
    --button-text-button-text-basic: #3f3f3f;
    --button-text-button-text-secondary: #666666;
    --button-text-button-text-disabled: #9e9e9e;
    --button-text-button-text-danger: #e53935;
    --button-text-button-font-large: 1.8rem;
    --button-text-button-font-medium: 1.6rem;
    --button-text-button-font-small: 1.4rem;
    --button-text-button-icon-padding: 0.4rem;
    --tab-line-selected: #222222;
    --tab-line-default: #efefef;
    --tab-linetext-default: #666666;
    --tab-linetext-selected: #222222;
    --tab-line-bg: #fafafa;
    --tab-box-bg: #f5f5f5;
    --tab-box-text-default: #757575;
    --tab-box-text-selected: #222222;
    --tab-box-line-default: #efefef;
    --tab-lineselected-border-width: 0.4rem;
    --tab-line-padding-horizontal: 0.2rem;
    --tab-line-border-width: 0.1rem;
    --tab-line-height: 4.8rem;
    --tab-font-line: 2rem;
    --tab-secondary-padding-horizontal: 1.2rem;
    --tab-secondary-padding-vertical: 1rem;
    --tab-font-secondary: 1.6rem;
    --tab-boxselected-border-width: 0.1rem;
    --tab-box-height: 3.8rem;
    --tab-font-box: 1.6rem;
    --tab-radius-box: 0.8rem;
    --tab-box-gap: 0.3rem;
    --tab-box-padding-vertical: 0.2rem;
    --tab-box-padding-horizontal: 0.2rem;
    --list-data-top: #666666;
    --list-data-line: #efefef;
    --list-check-bg: #f3f7ff;
    --text-field-basic-text-label: #666666;
    --text-field-basic-text-basic: #666666;
    --text-field-basic-text-disabled: #9e9e9e;
    --text-field-basic-text-active: #222222;
    --text-field-basic-text-filled: #222222;
    --text-field-basic-border-basic: #9e9e9e;
    --text-field-basic-border-disabled: #efefef;
    --text-field-basic-border-active: #0026d2;
    --text-field-basic-border-error: #e53935;
    --text-field-basic-background: #ffffff;
    --text-field-basic-background-disabled: #f5f5f5;
    --text-field-basic-selection-on: #0026d2;
    --text-field-basic-selection-onchoice: #ffffff;
    --text-field-basic-selection-off: #9e9e9e;
    --text-field-basic-selection-disabled: #d8e5fd;
    --text-field-basic-selection-offchoice: #757575;
    --text-field-basic-text-readonly: #222222;
    --text-field-basic-border-readonly: #efefef;
    --text-field-basic-background-readonly: #f5f5f5;
    --text-field-basic-font-weight: SemiBold;
    --text-field-basic-font-basic: 1.8rem;
    --text-field-basic-font-label: 1.4rem;
    --text-field-basic-label-padding: 0.6rem;
    --text-field-basic-radius-basic: 1.2rem;
    --text-field-basic-height-basic: 5.6rem;
    --text-field-basic-border-width: 0.1rem;
    --text-field-basic-text-padding-horizontal: 1.6rem;
    --text-field-message-info: #666666;
    --text-field-message-error: #e53935;
    --text-field-message-success: #1e88e5;
    --text-field-message-icon-padding: 0.4rem;
    --text-field-lable-inline-text-label: #666666;
    --text-field-lable-inline-text-basic: #666666;
    --text-field-lable-inline-text-disabled: #9e9e9e;
    --text-field-lable-inline-text-active: #222222;
    --text-field-lable-inline-text-filled: #222222;
    --text-field-lable-inline-border-basic: #9e9e9e;
    --text-field-lable-inline-border-disabled: #efefef;
    --text-field-lable-inline-border-active: #0026d2;
    --text-field-lable-inline-border-error: #e53935;
    --text-field-lable-inline-background: #ffffff;
    --text-field-lable-inline-background-disabled: #f5f5f5;
    --text-field-lable-inline-selection-on: #0026d2;
    --text-field-lable-inline-selection-onchoice: #ffffff;
    --text-field-lable-inline-selection-off: #9e9e9e;
    --text-field-lable-inline-selection-disabled: #d8e5fd;
    --text-field-lable-inline-selection-offchoice: #757575;
    --text-field-lable-inline-text-readonly: #222222;
    --text-field-lable-inline-border-readonly: #efefef;
    --text-field-lable-inline-background-readonly: #f5f5f5;
    --text-field-lable-inline-font-weight: SemiBold;
    --text-field-lable-inline-font-basic: 1.8rem;
    --text-field-lable-inline-font-label: 1.4rem;
    --text-field-lable-inline-label-padding: 0.6rem;
    --text-field-lable-inline-text-padding-horizontal: 1.6rem;
    --text-field-lable-inline-radius-basic: 1.6rem;
    --text-field-lable-inline-height-basic: 8.4rem;
    --text-field-lable-inline-border-width: 0.1rem;
    --text-field-lable-inline-input-message-padding: 0.8rem;
    --text-field-lable-inline-text-padding-vertical: 1.6rem;
    --text-area-text-label: #666666;
    --text-area-text-basic: #666666;
    --text-area-text-disabled: #9e9e9e;
    --text-area-text-active: #222222;
    --text-area-text-filled: #222222;
    --text-area-border-basic: #9e9e9e;
    --text-area-border-disabled: #efefef;
    --text-area-border-active: #0026d2;
    --text-area-border-error: #e53935;
    --text-area-background: #ffffff;
    --text-area-background-disabled: #f5f5f5;
    --text-area-selection-on: #0026d2;
    --text-area-selection-onchoice: #ffffff;
    --text-area-selection-off: #9e9e9e;
    --text-area-selection-disabled: #d8e5fd;
    --text-area-selection-offchoice: #757575;
    --text-area-text-readonly: #222222;
    --text-area-border-readonly: #efefef;
    --text-area-background-readonly: #f5f5f5;
    --text-area-font-weight: SemiBold;
    --text-area-font-basic: 1.6rem;
    --text-area-font-label: 1.4rem;
    --text-area-label-padding: 0.6rem;
    --text-area-text-padding-horizontal: 1.6rem;
    --text-area-text-padding-vertical: 1.4rem;
    --text-area-radius-basic: 1.6rem;
    --text-area-height-basic: 8.4rem;
    --text-area-border-width: 0.1rem;
    --text-area-txtarea-padding: 0.8rem;
    --dropdown-basic-text-label: #666666;
    --dropdown-basic-text-basic: #666666;
    --dropdown-basic-text-disabled: #9e9e9e;
    --dropdown-basic-text-active: #222222;
    --dropdown-basic-text-filled: #222222;
    --dropdown-basic-border-basic: #9e9e9e;
    --dropdown-basic-border-disabled: #efefef;
    --dropdown-basic-border-active: #0026d2;
    --dropdown-basic-border-error: #e53935;
    --dropdown-basic-background: #ffffff;
    --dropdown-basic-background-disabled: #f5f5f5;
    --dropdown-basic-selection-on: #0026d2;
    --dropdown-basic-selection-onchoice: #ffffff;
    --dropdown-basic-selection-off: #9e9e9e;
    --dropdown-basic-selection-disabled: #d8e5fd;
    --dropdown-basic-selection-offchoice: #757575;
    --dropdown-basic-text-readonly: #222222;
    --dropdown-basic-border-readonly: #efefef;
    --dropdown-basic-background-readonly: #f5f5f5;
    --dropdown-basic-font-weight: SemiBold;
    --dropdown-basic-font-basic: 1.8rem;
    --dropdown-basic-font-label: 1.4rem;
    --dropdown-basic-label-padding: 0.6rem;
    --dropdown-basic-text-padding-horizontal: 1.6rem;
    --dropdown-basic-radius-basic: 1.2rem;
    --dropdown-basic-height-basic: 5.6rem;
    --dropdown-basic-border-width: 0.1rem;
    --dropdown-lable-inline-text-label: #666666;
    --dropdown-lable-inline-text-basic: #666666;
    --dropdown-lable-inline-text-disabled: #9e9e9e;
    --dropdown-lable-inline-text-active: #222222;
    --dropdown-lable-inline-text-filled: #222222;
    --dropdown-lable-inline-border-basic: #9e9e9e;
    --dropdown-lable-inline-border-disabled: #efefef;
    --dropdown-lable-inline-border-active: #0026d2;
    --dropdown-lable-inline-border-error: #e53935;
    --dropdown-lable-inline-background: #ffffff;
    --dropdown-lable-inline-background-disabled: #f5f5f5;
    --dropdown-lable-inline-selection-on: #0026d2;
    --dropdown-lable-inline-selection-onchoice: #ffffff;
    --dropdown-lable-inline-selection-off: #9e9e9e;
    --dropdown-lable-inline-selection-disabled: #d8e5fd;
    --dropdown-lable-inline-selection-offchoice: #757575;
    --dropdown-lable-inline-text-readonly: #222222;
    --dropdown-lable-inline-border-readonly: #efefef;
    --dropdown-lable-inline-background-readonly: #f5f5f5;
    --dropdown-lable-inline-font-weight: SemiBold;
    --dropdown-lable-inline-font-basic: 1.8rem;
    --dropdown-lable-inline-font-label: 1.4rem;
    --dropdown-lable-inline-label-padding: 0.6rem;
    --dropdown-lable-inline-message-padding: 0.8rem;
    --dropdown-lable-inline-text-padding-horizontal: 1.6rem;
    --dropdown-lable-inline-text-padding-vertical: 1.6rem;
    --dropdown-lable-inline-radius-basic: 1.6rem;
    --dropdown-lable-inline-height-basic: 8.4rem;
    --dropdown-lable-inline-border-width: 0.1rem;
    --checkbox-background: #ffffff;
    --checkbox-selection-off: #9e9e9e;
    --checkbox-selection-off-choice: #757575;
    --checkbox-text-active: #222222;
    --checkbox-text-disabled: #9e9e9e;
    --checkbox-selection-on: #0026d2;
    --checkbox-selection-on-choice: #ffffff;
    --checkbox-selection-disabled: #d8e5fd;
    --checkbox-text-ondisabled: #222222;
    --checkbox-text-off: #222222;
    --checkbox-text-medium-off: #666666;
    --checkbox-selection-medium-off: #9e9e9e;
    --checkbox-selection-medium-off-choice: #757575;
    --checkbox-selection-medium-on: #0026d2;
    --checkbox-selection-medium-on-choice: #ffffff;
    --checkbox-text-medium-disabled: #9e9e9e;
    --checkbox-text-medium-active: #222222;
    --checkbox-selection-medium-disabled: #d8e5fd;
    --checkbox-text-medium-ondisabled: #222222;
    --checkbox-choice-large-width: 0.25rem;
    --checkbox-label-large: 1.8rem;
    --checkbox-border-width: 0.1rem;
    --checkbox-label-medium: 1.6rem;
    --checkbox-choice-medium-width: 0.2rem;
    --checkbox-radius-large: 0.8rem;
    --checkbox-radius-medium: 0.6rem;
    --radio-button-background: #ffffff;
    --radio-button-selection-off: #9e9e9e;
    --radio-button-selection-on: #0026d2;
    --radio-button-selection-off-choice: #757575;
    --radio-button-selection-on-choice: #ffffff;
    --radio-button-selection-disabled: #d8e5fd;
    --radio-button-text-active: #222222;
    --radio-button-text-off: #222222;
    --radio-button-text-disabled: #9e9e9e;
    --radio-button-text-ondisabled: #222222;
    --radio-button-label-large: 1.8rem;
    --radio-button-border-width: 0.1rem;
    --switch-background: #ffffff;
    --switch-selection-off: #9e9e9e;
    --switch-selection-on: #0026d2;
    --switch-selection-disabled: #d8e5fd;
    --switch-border-width: 0.1rem;
    --switch-radius: 10rem;
    --bottom-sheet-title: #222222;
    --bottom-sheet-background: #ffffff;
    --bottom-sheet-dim: rgba(0, 0, 0, 0.75);
    --bottom-sheet-padding-horizontal: 2.4rem;
    --bottom-sheet-title-padding-top: 3.2rem;
    --bottom-sheet-title-padding-bottom: 2rem;
    --bottom-sheet-radius-top: 1.6rem;
    --bottom-sheet-font-title: 2rem;
    --bottom-sheet-type-colse-height: 6.4rem;
    --bottom-sheet-type-untitled-height: 3rem;
    --bottom-sheet-button-padding-top: 2.4rem;
    --bottom-sheet-button-padding-bottom: 1.6rem;
    --bottom-sheet-chek-padding-vertical: 1.4rem;
    --bottom-sheet-title-gap: 1.6rem;
    --dialogs-title-basic: #222222;
    --dialogs-text-basic: #666666;
    --dialogs-dim: rgba(0, 0, 0, 0.75);
    --dialogs-background: #ffffff;
    --dialogs-wrap-gap: 3.2rem;
    --dialogs-padding-vertical: 2.4rem;
    --dialogs-title-gap: 2.4rem;
    --dialogs-font-title: 2rem;
    --dialogs-font-text: 1.6rem;
    --dialogs-icon-gap: 1.6rem;
    --dialogs-icon-text-gap: 1.6rem;
    --dialogs-button-gap: 1rem;
    --tooltip-background: rgba(0, 0, 0, 0.8);
    --tooltip-title: #ffffff;
    --tooltip-text: #f5f5f5;
    --tooltip-wrap-gap: 0.8rem;
    --tooltip-padding-left: 2rem;
    --tooltip-padding-right: 1.6rem;
    --tooltip-padding-top: 1.6rem;
    --tooltip-padding-bottom: 1.6rem;
    --tooltip-radius-box: 0.8rem;
    --tooltip-font-title: 1.6rem;
    --tooltip-font-text: 1.4rem;
    --tooltip-title-gap: 0.8rem;
    --tooltip-text-gap: 1.2rem;
    --color-text-title: #222222;
    --color-text-subtitle: #666666;
    --color-text-basic: #666666;
    --color-text-strong: #222222;
    --color-text-danger: #e53935;
    --color-text-success: #1e88e5;
    --color-text-primary: #0026d2;
    --color-border-component-gray: #9e9e9e;
    --font-size-heading-large: 2.8rem;
    --font-size-heading-medium: 2rem;
    --font-size-heading-small: 1.8rem;
    --font-size-heading-xsmall: 1.6rem;
    --font-size-body-large: 1.8rem;
    --font-size-body-medium: 1.6rem;
    --font-size-body-small: 1.4rem;
    --radius-2: 0.2rem;
    --radius-4: 0.4rem;
    --radius-6: 0.6rem;
    --radius-8: 0.8rem;
    --radius-10: 1rem;
    --radius-12: 1.2rem;
    --radius-14: 1.4rem;
    --radius-16: 1.6rem;
    --radius-18: 1.8rem;
    --radius-20: 2rem;
    --radius-max: 10rem;
    --gap-2: 0.2rem;
    --gap-4: 0.4rem;
    --gap-6: 0.6rem;
    --gap-8: 0.8rem;
    --gap-10: 1rem;
    --gap-12: 1.2rem;
    --gap-14: 1.4rem;
    --gap-16: 1.6rem;
    --gap-18: 1.8rem;
    --gap-20: 2rem;
    --gap-24: 2.4rem;
    --gap-32: 3.2rem;
    --gap-40: 4rem;
    --gap-48: 4.8rem;
    --gap-52: 5.2rem;
    --gap-56: 5.6rem;
    --gap-60: 6rem;
    --gap-64: 6.4rem;
    --gap-68: 6.8rem;
    --gap-72: 7.2rem;
    --padding-2: 0.2rem;
    --padding-4: 0.4rem;
    --padding-6: 0.6rem;
    --padding-8: 0.8rem;
    --padding-10: 1rem;
    --padding-12: 1.2rem;
    --padding-14: 1.4rem;
    --padding-16: 1.6rem;
    --padding-18: 1.8rem;
    --padding-20: 2rem;
    --padding-22: 2.2rem;
    --padding-24: 2.4rem;
    --padding-26: 2.6rem;
    --padding-28: 2.8rem;
    --padding-30: 3rem;
    --padding-32: 3.2rem;
    --alpha-10: 1rem;
    --alpha-20: 2rem;
    --alpha-30: 3rem;
    --alpha-40: 4rem;
    --alpha-50: 5rem;
    --alpha-60: 6rem;
    --alpha-70: 7rem;
    --alpha-80: 8rem;
    --alpha-90: 9rem;
    --border-width-regular: 0.1rem;
    --border-width-medium: 0.2rem;
  }