<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
	<link rel="stylesheet" href="/msbiz/app/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/msbiz/app/css/main.css">
    <link rel="stylesheet" href="/msbiz/app/css/library/swiper.min.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>배너</span></div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">마케팅배너</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>배너간격 20px</div>
                    <div>해상도 420px 이상일때는 배너너비값 420px 고정으로 다중 노출</div>
                </div>
            </div>
            <script type="text/html">
<div class="m_banner_marketing">
    <div class="ui_swiper _loop _center img_banner" data-auto="3000" data-title="마케팅 배너">
        <div class="swiper-wrapper" data-bubble="false">
            <div class="swiper-slide">
                <a href="#">
                    <img src="/msbiz/app/img/temp/banner_sample.png" alt="KB와 재태크 시작하면 한정판 굿즈 이벤트 참여" />
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <img src="/msbiz/app/img/temp/banner_sample.png" alt="KB와 재태크 시작하면 한정판 굿즈 이벤트 참여" />
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#">
                    <img src="/msbiz/app/img/temp/banner_sample.png" alt="KB와 재태크 시작하면 한정판 굿즈 이벤트 참여" />
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
            </script>
            <div data-class="h2">마케팅배너 - 하나일 경우</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>마케팅배너가 하나일 경우는 스와이퍼 기능 해제</div>
                </div>
            </div>
            <script type="text/html">
<div class="m_banner_marketing">
    <div class="ui_swiper _loop _center img_banner" data-auto="3000" data-title="마케팅 배너">
        <div class="swiper-wrapper" data-bubble="false">
            <div class="swiper-slide">
                <a href="#">
                    <img src="/msbiz/app/img/temp/banner_sample.png" alt="KB와 재태크 시작하면 한정판 굿즈 이벤트 참여" />
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
            </script>
            <div data-class="h2">서비스 안내배너 1</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>배너너비 가변</div>
                </div>
            </div>
            <script type="text/html">
<button type="button" class="m_banner_open_banking m_ani">
    <strong>KB 오픈뱅킹 서비스</strong>
    <span>다른 금융 계좌를 한번에 조회<br> 이체하는 통합자금 관리</span>
</button>
            </script>
            <div data-class="h2">서비스 안내배너 2</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>배너너비 가변</div>
                </div>
            </div>
            <script type="text/html">
<div class="m_grid_list m_ani on">
    <button type="button" class="m_grid_item i1"><span>임대인 누구나 쉽게 사용하는</span> <strong>부동산 임대관리 렌트온</strong></button>
    <button type="button" class="m_grid_item i2"><span>발행, 거래처, 품목관리, 매출내역을 한곳에서!</span><strong>전자세금계산서 발행</strong></button>
    <button type="button" class="m_grid_item i3"><span>급여명세서 작성 및 다양한 경영지원 정보</span><strong>경영지원 모음</strong></button>
    <button type="button" class="m_grid_item i4"><span>급여관리부터 세금신고까지 한번에!</span><strong>간편세무장부/HR</strong></button>
</div>
            </script>
            <div data-class="h2">서비스 안내배너 3</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>배너너비 가변</div>
                </div>
            </div>
            <script type="text/html">
<button type="button" class="m_star_cms_report m_ani on">
    <!-- 220902 'm_ani' 클래스 추가 -->
    <strong class="txt1">Star CMS 자금보고서</strong>
    <span class="txt2">은행, 카드, 국세청 계산서 등<br> 매출/매입 자료 관리를 한눈에!</span>
    <span class="txt3">서비스 이용하기</span>
</button>
            </script>
            <div data-class="h2">서비스 안내배너 4</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>배너사이즈 200*160 고정</div>
                    <div>배너간격 10px</div>
                </div>
            </div>
            <script type="text/html">
<div class="m_kb_fin_product m_ani">
    <div class="ui_swiper swiper_items" data-space="10" data-title="셀러존 이벤트">
        <div class="swiper-wrapper" data-bubble="false">
            <div class="swiper-slide">
                <a href="#" class="m_kb_fin_product_item i1" title="셀러존 이벤트 상세화면으로 이동">
                    <strong>KB셀러론</strong>
                    <span>내일·매일이 정산일!<br>선정산 서비스</span>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="m_kb_fin_product_item i2" title="셀러존 이벤트 상세화면으로 이동">
                    <strong>KB매출더하기론</strong>
                    <span>선정산에 신용 더하기+</span>
                </a>
            </div>
            <div class="swiper-slide">
                <a href="#" class="m_kb_fin_product_item i3" title="셀러존 이벤트 상세화면으로 이동">
                    <strong>KB메가셀러론</strong>
                    <span>40개 마켓(또는 PG)을<br>‘일사천리' 선정산</span>
                </a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
            </script>
        </div>
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/swiper.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>
</body>
</html>