<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
    <style>
        h1, h2, h3 {display:block;}
        .hgroup .h2 {display:inline-block;}
        .txt1 {margin-top:1.7rem; font-size:2.4rem; color:#26282c; line-height: 3.2rem; font-weight:700;}
        .h1, .h2, .h3, caption {margin:0; padding:0;}
        .h4 {margin:0 -2.4rem;}
        .hgroup_h4 .h4 {margin:0;}
        :not([class^=section]) > .h1 {margin:0;}
        .section.title_wrap {margin:0;}
/*         .hidden {position:static; width:auto; height:auto; clip:auto; color:#222; font-size:1.8rem; font-weight:400;} */
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>Heading Title</span></div>
        <div data-class="box">
            논리적인 구조로 h2 다음 h3를 사용하고, 클래스명은 폰트사이즈에 따라 사용한다.
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">본문 (h1 to h4)</div>
            <script type="text/html">
<h1 class="hidden">.h1 hidden 페이지 타이틀</h1>
<h2 class="h1">.h1 28px 컨텐츠 타이틀</h2>
<h3 class="h2">.h2 18px 서브 타이틀</h3>
<h4 class="h3">.h3 16px 본문 타이틀</h4>
<h5 class="h4">.h4 14px 본문 타이틀(bg포함)</h5>
            </script>

            <div data-class="h2">완료페이지 (h1 to h3)</div>
            <script type="text/html">
<h2 class="end_h2">.end_h2 16px 컨텐츠 타이틀</h2>
<h3 class="end_h3">.end_h3 14px 서브 타이틀</h3>
            </script>

            <div data-class="h2">팝업_알림, 바텀시트 (h1)</div>
            <script type="text/html">
<h1 class="pop_h1">.pop_h1 20px 팝업 타이틀</h1>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">정렬</div>
            <div data-class="h2">Left</div>
            <script type="text/html">
                <div class="h1">
                    <h1>타이틀</h1>
                    <div class="tooltip_limited">
                        <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
                        <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
                            <p class="tooltip_tit">툴팁 타이틀영역 : 타이틀없을때 빼세요!</p>
                            <div class="tooltip_cont"> 
                                기본형과 타이틀형이 있습니다. <br>
                                현재 툴팁은 타이틀형입니다.. <br>
                                툴팁 영역으로 기본형과 타이틀형이 있습니다. 
                                툴팁 영역으로 기본형과 타이틀형이 있습니다.
                            </div>
                            <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
                        </div>
                    </div>
                </div>                
                            </script>
            <script type="text/html">
<div class="h2">
    <h2>타이틀</h2>
    <div class="tooltip_limited">
        <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
        <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
            <p class="tooltip_tit">툴팁 타이틀영역 : 타이틀없을때 빼세요!</p>
            <div class="tooltip_cont"> 
                기본형과 타이틀형이 있습니다. <br>
                현재 툴팁은 타이틀형입니다.. <br>
                툴팁 영역으로 기본형과 타이틀형이 있습니다. 
                툴팁 영역으로 기본형과 타이틀형이 있습니다.
            </div>
            <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
        </div>
    </div>
</div>                
            </script>

            <div data-class="h2">Between</div>
            <script type="text/html">
<h2 class="h2">대출잔액현황<span class="sub">(신규일 : <span class="number">2000.00.00</span>)</span></h2>
            </script>
            <script type="text/html">
<div class="hgroup">
    <div>
        <div class="h2">
            <h2>타이틀</h2>
            <div class="tooltip_limited">
                <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
                <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
                    <p class="tooltip_tit">툴팁 타이틀영역 : 타이틀없을때 빼세요!</p>
                    <div class="tooltip_cont"> 
                        기본형과 타이틀형이 있습니다. <br>
                        현재 툴팁은 타이틀형입니다.. <br>
                        툴팁 영역으로 기본형과 타이틀형이 있습니다. 
                        툴팁 영역으로 기본형과 타이틀형이 있습니다.
                    </div>
                    <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <button type="button" class="btn outline xs round">버튼(xs)</button>
    </div>
</div>
    </script>
    <script type="text/html">
<div class="hgroup">
    <div>
        <h2 class="h2">타이틀</h2>
    </div>
    <div>
        <button type="button" class="btn outline xs round">버튼(xs)</button>
    </div>
</div>
            </script>
            <div data-class="h3">hgroup_h2</div>
            <script type="text/html">
<div class="hgroup_h2">
    <div>
        <h2 class="h2">타이틀</h2>
    </div>
    <div>
        <i class="ico_40_flash"><span class="hidden"></span></i>
    </div>
</div>
                    </script>
            <div data-class="h3">타이틀 + 토글</div>
            <script type="text/html">
<div class="hgroup">
    <div>
        <div class="h2">
            <h2>타이틀</h2>
        </div>
    </div>
    <div>
        <button class="tit js_toggle" aria-expanded="false" aria-controls="toggleSample1">상세보기1</button>
    </div>
</div>
<div id="toggleSample1" class="toggle_panel" role="region">
    내용<br>
    내용<br>
    내용<br>
</div>
<div class="hgroup_h3">
    <div>
        <div class="h3">
            <h3>타이틀</h3>
        </div>
    </div>
    <div>
        <button class="tit js_toggle" aria-expanded="false" aria-controls="toggleSample2">상세보기1</button>
    </div>
</div>
<div id="toggleSample2" class="toggle_panel" role="region">
    내용<br>
    내용<br>
    내용<br>
</div>
            </script>
            <div data-class="h3">hgroup_h4</div>
            <script type="text/html">
<div class="hgroup_h4">
    <div>
        <h4 class="h4">타이틀</h4>
    </div>
    <div>
        <i class="ico_40_flash"><span class="hidden"></span></i>
    </div>
</div>
                    </script>  

                    <div data-class="h2">Mix</div>          
<script type="text/html">
<div class="section title_wrap">
    <h2 class="h1">타이틀</h2>
    <p class="p">15px 일반 텍스트입니다. </p>
</div>
</script> 
            </div>

            <div data-class="section">
            <div data-class="h1" id="target4">슬로건</div>
            <div data-class="h2">슬로건 + 텍스트</div>
            <div data-class="box">
                타이틀같은 2.8rem 텍스트
            </div>
            <script type="text/html">
<div class="slogan_wrap">
    <p class="tit">은행에 방문하지 않아도</p>
    <p class="txt">KB스타뱅킹과 KB모바일인증서가 있다면 공동인증서를 발급할 수 있어요!</p>
</div>
            </script> 

            <div data-class="h2">슬로건 확장1</div>
            <script type="text/html">
<div class="slogan_wrap">
    <span class="badge state1">증권사 전용상품</span>
    <p class="tit gap_xxs">증권사 방문없이<br>간편하게<br>주식계좌 개설하세요</p>
</div>
<br>
<style>
.slogan_fast_transfer .function1 {background-position:0 0;}
.slogan_fast_transfer .function2 {background-position:-10rem 0;}
.slogan_fast_transfer .function3 {background-position:-20rem 0;}
</style>
<div class="slogan_wrap slogan_fast_transfer"><!-- service_function의 아이콘을 다르게 넣어주기 위해 클래스명을 넣어주세요(예시는 빠른이체 서비스라서 slogan_fast_transfer임) -->
    <p class="tit">빠른이체 서비스란?</p>
    <div class="service_function">
        <div class="function1"><span class="hidden">비밀번호</span></div>
        <div class="function2"><span class="hidden">보안매체 및 전자서명</span></div>
        <div class="function1"><span class="hidden">추가인증</span></div>
    </div>
    <p class="description">
        한번 보낸 계좌로는 비밀번호 No!<br>
        보안매체 No! 전자서명도 No!<br>
        빠르게 이체 가능한 서비스
    </p>
</div>
            </script> 
            <div data-class="h2">슬로건 확장2</div>
            <div data-class="box">
                .section &gt; .slogan_wrap 으로 사용<br>
                .slogan_wrap &gt; .tit + .img + .txt + .txt<br>
                .img : 이미지영역 - 이미지는 slogan_wrap에 클래스넣어 css에서 background로 처리함, 이미지는 배경이 full인것과 일정너비의 중앙정렬 2가지 유형이 있음<br>
                <!-- <a href="/msbiz/html/reference/BFE074273.html" target="_blank">예시페이지 : 링크</a> -->
            </div>
            <script type="text/html">
<style>
    .slogan_XX .img {height:20.8rem; margin-left:-2.4rem; margin-right:-2.4rem; background:#d4d4d5 url(/msbiz/app/img/reference/img_onecomi_pop_3.png) no-repeat 50% 0; background-size:auto 20.8rem;} /* 임시css입니다. 각카테고리 선택자(ex:상품관리 - cate_pdt_manage) 아래로 정의해주세요. .cate_pdt_manage .slogan_XX .img*/
</style>
<div class="slogan_wrap slogan_XX"><!-- 클래스 넣어주세요 -->
    <p class="tit">포인트 관리는<br>리브 메이트(Liiv Mate)와<br>함께!</p>
    <div class="img" role="img"></div>
    <p class="txt">잠자는 포인트를 깨워주세요!<br>통합멤버십 플랫폼</p>
    <p class="txt">KB금융그룹 통합멤버십과 제휴사 포인트를 현금처럼 사용하세요!<br>
        Liiv Mate회원가입 시 KB 1코노미 스마트적금 우대이율(연 0.1%)은 보너스!</p>
</div>
            </script>


<!--             <script type="text/html">
<div class="hgroup">
    <div>
        <h3 class="h3">타이틀</h3>
    </div>
    <div>
        <button type="button" class="btn outline xs">버튼(xs)</button>
    </div>
</div>
            </script> -->
        </div>
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>
</body>
</html>