<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">

    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
    <style>
        #header {
            position: relative;
        }

        #wrap {
            padding-top: 0;
        }

        [class^=section] {
            border: 1px solid blue;
        }

        .sec_inner {
            background: #eee;
        }

        .section .sec_inner_f {
            background: #eee;
        }

        [data-class="box"]>span {
            display: inline-block;
            margin-top: .5rem
        }
    </style>
</head>

<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>레이아웃<span></h1>
        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">기본(서브 공통)</div>
            <div data-class="box">
                <div data-class="list number">
                    <div>좌우여백 24px</div>
                    <div>#content.카테고리명</div>
                    <div>서브 공통, Full-Screen Dialog에서 사용한다.</div>
                </div>
            </div>
            <script type="text/html" data-layout="true">
<div id="wrap">
    <div id="content" class="cate_카테고리명">
        <div class="section">
            본문 컨텐츠
        </div>
        <div class="inform_btm_wrap">
            <button class="tit js_toggle" aria-expanded="false" aria-controls="notice_1_1">알려드립니다</button>
            <div class="toggle_panel" role="region" id="notice_1_1">
                알려드립니다의 내용...
            </div>
        </div>
        <div class="btn_confirm_wrap">
        </div>
    </div>
</div>
            </script>

            <div data-class="h2">상단 텝이 있을 경우</div>
            <script type="text/html" data-layout="true">
                <div id="wrap">
                    <div id="content" class="cate_카테고리명">
                        <div class="tab_wrap">
                            <div class="tab_list" role="tablist" aria-label="텝메뉴 가로형">
                                <div class="scroll_wrap">
                                    <button role="tab" aria-selected="true" aria-controls="tabpanel_1">메뉴명 1</button>
                                    <button role="tab" aria-selected="false" aria-controls="tabpanel_2">메뉴명 2</button>
                                    <button role="tab" aria-selected="false" aria-controls="tabpanel_3">메뉴명 3</button>
                                    <button role="tab" aria-selected="false" aria-controls="tabpanel_4">메뉴명 4</button>
                                    <button role="tab" aria-selected="false" aria-controls="tabpanel_5">메뉴명 5</button>
                                    <button role="tab" aria-selected="false" aria-controls="tabpanel_6">메뉴명 6</button>
                                    <button role="tab" aria-selected="false" aria-controls="tabpanel_7">메뉴명 7</button>
                                </div>
                            </div>
                            <div class="tab_panel" role="tabpanel" id="tabpanel_1">
                                <div class="section">
                                    메뉴명 1 콘텐츠 
                                </div>
                            </div>
                            <div class="tab_panel" role="tabpanel" id="tabpanel_2">
                                <div class="section">
                                    메뉴명 2 콘텐츠 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">정렬</div>
            <div data-class="h2">컨텐츠 구분</div>
            <div data-class="h3">.section</div>
            <script type="text/html" data-layout="true">
<div class="section">
    <p>.section : 좌우 margin 24px</p>
</div>
<!-- <div class="section_l">
    <p>.section_l : 좌우 margin 24px 0</p>
</div>
<div class="section_f">
    <p>.section_f : 좌우 margin 0</p>
</div> -->
            </script>

            <!-- <div data-class="h3">.sec_inner</div>
        <script type="text/html" data-layout="true">
<div class="section_f">
    <div class="sec_inner">.section_f : 좌우 margin 24px</div>
</div>
<div class="section">
    <div class="sec_inner_f">.section .sec_inner_f : 좌우 margin -24px(.section안에서 full로 사용해야 할 경우)</div>
</div>
        </script>
    </div> -->

            <div data-class="section">
                <div data-class="h2">구분선</div>
                <div data-class="h3">.hr_divide</div>
                <div data-class="box">
                    section 간 구분선(48px)
                </div>
                <script type="text/html" data-layout="true">
<div class="section">
    <p>컨텐츠 영역</p>
</div>
<hr class="hr_divide">
<div class="section">
    <p>컨텐츠 영역</p>
</div>
            </script>
                <!-- 
            <div data-class="h3">.hr_divide2</div>
            <div data-class="box">
                section 간 구분선(28px)
            </div>
            <script type="text/html" data-layout="true">
<div class="section">
    <p>컨텐츠 영역</p>
</div>

<hr class="hr_divide2">

<div class="section">
    <p>컨텐츠 영역</p>
</div>
            </script>

            <div data-class="h3">.hr_divide3</div>
            <div data-class="box">
                section 간 구분선(40px)
            </div>
            <script type="text/html" data-layout="true">
<div class="section">
    <p>컨텐츠 영역</p>
</div>

<hr class="hr_divide3">

<div class="section">
    <p>컨텐츠 영역</p>
</div>
            </script>
    
            <div data-class="h3">.hr_line</div>
            <div data-class="box">
                요소 간 구분선
            </div>
            <script type="text/html" data-layout="true">
<div class="section">
    <p>컨텐츠 영역</p>
    <hr class="hr_line">
    <p>컨텐츠 영역</p>
</div>
            </script> -->
            </div>


            <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
            <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
            <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
            <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
            <script src="/msbiz/guide/assets/js/components.js"></script>
            <script src="/msbiz/app/js/common_ui.js"></script>
</body>

</html>