<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>페이지네이션</span></div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">더보기</div>            
            <script type="text/html">
<div class="btn_list_btm more">
    <button type="button" class="btn">더보기<span class="number">(1/30)</span></button>
</div>
            </script>


            <div data-class="h2">더보기 - 총건</div>            
            <script type="text/html">
<div class="btn_list_btm more">
    <button type="button" class="btn">더보기<span></span></button>
</div>
            </script>
                        

            <div data-class="h2">더보기 - 원형</div>            
            <script type="text/html">
<div class="btn_list_btm more">
    <button type="button" class="btn circle"><span class="hidden">더보기</span></button>
</div>
            </script>
            
            <div data-class="h2">페이징</div>   
            <script type="text/html">
<div class="paging">
    <a href="#none" class="first"><span>처음</span></a>
    <a href="#none" class="prev on"><span>이전</span></a>
    <span class="curr"><em>현재 페이지</em>1</span><span class="total"><em>전체 페이지</em>100</span>
    <a href="#none" class="next on"><span>다음</span></a>
    <a href="#none" class="end on"><span>끝</span></a>
</div>
            </script>
            <!-- 페이징 backup 
            <div class="paging_wrap">
                <div class="page_btn before">
                    <a href="#none" class="btn first" aria-label="처음"><span class="hidden">처음</span></a>
                    <a href="#none" class="btn prev" aria-label="이전"><span class="hidden">이전</span></a>
                </div>
                <div class="page_num">
                    <a href="#none" class="on"><span>1</span></a>
                    <a href="#none"><span>2</span></a>
                    <a href="#none"><span>3</span></a>
                    <a href="#none"><span>4</span></a>
                    <a href="#none"><span>5</span></a>
                </div>
                <div class="page_btn after">
                    <a href="#none" class="btn next" aria-label="다음"><span class="hidden">다음</span></a>
                    <a href="#none" class="btn end" aria-label="끝"><span class="hidden">끝</span></a>
                </div>
            </div>--> 
        </div>
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>

</body>
</html>