<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>검색</span></div>

        <div data-class="section">
            <div data-class="h2">검색영역</div>
            <script type="text/html">
<div class="search_wrap">
    <div class="input">
        <input type="text" id="sch" name="sch" class="inp" placeholder="검색어를 입력해주세요.">
        <button type="submit" class="btn_sch"><span class="hidden">검색</span></button>
    </div>
    <p class="search_txt"><strong>전산시스템</strong>으로 검색한 결과입니다.</p>
</div>
<div class="result nodata">
    <p class="tit">검색결과가 없습니다.</p>
</div>
            </script>
        </div>
    </div>
</div>
    
<script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
<script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
<script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
<script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
<script src="/msbiz/guide/assets/js/components.js"></script>
<script src="/msbiz/app/js/common_ui.js"></script>
</body>
</html>