<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">

    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
    <style>
        .menu_wrap {
            position: relative;
        }
    </style>
</head>

<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>탭<span></h1>
        <div data-class="section">
            <div data-class="box">
                탭메뉴는 크게 상단 탭메뉴, 하단 탭메뉴로 구성되며, 선택 메뉴, 뱃지(알림표시)를 통해 상태를 표시한다.
            </div>

            <div data-class="h1">Type</div>
            <div data-class="h2">기본</div>
            <script type="text/html">
<div class="tab_wrap">
    <div class="tab_list" role="tablist">
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_1">메뉴테스트 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_2">메뉴테스트 22</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_3">메뉴테스트 333</button>
            <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel_4">메뉴테스트 4444</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_1">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 1 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 2 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_3">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 3 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_4">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 4 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_5">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 5 콘텐츠 
        </div>
    </div>
</div>
            </script>
            <div data-class="h2">링크형</div>
            <script type="text/html">
<div class="tab_wrap">
    <div class="tab_list">
        <div class="scroll_wrap">
            <a href="https://zmsbiz.kbstar.com/msbiz/guide/html/guide.html">메뉴테스트 1</a>
            <a href="#">메뉴테스트 22</a>
            <a href="#">메뉴테스트 333</a>
            <a href="https://zmsbiz.kbstar.com/msbiz/guide/html/worksheet.html" class="active">메뉴테스트 4444</a>
            <a href="#">메뉴테스트 55555</a>
        </div>
    </div>
    <div class="link_panel">
        <div class="section">
            메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1메뉴테스트 1
        </div>
    </div>
</div>
            </script>
        </div>
        <div data-class="section">
            <div data-class="h2">Line Motion</div>
            <script type="text/html">
<div class="tab_wrap">
    <div class="tab_list" role="tablist">
        <i class="tab_bar" aria-hidden="true"></i>
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="true" aria-controls="tabpanelLine_1">메뉴테스트 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_2">메뉴테스트 22</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_3">메뉴테스트 333</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_4">메뉴테스트 4444</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_1">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 1 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 2 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_3">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 3 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_4">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 4 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_5">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 5 콘텐츠 
        </div>
    </div>
</div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h2">서브탭</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>가로 100%</div>
                    <div>콘텐츠 내에서 사용하는 탭, 구분자 type2</div>
                </div>
            </div>
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <button type="button" role="tab" aria-selected="true" aria-controls="tab2panel1_1">은행</button>
        <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel1_2">증권사</button>
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel1_1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel1_2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠 
    </div>
</div>
            </script>
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <button type="button" role="tab" aria-selected="true" aria-controls="tab2panel2_1">은행</button>
        <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel2_2">증권사</button>
        <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel2_3">증권사</button>
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel2_1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel2_2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel2_3">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 3 콘텐츠 
    </div>
</div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h2">Mix</div>
            <!-- <div data-class="h2">가로 100%</div> -->
            <script type="text/html">
<div class="step_wrap js_step">    
    <div class="step" role="img" aria-label="총 5단계 중 현재 2단계"> <!-- 220831 aria-label 수정 -->
        <span class="current">2</span><span class="mark">/</span><span class="total">5</span> <!-- 220831 문구 수정 -->
    </div>
    <h1 class="h1">페이지 타이틀</h1>
</div>
<div class="tab_wrap ">
    <div class="tab_list" role="tablist">
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="true" aria-controls="tabpane5_1">메뉴명 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpane5_2">메뉴명 2</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpane5_1">    
        <h2 class="hidden">숨은 제목</h2>                    
        <div class="section">
            <div class="tab_wrap box tab_list_sub">
                <div class="tab_list" role="tablist">
                    <button type="button" role="tab" aria-selected="true" aria-controls="tabpane5_1_1">은행</button>
                    <button type="button" role="tab" aria-selected="false" aria-controls="tabpane5_1_2">증권사</button>
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_1_1">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 1-1 콘텐츠 
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_1_2">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 1-2 콘텐츠 
                </div>
            </div>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpane5_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            <div class="tab_wrap box tab_list_sub">
                <div class="tab_list" role="tablist">
                    <button type="button" role="tab" aria-selected="true" aria-controls="tabpane5_2_1">은행</button>
                    <button type="button" role="tab" aria-selected="false" aria-controls="tabpane5_2_2">증권사</button>
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_2_1">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 2-1 콘텐츠 
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_2_2">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 2-2 콘텐츠 
                </div>
            </div>
        </div>
    </div>
</div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h2">Switch</div>
            <!-- <div data-class="h2">가로 100%</div> -->
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <i class="tab_bar" aria-hidden="true"></i>
        <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel6_1">은행</button>
        <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel6_2">증권사</button>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel6_1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel6_2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠 
    </div>
</div>
        </script>
        </div>

        <div data-class="section">
            <div data-class="h2">Swipe</div>
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <i class="tab_bar" aria-hidden="true"></i>
        <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel7_1">은행</button>
        <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel7_2">증권사</button>
        <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel7_3">국세/지방세</button>
    </div>
    <div class="tab_swipe">
        <div class="tab_panel" role="tabpanel" id="tabpanel7_1">
            <h3 class="hidden">숨은 제목</h3>
            <div style="height:100px;line-height:100px;background-color:#eee;text-align:center">탭메뉴 1 콘텐츠</div>
        </div>
        <div class="tab_panel" role="tabpanel" id="tabpanel7_2">
            <h3 class="hidden">숨은 제목</h3>
            <div style="height:100px;line-height:100px;background-color:#ccc;text-align:center">탭메뉴 2 콘텐츠</div>
        </div>
        <div class="tab_panel" role="tabpanel" id="tabpanel7_3">
            <h3 class="hidden">숨은 제목</h3>
            <div style="height:100px;line-height:100px;background-color:#eee;text-align:center">탭메뉴 3 콘텐츠</div>
        </div>
    </div>
</div>
        </script>
        </div>
        <div data-class="section">
            <div data-class="h2">Radio</div>
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_radio">
        <div class="rdoChk_box">
            <span class="selection">
                <input type="radio" id="rdo1_1" name="rdo1"checked>
                <label for="rdo1_1" class="label"><em>원화</em></label>
            </span>
            <span class="selection">
                <input type="radio" id="rdo1_2" name="rdo1">
                <label for="rdo1_2" class="label"><em>외화</em></label>
            </span>
        </div>
    </div>
    <div class="tab_panel">
        <h3 class="hidden">원화</h3>
        <div class="form_group between gap_0">
           원화  내용
        </div>
    </div>
    <div class="tab_panel">
        <h3 class="hidden">외화</h3>
        <div class="form_group error gap_0"><!-- 개발 : error -->
            외화  내용
        </div>
    </div>
</div>
        </script>
        </div>

        <div data-class="section">
            <div data-class="h2">Swipe 포함</div>
            <div data-class="box">
                가로스크롤
            </div>
            <script type="text/html">
<div class="tab_wrap">
    <div class="tab_list" role="tablist">
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="true" aria-controls="swipePanel_1">메뉴테스트 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="swipePanel_2">Swipe</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="swipePanel_3">메뉴테스트 333</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="swipePanel_4">메뉴테스트 4444</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="swipePanel_5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="swipePanel_1">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 1 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="swipePanel_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            <div class="ui_swiper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div style="width:100%;height:200px;background-color:#fed03a"></div>
                        </div>
                        <div class="swiper-slide">
                            <div style="width:100%;height:200px;background-color:#384d84"></div>
                        </div>
                        <div class="swiper-slide">
                            <div style="width:100%;height:200px;background-color:#e2dfda"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="swipePanel_3">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 3 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="swipePanel_4">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 4 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="swipePanel_5">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 5 콘텐츠 
        </div>
    </div>
</div>
            </script>
        </div>

        <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
        <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
        <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
        <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
        <script src="/msbiz/guide/assets/js/components.js"></script>
        <script src="/msbiz/app/js/library/swiper.min.js"></script>
        <script src="/msbiz/app/js/common_ui.js"></script>

</body>

</html>