<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common_test.css">
    <style>
        .menu_wrap {position: relative;}
    </style>
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>탭<span></h1>
        <div data-class="section">
            <div data-class="box">
                탭메뉴는 크게 상단 탭메뉴, 하단 탭메뉴로 구성되며, 선택 메뉴, 뱃지(알림표시)를 통해 상태를 표시한다.
            </div>

            <div data-class="h1">Type</div>
            <div data-class="h2">기본</div>
            <div data-class="box">
                가로스크롤
            </div>
            <script type="text/html">
<div class="tab_wrap">
    <div class="tab_list" role="tablist">
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel_1">메뉴테스트 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_2">메뉴테스트 22</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_3">메뉴테스트 333</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_4">메뉴테스트 4444</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel_5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_1">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 1 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 2 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_3">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 3 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_4">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 4 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel_5">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 5 콘텐츠 
        </div>
    </div>
</div>
            </script>
        </div>
        <div data-class="section">
            <div data-class="h2">Line Motion</div>
            <div data-class="box">
                가로스크롤
            </div>
            <script type="text/html">
<div class="tab_wrap">
    <div class="tab_list" role="tablist">
        <i class="tab_bar" aria-hidden="true"></i>
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="true" aria-controls="tabpanelLine_1">메뉴테스트 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_2">메뉴테스트 22</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_3">메뉴테스트 333</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_4">메뉴테스트 4444</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpanelLine_5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_1">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 1 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 2 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_3">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 3 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_4">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 4 콘텐츠 
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanelLine_5">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            탭메뉴 5 콘텐츠 
        </div>
    </div>
</div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h2">서브탭</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>가로 100%</div>
                    <div>콘텐츠 내에서 사용하는 탭, 구분자 type2</div>
                </div>
            </div>
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <button type="button" role="tab" aria-selected="true" aria-controls="tab2panel1_1">은행</button>
        <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel1_2">증권사</button>
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel1_1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel1_2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠 
    </div>
</div>
            </script>
            <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <button type="button" role="tab" aria-selected="true" aria-controls="tab2panel2_1">은행</button>
        <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel2_2">증권사</button>
        <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel2_3">증권사</button>
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel2_1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel2_2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tab2panel2_3">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 3 콘텐츠 
    </div>
</div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h2">Mix</div>
            <!-- <div data-class="h2">가로 100%</div> -->
            <script type="text/html">
<div class="tab_wrap ">
    <div class="tab_list" role="tablist">
        <div class="scroll_wrap">
            <button type="button" role="tab" aria-selected="true" aria-controls="tabpane5_1">메뉴명 1</button>
            <button type="button" role="tab" aria-selected="false" aria-controls="tabpane5_2">메뉴명 2</button>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpane5_1">    
        <h2 class="hidden">숨은 제목</h2>                    
        <div class="section">
            <div class="tab_wrap box tab_list_sub">
                <div class="tab_list" role="tablist">
                    <button type="button" role="tab" aria-selected="true" aria-controls="tabpane5_1_1">은행</button>
                    <button type="button" role="tab" aria-selected="false" aria-controls="tabpane5_1_2">증권사</button>
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_1_1">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 1-1 콘텐츠 
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_1_2">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 1-2 콘텐츠 
                </div>
            </div>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpane5_2">
        <h2 class="hidden">숨은 제목</h2>
        <div class="section">
            <div class="tab_wrap box tab_list_sub">
                <div class="tab_list" role="tablist">
                    <button type="button" role="tab" aria-selected="true" aria-controls="tabpane5_2_1">은행</button>
                    <button type="button" role="tab" aria-selected="false" aria-controls="tabpane5_2_2">증권사</button>
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_2_1">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 2-1 콘텐츠 
                </div>
                <div class="tab_panel" role="tabpanel" id="tabpane5_2_2">
                    <h3 class="hidden">숨은 제목</h3>
                    탭메뉴 2-2 콘텐츠 
                </div>
            </div>
        </div>
    </div>
</div>
            </script>
    </div>

    <div data-class="section">
        <div data-class="h2">Switch</div>
        <!-- <div data-class="h2">가로 100%</div> -->
        <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <i class="tab_bar" aria-hidden="true"></i>
        <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel6_1">은행</button>
        <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel6_2">증권사</button>
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel6_1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="tabpanel6_2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠 
    </div>
</div>
        </script>
    </div>

    <div data-class="section">
        <div data-class="h2">Swipe</div>
        <script type="text/html">
<div class="tab_wrap box">
    <div class="tab_list" role="tablist">
        <i class="tab_bar" aria-hidden="true"></i>
        <button type="button" role="tab" aria-selected="false" aria-controls="tabpanel7_1">은행</button>
        <button type="button" role="tab" aria-selected="true" aria-controls="tabpanel7_2">증권사</button>
    </div>
    <div class="tab_swipe">
        <div class="tab_panel" role="tabpanel" id="tabpanel7_1">
            <h3 class="hidden">숨은 제목</h3>
            탭메뉴 1 콘텐츠 
        </div>
        <div class="tab_panel" role="tabpanel" id="tabpanel7_2">
            <h3 class="hidden">숨은 제목</h3>
            탭메뉴 2 콘텐츠<br />탭메뉴 2 콘텐츠 
        </div>
    </div>
</div>
        </script>
    </div>
    <div data-class="section">
        <div data-class="h2">Radio</div>
        <script type="text/html">
<div class="tab_wrap">
    <div class="tab_radio">
        <div class="btn_radio">
            <input type="radio" id="rdo1" name="rdo1" data-show="#radioShow1" checked>
            <label for="rdo1" class="lbl">선택1</label>
        </div>
        <div class="btn_radio">
            <input type="radio" id="rdo2" name="rdo1" data-show="#radioShow2">
            <label for="rdo2" class="lbl">선택2</label>
        </div>
    </div>
    <div class="tab_panel" role="tabpanel" id="radioShow1">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 1 콘텐츠 
    </div>
    <div class="tab_panel" role="tabpanel" id="radioShow2">
        <h3 class="hidden">숨은 제목</h3>
        탭메뉴 2 콘텐츠<br />탭메뉴 2 콘텐츠 
    </div>
</div>
        </script>
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/library/swiper.min.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>
    
    <script>
        UICommon.tabMenu.init();
    </script>

</body>
</html>