<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>약관</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/msbiz/app/css/common.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>약관</span></div>
<!--         <div data-class="box">
            <a href="/mnbank/guide/sample/terms.html" target="_blank" title="새창" data-class="button">약관 샘플페이지 1</a>
            <a href="/mnbank/guide/sample/terms2.html" target="_blank" title="새창" data-class="button">약관 샘플페이지 2</a>
        </div> -->
        <div data-class="box">
            <div data-class="list disc">
                <div>.agree_list.noline : padding:0; border:none;</div>
            </div>
        </div>
        <div data-class="box">
            <div data-class="list disc">
                <div>.agree_check</div>
                <div>상단 간격 : 기본 28px / 컨텐츠 중간 노출 20px / 내용이 길어서 디바이더 사용할 때 48px<br>
                폰트 굵기 : 기본 bold / 모바일 360px 너비에서 내용이 3줄 이상 길어지면 normal 사용</div>
            </div>
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">타입1</div>
            <script type="text/html">
<div class="agree_wrap multi">
    <div class="agree_total">
        <span class="selection">
            <input type="checkbox" id="checkType1" class="chk_all">
            <label for="checkType1" class="label"><em>약관 전체동의</em></label>
        </span>
        <button type="button" class="btn btn_link" title="약관 전체동의"><span class="hidden">바로가기</span></button>
    </div>
    <h3 class="agree_tit">휴대폰 본인인증 약관동의</h3>
    <ul class="agree_list">
        <li><!-- 바로가기버튼(btn_link)가 없을 경우에는 nolink 클래스 넣어주세요 -->
            <span class="selection chk">
                <input type="checkbox" id="checkType1_1">
                <label for="checkType1_1" class="label"><em>[필수] 고유식별정보 처리 동의 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 고유식별정보 처리 동의 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType1_2">
                <label for="checkType1_2" class="label"><em>[필수] 통신사 이용약관 동의 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 통신사 이용약관 동의 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType1_3">
                <label for="checkType1_3" class="label"><em>[필수] 휴대폰본인확인 개인정보수집이용 동의 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 휴대폰본인확인 개인정보수집이용 동의 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType1_4">
                <label for="checkType1_4" class="label"><em>[필수] 휴대폰본인확인 개인정보수집이용 동의 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 휴대폰본인확인 개인정보수집이용 동의 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType1_5">
                <label for="checkType1_5" class="label"><em>[필수] 개인(신용)정보수집·이용 동의서 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 개인(신용)정보수집·이용 동의서 "><span class="hidden">바로가기</span></button>
        </li>
    </ul>
    <h3 class="agree_tit">KB모바일인증서 약관동의</h3>
    <ul class="agree_list">
        <li><!-- 바로가기버튼(btn_link)가 없을 경우에는 nolink 클래스 넣어주세요 -->
            <span class="selection chk">
                <input type="checkbox" id="checkType2_1">
                <label for="checkType2_1" class="label"><em>[필수] KB모바일인증서 서비스 설명서 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] KB모바일인증서 서비스 설명서 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType2_2">
                <label for="checkType2_2" class="label"><em>[필수] KB모바일인증서 서비스 이용악관 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] KB모바일인증서 서비스 이용악관 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType2_3">
                <label for="checkType2_3" class="label"><em>[필수] 전자금융거래 기본약관 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 전자금융거래 기본약관 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType2_4">
                <label for="checkType2_4" class="label"><em>[필수] 전자금융서비스 설명서 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 전자금융서비스 설명서 "><span class="hidden">바로가기</span></button>
        </li>
        <li>
            <span class="selection chk">
                <input type="checkbox" id="checkType2_5">
                <label for="checkType2_5" class="label"><em>[필수] 전자금융서비스 이용약관 </em></label>
            </span>
            <button type="button" class="btn btn_link" title="[필수] 전자금융서비스 이용약관 "><span class="hidden">바로가기</span></button>
        </li>
    </ul>

    <div class="agree_check">
        <span class="selection">
            <input type="checkbox" id="checkType1_1_sm">
            <label for="checkType1_1_sm" class="label"><em>모든 안내사항을 확인 및 숙지 하였습니다.</em></label>
        </span>
    </div>
</div>
            </script>

            <div data-class="h2">타입2</div>
            <script type="text/html">
<div class="section">
    <h2 class="h2">휴대폰 본인인증 약관 동의</h2>
    <div class="agree_wrap">
        <div class="agree_total">
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>약관 전체동의</em></label>
            </span>
            <button type="button" class="btn btn_link" title="약관 전체동의"><span class="hidden">바로가기</span></button>
        </div>
        <ul class="agree_list">
            <li><!-- 바로가기버튼(btn_link)가 없을 경우에는 nolink 클래스 넣어주세요 -->
                <span class="selection chk">
                    <input type="checkbox" id="chk1_1" name="chk1">
                    <label for="chk1_1" class="label"><em>[필수] 고유식별정보 처리 동의 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[필수] 고유식별정보 처리 동의 "><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="selection chk">
                    <input type="checkbox" id="chk1_2" name="chk1">
                    <label for="chk1_2" class="label"><em>[필수] 통신사 이용약관 동의 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[필수] 통신사 이용약관 동의 "><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="selection chk">
                    <input type="checkbox" id="chk1_3" name="chk1">
                    <label for="chk1_3" class="label"><em>[선택] 통신사 이용약관 동의 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[선택] 통신사 이용약관 동의 "><span class="hidden">바로가기</span></button>
            </li>
        </ul>
        <p class="tip_info">자택주소가 구주소 체계인 경우 정보 일괄변경이 불가능합니다.</p>
    </div>
</div>
<div class="section">
    <h2 class="h2">KB모바일인증서 약관 동의</h2>
    <div class="agree_wrap">
        <div class="agree_total">
            <span class="selection">
                <input type="checkbox" id="chkAll_2" name="chkAll_2" class="chk_all">
                <label for="chkAll_2" class="label"><em>약관 전체동의</em></label>
            </span>
            <button type="button" class="btn btn_link" title="약관 전체동의"><span class="hidden">바로가기</span></button>
        </div>
        <ul class="agree_list">
            <li><!-- 바로가기버튼(btn_link)가 없을 경우에는 nolink 클래스 넣어주세요 -->
                <span class="selection chk">
                    <input type="checkbox" id="chk2_1" name="chk2">
                    <label for="chk2_1" class="label"><em>[필수] 고유식별정보 처리 동의 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[필수] 고유식별정보 처리 동의 "><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="selection chk">
                    <input type="checkbox" id="chk2_2" name="chk2">
                    <label for="chk2_2" class="label"><em>[필수] 통신사 이용약관 동의 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[필수] 통신사 이용약관 동의 "><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="selection chk">
                    <input type="checkbox" id="chk2_3" name="chk2">
                    <label for="chk2_3" class="label"><em>[선택] 통신사 이용약관 동의 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[선택] 통신사 이용약관 동의 "><span class="hidden">바로가기</span></button>
            </li>
        </ul>
        <ul class="tip_info">
            <li>고객정보를 함께 변경할 KB금융그룹 계열사를 선택해 주세요.</li>
            <li>미거래 계열사는 선택하실 수 없습니다.</li>
        </ul>
        <div class="agree_check">
            <span class="selection">
                <input type="checkbox" id="agree1" name="agree1">
                <label for="agree1" class="label"><em>모든 안내사항을 확인 및 숙지 하였습니다.</em></label>
            </span>
        </div>
    </div>
</div>
            </script>

            <div data-class="h2">타입3</div>
            <script type="text/html">
<div class="section">
    <div class="agree_wrap">
        <div class="agree_total">
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>KB골투자통장 상품(투자)설명서</em><br>(간이투자설명서 포함)</label>
            </span>
            <button type="button" class="btn btn_link" title="KB골투자통장 상품(투자)설명서 (간이투자설명서 포함)"><span class="hidden">바로가기</span></button>
        </div>
        <div class="agree_total nolink">
            <span class="selection">
                <input type="checkbox" id="chkAll_2" name="chkAll_2" class="chk_all">
                <label for="chkAll_2" class="label"><em>확인사항 전체동의</em></label>
            </span>
        </div>
        <div class="agree_inr">
            <ul class="depth bul">
                <li>가입자격에 대한 사항</li>
                <li>가입유형별 특징</li>
                <li>온라인상 가입자격 확인서류의 종류 및 전달방법</li>
                <li>서류 위조 시 불이익내용</li>
                <li>연간납입한도</li>
                <li>해지(특별중도해지사유 포함)에 대한 내용</li>
                <li>가입기간 연장에 관한 내용</li>
                <li>국세청에서 부적격자로 통보된 경우 이의신청 절차 및 불이익</li>
                <li>만기(특별중도해지)와 금융상품의 만기가 다른 경우 불이익</li>
            </ul>
        </div>
        <div class="agree_total nolink">
            <span class="selection">
                <input type="checkbox" id="chkAll_2a" name="chkAll_2a" class="chk_all">
                <label for="chkAll_2a" class="label"><em>확인사항 전체동의</em></label>
            </span>
        </div>
        <div class="agree_inr">
            <div class="agree_scroll">
                <ul class="depth bul">
                    <li>가입자격에 대한 사항</li>
                    <li>가입유형별 특징</li>
                    <li>온라인상 가입자격 확인서류의 종류 및 전달방법</li>
                    <li>서류 위조 시 불이익내용</li>
                    <li>연간납입한도</li>
                    <li>해지(특별중도해지사유 포함)에 대한 내용</li>
                    <li>가입기간 연장에 관한 내용</li>
                    <li>국세청에서 부적격자로 통보된 경우 이의신청 절차 및 불이익</li>
                    <li>만기(특별중도해지)와 금융상품의 만기가 다른 경우 불이익</li>
                </ul>
            </div>
        </div>
        <div class="agree_total">
            <span class="selection">
                <input type="checkbox" id="chkAll_3" name="chkAll_3" class="chk_all">
                <label for="chkAll_3" class="label"><em>약관 전체동의</em></label>
            </span>
            <button type="button" class="btn btn_link" title="약관 전체동의"><span class="hidden">바로가기</span></button>
        </div>
        <div class="agree_inr">
            <p class="agree_txt">
                본인은 KB 국민은행으로부터 예금자 보호 여부 및 보호한도(원금과 소정의 이자를 합하여 1인당 5천만원)에 대하여 설명을 듣고 이해하였음을 확인합니다.
            </p>
            <ul class="agree_list">
                <li class="nolink">
                    <span class="selection chk">
                        <input type="checkbox" id="chk2_1" name="chk2">
                        <label for="chk2_1" class="label"><em>위의 내용을 확인하고 이해했습니다.</em></label>
                    </span>
                </li>
                <li class="nolink">
                    <span class="selection chk">
                        <input type="checkbox" id="chk2_2" name="chk2">
                        <label for="chk2_2" class="label"><em>투자자가 부담하는 판매수수료, 총 보수를 확인하고 이해했습니다.</em></label>
                    </span>
                </li>
                <li class="nolink">
                    <span class="selection chk">
                        <input type="checkbox" id="chk2_3" name="chk2">
                        <label for="chk2_3" class="label"><em>금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격</em></label>
                    </span>
                </li>
                <li class="nolink">
                    <span class="selection chk">
                        <input type="checkbox" id="chk2_4" name="chk2">
                        <label for="chk2_4" class="label"><em>본인은 KB국민은행으로부터 예금자보호제도에 대한 보험관계 및 보험금 한도에 대하여 안내를 받고 이해하였음을 확인합니다.</em></label>
                    </span>
                </li>
            </ul>
            <p class="agree_txt">
                본인은 KB 국민은행으로부터 예금자 보호 여부 및 보호한도(원금과 소정의 이자를 합하여 1인당 5천만원)에 대하여 설명을 듣고 이해하였음을 확인합니다.
            </p>
            <ul class="agree_list">
                <li class="nolink">
                    <span class="selection chk">
                        <input type="checkbox" id="chk2_1" name="chk2">
                        <label for="chk2_1" class="label"><em>위의 내용을 확인하고 이해했습니다.</em></label>
                    </span>
                </li>
                <li class="nolink">
                    <span class="selection chk">
                        <input type="checkbox" id="chk2_2" name="chk2">
                        <label for="chk2_2" class="label"><em>투자자가 부담하는 판매수수료, 총 보수를 확인하고 이해했습니다.</em></label>
                    </span>
                </li>
            </ul>
        </div>
        <div class="agree_total nolink">
            <span class="selection">
                <input type="checkbox" id="chkAll_4" name="chkAll_4" class="chk_all">
                <label for="chkAll_4" class="label"><em>불법 탈법 차명거래 금지 설명 확인</em></label>
            </span>
        </div>
        <div class="agree_inr">
            금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격금융투장상품의 경우 투자성에 관한 구조화 성격
        </div>
        <p class="agree_check">투자설명서 내용에 동의하며 해당 상품에 가입하시겠습니까?</p>
    </div>
</div>
            </script>

            <div data-class="h2">타입4</div>
            <script type="text/html">
<div class="section">
    <div class="agree_wrap">
        <div class="agree_total">
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>전체동의</em></label>
            </span>
            <button type="button" class="btn btn_link" title="약관 전체동의"><span class="hidden">바로가기</span></button>
        </div>
        <ul class="agree_list">
            <li><!-- 바로가기버튼(btn_link)가 없을 경우에는 nolink 클래스 넣어주세요 -->
                <span class="selection chk">
                    <input type="checkbox" id="chk1_1" name="chk1">
                    <label for="chk1_1" class="label"><em>[필수] KB마이핏적금 특약 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[필수] KB마이핏적금 특약 "><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="selection chk">
                    <input type="checkbox" id="chk1_1" name="chk1">
                    <label for="chk1_1" class="label"><em>[필수] KB마이핏적금상품설명서 </em></label>
                </span>
                <button type="button" class="btn btn_link" title="[필수] KB마이핏적금상품설명서 "><span class="hidden">바로가기</span></button>
            </li>
        </ul>
    </div>
</div>
<div class="section">
    <h2 class="h2">약관 및 상품설명서 제공</h2>
    <div class="agree_menual">
        <span class="selection">
            <input type="checkbox" id="chk2_1" name="chk2">
            <label for="chk2_1" class="label"><em>[필수] 이메일주소로 받기 </em></label>
        </span>
        <!-- @이메일 -->
        <div class="form_group email">
            <div class="form_tit">이메일</div>
            <div class="form_row col">
                <div class="input">
                    <input type="text" title="아이디" placeholder="아이디" value="">
                </div>
                <span class="space">@</span>
                <div class="select">
                    <button type="button" class="select_btn" title="도메인 선택">직접입력</button>
                </div>
            </div>
            <div class="form_row">
                <div class="input"><input type="text" value="kbstar.com" title="도메인 직접입력"></div>
            </div>
            <p class="tip_info">수령하실 이메일 주소를 입력해 주세요.</p>
            <div class="form_btm_full_wrap">
                <span><button type="button" class="btn outline md">이메일 발송</button></span>
            </div>
        </div>
        <!-- // -->
    </div>
</div>
<div class="section">
    <h2 class="h2">마케팅 이용동의하고 우대이율을 받으세요!</h2>
    <div class="agree_txt">
        오픈뱅킹 우대이율은 마케팅 이용 동의 후 다음달 말일까지 오픈뱅킹 서비스에 등록하면 만기해지 시점에 우대이율이 제공됩니다.
    </div>
    <div class="agree_wrap">
        <div class="agree_total nolink">
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>상품서비스 안내 등 선택동의 사항</em></label>
            </span>
        </div>
        <!-- @마케팅 선택동의 -->
        <div class="agree_choice">
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>[선택] 개인(신용)정보 수집·이용·제공 동의서<br>(상품서비스 안내 등) </em></label>
                <button type="button" class="btn btn_link" title="[선택] 개인(신용)정보 수집·이용·제공 동의서(상품서비스 안내 등) "><span class="hidden">바로가기</span></button>
            </span>
            <div class="agree_choice_wrap">
                <ul class="depth bul">
                    <li>수집·이용 동의</li>
                    <li>광고성정보 수신 동의</li>
                </ul>
                <p class="agree_choice_tit">상품 서비스 안내수단</p>
                <div class="rdoChk_group inline">
                    <span class="selection chk">
                        <input type="checkbox" id="checkCHK1" name="checkCHK">
                        <label for="checkCHK1" class="label"><em>문자</em></label>
                    </span>
                    <span class="selection chk">
                        <input type="checkbox" id="checkCHK2" name="checkCHK">
                        <label for="checkCHK2" class="label"><em>이메일</em></label>
                    </span>
                    <span class="selection chk">
                        <input type="checkbox" id="checkCHK3" name="checkCHK">
                        <label for="checkCHK3" class="label"><em>전화</em></label>
                    </span>
                    <span class="selection chk">
                        <input type="checkbox" id="checkCHK4" name="checkCHK">
                        <label for="checkCHK4" class="label"><em>우편</em></label>
                    </span>
                </div>
            </div>
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>[선택] 개인(신용)정보 수집·이용·제공 동의서<br>(상품서비스 안내 등) [계열사정보제공용] </em></label>
                <button type="button" class="btn btn_link" title="[선택] 개인(신용)정보 수집·이용·제공 동의서(상품서비스 안내 등) "><span class="hidden">바로가기</span></button>
            </span>
        </div>
        <!-- // -->
    </div>
</div>
<div class="section">
    <div class="agree_check">
        <span class="selection">
            <input type="checkbox" id="agree1" name="agree1">
            <label for="agree1" class="label normal"><em>본인은 약관 및 상품설명서를 제공받고 예금상품의 중요한 사항을 충분히 이해하며 본 상품에 가입함을 확인합니다.<br>
                (본 상품에 가입 완료하시는 경우 약관 및 상품설명서를 제공받기 희망하신 방법으로 계약서를 제공해드립니다.</em></label>
        </span>
    </div>
</div>
            </script>
            <div data-class="h2">싱글타입</div>
            <script type="text/html">
                <div class="agree_wrap">
                    <ul class="agree_list">
                        <li class="sg">
                            <span class="selection">
                                <input type="checkbox" id="checkType2_1">
                                <label for="checkType2_1" class="label"><em>[필수] KB모바일인증서 서비스 설명서 </em></label>
                            </span>
                            <button type="button" class="btn btn_link" title="[필수] KB모바일인증서 서비스 설명서 "><span class="hidden">바로가기</span></button>
                        </li>
                    </ul>
                </div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">기타</div>
            <div data-class="h2">동의 1개에 link</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>Font Size : 약관 하위 종속되는 내용이 있을 경우 18px / 종속 내용이 없을 경우 16px</div>
                </div>
            </div>
            <script type="text/html">
<div class="section">
    <div class="agree_total only">
        <span class="selection">
            <input type="checkbox" id="checkTypeOnly1_1">
            <label for="checkTypeOnly1_1" class="label"><em>약관 동의</em></label>
        </span>
        <button type="button" class="btn btn_link" title="약관 동의"><span class="hidden">바로가기</span></button>
    </div>

    <div class="agree_total only">
        <span class="selection">
            <input type="checkbox" id="checkOnly1_2">
            <label for="checkOnly1_2" class="label normal"><em>약관 동의</em></label><!-- normal 클래스 추가 -->
        </span>
        <button type="button" class="btn btn_link" title="약관 동의"><span class="hidden">바로가기</span></button>
    </div>
    
    <div class="agree_total only sm">
        <span class="selection">
            <input type="checkbox" id="checkOnlySm1_1">
            <label for="checkOnlySm1_1" class="label"><em>약관 동의</em></label>
        </span>
        <button type="button" class="btn btn_link" title="약관 동의"><span class="hidden">바로가기</span></button>
    </div>

    <div class="agree_total only sm">
        <span class="selection">
            <input type="checkbox" id="checkOnlySm1_2">
            <label for="checkOnlySm1_2" class="label normal"><em>약관 동의</em></label><!-- normal 클래스 추가 -->
        </span>
        <button type="button" class="btn btn_link" title="약관 동의"><span class="hidden">바로가기</span></button>
    </div>
</div>
            </script>

            <div data-class="h2">컨텐츠 내용 중 약관 노출</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>.agree_check</div>
                    <div>상단 간격 : 기본 28px / 컨텐츠 중간 노출 20px / 내용이 길어서 디바이더 사용할 때 48px<br>
                    폰트 굵기 : 기본 bold / 모바일 360px 너비에서 내용이 3줄 이상 길어지면 normal 사용</div>
                </div>
            </div>
            <script type="text/html">
<div class="fieldset">
    <div class="form_group">
        <div class="form_tit">자동이체 등록여부</div>
        <div class="form_row">
            <div class="rdoChk_box">
                <span class="selection">
                    <input type="radio" id="radioAuto1_1" name="radioAuto1" checked="">
                    <label for="radioAuto1_1" class="label"><em>등록</em></label>
                </span>
                <span class="selection">
                    <input type="radio" id="radioAuto1_2" name="radioAuto1">
                    <label for="radioAuto1_2" class="label"><em>미등록</em></label>
                </span>
            </div>
        </div>
    </div>
    <div class="agree_total only sm">
        <span class="selection">
            <input type="checkbox" id="agree1">
            <label for="agree1" class="label"><em>계좌간 자동이체 약관</em></label>
        </span>
        <button type="button" class="btn btn_link" title="계좌간 자동이체 약관"><span class="hidden">바로가기</span></button>
    </div>

    <div class="form_group js_trans gap_xs_2 active">
        <div class="form_tit">자동이체금액</div>    
        <div class="form_row">
            <div class="input unit js_unit">
                <input type="tel" placeholder="숫자만 입력" title="자동이체금액" data-unit="원" style="padding-right: 2.4rem;"><span class="unit">원</span>
            </div>
        </div>
        <div class="form_btm_wrap right">
            <p class="sum_hint">최저 이체금액 : <span class="number fc_posi">100,000</span><span class="num_unit">원</span></p>
        </div>
    </div>

    <div class="form_group">
        <div class="form_tit">자동이체기간</div>
        <div class="form_row">
            <div class="ele_ul_hor">
                <div class="select">
                    <button type="button" class="select_btn" title="시작일 선택">선택하세요</button>
                </div>
                <div class="select">
                    <button type="button" class="select_btn" title="종료일 선택">선택하세요</button>
                </div>
            </div>
        </div>
        <p class="tip_info" aria-hidden="false">종료년월 입력은 선택사항입니다.</p>
        <p class="tip_info" aria-hidden="false">별도 설정하지 않을 경우 KB국민 만능 ISA(일임형)의 만기시 종료됩니다.</p>
    </div>

    <div class="form_group">
        <div class="form_tit">자동이체일</div>
        <div class="form_row">
            <div class="select">
                <button type="button" class="select_btn active" title="출자동이체일선택">01</button>
            </div>
        </div>
    </div>

    <div class="agree_check sm">
        <span class="selection">
            <input type="checkbox" id="agree2">
            <label for="agree2" class="label normal"><em>계좌 간 자동이체 약관의 내용을 충분히 이해하고 동의합니다.</em></label>
        </span>
    </div>
</div>
            </script>

            <div data-class="h2">부가서비스</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>agree_list 컨텐츠에 checkbox가 없는 케이스는 agree_list에 .nocheck 클래스 추가</div>
                </div>
            </div>
            <script type="text/html">
<div class="section">
    <h3 class="h2">부가서비스</h3>
    <p class="p">“대중교통상해 및 자전거상해” 관련 (주)KB손해보험 단체보험 무료 가입 서비스</p>
    <p class="depth info fc_nega">신규 이후에는  무료 보험에 가입할 수 없습니다.</p>
    <div class="agree_wrap gap_md">
        <div class="agree_total">
            <span class="selection">
                <input type="checkbox" id="chkAll_1" name="chkAll_1" class="chk_all">
                <label for="chkAll_1" class="label"><em>보험서비스 약관&middot;특약 동의 및 보기</em></label>
            </span>
            <button type="button" class="btn btn_link" title="보험서비스 약관&middot;특약 동의 및 보기"><span class="hidden">바로가기</span></button>
        </div>
        <div class="agree_inr">
            <ul class="agree_detail">
                <li>
                    <strong class="agree_tit">제공대상</strong>
                    <p class="agree_txt">보험가입 및 개인(신용)정보의 제3자 제공에 동의한 고객</p>
                </li>
                <li>
                    <strong class="agree_tit">보장기간</strong>
                    <p class="agree_txt">적금 가입일 다음날부터 적금 만기일까지(해지 시 중단)</p>
                </li>
                <li>
                    <strong class="agree_tit">담보내용</strong>
                    <p class="agree_txt">세부내용 보험서비스 약관&middot;특약 참조</p>
                    <ul class="depth bul">
                        <li>신주말 상해 사망 후유장해</li>
                        <li>자동차사고 성형 치료비</li>
                        <li>해외 여행 중 상해로 인한 사망 또는 후유장해</li>
                        <li>해외 여행 중 특별비용(수색구조비용)</li>
                    </ul>
                </li>	
            </ul>
        </div>
        <ul class="agree_list nocheck">
            <li>
                <span class="agree_tit">대중교통상해 사망/휴우장해<br>
                    (미세먼지 오염경보일) 최대 2억원 보장
                </span>
                <button type="button" class="btn btn_link" title="대중교통상해 사망/휴우장해(미세먼지 오염경보일) 최대 2억원 보장"><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="agree_tit">대중교통상해 사망/휴우장해<br>
                    (미세먼지 오염경보일 外) 최대 1억원 보장
                </span>
                <button type="button" class="btn btn_link" title="대중교통상해 사망/휴우장해(미세먼지 오염경보일 外) 최대 1억원 보장"><span class="hidden">바로가기</span></button>
            </li>
            <li>
                <span class="agree_tit">자전거상해 입원위로금(6일 이상)<br>
                    300,000원 보장
                </span>
                <button type="button" class="btn btn_link" title="자전거상해 입원위로금(6일 이상)300,000원 보장"><span class="hidden">바로가기</span></button>
            </li>
        </ul>
    </div>
</div>
            </script>

            <div data-class="h2">약관 > Scroll</div>
            <div data-class="box">
                약관화면 외의 화면에서 사용되는 동의 scroll_wrap<br>
                <a href="/mnbank/html/pdt_join/BFE070180.html" target="_blank" class="underline">예시화면보기</a>
            </div>
            <script type="text/html">
<div class="term_scroll_wrap">
    <div class="scroll" style="height:20.6rem;">
        <strong class="term_tit">제목</strong>
        <p class="p">내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.</p>
        <strong class="term_tit">제목</strong>
        <p class="p">내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.</p>
        <strong class="term_tit">제목</strong>
        <p class="p">내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.</p>
        <strong class="term_tit">제목</strong>
        <p class="p">내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.내용이들어갑니다.</p>
    </div>
</div>
            </script>
            <div data-class="h2">문서</div>
            <script type="text/html">
<div class="docu_agree_list">
    <div class="docu_agree_item">
        <p>외상매출채권의 할인은 고객님(판매기업)이 구매기
            업으로 부터 수취한 채권을 담보로 은행으로부터 대
            출을 받는 행위입니다.</p>
        <p>할인신청하신 채권의 발행 구매기업은 판매기업에
            대한 상환청구권이 있는 방식으로 이용약정한 기업
            으로, 상환청구권 있는 방식으로 약정한 구매기업의
            발행채권을 할인하는 것은 할인 의뢰하신 고객님(판
            매기업)이 국민은행의 채무자가 되며, 고객님 앞으로
            대출계좌가 생성되어 만기상황전까지는 고객님의 대
            출잔액에 포합됩니다.</p>
        <div class="chk_agree">
            <span class="selection">
                <input type="radio" id="chkAgree1" name="chkAgree" checked>
                <label for="chkAgree1" class="label"><em>동의합니다</em></label>
            </span>
        </div>
    </div>
    <div class="docu_agree_item">
        <p>외상매출채권의 할인은 고객님(판매기업)이 구매기
            업으로 부터 수취한 채권을 담보로 은행으로부터 대
            출을 받는 행위입니다.</p>
        <p>할인신청하신 채권의 발행 구매기업은 판매기업에
            대한 상환청구권이 있는 방식으로 이용약정한 기업
            으로, 상환청구권 있는 방식으로 약정한 구매기업의
            발행채권을 할인하는 것은 할인 의뢰하신 고객님(판
            매기업)이 국민은행의 채무자가 되며, 고객님 앞으로
            대출계좌가 생성되어 만기상황전까지는 고객님의 대
            출잔액에 포합됩니다.</p>
        <div class="chk_agree">
            <span class="selection">
                <input type="radio" id="chkAgree2" name="chkAgree" checked>
                <label for="chkAgree2" class="label"><em>동의합니다</em></label>
            </span>
        </div>
    </div>
    <div class="docu_agree_item end">
        <div class="chk_agree">
            <span class="selection">
                <input type="radio" id="chkAgreeEnd" name="chkAgreeEnd" checked>
                <label for="chkAgreeEnd" class="label"><strong>위 내용을 읽고 이해하였습니다.</strong></label>
            </span>
        </div>
    </div>
</div>
            </script>
    </div>

    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>
</body>
</html>