<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>No.1 기업금융플랫폼</title>
    <link rel="stylesheet" href="/msbiz/guide/assets/css/components.css">
    <link rel="stylesheet" href="/msbiz/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
	<link rel="stylesheet" href="/msbiz/app/css/common.css">
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>토글<span></h1>
        <div data-class="box">
            <div data-class="h3">button 태그에 .js_toggle 클래스 추가</div>
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">알려드립니다</div>
            <script type="text/html">
<div class="inform_btm_wrap">
    <button class="tit js_toggle" aria-expanded="false" aria-controls="notice_1_1">알려드립니다</button>
    <div class="toggle_panel" role="region" id="notice_1_1">
        <ul class="depth bul">
            <li>납부가능시간
                <ul class="depth dash">
                    <li>가이드 텍스트가 나오는 라인입니다.</li>
                    <li>가이드 텍스트가 나오는 라인입니다. 가이드 텍스트가 나오는 라인입니다. 가이드 텍스트가 나오는 라인입니다. 가이드 텍스트가 나오는 라인입니다.</li>
                </ul>
            </li>
            <li>조회납부 : 고지서상에 “전자납부가능”으로 표시되어있고, 전자납부번호가 있는 경우</li>
            <li>KB스타뱅킹에 고시되는 환율은 USD(미국 달러) 환산 1만 달러 * 미만 거래 시 적용되는 환율이며, USD(미국 달러) 환산 1만 달러 이상 **거래 시에는 가까운 지점에 문의해주세요.
                <p class="sub_info_txt">* USD(미국 달러), EUR(유럽연합 유로), JYP(일본엔) 환산 5만 달러 미만입니다.</p>
                <p class="sub_info_txt">**그밖에 통화는 USD(미국 달러) 환산 5만 달러 이상입니다.</p>
            </li>
            <li>알려드립니다내용내용내용</li>
            <li>입력환 정보는 보험계약 체결 시 해당 보험회사로 제공되는 개인정보 입니다. 고객님의 개연정보는 ‘고객정보수정＇에서 변경해주세요.
                <div class="btn_wrap btm"><a href="#none" class="btn_txt ico_arr">고객정보수정</a></div>
            </li>	
        </ul>
        <p class="depth_tit">알려드립니다. 타이틀 타입 텍스트</p>
        <ul class="depth bul">
            <li>납부가능시간
                <ul class="depth dash">
                    <li>가이드 텍스트가 나오는 라인입니다.</li>
                    <li>가이드 텍스트가 나오는 라인입니다. 가이드 텍스트가 나오는 라인입니다. 가이드 텍스트가 나오는 라인입니다. 가이드 텍스트가 나오는 라인입니다.</li>
                </ul>
            </li>
            <li>조회납부 : 고지서상에 “전자납부가능”으로 표시되어있고, 전자납부번호가 있는 경우</li>
            <li>KB스타뱅킹에 고시되는 환율은 USD(미국 달러) 환산 1만 달러 * 미만 거래 시 적용되는 환율이며, USD(미국 달러) 환산 1만 달러 이상 **거래 시에는 가까운 지점에 문의해주세요.
                <p class="sub_info_txt">* USD(미국 달러), EUR(유럽연합 유로), JYP(일본엔) 환산 5만 달러 미만입니다.</p>
                <p class="sub_info_txt">**그밖에 통화는 USD(미국 달러) 환산 5만 달러 이상입니다.</p>
            </li>
            <li>알려드립니다내용내용내용</li>
            <li>입력환 정보는 보험계약 체결 시 해당 보험회사로 제공되는 개인정보 입니다. 고객님의 개연정보는 ‘고객정보수정＇에서 변경해주세요.</li>	
        </ul>
    </div>
</div>
            </script>

            <div data-class="h2">상세보기</div>
            <div data-class="h3">폰트 크기 14px 우측 정렬 토글 케이스</div>
            <script type="text/html">
<div class="toggle_sm_wrap">
    <button class="tit js_toggle" aria-expanded="false">상세보기</button>
    <div class="toggle_panel" role="region">
        내용<br>
        내용<br>
        내용<br>
    </div>
</div>
            </script>

            <div data-class="h3">defalut 오픈</div>
            <script type="text/html">
<div class="toggle_sm_wrap">
    <button class="tit js_toggle" aria-expanded="true">상세보기</button>
    <div class="toggle_panel" role="region">
        내용<br>
        내용<br>
        내용<br>
    </div>
</div>
            </script>

            <div data-class="h2">토글 독립형</div>
            <div data-class="h3">aria-controls로 'toggle_panel' 아이디 매칭해서 사용</div>
            <script type="text/html">
<div class="hgroup">
    <div>
        <div class="h2">
            <h2>타이틀</h2>
        </div>
    </div>
    <div>
        <button class="tit js_toggle" aria-expanded="false" aria-controls="toggleSample1">상세보기1</button>
    </div>
</div>
<div id="toggleSample1" class="toggle_panel" role="region">
    내용<br>
    내용<br>
    내용<br>
</div>
<div class="hgroup_h3">
    <div>
        <div class="h3">
            <h3>타이틀</h3>
        </div>
    </div>
    <div>
        <button class="tit js_toggle" aria-expanded="false" aria-controls="toggleSample2">상세보기1</button>
    </div>
</div>
<div id="toggleSample2" class="toggle_panel" role="region">
    내용<br>
    내용<br>
    내용<br>
</div>
            </script>
            <div data-class="h3">defalut 오픈</div>
            <script type="text/html">
<div class="hgroup">
    <div>
        <div class="h2">
            <h2>타이틀</h2>
        </div>
    </div>
    <div>
        <button class="tit js_toggle" aria-expanded="true" aria-controls="toggleSample3">상세보기1</button>
    </div>
</div>
<div id="toggleSample3" class="toggle_panel" role="region">
    내용<br>
    내용<br>
    내용<br>
</div>
<div class="hgroup_h3">
    <div>
        <div class="h3">
            <h3>타이틀</h3>
        </div>
    </div>
    <div>
        <button class="tit js_toggle" aria-expanded="true" aria-controls="toggleSample4">상세보기1</button>
    </div>
</div>
<div id="toggleSample4" class="toggle_panel" role="region">
    내용<br>
    내용<br>
    내용<br>
</div>
            </script>
        </div>

<!--         <div data-class="section">
            <div data-class="h1">Button</div>

            <div data-class="notice">텍스트 정의 필요</div>
            <script type="text/html">
<button type="button" class="ico_star toggle" aria-pressed="false"><span class="hidden">즐겨찾기</span></button><br>
<button type="button" class="btn_like toggle" aria-pressed="false"><span class="hidden">상품담기</span></button>
            </script>
        </div> -->
    </div>
    
    <script src="/msbiz/guide/assets/vendor/jquery.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/lodash.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/msbiz/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/msbiz/guide/assets/js/components.js"></script>
    <script src="/msbiz/app/js/common_ui.js"></script>
    <!-- common ui init -->
    <!-- <script src="/msbiz/app/js/common_ui_init.js"></script> -->
    <script>
        // accordion 호출
        UICommon.accordionButton.init();
        // toggle 호출
        // UICommon.toggleButton.init();
    </script>
</body>
</html>