@charset "UTF-8";
@import "/resources/css/common/_variables.css"; /* 디자인 토큰 */
@import "/resources/css/library/swiper.min.css";
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  font-display: swap;
  src: url(/resources/css/fonts/Pretendard-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  font-display: swap;
  src: url(/resources/css/fonts/Pretendard-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  font-display: swap;
  src: url(/resources/css/fonts/Pretendard-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  font-display: swap;
  src: url(/resources/css/fonts/Pretendard-Bold.woff2) format("woff2");
}
:root {
  --upl-font-family-base: var(--upl-font-type), NotoSans, sans-serif;
  --upl-font-size-base: 62.5%;
  --upl-sab: calc(constant(safe-area-inset-bottom) / 2);
  --upl-sab: calc(env(safe-area-inset-bottom) / 2);
  --upl-line-height-none: 1;
  --upl-line-height-base: 1.5;
  --upl-letter-spacing-none: var(--upl-typo-letter-spacing-0);
  --upl-letter-spacing-wide: var(--upl-typo-letter-spacing-1);
  --upl-font-weight-regular: 400;
  --upl-font-weight-bold: 700;
  --upl-transition-base: 0.4s ease-in-out;
  --upl-transition-fade: opacity 0.4s linear;
  --upl-transition-collapse: max-height 0.4s ease;
  --upl-transition-collapse-width: width 0.4s ease;
  --upl-contents-size: 1200px;
  --upl-contents-padding-x: 28px;
  --upl-contents-wrap-size: 1256px;
  --upl-box-shadow-outline: 0 0 0 0.4rem var(--upl-light-color-border-primary);
  --upl-box-shadow-outline-inset: inset 0 0 0 0.2rem var(--upl-light-color-border-primary);
  --upl-zoom-small: 0.9;
  --upl-zoom-medium: 1;
  --upl-zoom-large: 1.1;
  --upl-zoom-xlarge: 1.3;
  --upl-zoom-xxlarge: 1.5;
  --upl-font-underline-offset: 0.3rem;
}

[data-upl-mode=dark] :root {
  --upl-box-shadow-outline: 0 0 0 0.4rem var(--upl-dark-color-border-primary);
  --upl-box-shadow-outline-inset: inset 0 0 0 0.2rem var(--upl-dark-color-border-primary);
}

@media (max-width: 1023px) {
  :root {
    --upl-contents-padding-x: 16px;
  }
}
/*** Icon ***/
.icon {
  display: inline-block;
  width: var(--upl-iconsize-md);
  height: var(--upl-iconsize-md);
  vertical-align: middle;
}
.icon::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}
.icon.xxxs {
  width: var(--upl-iconsize-xxxs);
  height: var(--upl-iconsize-xxxs);
}
.icon.xxs {
  width: var(--upl-iconsize-xxs);
  height: var(--upl-iconsize-xxs);
}
.icon.xsm {
  width: var(--upl-iconsize-xsm);
  height: var(--upl-iconsize-xsm);
}
.icon.sm {
  width: var(--upl-iconsize-sm);
  height: var(--upl-iconsize-sm);
}
.icon.smd {
  width: var(--upl-iconsize-smd);
  height: var(--upl-iconsize-smd);
}
.icon.md {
  width: var(--upl-iconsize-md);
  height: var(--upl-iconsize-md);
}
.icon.mlg {
  width: var(--upl-iconsize-mlg);
  height: var(--upl-iconsize-mlg);
}
.icon.lg {
  width: var(--upl-iconsize-lg);
  height: var(--upl-iconsize-lg);
}
.icon.xlg {
  width: var(--upl-iconsize-xlg);
  height: var(--upl-iconsize-xlg);
}
.icon.xxlg {
  width: var(--upl-iconsize-xxlg);
  height: var(--upl-iconsize-xxlg);
}
.icon.xxxlg {
  width: var(--upl-iconsize-xxxlg);
  height: var(--upl-iconsize-xxxlg);
}
.icon.icon-arrow-right:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-arrow-right.svg);
  mask-image: url(../../img/component/icon/icon-arrow-right.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-arrow-right.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-arrow-left:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-arrow-left.svg);
  mask-image: url(../../img/component/icon/icon-arrow-left.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-arrow-left.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-arrow-down:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-arrow-down.svg);
  mask-image: url(../../img/component/icon/icon-arrow-down.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-arrow-up:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-arrow-up.svg);
  mask-image: url(../../img/component/icon/icon-arrow-up.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-arrow-up.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-system-info:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-system-info.svg);
  mask-image: url(../../img/component/icon/icon-system-info.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-system-info.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-close:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-close.svg);
  mask-image: url(../../img/component/icon/icon-close.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-close.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-delete:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-delete.svg);
  mask-image: url(../../img/component/icon/icon-delete.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-delete.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-duplicate:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-duplicate.svg);
  mask-image: url(../../img/component/icon/icon-duplicate.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-duplicate.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-info:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-info.svg);
  mask-image: url(../../img/component/icon/icon-info.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-info.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-success:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-success.svg);
  mask-image: url(../../img/component/icon/icon-success.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-success.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-error:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-error.svg);
  mask-image: url(../../img/component/icon/icon-error.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-error.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-tooltip:before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-tooltip.svg);
  mask-image: url(../../img/component/icon/icon-tooltip.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-tooltip.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-duplicate-mask:before {
  background-color: var(--upl-light-color-text-basic);
  background-image: none;
  forced-color-adjust: none;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-duplicate.svg);
  mask-image: url(../../img/component/icon/icon-duplicate.svg);
}
.icon.icon-angle::before {
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  -webkit-mask-image: url(../../img/component/icon/icon-arrow-down.svg);
  mask-image: url(../../img/component/icon/icon-arrow-down.svg);
  -webkit-mask-image: none;
  mask-image: none;
  background-image: url(../../img/component/icon/icon-arrow-down.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  -webkit-mask: none;
  mask: none;
}
.icon.icon-angle.up::before {
  transform: rotate(180deg);
}
.icon.icon-angle.left::before {
  transform: rotate(90deg);
}
.icon.icon-angle.right::before {
  transform: rotate(-90deg);
}

/* reset */
html, body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: var(--upl-font-family-base);
  color: var(--upl-light-color-text-basic);
  font-weight: var(--upl-font-weight-regular);
  line-height: var(--upl-line-height-base);
  word-break: keep-all;
  word-wrap: break-word;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: var(--upl-font-size-base);
}

body {
  background-color: var(--upl-light-color-background-white);
  font-size: var(--upl-font-size-body-medium);
  overflow-x: hidden;
}

[data-upl-mode=dark] html, [data-upl-mode=dark] body {
  color: var(--upl-dark-color-text-basic);
}
[data-upl-mode=dark] body {
  background-color: var(--upl-dark-color-background-white);
}

*:focus {
  outline: 0.2rem solid var(--upl-light-color-border-inverse);
}

::-moz-selection {
  background: var(--upl-color-light-secondary-50);
  color: var(--upl-color-light-gray-0);
}

::selection {
  background: var(--upl-color-light-secondary-50);
  color: var(--upl-color-light-gray-0);
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
a,
button,
select,
ul,
li,
span,
em,
label,
:before,
:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  font-family: inherit;
  line-height: var(--upl-line-height-base);
  letter-spacing: inherit;
}

pre {
  font-family: inherit;
}

input,
textarea,
a,
button,
select,
span,
label,
:before,
:after {
  font-size: inherit;
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: var(--upl-font-weight-bold);
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
fieldset {
  border: 0;
}

fieldset {
  min-width: 100%;
}

img {
  max-width: 100%;
  vertical-align: top;
}

ul,
ol {
  list-style: none;
}

em,
address,
i {
  font-style: normal;
}

a,
a:hover,
a:active,
a:focus {
  color: inherit;
  text-decoration: none;
}

button,
input[type=submit],
input[type=button] {
  overflow: visible;
  margin: 0;
  background-color: transparent;
  border: none;
  -webkit-appearance: button;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

textarea {
  resize: none;
}

label {
  cursor: pointer;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=text],
input[type=tel],
input[type=password],
input[type=file],
input[type=number],
input[type=email],
input[type=date],
input[type=search],
textarea {
  -webkit-box-shadow: none;
  box-shadow: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

input[type=number] {
  -moz-appearance: textfield;
  margin: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=text]::-ms-clear {
  display: none;
}

caption {
  position: static !important;
  margin: 0 !important;
}

table {
  table-layout: fixed;
  max-width: none;
  width: auto;
  min-width: 100%;
  border-collapse: collapse;
}

[role=button] {
  cursor: pointer;
}

.img img {
  min-width: 100%;
  max-width: 100%;
}

.img.bg-img {
  background-size: cover;
}

.blind,
hr,
.sr-only,
.hidden,
legend,
caption {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.al {
  text-align: left !important;
}

.ac {
  text-align: center !important;
}

.ar {
  text-align: right !important;
}

.scroll {
  overflow: auto;
  position: relative;
  width: 100%;
}

.underline {
  text-decoration: underline;
  text-underline-offset: var(--upl-font-underline-offset);
}

.break-all {
  word-break: break-all;
}

.svg-icon {
  background-color: var(--upl-light-color-text-basic);
  background-image: none;
  forced-color-adjust: none;
}
.svg-icon.pure {
  background-color: var(--upl-light-color-text-basic);
  background-image: none;
  background-color: transparent !important;
  forced-color-adjust: none;
}

@media (max-width: 767px) {
  .pc-only {
    display: none !important;
  }
  .pc-only.read {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .mob-line {
    display: block;
    line-height: inherit;
  }
}
@media (min-width: 768px) {
  .mob-only {
    display: none !important;
  }
  .mob-only.read {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
  .pc-line {
    display: block;
    line-height: inherit;
  }
}
.rd-2 {
  border-radius: var(--upl-radius-2);
}

.rd-4 {
  border-radius: var(--upl-radius-4);
}

.rd-6 {
  border-radius: var(--upl-radius-6);
}

.rd-8 {
  border-radius: var(--upl-radius-8);
}

.rd-10 {
  border-radius: var(--upl-radius-10);
}

.rd-12 {
  border-radius: var(--upl-radius-12);
}

.rd-14 {
  border-radius: var(--upl-radius-14);
}

.rd-16 {
  border-radius: var(--upl-radius-16);
}

.rd-18 {
  border-radius: var(--upl-radius-18);
}

.rd-20 {
  border-radius: var(--upl-radius-20);
}

.rd-max {
  border-radius: var(--upl-radius-max);
}

.mg-2 {
  margin: var(--upl-gap-2);
}

.mgt-2 {
  margin-top: var(--upl-gap-2);
}

.mgb-2 {
  margin-bottom: var(--upl-gap-2);
}

.mgl-2 {
  margin-left: var(--upl-gap-2);
}

.mgr-2 {
  margin-right: var(--upl-gap-2);
}

.mg-4 {
  margin: var(--upl-gap-4);
}

.mgt-4 {
  margin-top: var(--upl-gap-4);
}

.mgb-4 {
  margin-bottom: var(--upl-gap-4);
}

.mgl-4 {
  margin-left: var(--upl-gap-4);
}

.mgr-4 {
  margin-right: var(--upl-gap-4);
}

.mg-6 {
  margin: var(--upl-gap-6);
}

.mgt-6 {
  margin-top: var(--upl-gap-6);
}

.mgb-6 {
  margin-bottom: var(--upl-gap-6);
}

.mgl-6 {
  margin-left: var(--upl-gap-6);
}

.mgr-6 {
  margin-right: var(--upl-gap-6);
}

.mg-8 {
  margin: var(--upl-gap-8);
}

.mgt-8 {
  margin-top: var(--upl-gap-8);
}

.mgb-8 {
  margin-bottom: var(--upl-gap-8);
}

.mgl-8 {
  margin-left: var(--upl-gap-8);
}

.mgr-8 {
  margin-right: var(--upl-gap-8);
}

.mg-10 {
  margin: var(--upl-gap-10);
}

.mgt-10 {
  margin-top: var(--upl-gap-10);
}

.mgb-10 {
  margin-bottom: var(--upl-gap-10);
}

.mgl-10 {
  margin-left: var(--upl-gap-10);
}

.mgr-10 {
  margin-right: var(--upl-gap-10);
}

.mg-12 {
  margin: var(--upl-gap-12);
}

.mgt-12 {
  margin-top: var(--upl-gap-12);
}

.mgb-12 {
  margin-bottom: var(--upl-gap-12);
}

.mgl-12 {
  margin-left: var(--upl-gap-12);
}

.mgr-12 {
  margin-right: var(--upl-gap-12);
}

.mg-14 {
  margin: var(--upl-gap-14);
}

.mgt-14 {
  margin-top: var(--upl-gap-14);
}

.mgb-14 {
  margin-bottom: var(--upl-gap-14);
}

.mgl-14 {
  margin-left: var(--upl-gap-14);
}

.mgr-14 {
  margin-right: var(--upl-gap-14);
}

.mg-16 {
  margin: var(--upl-gap-16);
}

.mgt-16 {
  margin-top: var(--upl-gap-16);
}

.mgb-16 {
  margin-bottom: var(--upl-gap-16);
}

.mgl-16 {
  margin-left: var(--upl-gap-16);
}

.mgr-16 {
  margin-right: var(--upl-gap-16);
}

.mg-18 {
  margin: var(--upl-gap-18);
}

.mgt-18 {
  margin-top: var(--upl-gap-18);
}

.mgb-18 {
  margin-bottom: var(--upl-gap-18);
}

.mgl-18 {
  margin-left: var(--upl-gap-18);
}

.mgr-18 {
  margin-right: var(--upl-gap-18);
}

.mg-20 {
  margin: var(--upl-gap-20);
}

.mgt-20 {
  margin-top: var(--upl-gap-20);
}

.mgb-20 {
  margin-bottom: var(--upl-gap-20);
}

.mgl-20 {
  margin-left: var(--upl-gap-20);
}

.mgr-20 {
  margin-right: var(--upl-gap-20);
}

.mg-24 {
  margin: var(--upl-gap-24);
}

.mgt-24 {
  margin-top: var(--upl-gap-24);
}

.mgb-24 {
  margin-bottom: var(--upl-gap-24);
}

.mgl-24 {
  margin-left: var(--upl-gap-24);
}

.mgr-24 {
  margin-right: var(--upl-gap-24);
}

.mg-28 {
  margin: var(--upl-gap-28);
}

.mgt-28 {
  margin-top: var(--upl-gap-28);
}

.mgb-28 {
  margin-bottom: var(--upl-gap-28);
}

.mgl-28 {
  margin-left: var(--upl-gap-28);
}

.mgr-28 {
  margin-right: var(--upl-gap-28);
}

.mg-32 {
  margin: var(--upl-gap-32);
}

.mgt-32 {
  margin-top: var(--upl-gap-32);
}

.mgb-32 {
  margin-bottom: var(--upl-gap-32);
}

.mgl-32 {
  margin-left: var(--upl-gap-32);
}

.mgr-32 {
  margin-right: var(--upl-gap-32);
}

.mg-40 {
  margin: var(--upl-gap-40);
}

.mgt-40 {
  margin-top: var(--upl-gap-40);
}

.mgb-40 {
  margin-bottom: var(--upl-gap-40);
}

.mgl-40 {
  margin-left: var(--upl-gap-40);
}

.mgr-40 {
  margin-right: var(--upl-gap-40);
}

.mg-48 {
  margin: var(--upl-gap-48);
}

.mgt-48 {
  margin-top: var(--upl-gap-48);
}

.mgb-48 {
  margin-bottom: var(--upl-gap-48);
}

.mgl-48 {
  margin-left: var(--upl-gap-48);
}

.mgr-48 {
  margin-right: var(--upl-gap-48);
}

.mg-52 {
  margin: var(--upl-gap-52);
}

.mgt-52 {
  margin-top: var(--upl-gap-52);
}

.mgb-52 {
  margin-bottom: var(--upl-gap-52);
}

.mgl-52 {
  margin-left: var(--upl-gap-52);
}

.mgr-52 {
  margin-right: var(--upl-gap-52);
}

.mg-56 {
  margin: var(--upl-gap-56);
}

.mgt-56 {
  margin-top: var(--upl-gap-56);
}

.mgb-56 {
  margin-bottom: var(--upl-gap-56);
}

.mgl-56 {
  margin-left: var(--upl-gap-56);
}

.mgr-56 {
  margin-right: var(--upl-gap-56);
}

.mg-60 {
  margin: var(--upl-gap-60);
}

.mgt-60 {
  margin-top: var(--upl-gap-60);
}

.mgb-60 {
  margin-bottom: var(--upl-gap-60);
}

.mgl-60 {
  margin-left: var(--upl-gap-60);
}

.mgr-60 {
  margin-right: var(--upl-gap-60);
}

.mg-64 {
  margin: var(--upl-gap-64);
}

.mgt-64 {
  margin-top: var(--upl-gap-64);
}

.mgb-64 {
  margin-bottom: var(--upl-gap-64);
}

.mgl-64 {
  margin-left: var(--upl-gap-64);
}

.mgr-64 {
  margin-right: var(--upl-gap-64);
}

.mg-68 {
  margin: var(--upl-gap-68);
}

.mgt-68 {
  margin-top: var(--upl-gap-68);
}

.mgb-68 {
  margin-bottom: var(--upl-gap-68);
}

.mgl-68 {
  margin-left: var(--upl-gap-68);
}

.mgr-68 {
  margin-right: var(--upl-gap-68);
}

.mg-72 {
  margin: var(--upl-gap-72);
}

.mgt-72 {
  margin-top: var(--upl-gap-72);
}

.mgb-72 {
  margin-bottom: var(--upl-gap-72);
}

.mgl-72 {
  margin-left: var(--upl-gap-72);
}

.mgr-72 {
  margin-right: var(--upl-gap-72);
}

.pd-2 {
  padding: var(--upl-padding-2);
}

.pdt-2 {
  padding-top: var(--upl-padding-2);
}

.pdb-2 {
  padding-bottom: var(--upl-padding-2);
}

.pdl-2 {
  padding-left: var(--upl-padding-2);
}

.pdr-2 {
  padding-right: var(--upl-padding-2);
}

.pd-4 {
  padding: var(--upl-padding-4);
}

.pdt-4 {
  padding-top: var(--upl-padding-4);
}

.pdb-4 {
  padding-bottom: var(--upl-padding-4);
}

.pdl-4 {
  padding-left: var(--upl-padding-4);
}

.pdr-4 {
  padding-right: var(--upl-padding-4);
}

.pd-6 {
  padding: var(--upl-padding-6);
}

.pdt-6 {
  padding-top: var(--upl-padding-6);
}

.pdb-6 {
  padding-bottom: var(--upl-padding-6);
}

.pdl-6 {
  padding-left: var(--upl-padding-6);
}

.pdr-6 {
  padding-right: var(--upl-padding-6);
}

.pd-8 {
  padding: var(--upl-padding-8);
}

.pdt-8 {
  padding-top: var(--upl-padding-8);
}

.pdb-8 {
  padding-bottom: var(--upl-padding-8);
}

.pdl-8 {
  padding-left: var(--upl-padding-8);
}

.pdr-8 {
  padding-right: var(--upl-padding-8);
}

.pd-10 {
  padding: var(--upl-padding-10);
}

.pdt-10 {
  padding-top: var(--upl-padding-10);
}

.pdb-10 {
  padding-bottom: var(--upl-padding-10);
}

.pdl-10 {
  padding-left: var(--upl-padding-10);
}

.pdr-10 {
  padding-right: var(--upl-padding-10);
}

.pd-12 {
  padding: var(--upl-padding-12);
}

.pdt-12 {
  padding-top: var(--upl-padding-12);
}

.pdb-12 {
  padding-bottom: var(--upl-padding-12);
}

.pdl-12 {
  padding-left: var(--upl-padding-12);
}

.pdr-12 {
  padding-right: var(--upl-padding-12);
}

.pd-14 {
  padding: var(--upl-padding-14);
}

.pdt-14 {
  padding-top: var(--upl-padding-14);
}

.pdb-14 {
  padding-bottom: var(--upl-padding-14);
}

.pdl-14 {
  padding-left: var(--upl-padding-14);
}

.pdr-14 {
  padding-right: var(--upl-padding-14);
}

.pd-16 {
  padding: var(--upl-padding-16);
}

.pdt-16 {
  padding-top: var(--upl-padding-16);
}

.pdb-16 {
  padding-bottom: var(--upl-padding-16);
}

.pdl-16 {
  padding-left: var(--upl-padding-16);
}

.pdr-16 {
  padding-right: var(--upl-padding-16);
}

.pd-18 {
  padding: var(--upl-padding-18);
}

.pdt-18 {
  padding-top: var(--upl-padding-18);
}

.pdb-18 {
  padding-bottom: var(--upl-padding-18);
}

.pdl-18 {
  padding-left: var(--upl-padding-18);
}

.pdr-18 {
  padding-right: var(--upl-padding-18);
}

.pd-20 {
  padding: var(--upl-padding-20);
}

.pdt-20 {
  padding-top: var(--upl-padding-20);
}

.pdb-20 {
  padding-bottom: var(--upl-padding-20);
}

.pdl-20 {
  padding-left: var(--upl-padding-20);
}

.pdr-20 {
  padding-right: var(--upl-padding-20);
}

.pd-22 {
  padding: var(--upl-padding-22);
}

.pdt-22 {
  padding-top: var(--upl-padding-22);
}

.pdb-22 {
  padding-bottom: var(--upl-padding-22);
}

.pdl-22 {
  padding-left: var(--upl-padding-22);
}

.pdr-22 {
  padding-right: var(--upl-padding-22);
}

.pd-24 {
  padding: var(--upl-padding-24);
}

.pdt-24 {
  padding-top: var(--upl-padding-24);
}

.pdb-24 {
  padding-bottom: var(--upl-padding-24);
}

.pdl-24 {
  padding-left: var(--upl-padding-24);
}

.pdr-24 {
  padding-right: var(--upl-padding-24);
}

.pd-26 {
  padding: var(--upl-padding-26);
}

.pdt-26 {
  padding-top: var(--upl-padding-26);
}

.pdb-26 {
  padding-bottom: var(--upl-padding-26);
}

.pdl-26 {
  padding-left: var(--upl-padding-26);
}

.pdr-26 {
  padding-right: var(--upl-padding-26);
}

.pd-28 {
  padding: var(--upl-padding-28);
}

.pdt-28 {
  padding-top: var(--upl-padding-28);
}

.pdb-28 {
  padding-bottom: var(--upl-padding-28);
}

.pdl-28 {
  padding-left: var(--upl-padding-28);
}

.pdr-28 {
  padding-right: var(--upl-padding-28);
}

.pd-30 {
  padding: var(--upl-padding-30);
}

.pdt-30 {
  padding-top: var(--upl-padding-30);
}

.pdb-30 {
  padding-bottom: var(--upl-padding-30);
}

.pdl-30 {
  padding-left: var(--upl-padding-30);
}

.pdr-30 {
  padding-right: var(--upl-padding-30);
}

.pd-32 {
  padding: var(--upl-padding-32);
}

.pdt-32 {
  padding-top: var(--upl-padding-32);
}

.pdb-32 {
  padding-bottom: var(--upl-padding-32);
}

.pdl-32 {
  padding-left: var(--upl-padding-32);
}

.pdr-32 {
  padding-right: var(--upl-padding-32);
}

/* 라이브러리리 */
