//icon setting
@mixin icon-set ($name, $effect: null) {
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-size: contain;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-size: contain;
	-webkit-mask-image: url(#{$url}/img/component/icon/#{$name});
	mask-image: url(#{$url}/img/component/icon/#{$name});
	@if ($effect == 'pure') { //mask 효과 없이 사용
		-webkit-mask-image: none;
		mask-image: none;
		background-image: url(#{$url}/img/component/icon/#{$name});
		background-color: transparent;
		-webkit-mask: none;
		mask: none;
	}
}

//icon mask ( 추후 변경 예정 )
@mixin svg-icon($size: var(--upl-iconsize-md), $mode: light, $effect: null) {
	//@include square($size);
	background-color: var(--upl-#{$mode}-color-text-basic);
	background-image: none;
	@if ($effect == 'pure') { //mask 효과 없이 디자인된 svg 그대로 사용
		background-color: transparent !important;
	}
	forced-color-adjust: none;
}