@charset "utf-8";

/*
@import url("http://img1.kbstar.com/css/obzloan/agreement.css");
*/

.loadings {display:none;position:fixed;top:0;left:0;bottom:0;width:100%;height:100%;min-height:100%;background-color:rgba(0,0,0,.7);z-index:9999 !important}
.loadings.on {display:block;}
.loadings .circle {position:absolute;top:40%;left:50%;margin:0px 0 0 -50px;}
.loadings .circle .img {position:absolute;top:6px;left:50%;z-index:10;width:86px;height:86px;margin-left:6px;border-radius:50%;background:url('/mobiz/app/img/2020/loading.gif') #f5b826 no-repeat 50% 50%;background-size:86px 86px}
.loadings .circle:after {content:'';position:absolute;top:0;left:0;width:98px;height:98px;background:rgba(0,0,0,0.3);border-radius:50%;}
.loadings .circle .mask,
.loadings .circle .fill {width:98px;height:98px;position:absolute;z-index:1;border-radius:50%;}
.loadings .circle .mask {clip:rect(0px, 98px, 98px, 49px);} 
.loadings .circle .mask .fill {clip:rect(0px, 49px, 98px, 0px);background:#fff;}
.loadings .circle .mask.full,
.loadings .circle .fill {
	animation:fill ease-in-out 25s;transform:rotate(180deg);
}
@keyframes fill{
	0%{
		-webkit-transform:rotate(0deg);
		transform:rotate(0deg);
	}
	100%{
		-webkit-transform:rotate(180deg);
		transform:rotate(180deg);
	}	
}
.u-2020 .loadings .text {position:absolute;top:50%;left:0;width:100%;margin-top:110px;padding:0 20px;text-align:center;color:#fff;font-weight:bold;}

.u-2020.con_sp02.agreement {padding:22px 16px 96px !important;}

.u-2020 .write_type01 dt {margin-top:22px; font-size:14px !important;font-weight:normal;color:#4c4c4c}
.u-2020 .write_type01 dt h3 {margin-top:40px !important;font-size:18px !important;color:#222;}
.u-2020 .write_type01 dd {min-height:23px;margin:12px 0 -2px 0;padding:0; color:#222; font-weight:bold; font-size:17px;line-height:25px;}
.u-2020 .write_type01 dd > select {margin-top:-12px;}
.u-2020 .agree_box.asis {margin-bottom:25px;padding:0;border:0;border-top:1px solid #222;}
.u-2020 .agree_box.asis > ul > li {padding:10px 0;border-bottom:1px solid #e5e5e5;font-size:13px;font-weight:normal;color:#222;font-weight:bold;}
.u-2020 .agree_box.asis > ul > li ul li {padding:0;border-bottom:0;color:#4c4c4c;font-size:13px;font-weight:normal;line-height:20px;}
.u-2020 .agree_box.asis > ul > li ul li input[type=checkbox] + label {padding-top:0;padding-bottom:0;}
.u-2020 .agree_box.asis > ul > li ul li input[type=checkbox] {width:17px;height:17px;background-size:auto 17px;margin-right:8px;}
.u-2020 .agree_box.asis > ul > li ul li input[type=checkbox]:checked {background-position:-34px 0}
.u-2020 .agree_box.asis > ul > li ul li input[type=checkbox]:disabled {background-position:-17px 0;background-color:#fff}

.u-2020.usebottom {padding-bottom:96px !important;}
.u-2020.usebottom .guide_box {margin:0 -16px;padding:22px 16px 13px;border-left:0;border-right:0;background:transparent;}
.u-2020 .ulist01 > li {position:relative;background:none;}
.u-2020 .ulist01 > li:before {content: '';position: absolute;top:8px;left: 0;display: block;width:4px;height:4px;border-radius:50%;border:1px solid #888;background:none}
.u-2020.usebottom  #id_carendar1 {position:relative;}
.u-2020.usebottom  #id_carendar1 .btn_calendar {position:absolute; right:0; bottom:10px;}
.u-2020.usebottom .btn-ty6.lv4 {line-height:32px;}
.u-2020 .relist {background:#fff;}
.u-2020 .relist li:first-child {margin-top:0;}
.u-2020 .relist li {margin-top:6px;}
.u-2020 .tab_st04.tab_4 ul li .tit {margin-top:0;}
#content.u-2020  h2 {color:#222;}
.u-2020 .list_type01.asis li {position:relative;}
.u-2020 .list_type01.asis li .txt_title {margin-left:-16px;}
.u-2020 .list_type01.asis li .tline {position:absolute;top:14px;right:0;}
.u-2020 .list_type01.asis li dl.list-grid {padding:0;border:0}
.u-2020 .list_type01.asis li span,
.u-2020 .list_type01.asis li em {font-size:14px;}
.u-2020 .list_type01.asis li .cont em {font-size:16px;font-weight: bold;color:#222;}
.u-2020 .list_type01.asis li .price {color:#222;}

.pop-title {font-size:14px;}
.figure {font-size:17px;font-weight:bold;}
.figure em {font-weight:normal;font-size:14px;}


/* layout */
.u-2020.bg-gray {background:#f8f8f8;}
.u-2020 .box-white {margin:0 -16px -25px -16px;padding:0 16px 25px 16px;background:#fff;}
.u-2020.con_sp02{padding: 22px 16px 0 16px;}
.u-2020 h2 {color:#222;font-size:18px !important;}
.u-2020 h2.tit-dep1 {color:#222 !important;}

/* common */
.u-2020 input[type=tel], .u-2020 input[type=text], .u-2020 input[type=password], .u-2020 input[type=search], .u-2020 input[type=email], .u-2020 input[type=file] {width:100%;height:40px;}
.u-2020 input[type=tel],
.u-2020 input[type=text],
.u-2020 input[type=password],
.u-2020 input[type=search],
.u-2020 input[type=email],
.u-2020 input[type=file] {background:transparent none;-webkit-appearance:none;outline:none;}
.u-2020 input[type=tel]:focus,
.u-2020 input[type=text]:focus,
.u-2020 input[type=password]:focus,
.u-2020 input[type=search]:focus,
.u-2020 input[type=email]:focus,
.u-2020 input[type=file]:focus {background:#fff;border-bottom:1px solid #ffcc00;}

.u-2020 .txt-cmt {line-height:16px;}
.u-2020 [class*=icon-].msg-box {padding:112px 0 0px;}
.u-2020 .over-gray-area {margin-bottom:0 !important;}
.u-2020 .ipt,
.u-2020 #id_empno input,
.u-2020 #div_cellphone input,
.u-2020 .ipt-wrap.calendar input,
.u-2020 .security_keypad {height:40px;}
.u-2020 .txt-nor {color:#222 !important;}
.u-2020 .ipt[readonly]:focus {padding:0 25px 0 0 !important;}
.u-2020 .ipt[readonly], 
.u-2020 .ipt[disabled] {padding-top:0;}
.u-2020 .ipt.focus-on[readonly],
.u-2020 .ipt.focus-on[disabled] {background-color:#eee !important}
.u-2020 input[type=tel], .u-2020 input[type=text], .u-2020 input[type=password], .u-2020 input[type=search], .u-2020 input[type=email], .u-2020 input[type=file], .u-2020 textarea {padding:0;}
.u-2020 .ipt, .u-2020 #id_empno input, .u-2020 #div_cellphone input, .u-2020 .ipt-wrap.calendar input, .u-2020 .security_keypad {margin-top:5px;}
.u-2020 .ipt-wrap + .ipt-wrap .ipt {margin-top:7px;}
.u-2020 .term-wrap  + .list-form {padding-top:15px;}
.u-2020 select {color:#222;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none}

.u-2020 .item_desc {margin-top:4px;}
.u-2020 .check_ps01,
.u-2020 .check_ps03 {margin-top:5px;}
.u-2020 .write_type01 dt {margin:23px 0 0 0;}

.u-2020 .guide_box {margin-bottom:25px;}
.u-2020 .box-ty1, .u-2020 .box-ty3 {margin-top:23px;padding:12px 16px 14px;}
.u-2020 .ipt-wrap + .box-ty1{margin-top:25px;}
.u-2020 .ipt-wrap + .btn-area.full{margin-top:25px;}
.u-2020 select {height:40px;font-size:16px;line-height:40px;}
.u-2020 .ty4 {margin-top:10px;}

/* margin */
.u-2020 ._mb5rm {}
.u-2020 .mt14 {margin-top:14px !important}
.u-2020 .mt22 {margin-top:22px !important}
.u-2020 .mt32 {margin-top:32px !important}
.u-2020 .mt37 {margin-top:37px !important}

.u-2020 .msg-box + .small-table {margin-top:23px;}

.u-2020 .pop-contents > .tal:first-child {margin-top:-3px;}
.u-2020 .pop-contents .tal + .pop-agreement-wrap {margin-top:8px}
.u-2020 .layerwrap p {font-size:14px;}

.u-2020 .loan-pop-cont .str {margin-top:14px;}
.u-2020 .guide_box + .tit-dep1:first-of-type {margin:0 0 8px 0 !important;padding-top:2px;}
/* .u-2020 .tit-dep1 {padding-top:2px;} */
.u-2020 h2 + .box-ty3 {margin-top:11px;}

.u-2020 .sel, .u-2020 .sel-wrap select {margin-top:5px;}

.u-2020 .msg-box.left-msg {margin-bottom:40px;padding:35px 0 0 0;text-align:left;}
.u-2020 .msg-box.left-msg:before {top:30px !important;left:8px !important;margin:0 !important;}
.u-2020 .msg-box.left-msg .msg-tit {display:block;min-height:42px;padding:0 0 0 87px;font-size:18px;}
.u-2020 .msg-box.left-msg p {margin-top:16px;font-size:15px;color:#222;}

/* AS-IS style */
.u-2020 .write_type01 select {width:100%;font-size:17px;}
.u-2020 .write_type01 input[type="text"],
.u-2020 .write_type01 input[type="email"],
.u-2020 .write_type01 input[type="tel"] {width:100%;font-size:17px;}
.u-2020 dd.cal_wrap {margin-bottom:0;}
.u-2020 dd.cal_wrap input:focus {background-color:#fff;}
.u-2020 dd.cal_wrap a.btn_calendar {position:absolute; right:0; top:10px;}
.u-2020 .write_type01 select {outline:none;}
.u-2020 .write_type01 input[type="text"]:focus,
.u-2020 .write_type01 input[type="email"]:focus,
.u-2020 .write_type01 input[type="tel"]:focus,
.u-2020 .write_type01 dd.cal_wrap input:focus,
.u-2020 .security_keypad:focus {outline:none;background-color:#fff;border-bottom-color:#ffcc00}
.u-2020.from_st1 .possible-area .tit-dep4 {margin-bottom:9px;}

/* personal-wrap */
.u-2020 .personal-wrap .box-area .mymenu .btn-notice {position:absolute; right:88px; top:23px; padding-left:18px; font-size:13px; line-height:17px; color:#222;}
.u-2020 .personal-wrap .box-area .mymenu .btn-notice:before{content:''; display:block; position:absolute; left:0; top:4px; width:12px; height:9px; background:url(/mobiz/app/img/2020/sp_mypage_notice.png) no-repeat left center; background-size:12px 9px;}
.u-2020 .personal-wrap .box-area .mymenu .btn-notice.new:after {content:''; display:block; position:absolute; right:-5px; top:1px; width:3px; height:3px; background-color:#d63200; border-radius:50%;}

/* text */
.u-2020 .text-gray {color:#4c4c4c;}
.u-2020 .txt-black {color:#222 !important;}
.u-2020 .txt-blue {color:#3788dc !important}
.u-2020 .txt-orange {color:#f46600 !important}

/* textarea */
.u-2020 .tit2 + .textarea-wrap {margin-top:7px;}
.u-2020 .textarea-wrap textarea {min-height:100px; padding:10px 15px; resize:none; border:1px solid #f8f8f8; background-color:#f8f8f8;}

/* title */
.u-2020 .tit-dep4 {padding:16px 0 0 0; color:#222; font-size:18px;}
.u-2020 .sel-wrap + .tit1 {margin-top:40px;}
.u-2020 .small-table + .tit-dep1 {padding-top:40px;}

/* box type */
.u-2020 .guide_box.advice {margin-top:15px; border:none}
.u-2020 .guide_box.advice + .btn-area.full {margin-top:30px;}
.u-2020 .guide_box.advice .list-ty1.gray > li:before {background-color:#707070; border:none}
.u-2020 .box-ty1 .tit {margin-top:0;}
.u-2020 .box-ty2.bbn {border-bottom:none}
.u-2020 .box-ty2 {padding:22px 16px 13px;}


/* button */
.u-2020 [class^=btn-ty] {font-size:18px;}
/* .u-2020 [class^=btn-ty].lv2 {font-size:14px;} */
.u-2020 .btn-ty2 {height:56px;border:1px solid #ddd;background-color:#fff}
.u-2020 .btn-ty3:disabled {color:#999}
.u-2020 .btn-ty6 {color:#fff; border:none; background-color:#666;}
.u-2020 .btn-ty7 {color:#4c4c4c; border:none; background-color:#e5e5e5}
.u-2020 .btn-ty8 {color:#222; border:1px solid #ddd; background-color:#fff}

.u-2020 .half-new:after {content:''; display:block; clear:both;}
.u-2020 .half-new button {float:left; width:calc(50% - 2px)}
.u-2020 .half-new button ~ button {margin-left:4px}

.u-2020 .btn-area.move {position:fixed; bottom:0; transition:1s all;}
.u-2020 .btn-area.move.on {bottom:0;}

.u-2020 .btn-area.add {margin-top:0;}
.u-2020 .btn-area.add button {border-top:none; border-color:#ccc}
.u-2020 .btn-area.add button span {display:inline-block; position:relative; top:-3px; width:11px; height:6px; margin-left:7px; background:url(/mobiz/app/img/2020/ico_add_dot.png) 0 0 no-repeat; background-size:100% 100%}

.u-2020 .btn-area .more span {display:inline-block; position:relative; top:-1px; width:10px; height:10px; margin-left:7px; background:url(/mobiz/app/img/2020/ico_more_plus.png) 0 0 no-repeat; background-size:100% 100%}
.u-2020 .btn-area .s-font {position:relative;top:-6px;font-size:14px;}

.u-2020 .enter_triple:after {content:''; display:block; clear:both;}
.u-2020 .enter_triple button {display:block; float:left; width:calc(25% - 4px)}
.u-2020 .enter_triple button ~ button {margin-left:4px;}
.u-2020 .enter_triple .long {width:50%}

.u-2020 .chk {width:17px;height:17px;margin-right:7px;margin-top:1px;background:url('/mobiz/app/img/2019/checkbox.png') no-repeat 0 0;background-size:400% 100%;vertical-align:middle}
/* .u-2020 .chk:checked {background-position:-34px 0}  */
.u-2020 .chk[readonly], 
.u-2020 .chk[disabled] {background-position:-17px 0}
.u-2020 .chk[readonly]:checked, 
.u-2020 .chk[disabled]:checked {background-position:-51px 0}
.u-2020 .chk + label {display:inline-block;padding:0 8px 0 0;font-size:16px;line-height:22px;color:#222;vertical-align:top}
/* 2022-09-07 checkbox checked position 추가 */
.u-2020 .chk.chkd:checked {background-position:-34px 0} 

.u-2020 .ext-list-wrap.loan-lnqure-result .list  .chk[readonly], 
.u-2020 .ext-list-wrap.loan-lnqure-result .list  .chk[disabled] {background-position:-22px 0}
.u-2020 .mt16 {margin-top:16px;}
.u-2020 .mt25 {margin-top:25px;}
.u-2020 .border-non {border:0 !important;}

.u-2020 .reading-list-chk {position:relative;margin-top:15px;padding:0 0 20px 32px}
.u-2020 .reading-list-chk .chk {width:17px; height:17px; position:absolute;top:3px;left:0;}
.u-2020 .reading-list-chk .chk[type=checkbox]:checked{background-position:-34px 0;}
.u-2020 .reading-list-chk .chk + label {font-size:14px;}

.u-2020 .btn_camera, 
.u-2020 .btn_gallery {margin-bottom:8px;padding:0 !important;border:0 !important;}
.u-2020 .btn_camera a {display:block;border:1px solid #e5e5e5;text-indent:64px;background:url(/mobiz/app/img/2020/ico_camera.png) no-repeat 22px center;background-size:35px 35px;line-height:72px;font-size:16px;font-weight:bold;}
.u-2020 .btn_gallery a {display:block;border:1px solid #e5e5e5;text-indent:64px;background:url(/mobiz/app/img/2020/img_gallery.png) no-repeat 22px center;background-size:35px 35px;line-height:72px;font-size:16px;font-weight:bold;}
.u-2020 .btn_camera:before,
.u-2020 .btn_gallery:before {width:8px !important;height:15px !important;right:12px !important;}

/* ars */
.u-2020 .ars-call {margin-top:28px;margin-bottom:3px;border:1px solid #e5e5e5;line-height:60px; text-align:left}
.u-2020 .ars-call a{height:70px;line-height:70px;color:#222; font-size:16px;padding:0 0 0 67px;font-weight:bold; display:block; color: #222; position:relative}
.u-2020 .ars-call a:before {content:''; position:absolute;width:35px; height:35px; top:17px; left:20px;background:url('/mobiz/app/img/2020/ars_tfn.png') no-repeat 0 0;background-size:35px auto; }
.u-2020 .ars-call a:after {content:''; position:absolute;width:8px; height:15px; top:29px; right:12px;background: url(/mobiz/app/img/2020/ico_reading_dot.png) center no-repeat; background-size: 7px 13px;}

/* term */
.u-2020 .term-group .chk + label {font-size:15px;line-height:24px;}
.u-2020 .term-wrap .required + label span {vertical-align:top;color:#3788dc;line-height:23px;}
.u-2020 .term-wrap label span {vertical-align:top;line-height:24px;}
.u-2020 .term-wrap .list > li.has-btn.ty3 {padding:16px 24px 13px 31px;}
.u-2020 .term-wrap .list > li.has-btn.ty3 .chk {top:18px;left:0;}
.u-2020 .term-wrap .term-tit .btn-arrow:before {content:none;}
.u-2020 .term-wrap .term-tit .chk {width:22px;height:22px;}
.u-2020 .term-wrap .term-tit .chk:checked {background-position:-44px 0}
.u-2020 .term-wrap .has-btn .btn-arrow:before {top:22px;}

.u-2020 .term-wrap .list .select-term-wrap {padding-left:31px; background-color:#f5f5f5}
.u-2020 .term-wrap .list .select-term-wrap .term-options {display:block; margin-top:0; background-color:#fff;}
.u-2020 .term-wrap .list .select-term-wrap .term-options:after {content:''; display:block; clear:both;}
.u-2020 .term-wrap .list .select-term-wrap .tit-dep3 {margin-top:-18px; font-size:15px; font-weight:normal;}
.u-2020 .term-wrap .list .select-term-wrap .term-options {padding:0; margin:0; background-color:#f5f5f5}
.u-2020 .term-wrap .list .select-term-wrap .term-options li {float:left; width:50%; margin-top:10px;}
.u-2020 .term-wrap .list .select-term-wrap .term-options li label {line-height:19px; color:#4c4c4c; font-size:14px;}

.u-2020 .term-group .aco-ver {margin:0 -16px}
.u-2020 .term-group .aco-ver > li {border-bottom:1px solid #ddd}
.u-2020 .term-group .aco-ver > li .one-dep {position:relative; width:100%; }
.u-2020 .term-group .aco-ver > li .one-dep:after {content:''; display:block; clear:both;}
.u-2020 .term-group .aco-ver > li:after {content:''; display:block; clear:both;}
.u-2020 .term-group .aco-ver > li .two-dep {display:none;}
/* .u-2020 .term-group .aco-ver > li > div {float:left;} */
.u-2020 .term-group .aco-wrap {position:relative; }
/* .u-2020 .term-group .aco-wrap .input-area {width:calc(100% - 20px);} */
.u-2020 .term-group .aco-wrap .input-area {padding:11px 16px 16px;}
.u-2020 .term-group .aco-wrap .input-area:after {content:''; display:block; clear:both;}
.u-2020 .term-group .aco-wrap .input-area > div {float:left;}
.u-2020 .term-group .aco-wrap .input-area .chk-area {margin-top:24px}
.u-2020 .term-group .aco-wrap .input-area .chk-area .chk {width:22px;height:22px;}
.u-2020 .term-group .aco-wrap .input-area .text p {margin-top:5px; font-size:13px; color:#707070;}
.u-2020 .term-group .aco-wrap .input-area .text p:first-child {margin-top:0;}
.u-2020 .term-group .aco-wrap .input-area .text .str {margin-top:7px; font-size:16px; color:#222; font-weight:bold;}
.u-2020 .term-group .aco-wrap a {display:block; position:absolute; left:0; top:0; width:100%; height:100%; text-indent:-9999px;}
.u-2020 .term-group .aco-ver .aco-btn {position:absolute; right:0; top:0; margin-top:0; width:52px; height:100%; text-indent:-9999px; background: url(/mobiz/app/img/2020/ico_term_aco_down.png) center center no-repeat; background-size:16px 8px}

.u-2020 .term-group .aco-ver .list {border-top:1px solid #ddd; background-color:#f5f5f5}
.u-2020 .term-group .aco-ver .list li {margin:0 16px;}
.u-2020 .term-group .aco-ver .list li.has-btn.ty3 {padding:18px 10px 18px 24px;}
.u-2020 .term-group .aco-ver > li.on .two-dep {display:block;}
.u-2020 .term-group .aco-ver > li.on .aco-btn {background-image:url(/mobiz/app/img/2020/ico_term_aco_up.png)}

.u-2020 .aco-ver .list > li:last-child {border-bottom:none}

.u-2020 .term-wrap .list .chk {width:15px;height:15px;margin:2px 5px 0 0;background:url('/mobiz/app/img/2020/sp_form_chk.png') no-repeat 0 0;background-size:30px 15px}
.u-2020 .term-wrap .list .chk:checked {background-position:-15px 0}
.u-2020 .term-group > .list > li.has-btn.ty3 {padding-left:24px;}
.u-2020 .term-group > .list > li.has-btn.ty3 .chk {left:2px;}

/* col */
.u-2020 [class*=col-].form-wrap.cal .at {padding-top:10px;}


/* text field */
.u-2020 .list-form.pd0 {padding:0;}
.u-2020 .tit2 {display:block; margin-top:22px; font-size:14px !important;}
.u-2020 .tit2 + .rd_box {margin-top:7px;}
.u-2020 .txt-msg {margin-top:12px;}
.u-2020 .auth-timer + .txt-msg {margin-top:12px;}
.u-2019 .time-input {padding-right:125px}
.u-2020 .ipt-wrap .timer {right:104px; color:#f46600;}
.u-2020 .ipt-wrap.no-btn .timer {right:0;}
.u-2020 .auth-timer .btn-ty6 {position:absolute; right:0; bottom:5px; padding:0 22px;}
.u-2020 .withdraw .btn-ty6{left:0; padding:0 18px;}
.u-2020 .withdraw .post-ipt {padding-left:120px; padding-right:50px !important; text-align:right;}
.u-2020 .one-post.withdraw .btn-clear {right:20px !important;}
.u-2020 .withdraw  .unit {position:absolute; right:0; bottom:7px; font-weight:bold; font-size:17px; color:#222;}

.u-2020 .one-post .btn-ty6 {position:absolute; right:0; bottom:4px; padding:0 22px;}
.u-2020 .one-post .post-ipt {padding-right:130px;}
.u-2020 .one-post .post-ipt[readonly],
.u-2020 .one-post .post-ipt[disabled] {padding-right:130px;}
.u-2020 .ipt-wrap.auth-timer.one-post {margin-top:5px;padding:0px 0 0px 0;}
.u-2020 .one-post .ipt.post-ipt {vertical-align:top;margin:0;height:40px;padding-top:0;}
/* .u-2020 .one-post .ipt.post-ipt[readonly] {border-bottom:0;} */

/*
.u-2020 .ipt-wrap.one-post {margin-top:10px;padding:0 0 5px 0;border-bottom:1px solid #bbb;background-color:#eee}
.u-2020 .ipt-wrap.one-post input.focus-on {border-bottom:0 !important;}
.u-2020 .ipt-wrap.one-post input[readonly] {margin-top:0;border-bottom:0;}
.u-2020 .ipt-wrap.auth-timer.one-post input {border-bottom:0;}
.u-2020 .ipt-wrap.auth-timer.one-post input.focus-on {background:transparent;}
*/
.u-2020 .one-post.ipt-wrap .btn-clear {right:117px}


/* radio tab.ver */
.u-2020 [class^='rd_box'] {display:block; width:100%; border-bottom:0 none; overflow:hidden;}
.u-2020 [class^='rd_box'] > span {display:inline-block; float:left; position:relative; width:50%; height:40px; vertical-align:top;}
.u-2020 [class^='rd_box'] > span .small{font-size:12px;}
.u-2020 [class^='rd_box'] input {display:inline-block; width:100%; height:40px; margin:0; border:0; background:transparent !important;}
.u-2020 [class^='rd_box'] input + label.double {line-height:1.117px;}
.u-2020 [class^='rd_box'] input:checked + label {color:#222; border:1px solid #666;}
.u-2020 [class^='rd_box'] input:checked + label {z-index:1; color:#222; border:1px solid #222; background-color: #fff;}
.u-2020 [class^='rd_box'] input:checked + label > span {position:relative; padding-left:20px;}
.u-2020 [class^='rd_box'] input + label {line-height:37px;}
.u-2020 [class^='rd_box'] input + label > span {display:inline-block; white-space:nowrap;}
.u-2020 [class^='rd_box'] label {display:block; position:absolute; right:0; top:0; width:100%; height:40px; padding:0 5px !important; line-height:40px; overflow:hidden; text-align:center; letter-spacing:-1px; color:#999; font-size:15px; border:1px solid #ddd; background:#f5f5f5;}
.u-2020 [class^='rd_box'] input:checked + label > span:before {content:''; display:inline-block; position:absolute; left:0; top:50%; width:15px; height:11px; margin-top:-6px; background:#fff url(/mobiz/app/img/2020/sp_form.png) no-repeat 0 -25px; background-size:150px auto;}

.u-2020 .tab-sub .on .atab:before, .u-2020 .tab-sub .stab.on:before {background: url('/mobiz/app/img/2020/sp_form.png') 0 -25px;background-size: 150px auto;}

/* list */
.u-2020 ul > li > ul {margin-left:-15px;}
.u-2020 ul > li > ul.list-ty2 {margin-left:0;}
.u-2020 .list-ty1.gray > .blue {color:#3788dc}
.u-2020 .list-ty1 > li {margin-top:4px;padding-left:12px;font-size:14px;}
.u-2020 .list-ty1 > li:before {width:3px;height:3px;}
.u-2020 .list-ty2 > li:before {width:5px;}
.u-2020 .list-ty3 > li {line-height:19px;}
.u-2020 .list-ty3 > li:before, .u-2020 .list-ty1.gray > li:before {width:3px;height:3px;}
.u-2020 .list-ty6 {counter-reset:step}
.u-2020 .list-ty6 > li {padding-left:13px; font-size:14px; line-height:1.4; color:#222; font-weight:bold; }
.u-2020 .list-ty6 > li ~ li {margin-top:12px;}
.u-2020 .list-ty6 > li:before {counter-increment:step; content:counter(step) "."; display:inline-block; font-size:14px;}
.u-2020 .list-ty6 > li > .list-ty1 {margin-left:-13px;}
.u-2020 .list-ty6 > li > .list-ty1 li {font-weight:normal;}
.u-2020 .list-ty6 > li > .list-ty1 li:first-child {margin-top:20px;}
.u-2020 .list-step li:before {padding-top:9px;line-height:0;}
.u-2020 .list-step li .sub_txt {font-size:13px; color:#707070}
.u-2020 .listar-wrap .listar-group {border-top:1px solid #4e4e4e}
.u-2020 .listar > li {position:relative;padding:18px 16px 20px;border-bottom:1px solid #e5e5e5;font-size:18px;line-height:20px}
.u-2020 .listar > li:before {content:'';display:block;position:absolute;top:50%;right:8px;margin-top:-7px;width:7px;height:13px;background:url('/mobiz/app/img/2019/sp_icon.png') no-repeat 0 -25px;background-size:250px 90px}

/* table list bullet */
.u-2020 table td .list-ty1 li:before {top:10px;width:2px;height:2px;}

.u-2020 .txt-cmt {font-size:13px;}
.u-2020 .guide_box.advice .list-ty1.gray > .blue:before {background-color:#3788dc}

/* .u-2020 .list-ty6 > li:first-child {margin-top:0}
.u-2020 .list-ty6 > li > ul > li {font-size:13px;color:#707070}
.u-2020 .list-ty6 > li > ul > li:before {background-color:#707070} */

/* table */
.u-2020 .small-table th,
.u-2020 .small-table td {padding:11px 15px 12px}
.u-2020 .small-table td [class^=btn-ty].lv5 {font-weight:bold;}

.u-2020 .tbl-common th,
.u-2020 .tbl-common td {line-height:1.4;}

.u-2020 .tbl-wrap .sub-gray {font-size:13px; color:#707070}
.u-2020 .tbl-wrap .sub-orange {color:#f46600}
.u-2020 .tbl-wrap .txt-blue {color:#3788dc;}
.u-2020 .tbl-wrap .txt-gray {color:#999;}

/* text */
.u-2020 .txt-cmt.ty4 {font-size:15px;}
.u-2020 .pl-text {padding-left:13px; color:#222}

/* tab */
.u-2020 .address-tab {margin-top:7px;}
.u-2020 .address-tab .stab.on:before {content:none;}

.u-2020 .tab-sub .stab {line-height:30px;}
.u-2020 .tab-sub .stab.on {text-indent:-15px}
/*
.u-2020 .tab-sub .on .atab:before,
.u-2020 .tab-sub .stab.on:before {content: ''; display:inline-block; width:15px; height:11px; background:#fff url(/mobiz/app/img/2020/sp_form.png) no-repeat 0 -25px; background-size:150px auto;}
*/

.u-2020 .list-ty3 .blue {color:#3788dc;}

/*대출정보입력 대출유형별 예상한도 추가 2021-06  : 2021-06 */
.u-2020 .write_type01 dd .case_ch_ps{overflow: hidden;}
.u-2020 .write_type01 dd .case_ch_ps dt, .u-2020 .write_type01 dd .case_ch_ps dd{float:left;}
.u-2020 .write_type01 dd .case_ch_ps dt{width:120px; height:29px; margin-top:2px !important;}
.u-2020 .write_type01 dd .case_ch_ps dd{width:165px; margin-top:0px !important}
.u-2020 .write_type01 dd .case_ch_ps label{font-size:13px; font-weight:normal;}
.u-2020 .write_type01 dd .case_ch_ps .won_wrap{margin-top:0px !important;}
.u-2020 .write_type01 dd .case_ch_ps .won_wrap input{height:31px; font-size:14px; text-align:right; padding-right:20px;}
.u-2020 .write_type01 dd .case_ch_ps .won_wrap input[readonly]{background-color:#eee;border-bottom:1px solid #bbb}
.u-2020 .write_type01 dd .case_ch_ps .won_wrap .won{top:3px;}
.case_ch_ps + .case_ch_ps{margin-top:12px;}

/* popup */
.u-2020 .layerwrap .pop-inner {margin:0 24px;}
.u-2020 .layerwrap.big .pop-inner {margin:0 16px;}
.u-2020 .mini.layerwrap {width:274px;}
.u-2020 .mini.layerwrap .pop-inner {margin:0;}
.u-2020 .pop-inner .pop-contents {padding:25px 16px; max-height:500px; /*min-height:120px;*/ line-height:1.4; overflow:auto}
.u-2020 .pop-inner .pop-contents.menu {padding:0 !important;}
.u-2020 .pop-inner .pop-contents.menu li {text-align:left;}
.u-2020 .pop-inner .pop-contents.menu li ~ li {border-top:1px solid #ddd}
.u-2020 .pop-inner .pop-contents.menu li a {display:block; padding:23px 16px; font-size:16px; color:#222; background:url(/mobiz/app/img/2020/ico_photo_dot.png) center right 16px no-repeat; background-size:7px 13px;}
.u-2020 .pop-inner .pop-contents .txt {letter-spacing:-0.3px}
.u-2020 .pop-inner .pop-contents .top-space {margin-top:13px;}
.u-2020 .pop-contents .radio-list input[type="radio"] + label {padding:0; letter-spacing:-0.1px;}
.u-2020 .pop-inner .pop-tit {padding:11px 0 14px;font-size:17px;}
.u-2020 .layerwrap .tit {margin:0; font-size:16px; color:#222; letter-spacing:-0.9px;}
.u-2020 .poplist {text-align:left;}
.u-2020 .poplist li {font-size:14px; margin-top:6px; line-height:1.4;}
.u-2020 .poplist li .list-ty2 li {margin-top:0;}
.u-2020 .poplist li > strong {display:inline-block; margin-bottom:6px;}
.u-2020 .poplist.blue li {margin-top:-1px; font-size:13px; color:#3788dc}
.u-2020 .poplist.blue li:before {background-color:#3788dc}
.u-2020 .pop-contents .pop-str {display:inline-block; padding:20px 0 10px;color:#222;}

.u-2020 .img-list {padding-top:0;}
.u-2020 .img-list > li{padding-left:0;}
.u-2020 .img-list > li:before {content:none;}
.u-2020 .img-list > li strong {display:block; position:relative; padding-left:20px; margin-bottom:12px;}
.u-2020 .img-list > li img {width:100%;}
.u-2020 .pop-inner .radio-list {margin-top:25px; text-align:left;}
.u-2020 .pop-inner .radio-list li ~ li {margin-top:14px;}
.u-2020 .pop-inner p + .textarea-wrap {margin-top:23px;}
.u-2020 .pop-inner .textarea-wrap {display:none; margin-top:25px;}
.u-2020 .pop-inner .textarea-wrap.show {display:block;}
.u-2020 .pop-inner .textarea-wrap textarea {height:90px; resize:none;}
.u-2020 .pop-inner .textarea-wrap textarea::placeholder {color:#999}
.u-2020 .pop-inner .textarea-wrap .txt {text-align:right; margin-top:5px; font-size:13px; color:#999}

.u-2020 .img-list > li strong:before {counter-increment:step; content:counter(step); display:block;  position:absolute; left:0; top:3px; width:14px; height:14px; border-radius:50%; border:1px solid #222; font-size:10px; line-height:13px; text-align:center;}

.u-2020 .pop-inner .noti_01,
.u-2020 .pop-inner .noti_02,
.u-2020 .pop-inner .noti_03 {display:none;margin-top:20px;}
.u-2020 .pop-inner .noti_01 .txt-msg,
.u-2020 .pop-inner .noti_02 .txt-msg,
.u-2020 .pop-inner .noti_03 .txt-msg {margin-top:0;}
.u-2020 .pop-inner .noti_01.on,
.u-2020 .pop-inner .noti_02.on,
.u-2020 .pop-inner .noti_03.on {display:block;}

.u-2020 .poplist .arrow {display:inline-block; width:8px; height:6px; margin:-4px 4px 0 4px; vertical-align:middle; background:url('/mobiz/app/img/2020/ico_gray_arrow.png') no-repeat; background-size:8px 6px;}
.u-2020 .poplist .li-arrow {display:inline-block; background:url('/mobiz/app/img/2020/ico_gray_arrow.png') no-repeat 0 6px; background-size:8px 6px;}
.u-2020 .poplist .li-arrow:before {display:none;}

.u-2020 .layerwrap p.tit {line-height:22px;}

/* calendar */
.u-2020 .cal_wrap {margin-bottom:13px;}
.u-2020 .cal_wrap > span {display:block; position:relative;}
.u-2020 .cal_wrap > span .btn_calendar {position:absolute; right:0; bottom:10px;}
.u-2020 .cal_wrap input {line-height:1; font-size:17px !important;}
.u-2020 .cal_wrap input.cdd {margin-bottom:0; margin-top:7px;}

.u-2020 .present_month a.first{background-image:url('/mobiz/app/img/2020/present.png')}
.u-2020 .present_month a.prev{background-image:url('/mobiz/app/img/2020/present.png')}
.u-2020 .present_month a.next{background-image:url('/mobiz/app/img/2020/present.png')}
.u-2020 .present_month a.last{background-image:url('/mobiz/app/img/2020/present.png')}

/* msg-box */
.u-2020 .list > li .msg-box {padding-bottom:30px;}
.u-2020 .msg-box .msg-tit {line-height:1.3;}
.u-2020 .no-data .msg-box .msg-tit {font-size:14px;}
.u-2019 .msg-box .msg-txt {padding-top:10px; font-size:13px; line-height:1.4;}
.u-2019 .msg-box .msg-txt.gray {color:#707070}

	/* 서류 제출*/
	.u-2020 .msg-box.icon-6:before {top:58px; width:36px; height:41px; margin-left:-18px; background:url(/mobiz/app/img/2020/sp_ing_mod.png) no-repeat 0 0; background-size:36px 41px;}
	/* 제출 완료 */
	.u-2020 .msg-box.icon-7:before {top:58px; width:36px; height:41px; margin-left:-18px; background:url(/mobiz/app/img/2020/sp_complete.png) no-repeat 0 0; background-size:36px 41px;}
	/* 파란색 완료 */
	.u-2020 .msg-box.icon-8:before {top:50px; width:47px; height:47px; margin-left:-23px; background:url(/mobiz/app/img/2020/sp_complete_blue.png) no-repeat 0 0; background-size:47px 47px;}
	/* 신분증 */
	.u-2020 .msg-box.icon-9:before {top:60px; width:40px; height:37px; margin-left:-20px; background:url(/mobiz/app/img/2020/sp_id.png) no-repeat 0 0; background-size:40px 37px;}
	/* 고객 */
	.u-2020 .msg-box.icon-10:before {top:60px; width:47px; height:41px; margin-left:-23px; background:url(/mobiz/app/img/2020/sp_customer.png) no-repeat 0 0; background-size:47px 41px;}
	/* 회사 */
	.u-2020 .msg-box.icon-11:before {top:60px; width:47px; height:39px; margin-left:-23px; background:url(/mobiz/app/img/2020/sp_company_mod.png) no-repeat 0 0; background-size:47px 39px;}
	/* 회사 */
	.u-2020 .msg-box.icon-12:before {top:40px; width:64px; height:50px; margin-left:-32px; background:url(/mobiz/app/img/2020/sp_men.png) no-repeat 0 0; background-size:64px 50px;}

/* grid */
.u-2020 .list-grid .blue {color:#3788dc;}
.u-2020 .step-wrap + .list-grid {padding-top:2px;padding-bottom:13px;border-top:none}
.u-2020 .list-grid .price.str {font-size:14px; color:#222; font-weight:bold;}

/* 공통 라벨 */
.u-2020 .label {display:inline-block; float:right; min-width:50px; height:20px; line-height:17px; padding:0 4px; text-align:center; font-size:11px; border:1px solid #eee; border-radius:2px;}
.u-2020 .label.com  {color:#3788dc; border-color:#3788dc} 
.u-2020 .label.ready {color:#f46600; border-color:#f46600}
.u-2020 .label.over {color:#222; border-color:#ccc;}
.u-2020 .label.ing {color:#222; border-color:#ccc;}
.u-2020 .label.state {color:#fff; border-color:#ff7700; background-color:#fff;color:#ff7700;}
.u-2020 .label.notice-p {height:auto; border-color:#eee; background-color:#eee;}

.u-2020 .fontnor .rdo + label {font-size:14px;}

/* 공통 tab */
.u-2020 .chk-tab-wrap {display:flex;padding-top:25px;}
.u-2020 .chk-tab-wrap.mt25  {padding-top:0 !important;}
.u-2020 .chk-tab-wrap.cal {padding-top:25px;}
.u-2020 .chk-tab-wrap > li {-webkit-flex:1; flex:1;}
.u-2020 .chk-tab-wrap > li {position:relative; width:100%; height:42px; line-height:42px; font-weight:normal; text-align:center; border:1px solid #ddd; border-left:0; background-color:#f5f5f5;}
.u-2020 .chk-tab-wrap > li:first-child {border-left:1px solid #ddd;}
.u-2020 .chk-tab-wrap > li.on {font-weight:bold; border:1px solid #666 !important; border-left:0 !important;  background-color:#fff;}
.u-2020 .chk-tab-wrap > li.on:after {content: ''; display:block; position:absolute; bottom:0; top:-1px; left:-1px; width:1px; background-color:#666;}
.u-2020 .chk-tab-wrap > li.on a span:before {content:''; display:inline-block; position:absolute; left:0; top:50%;  width:15px; height:11px; margin-top:-6px; background:#fff url(/mobiz/app/img/2020/sp_form.png) no-repeat 0 -25px; background-size:150px auto;}
.u-2020 .chk-tab-wrap > li.on a {color:#222;}
.u-2020 .chk-tab-wrap > li.on a span {padding-left:20px;}
.u-2020 .chk-tab-wrap > li a {display:block; color:#999; font-size:15px; letter-spacing:-1px;}
.u-2020 .chk-tab-wrap > li a span {position:relative;}
.u-2020 .head.flex {display:flex;margin-bottom:9px;margin-top:22px;}
.u-2020 .head.flex .right {margin-left:auto;}
.u-2020 .head.flex .right .add {height:27px !important;line-height:1.2px !important;font-size:13px;}
.u-2020 .head.flex .right .add:after {content:'';display:inline-block; position:relative; top:-1px; width:5px; height:10px; margin-left:4px; background:url(/mobiz/app/img/2020/ico_reading_dot.png) 0 0 no-repeat; background-size:100% 100%;font-size:13px;}

/* tab num-ver */
.u-2020 .chk-tab-wrap.num-ver > li {height:auto; padding:12px 0; line-height:1.4; border-bottom-color:#222}
.u-2020 .chk-tab-wrap.num-ver > li a {font-size:14px;}
.u-2020 .chk-tab-wrap.num-ver > li.on {border-bottom:0 !important}
.u-2020 .chk-tab-wrap.num-ver > li.on a span {padding-left:0;}
.u-2020 .chk-tab-wrap.num-ver > li.on a span:before {content:none;}
.u-2020 .chk-tab-wrap.num-ver > li a .color {font-weight:bold; color:#3788dc}

/* 공통 - select type2 */
.u-2020 select.type2 {padding-right:23px; font-size:13px; color:#4c4c4c; background:url(/mobiz/app/img/2020/ico_select_dot.png) no-repeat right 2px center; background-size:12px 6px;}

/* link */
.u-2020 .link.blue {color:#3788dc}
.u-2020 .link {margin:0; font-size:13px;}

/* col */
.u-2020 .form-wrap.col-post {padding-right: 105px;}
.u-2020 .form-wrap.col-post > div {width: 42.7%;}
.u-2020 .form-wrap.col-post .bar {width:13.6%;}

/* form */
.u-2020 .form-wrap.col-3 > div.btn-area.full {width:100%; margin-top:15px;}

.u-2020 .info-box.st1 {text-align:left;}
.u-2020 .over-gray-area p {text-align:left !important;}

.n-hide {height:0;text-indent:-9999em; overflow:hidden;display:inline-block; width:0}

/* 약정서 및 약관 */
.u-2020.u-agreement {padding:0 0 96px}
.agreement-wrap {height:100%;}
.agreement-wrap * {box-sizing:border-box; font-size:11px; letter-spacing:-1.2px}
.agreement-wrap button {border:none; background-color:transparent;}

.agreement-wrap .header{position:fixed; top:0; z-index:10; width:100%; background-color:#fff}
.agreement-wrap .nav {border-top:1px solid #eee; border-bottom:1px solid #eee;}
.agreement-wrap .nav:after {content:''; display:block; clear:both;}

.agreement-wrap .nav .tit-cont {float:left; width:calc(100% - 110px);height:45px; padding-left:15px; padding-right:15px;}
.agreement-wrap .nav .tit-cont  h3 {position:relative; top:50%; transform:translate(0, -50%); max-height:42px; overflow:hidden; font-size:12px; padding-top:0; line-height:1.4;}
.agreement-wrap .nav .down button{padding:13px 16px 13px 0;}
.agreement-wrap .nav .down button img {width:20px; height:16px;}

.agreement-wrap .nav .down {float:right;}
.agreement-wrap .view-wrap {position:relative; /*padding-top:47px;*/ height:100%;}

	.agreement-wrap h1 {font-size:2rem;}
	.agreement-wrap h3 {padding-bottom:10px;}
	.agreement-wrap .chkbox.output {line-height:1.4;}
	.agreement-wrap .output input {height:auto !important; line-height:1.5 !important; padding:0;}
	
	/* table */
	.agreement-wrap table {width:100%;}

	/** 리스트 스타일 **/
	.agreement-wrap .list-step li:before {top:0.2rem;  width:1.2rem; height:1.2rem; line-height:1.1rem;}
	
	.agreement-wrap .list-step.no > li .list-step-s {padding-left:1.5rem;}
	.agreement-wrap .list-step .list-step-s li {list-style: decimal;}

	.agreement-wrap li.list-k {list-style:none !important}

	.agreement-wrap .approval li .confirm.me .output{letter-spacing:-0.1px}
	.agreement-wrap .chkbox .chk {left:0; top:3px}

/* tab-swiper */

	/* 기본 */
	.u-2020 .swiper-tab .tabwrap {margin:25px 0 20px}
	.u-2020 .swiper-tab .tablist {height:45px;}
	.u-2020 .swiper-tab .tablist .tab {position:relative; padding:0; width:20%; height:100%; line-height:1; text-align:center; font-size:14px; color:#999;outline:none;}
	.u-2020 .swiper-tab .tab.active {color:#222}
	.u-2020 .swiper-tab .tablist .tab .swp-tab-button {padding:15px 0;}

	.u-2020 .swiper-slide-sub .tit-dep1:first-child {padding-top:0;}

	/* 최대 3개 */
	.u-2020 .swiper-tab .tablist.triple .tab {width:calc(100%/3)}


	/* flex ver */
	.u-2020 .swiper-tab .tablist.flex-tab .tab {width:calc(70% / 4);}
	.u-2020 .swiper-tab .tablist.flex-tab .tab.active {width:30%;}

	/* del 버전 */
	.u-2020 .swiper-tab .tablist.del-tab .tab {padding-left:10px; text-align:left;}
	.u-2020 .swiper-tab .tablist.del-tab .tab.active {}
	.u-2020 .swiper-tab .delete-tab {display:none; width:20px; height:20px; overflow:hidden; text-indent:-100px; border:none; background:url(/mobiz/app/img/2020/ico-close-tab.png) center center no-repeat; background-size:10px 10px}
	.u-2020 .swiper-tab .active .delete-tab {display:block; position:absolute; top:12px; right:5px; z-index:20;}

	/* flex + del */
	.u-2020 .swiper-tab .tablist.flex-tab .tab {padding-left:5px;}
	.u-2020 .swiper-tab .tablist.flex-tab .tab.active {padding-left:10px;}
	.u-2020 .swiper-tab .tablist.flex-tab .tab .swp-tab-button {width:100%;}



/* 해상도 320 */
@media (max-width:320px){
	.u-2020 .address-tab .stab {letter-spacing:-1.5px}

	/* popup */
	.u-2020 .pop-inner .pop-contents {max-height:400px;}
	.u-2020 .layerwrap .pop-inner [class^=btn-ty] {padding:0 5px;}
	.u-2020 .layerwrap .tit {letter-spacing:-1px}
	.u-2020 .layerwrap .pop-inner .txt [class^=btn-ty] {padding:0 10px;}
	.u-2020 .layerwrap .pop-inner .txt [class^=btn-ty].lv3 {font-size:13px;}

	.u-2020 .pop-inner .noti_01 {top:95px}
	.u-2020 .pop-inner .noti_02,
	.u-2020 .pop-inner .noti_03 {top:100px}

}

/* KB스타기업뱅킹 퇴직연금 화면신설 작업 */
.radio_box_wrap>li{position:relative;color:#222;}
.radio_box_wrap .rdo.rdo_box{position:absolute;transform:translateY(-50%);top:50%;}
.radio_box_wrap .rdo + label.radio_sel_box{display:block;width:100%;height:auto;padding-left:33px;margin-top:-24px;font-size:13px;overflow:hidden;}
.radio_box_wrap .rdo.rdo_box + label.radio_sel_box{margin-top:0;}
.radio_box_wrap .rdo + label.radio_sel_box dt,.rdo + label.radio_sel_box dd{display:block;float:left;}
.radio_box_wrap .rdo + label.radio_sel_box dt{margin-right:10px;clear:both;}
.radio_box_wrap .rdo + label.radio_sel_box dd{float:right;}

.radio_box_wrap>li>dl{overflow:hidden;}
.radio_box_wrap>li>dl>dt,.radio_box_wrap>li>dl>dd{display:block;float:left;line-height:22px;}
.radio_box_wrap>li>dl>dt{margin-right:10px;clear:both;}
.radio_box_wrap>li>dl>dd{float:right;}

.chk_box_wrap>.box-ty3{position:relative;}
.chk_box_wrap .chk.chk_box{position:absolute;transform:translateY(-50%);top:50%;}
.chk_box_wrap .chk + label.chk_sel_box{display:block;width:100%;height:auto;padding-left:33px;margin-top:-24px;font-size:12px;overflow:hidden;}
.chk_box_wrap .chk.chk_box + label.chk_sel_box{margin-top:0;}
.chk_box_wrap .chk + label.chk_sel_box dt,.chk + label.chk_sel_box dd{display:block;float:left;}
.chk_box_wrap .chk + label.chk_sel_box dt{margin-right:10px;clear:both;}
.chk_box_wrap .chk + label.chk_sel_box dd{float:right;}

/* 220902 chk_box_wrap div 버전 추가 */
.chk_box_wrap .chk + div.chk_sel_box {display:block;width:100%;height:auto;padding-left:33px;margin-top:-24px;font-size:12px;overflow:hidden;}
.chk_box_wrap .chk.chk_box + div.chk_sel_box{margin-top:0;}