@charset "utf-8"; 

/* 이벤트상세 */
.section.crm_temp .evt_wrap .evt_cont {padding:0;}
.section.crm_temp .law_txt {max-width:42rem; margin:3rem auto 0;}
.section.board_view .evt_wrap {margin:0 -2.4rem;}
.board_view_cont .evt_wrap {margin-top:-3.2rem;}
.board_view_cont .evt_wrap.fun {margin-top:3.2rem;}

.evt_wrap .evt_top {text-align:center;}
.evt_wrap .evt_cont {padding:0 2.4rem;}
.evt_wrap .h2 {margin:2.5rem 0 1rem;}
.evt_wrap.welcome .h2 {color:#fd3e69;}
.evt_wrap.more .h2 {color:#094ac9;}
.evt_wrap.fun .h2 {color:#2a4e73;}

.evt_wrap .info_txt {font-weight:bold;}
.evt_wrap .info_txt + .join_list {margin-top:1.2rem;}
.evt_wrap .btn_cnt_wrap {margin-top:2.5rem;}
.evt_wrap .btn_cnt_wrap + .btn_cnt_wrap {margin-top:.8rem;}
.evt_wrap .btn_cnt_wrap + .depth.bul {margin-top:2.5rem;}

.evt_wrap [class^=btn_txt] {color:var(--fc_02, #26282c);}
.evt_wrap .btn_txt:after {border-top:1px solid var(--fc_02, #26282c); border-right:1px solid var(--fc_02, #26282c);}
.evt_wrap .btn_txt.pink {color:#fd3e69;}
.evt_wrap .btn_txt.pink:after {border-top:1px solid #fd3e69; border-right:1px solid #fd3e69;}
.evt_wrap .btn_txt.blue {color:#094ac9;}
.evt_wrap .btn_txt.blue:after {border-top:1px solid #094ac9; border-right:1px solid #094ac9;}
.evt_wrap .btn_txt.sky {color:#668ded;}
.evt_wrap .btn_txt.sky:after {border-top:1px solid #668ded; border-right:1px solid #668ded;}
.evt_wrap .btn_txt.skyblue {color:#287eff;}
.evt_wrap .btn_txt.skyblue:after {border-top:1px solid #287eff; border-right:1px solid #287eff;}
.evt_wrap .btn_txt.white {color:var(--fc_11, #fff);}
.evt_wrap .btn_txt.white:after {right:1rem; margin-top:-.4rem; border-top:1px solid var(--fc_11, #fff); border-right:1px solid var(--fc_11, #fff);}

.evt_wrap p + .btn_txt,
.evt_wrap p + .bill_txt,
.evt_wrap .btn_txt + .bill_txt,
.evt_wrap .bill_txt + .btn_txt,
.evt_wrap p + .depth.step.sm,
.evt_wrap .depth.step.sm > li + li,
.evt_wrap .circle_num_area + .depth.step.sm,
.crm_temp_cont .evt_wrap p + p {margin-top:.8rem;}
.evt_wrap .bill_list {margin-top:2rem;}

.evt_wrap .depth.step.sm .bill_txt {margin-top:.8rem; margin-left:-3.2rem;}
.evt_wrap .depth.step.sm + .circle_num_area {margin-top:1.3rem;}

.evt_wrap .banner {margin-top:1.3rem; text-align:center;}
.evt_wrap .video_wrap {position:relative;}
.evt_wrap .video_wrap .video_cont {height:23rem; /* border-radius:.8rem; background-color:#dde1e4;*/ overflow:hidden;}
/* .evt_wrap .video_wrap .video_play {display:block; position:absolute; top:0; left:0; bottom:0; right:0; width:100%; height:100%; background-color:#000; z-index:10000; opacity:0;} */

.evt_wrap .giveaway_wrap {margin-top:1.5rem;}
.giveaway_list:after {display:table; content:''; clear:both;}
.giveaway_list > li {float:left; width:50%; box-sizing:border-box; text-align:center;}
.giveaway_list > li > div {position:relative; display:inline-block; width:13rem; height:13rem;}
.giveaway_list > li > p {margin-top:1.3rem;}
.giveaway_list > li .num {display:inline-block; position:absolute; right:-1.5rem; top:0; width:4.3rem; height:4.3rem; padding-top:1.1rem; color:var(--fc_11, #fff); font-size:1.2rem; background-color:var(--fc_02, #26282c); border-radius:50%; box-sizing:border-box;}
.giveaway_list > li .num .number {font-size:1.5rem; font-weight:500;}
.giveaway_list > li:nth-child(2) ~ li {margin-top:2.5rem;}

.evt_wrap.fun .giveaway_list > li .num {background:#2a4e73;}
.evt_wrap.fun .giveaway_list > li .num.long {padding-top:1.4rem;}
.evt_wrap.fun .giveaway_list > li .num.long .number {font-size:1.2rem;}
.evt_wrap.fun .giveaway_list > li .num.txt {padding-top:.8rem;}

.event_slide {padding:0 1.6rem;}
.event_slide .slide_top {padding:2.5rem 0; border-bottom:.1rem solid #e6eadf; background:url("https://oimg1.kbstar.com/img/oevent/2022/1128_evt/event_bg.png") right .1rem top 2rem / 5.9rem auto no-repeat;}
.event_slide .slide_top .tit {font-size:1.8rem; font-weight:700; color:#458b72;}
.event_slide .slide_top .tit.sm {font-size:1.6rem;}
.event_slide .slide_top .txt {margin-top:.7rem; overflow:hidden;}
.event_slide .slide_top .txt + .tit {margin-top:1.8rem;}
.event_slide .slide_top .txt span {display:block; float:left; padding-right:1.5rem; background:url("https://oimg1.kbstar.com/img/oevent/2022/1128_evt/ico_shape.png") right .5rem top .5rem / .5rem auto no-repeat;}
.event_slide .slide_top .txt span:last-child {padding-right:0; background:none;}

.event_slide .slide {padding:2rem 0 .8rem;}
.event_slide .slide .swiper-slide {text-align:center;}
.event_slide .slide .step {display:inline-block; padding:.5rem 1.4rem; font-size:1.4rem; font-weight:700; letter-spacing:0.04rem; background-color:var(--fc_11, #fff); box-shadow:0.25rem 0.25rem 1rem rgba(0,0,0,.08); border-radius:1.5rem; -webkit-border-radius:1.5rem; -moz-border-radius:1.5rem; -ms-border-radius:1.5rem; -o-border-radius:1.5rem;}
.event_slide .slide .tit {margin-top:1rem; font-weight:700;}
.event_slide .slide .tit + .txt {margin-top:.8rem; font-size:1.4rem;}
.event_slide .slide .swiper-pagination {margin-top:2.3rem;}
.event_slide .slide .swiper-pagination .swiper-pagination-bullet-active {background:#458b72;}
.event_slide .slide .swiper-button {width:2.2rem; height:4rem;}
.event_slide .slide .swiper-button::after {display:none;}
.event_slide .slide .swiper-button-prev {background:url("https://oimg1.kbstar.com/img/oevent/2022/1128_evt/ico_l_arrow.png") 0 0 / 100% auto no-repeat;}
.event_slide .slide .swiper-button-next {background:url("https://oimg1.kbstar.com/img/oevent/2022/1128_evt/ico_r_arrow.png") 0 0 / 100% auto no-repeat;}
.event_slide .slide .swiper-button-prev.swiper-button-disabled {opacity:1; background:url("https://oimg1.kbstar.com/img/oevent/2022/1128_evt/ico_l_arrow_off.png") 0 0 / 100% auto no-repeat;}
.event_slide .slide .swiper-button-next.swiper-button-disabled {opacity:1; background:url("https://oimg1.kbstar.com/img/oevent/2022/1128_evt/ico_r_arrow_off.png") 0 0 / 100% auto no-repeat;}

.evt_wrap.welcome .event_slide {background:#f8fcf1;}
.evt_wrap.welcome .event_slide .slide .step {color:#458b72;}

.event_slide.c_type2 {background-color:#f4f6f7;}
.event_slide.c_type2 .slide .step {color:#094ac9;}
.event_slide.c_type2 .slide .swiper-pagination {margin-top:0;}
.event_slide.c_type2 .slide .swiper-pagination .swiper-pagination-bullet-active {background-color:#23405c;}

.bill_txt,
.bill_list > li {position:relative; padding-left:1.7rem;}
.bill_txt:before,
.bill_list > li:before {position:absolute; top:0; left:0; width:1.3rem; height:1.3rem; content:'※';}
.bill_list > li + li {margin-top:.6rem;}

.circle_num_area {padding-left:3.2rem;}
.circle_num_area em {text-decoration:underline;}
.circle_num_area > span:first-child {margin-left:-3.2rem;}
.circle_num_area + .event_slide {margin-top:2rem;}
/* .circle_num_area .btn_txt {margin-left:.4rem;} */
.circle_num_area .btn_txt + p {margin-top:.5rem;}
.circle_num_area .circle_num {display:inline-block; width:2.4rem; height:2.4rem; line-height:2.4rem; color:var(--fc_11, #fff); font-family:'Roboto'; font-size:1.5rem; font-weight:500; text-align:center; background-color:var(--fc_05, #8c949e); border-radius:50%;}

.evt_wrap .tab_wrap.box {margin-bottom:2rem;}
.evt_wrap .tab_wrap.box a {width:100%; padding:0; line-height:4rem; background-color:var(--fc_09, #ebeef0); border-radius:10rem; font-size:1.5rem; text-align:center;}
.evt_wrap .tab_wrap.box a.active {padding:0; line-height:4rem; background-color:var(--fc_11, #fff); border:1px solid #dde1e4; border-radius:10rem; box-shadow:.2rem .2rem .8rem rgba(0,0,0,.05);}

.evt_wrap .tab_cont {display:none;}
.evt_wrap .tab_cont.on {display:block;}

.evt_wrap .box_list {margin-bottom:1.6rem;}
.evt_wrap .box_list li {margin-top:1.6rem; background-color:var(--fc_10, #f7f7f8); background-repeat:no-repeat; border:1px solid #e0e2e5; border-radius:.8rem; -webkit-border-radius:.8rem; -moz-border-radius:.8rem; -ms-border-radius:.8rem; -o-border-radius:.8rem; }
.evt_wrap .box_list li.cont1 {background-image:url('https://oimg1.kbstar.com/img/oevent/2022/1212_evt/img_evt_box01.png'); background-size:3.4rem auto; background-position:1.7rem 1.7rem;}
.evt_wrap .box_list li.cont2 {background-image:url('https://oimg1.kbstar.com/img/oevent/2022/1212_evt/img_evt_box02.png'); background-size:4rem auto; background-position:1.5rem 2.6rem;}
.evt_wrap .box_list li.cont3 {background-image:url('https://oimg1.kbstar.com/img/oevent/2022/1212_evt/img_evt_box03.png'); background-size:4rem auto; background-position:1.5rem 2.2rem;}
.evt_wrap .box_list li.cont4 {background-image:url('https://oimg1.kbstar.com/img/oevent/2022/1212_evt/img_evt_box04.png'); background-size:3.9rem auto; background-position:1.5rem 2.4rem;}
.evt_wrap .box_list li a {display:block; padding:2rem 0 2.5rem 6.6rem;}
.evt_wrap .box_list li a strong {position:relative; font-weight:700; text-decoration:underline; text-underline-position:under;}
.evt_wrap .box_list li a strong::after {content:''; position:absolute; right:-1.8rem; top:.3rem; width:1.8rem; height:1.4rem; background:url("https://oimg1.kbstar.com/img/oevent/2022/1212_evt/ico_link_arr.png") right 0 / .8rem auto no-repeat;}
.evt_wrap .box_list li a p {margin-top:.7rem; font-size:1.4rem; color:var(--fc_03, #484b51);}

.evt_wrap .box_list.join_list li {border:1px solid #acdeca; box-sizing:border-box; background-color:#f3fdf9;}
.evt_wrap .box_list.join_list li a, 
.evt_wrap .box_list.join_list li div {display:flex; position:relative; height:11.1rem; padding:1.5rem 1.5rem 1.5rem 6.8rem; align-items:center; justify-content:space-between;}
.evt_wrap .box_list.join_list li strong {text-decoration:none;}
.evt_wrap .box_list.join_list li strong::after {background-image:none;}

.box_list.join_list > li.comp {border:1px solid #e4e7e9; background-color:var(--fc_10, #f7f7f8);}
.join_list li + li {margin-top:1.6rem}
.join_list li span {width:auto; padding:.8rem 1rem; height:3.2rem; font-size:1.4rem; color:var(--fc_11, #fff); font-weight:bold; box-sizing:border-box;}
.join_list li .btn.round.ico_arr {width:9.8rem; line-height:1.8rem; text-align:left; background-color:#1fb183;}
.join_list li.comp span {background-color:#d2d2da;}

.law_wrap {margin:2.5rem -2.4rem 0; padding:2.5rem 2.4rem; font-size:1.4rem; background-color:#f8f8f8;}
.law_wrap > strong {font-size:1.6rem;}
.law_wrap .btn_txt {font-size:1.4rem;}
.law_wrap .depth.dash > li {color: var(--fc_02, #26282c);}
.law_wrap .depth.dash .depth.info > li {margin-top:0;}
.law_wrap .law_txt {margin-top:2.5rem;}