@charset "utf-8"; 
/* 
====================================================== 
    2022 마이자산 업데이트 start 
======================================================
*/

/* common */
.flex{display: flex;}
.flex_end{display: flex; align-items: flex-end;}
.ml-auto{margin-left:auto;}
.mr-auto{margin-right: auto;}
.mt0{margin-top:0 !important;}
.mb0{margin-bottom: 0 !important;}
.pb32{padding-bottom: 3.2rem;}
.pb35{padding-bottom: 3.5rem;}
.cate_fun_tech h3.tlt {margin-bottom:2.4rem; line-height:2.5rem;}
.board_view_img {margin-top:3.2rem;}
.board_view_img + .board_view_cont {margin-top:2rem;}
.cate_fun_tech [class^=section] + [class^=section] {margin-top:2.8rem;}
.cate_fun_tech .section_f + .section {margin-top:2.8rem;}
.cate_fun_tech .hr_divide {margin:2.8rem 0;}
.cate_fun_tech .hr_divide2{margin-top:3.2rem;margin-bottom:3.2rem;}
/*.hr_divide2.bg_color1{background: var(--fc_10, #f7f7f8);}*/
.hr_divide.h_0,
.hr_divide2.h_0{height:0;overflow: hidden;display: none;}
.cate_fun_tech .banner_wrap .img > img{max-width: 33.5rem;}



/* 앱 내부 환경 대응 */
.cate_fun_tech #ulBannerLst + .section {margin-top:2.8rem;}
.cate_fun_tech #todayFinWrd .section {margin-top:4.8rem;}

/* top 버튼 */
.go_top {border:0;width:4.0rem; height:4.0rem; transform:scale(0); clip:rect(.1rem, .1rem, .1rem, .1rem); clip-path:inset(50%);transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1) transform;}
.go_top.on { position:fixed; z-index:100; right:2.4rem; bottom:3.2rem; transform: scale(1); clip:auto; clip-path:none;transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1) transform;}
/*.go_top .btn_goTop:after {content:''; display:block; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); width:2rem; height:2rem; background:url(/msbiz/app/img/common/spr_ico_20x.png) no-repeat -2rem -2rem; background-size: 25rem auto;}
.btn_goTop {display:block;font-size:0;width: 100%;height: 100%;padding-top: 0;border-radius:4rem;background-color:var(--bg_01, #ffffff);font-weight:700;border:thin solid #dde1e4;}*//* 220919 삭제 */

.cate_fun_tech .banner_wrap .swiper-slide{padding:0;}
.cate_fun_tech .banner_wrap .swiper-slide a{display: block;width: 100%;}
.cate_fun_tech .banner_wrap .img,
.cate_fun_tech .banner_wrap .thumb{background: var(--bg_01, #fff);display: block;}

/* 노트형 컨텐츠 */
/*.cate_fun_tech .word_note{position: relative;}
.cate_fun_tech .word_note.ico_add::before{content:'';display: block;width:7rem;height: 7rem;position: absolute;right:1.5rem;top:-4.2rem;z-index:20;background-size:100%;background-repeat: no-repeat;background-image: url(/msbiz/app/img/assets/fun_tech/img_bear.png);}
.word_note .note_contents{position: relative;}
.cate_fun_tech .word_note .note_contents:before,
.cate_fun_tech .word_note .note_contents:after,
.cate_fun_tech .word_note .note_contents .note_box:after{content: '';border-radius: .8rem;display: block;position: absolute;top: 0;height: 100%;z-index: 10;border:0.1rem solid #dde1e4;}
.cate_fun_tech .word_note .note_contents:before{width:100%;background:#fff;}
.cate_fun_tech .word_note .note_contents:after{width:calc(100% - .4rem);}
.cate_fun_tech .word_note .note_contents .note_box{border-radius: .8rem;width: calc(100% - .8rem);}
.cate_fun_tech .word_note.type2 .note_contents .note_box{width:100%;}
.cate_fun_tech .word_note.type2 .note_contents .note_box:after{width:100%}
.cate_fun_tech .word_note.type2 .note_contents:before,
.cate_fun_tech .word_note.type2 .note_contents:after{content: none;}
.cate_fun_tech .word_note .note_contents .note_box:after{width:calc(100% - .8rem);box-shadow: .4rem .2rem .8rem rgba(0, 0 ,0 ,0.07);}
.cate_fun_tech .word_note .note_contents .note_box .tech_acc {position: relative;padding:3.4rem 2.6rem 3.3rem;z-index: 11;border-radius: .8rem;width:100%;background: none;}
.cate_fun_tech .word_note .note_contents .note_box .tech_acc:after {display:none;}
.cate_fun_tech .word_note .note_contents .note_box .tech_acc a {display:block;} 
.cate_fun_tech .word_note .note_contents .bg_hole{position: absolute;right:0;width:3.1rem;top: 50%;z-index: 20;-webkit-transform: translateY(-50%);transform: translateY(-50%); box-sizing: border-box;}
.cate_fun_tech .word_note .note_contents .bg_hole .ico_hole{width:100%;display: inline-block;position: relative;height:3.3rem;}
.cate_fun_tech .word_note .note_contents .bg_hole .ico_hole.wide{height:4.2rem;}
.cate_fun_tech .word_note .note_contents .bg_hole .ico_hole::before{content:'';display: block;width:1.7rem;height:.1rem;background:#dde1e4;top:50%;position: absolute;right:0;}
.cate_fun_tech .word_note .note_contents .bg_hole .ico_hole:after{content:'';display: block;width:1.2rem;height:1.2rem;border:.1rem solid #dde1e4; right:0;background-color:#f7f7f8;box-shadow: inset .1rem .1rem .1rem rgba(0, 0 ,0 , 0.06);transform: matrix(0, -1, -1, 0, 0); border-radius: 50%;position: absolute;right:1.7rem;top:50%;margin-top:-.6rem;}
.cate_fun_tech .word_note .note_contents .note_box .tech_acc .p {font-size:1.4rem; line-height:2rem; color:var(--fc_02, #26282c);}
.cate_fun_tech .word_note .note_contents .note_box .tech_acc .tit {display:-webkit-box; overflow:hidden; width:100%; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; margin-top:.4rem; font-size:1.8rem; color:#5b3895; line-height:2.8rem;} 
.cate_fun_tech .word_note .note_contents .note_box .tech_acc .txt {display:-webkit-box;max-height: 6rem; color:var(--fc_02, #26282c); overflow:hidden;margin-top: 1.2rem; width:100%; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:3; line-height:2rem;}*//* 220919 삭제 */

/* 가로형 노트 */
/* .cate_fun_tech .word_note.horizontal_note .note_contents{}
.cate_fun_tech .word_note.horizontal_note .note_contents .note_box{width:100%;}
.cate_fun_tech .word_note.horizontal_note .note_contents::after{content: none;}
.cate_fun_tech .word_note.horizontal_note .note_contents .note_box:before,
.cate_fun_tech .word_note.horizontal_note .note_contents .note_box:after,
.cate_fun_tech .word_note.horizontal_note .note_contents::before{left:0; bottom: 0;z-index: 11;top:auto;background:none;}
.cate_fun_tech .word_note.horizontal_note .note_contents:before{height:100%}
.cate_fun_tech .word_note.horizontal_note .note_contents .note_box:before{width:100%;height:calc(100% - .3rem)}
.cate_fun_tech .word_note.horizontal_note .note_contents .note_box:after{width:100%;height:calc(100% - .6rem);box-shadow: none;}
.cate_fun_tech .word_note.horizontal_note .note_contents .bg_hole{top:0;width:100%;transform: none;transform: none;text-align: center;}
.cate_fun_tech .word_note.horizontal_note .note_contents .bg_hole .ico_hole{width:1.2rem;margin: 0 1.2rem;}
.cate_fun_tech .word_note.horizontal_note .note_contents .bg_hole .ico_hole::before{width:0.1rem;height:1.9rem;top:0;right:auto;left:50%;}
.cate_fun_tech .word_note.horizontal_note .note_contents .bg_hole .ico_hole:after{top:auto;bottom:0;right:auto;left:0;} */

/* full swiper */
.cate_fun_tech .swiper-pagination{font-size:0;margin-top:2rem;}
.cate_fun_tech .funtech_swiper_full > .fun_swiper_wrapper {margin:0;}
.cate_fun_tech .funtech_swiper_full > .fun_swiper_wrapper .full_banner{font-size: 0;text-align: center;}
.cate_fun_tech .funtech_swiper_full > .fun_swiper_wrapper .full_banner img{max-width: 37.5rem;}
/* 섬네일형 swiper */
.cate_fun_tech .funtech_swiper_wrap .swiper-slide {width:19.6rem;}
.cate_fun_tech .funtech_swiper_wrap > .fun_swiper_wrapper {margin:0 -2.4rem;}

.cate_fun_tech .section_f.funtech_swiper_wrap > .fun_swiper_wrapper{margin:0;}
.cate_fun_tech.cate_fun_tech.sub_funtech .funtech_swiper_wrap > .fun_swiper_wrapper{margin: 0;}
.cate_fun_tech .funtech_swiper_wrap > .fun_swiper_wrapper .swiper-container{padding:0 2.4rem;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .thumb {display:block;position: relative; height:11rem; margin-bottom:0.9rem; border-radius:.8rem; overflow:hidden;background:var(--bg_02, #f7f7f8);}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .thumb iframe {width:100%; height:100%; border-radius:.8rem; overflow:hidden;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner {position:relative;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .cate {display:inline-block; min-width:6.2rem; height:3.2rem; margin-bottom:1rem; padding:0 1rem; border:0.1rem solid var(--fc_05, #8c949e); border-radius:2.2rem; font-size:1.4rem; text-align:center; color:var(--fc_03); line-height:3.2rem;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .tit {display:-webkit-box; word-break:keep-all; left: .4rem;position: relative;overflow:hidden; max-height:4.6rem; color:var(--fc_02, #26282c); font-weight:600; font-size:1.6rem; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2; word-break:normal; line-height:2.3rem;} /* 2022-08-17 text 위치, 크기 수정 */
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .tags{display: block;margin-bottom: .8rem;font-weight: 700;line-height: 2rem;font-size: 1.4rem;color:#7b53d1;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .date {display:block; font-weight:700; font-size:1.6rem; line-height:2.3rem;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner .txt {display:block; margin-top:1.4rem; color:var(--fc_03, #484b51); font-size:1.4rem;}
.cate_fun_tech .funtech_swiper_wrap .thumb_banner a {display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
/* 유튜브 섬네일 */
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .swiper-slide {width:29rem;text-align: center;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb a{display:block; position:absolute; top:0; left:0; width:100%; height:100%;} 
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .thumb{height: 16rem;position: relative;display: block;overflow: hidden;border-radius: .8rem;background-color:var(--bdc_04, #484b51);}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .thumb img{width:100%;height:100%;object-fit: cover;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .thumb:before{content:'';display:block;width:5.6rem;height:5.6rem;transform: translate(-50%,-50%);left:50%;top:50%;position: absolute;background-size:100%;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .tit,
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .tags{display: -webkit-box;margin-top:2rem; overflow: hidden;font-size:1.6rem;padding:0 2rem; height: 2.87em; text-overflow: ellipsis; line-height: 1.44; color: var(--fc_02, #26282c);  -webkit-line-clamp: 2; -webkit-box-orient: vertical;opacity: 0;word-break:keep-all;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .tit{margin-top:1.2rem; font-weight:700; text-align:center;overflow: hidden; line-height:2.5rem;display:-webkit-box; overflow:hidden; text-overflow:ellipsis;-webkit-box-orient:vertical; -webkit-line-clamp:2;opacity: 0;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .swiper-slide{-webkit-transform: scale(.9);transform: scale(.9);-webkit-transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) all;transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) all;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .swiper-slide-active{opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .swiper-slide-active .thumb_banner .tags,
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .swiper-slide-active .thumb_banner .tit{opacity: 1;color:var(--fc_04, #696e76)}

.cate_fun_tech .funtech_swiper_wrap.movie_thumb{padding-top:0;position: relative;margin-top:6.4rem;}
.cate_fun_tech .funtech_swiper_wrap.movie_thumb::before{content: '';z-index: -1; position: absolute; top: -3.2rem; right: -2.4rem; left: -2.4rem; height: 16rem; background: -webkit-gradient(linear, left top, left bottom, from(#f6f7f8), to(rgba(246, 247, 248, 0))); background: linear-gradient(180deg, #f6f7f8 0%, rgba(246, 247, 248, 0) 100%);}
.cate_fun_tech .section_f.movie_thumb::before{right:0;left:0;}
.cate_fun_tech .funtech_swiper_wrap.movie_thumb .swiper-slide-active{-webkit-transform: scale(1); transform: scale(1);}
.cate_fun_tech .funtech_swiper_wrap.movie_thumb .swiper-slide-active .thumb{-webkit-box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.2); box-shadow: 0rem 1.2rem 2.4rem rgba(0, 0, 0, 0.2);}

/* 카드형(하단 아이콘 공통) 컨퍼넌트 */
.cate_fun_tech .card_pattern .swiper-slide{width:16rem}
.cate_fun_tech .card_pattern .swiper-container{height:17.4rem;}
/*.cate_fun_tech .card_pattern .bg_type_color,
.cate_fun_tech .card_pattern .bg_type_sub_color{display: inline-block;width:100%;height:17.4rem;padding:1.7rem;border-radius: .8rem;position: relative;background-color:var(--bg_02, #f7f7f8);}
.cate_fun_tech .card_pattern .bg_type_color strong,
.cate_fun_tech .card_pattern .bg_type_sub_color strong{font-weight: 400 !important;font-size:1.4rem;}
.cate_fun_tech .card_pattern .bg_type_color span,
.cate_fun_tech .card_pattern .bg_type_sub_color span{word-break: keep-all;font-weight:700;font-size:1.5rem;margin-top:.5rem;display:-webkit-box; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:3;overflow: hidden;max-height:6.3rem;}
.cate_fun_tech .card_pattern .bg_type_color:after{content: '';display: block;position: absolute; bottom:1.7rem;right:1.7rem;width:3.2rem;height:3.2rem;background:url(/msbiz/app/img/assets/ico_chef.png); background-size:9.6rem 9.6rem;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_1::after{background-position:0 0;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_2::after{background-position:-3.2rem 0;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_3::after{background-position:-6.4rem 0;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_4::after{background-position:0 -3.2rem;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_5::after{background-position:-3.2rem -3.2rem;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_6::after{background-position: -6.4rem -3.2rem;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_7::after{background-position:0 -6.4rem;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_8::after{background-position:-3.2rem -6.4rem;}*//* 220919 삭제 */
/* 카드형(하단 아이콘 서브) 컨퍼넌트 */
/* .cate_fun_tech .card_pattern .bg_type_sub_color:after{content: '';display: block;position: absolute; bottom:1.6rem;right:1.6rem;width:3.2rem;height:3.2rem;background:url(/msbiz/app/img/assets/ico_funSub.png); background-size:auto 3.2rem;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_1::after{background-position:0 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_2::after{background-position:-3.8rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_3::after{background-position:-7.6rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_4::after{background-position:-11.5rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_5::after{background-position:-15.4rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_6::after{background-position:-19.0rem 0;} *//* 220919 삭제 */
/*
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_7::after{background-position:-22.8rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_8::after{background-position:-26.6rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_9::after{background-position:-30.6rem 0;}
*/
/* 부자되는 이야기 아이콘 */
/* .cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_rich:after{content: '';display: block;position: absolute; bottom:1.6rem;right:1.6rem;width:3.2rem;height:3.2rem;background:url(/msbiz/app/img/assets/ico_funSub_type2.png); background-size:auto 3.2rem;}
.cate_fun_tech .card_pattern .bg_type_ico_1 .bg_type_sub_color.bg_type_rich::after{background-position:-0 0;}
.cate_fun_tech .card_pattern .bg_type_ico_2 .bg_type_sub_color.bg_type_rich::after{background-position:-35.7rem 0;}
.cate_fun_tech .card_pattern .bg_type_ico_1 + .bg_type_ico_1 .bg_type_sub_color.bg_type_rich::after{background-position:-39.7rem 0;}
.cate_fun_tech .card_pattern .bg_type_ico_1 + .bg_type_ico_1 + .bg_type_ico_1 .bg_type_sub_color.bg_type_rich::after{background-position:-0 0;}
.cate_fun_tech .card_pattern .bg_type_ico_2 + .bg_type_ico_2 .bg_type_sub_color.bg_type_rich::after{background-position:-43.9rem 0;}
.cate_fun_tech .card_pattern .bg_type_ico_2 + .bg_type_ico_2 + .bg_type_ico_2 .bg_type_sub_color.bg_type_rich::after{background-position:-35.7rem 0;} */

/* 전문가 칼럼 아이콘 */
/* .cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_ico_1::after{background-position:-34.4rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_ico_2::after{background-position:-38.4rem 0;}
.cate_fun_tech .card_pattern .bg_type_sub_color.bg_type_ico_3::after{background-position:-41.9rem 0;} *//* 220919 삭제 */


/* fun테크 홈 랜덤 색상 */
.cate_fun_tech .card_pattern .bg_type_color.bg_type_1,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_1{background-color: #6844a6;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_2,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_2{background-color: #444ea6;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_3,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_3{background-color: #335b80;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_4,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_4{background-color: #67563a;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_5,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_5{background-color: #804562;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_6,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_6{background-color: #1f6361;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_7,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_7{background-color: #654343;color:#fff;}
.cate_fun_tech .card_pattern .bg_type_color.bg_type_8,
.dark_mode .cate_fun_tech .card_pattern .bg_type_color.bg_type_8{background-color: #416438;color:#fff;}

/*** fun테크 홈 ***/
.fun_home_hr{margin:2.8rem 0;}
.cate_fun_tech .key_visual{margin:0 -2.4rem;}
.cate_fun_tech .key_visual .tit_wrap{position: relative;padding:2.4rem 0 2rem; display: block;overflow: hidden;font-size:1.75rem;}
.cate_fun_tech .key_visual .tit_wrap h3{font-size:1.8rem;font-weight: 700;color:var(--fc_02, #26282c);line-height: 2.5rem;position: relative;padding-left:2.4rem;padding-right: 2.4rem;margin-bottom:1.8rem;}
.cate_fun_tech .key_visual .tit_wrap strong{color:#5b3895;}
.cate_fun_tech .key_visual .tit_wrap h3 span.expection_tag{display: inline-block;border-radius: .2rem;color:#7a1df0;background:#f5effd; font-weight: 400; /*border:.1rem solid rgba(248,42,165,.25);*/margin-left:.8rem; padding:.1rem .7rem .1rem;font-size:1.3rem;top:-.1rem;position: relative;line-height:2rem;}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide{padding-left:2.4rem;padding-right:13.4rem;color:#26282c;}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide a{display: block;height:100%;}

.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_1{background: linear-gradient(98.62deg, #fdf2f9 0%, #fadcea 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_2{background: linear-gradient(98.62deg, #f5f0fe 0%, #e6e6ff 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_3{background: linear-gradient(98.62deg, #fff8df 0%, #fbf2d3 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_4{background: linear-gradient(98.62deg, #ecf7ea 0%, #e4f8e1 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_5{background: linear-gradient(98.62deg, #fdf6e4 0%, #fde3bc 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_6{background: linear-gradient(98.62deg, #f0fafb 0%, #dbf6f8 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_7{background: linear-gradient(98.62deg, #e8f1fa 0%, #dee8fc 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_8{background: linear-gradient(98.62deg, #fcebff 0%, #eadefa 100%);}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide.bg_9{background: linear-gradient(98.62deg, #ecf8ff 0%, #daf2ff 100%);}

.cate_fun_tech .funtech_swiper_full > .fun_swiper_wrapper.banner_swiper_1 .swiper-container{background:#f7f7f8;border-radius: .4rem;}

.cate_fun_tech .key_visual .keyVisual_swiper .swiper-container{padding:0;height:14.6rem}
.cate_fun_tech .keyVisual_swiper .swiper-pagination .swiper-pagination-bullet{vertical-align: middle;}
.cate_fun_tech .swipe_info{text-align: center;margin-top:1.6rem;font-size: 0;}
.cate_fun_tech .keyVisual_swiper .swiper-pagination .swiper-pagination-current{font-weight: 700;}
.cate_fun_tech .swipe_info .swiper-pagination{display: inline-block;font-size:0;margin:0; padding-left:0;line-height:1.6rem;  width:auto;font-weight: 300;color:#484b51;vertical-align: top;}
.cate_fun_tech .swipe_info .btn_swiper_control{font-size: 0;position: relative;z-index: 2; width:1.6rem;height:1.6rem;display: inline-block;vertical-align: top;margin-left:.6rem;background-size:auto 2rem;background-image:url(/msbiz/app/img/etc/ico_play_resume.png);background-repeat:no-repeat;background-position:-.2rem;}
.cate_fun_tech .swipe_info .btn_swiper_control.resume{background-position:-6.2rem -.2rem;}
.cate_fun_tech .key_visual .keyVisual_swiper .tags{padding-top:2.3rem;}
.cate_fun_tech .key_visual .keyVisual_swiper .banner_txt{font-weight: 700;max-height: 4.6rem; display:-webkit-box; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2;word-break:keep-all;}
.cate_fun_tech .key_visual .keyVisual_swiper .hash_tag{color:#696e76;margin-bottom:1.1rem; padding:.6rem .7rem .5rem;border:.1rem solid rgba(38,40,44,.5);border-radius:.2rem;font-size:1.3rem;display:inline-block;line-height:1;}
.cate_fun_tech .key_visual .keyVisual_swiper .img_box{position: absolute;right:2rem;bottom:2rem;width:10.6rem;height:10.6rem;overflow: hidden;transform: scale(0);opacity: 0;}
.cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide-active .img_box{opacity: 1; transform: scale(1);transition: .3s cubic-bezier(0.39, 0.575, 0.565, 1) all;}
.cate_fun_tech .key_visual .keyVisual_swiper .img_box img{width:100%}

.cate_fun_tech .key_visual ul{position: relative;text-align: left;font-size:0;padding:0 1.6rem 0;}
.cate_fun_tech .key_visual ul li{width:25%;display: inline-block;padding:.8rem;vertical-align: top;}
.cate_fun_tech .key_visual ul li a{display: block;text-align: center;}
.cate_fun_tech .key_visual ul li a i{width:4rem;height:4rem;display: block;margin:auto;position: relative;overflow: hidden;}
.cate_fun_tech .key_visual ul li a i img{display: block;width:100%;}
.cate_fun_tech .key_visual ul li a span{word-break: normal;white-space: nowrap; display: block;/*margin-top:.5rem;*/margin-top:1rem;color:var(--fc_03, #484b51);font-weight: 400;font-size:1.5rem;/* word-break: break-all; */line-height:1.6rem;position: relative;}
.cate_fun_tech .funtech_blueSection{background:#5e54d3;position: relative;margin:0 -2.4rem;padding:3.2rem 0;margin-bottom:3.2rem;}
.cate_fun_tech .funtech_blueSection .inner,
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap{padding:0 2.4rem;}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .fun_swiper_wrapper{overflow-x:hidden;}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .swiper-container{padding:0 2.6rem;overflow: visible;}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .thumb_banner{/*background:var(--bg_01, #fff);*/background:#fff; padding:3.1rem 2rem 2.2rem;border-radius: .8rem;box-shadow: 0 .4rem .6rem rgba(0, 0 ,0 ,0.1);}
.cate_fun_tech .funtech_blueSection .more,
.cate_fun_tech .funtech_blueSection h3{color:#fff; /*color:var(--fc_11, #fff);*/}
.cate_fun_tech .funtech_blueSection .swiper-pagination .swiper-pagination-bullet{background:#aab0b8}
.cate_fun_tech .funtech_blueSection .swiper-pagination .swiper-pagination-bullet-active{background:#dde1e4}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .thumb_banner .ico{height:3.1rem;display: block;margin-bottom:2.6rem;}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .thumb_banner .ico img{height:100%;width:auto;}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .thumb_banner .tit{font-weight: 300;color:#26282c;}
.cate_fun_tech .funtech_blueSection .funtech_swiper_wrap .thumb_banner .tag{color:#5e54d3;font-weight: 700;display: block;margin-bottom:.6rem;line-height:2.1rem;}
.cate_fun_tech .youtube_thumb .flex_end{margin-bottom: 0;}
.cate_fun_tech .youtube_thumb .fun_swiper_wrapper{margin-top:2rem;}


.cate_fun_tech .youtube_thumb .tags{color:#7b53d1;display: block;margin-top:.8rem;font-size:1.4rem;line-height: 2.3rem;font-weight: 500;}
.cate_fun_tech .banner_wrap{margin-top:0;}
/* 더보기 */
.cate_fun_tech .flex_end{margin-bottom:2rem;font-size:1.4rem;position: relative;align-items: center;}
.cate_fun_tech .flex_end .h2{margin-bottom:0;}
.cate_fun_tech .flex_end .more{position: relative;padding-right:1.5rem;color:var(--fc_04, #696e76);}
.cate_fun_tech .flex_end .more:after{content:'';display:inline-block;position: absolute;top:50%; right:.2rem; width:.9rem; height:.9rem; margin-top:-.5rem; border-top:1px solid #8d949e; border-right:1px solid #8d949e; transform:rotate(45deg); background:none;}


/* 지식up 연구소 */
.cate_fun_tech .home_banner .img_box,
.cate_fun_tech .fun_tech_bottomImg .img_box{border-radius: .8rem;overflow: hidden;position: relative;margin: 0 -.4rem;}
.cate_fun_tech .home_banner .img_box a,
.cate_fun_tech .fun_tech_bottomImg .img_box a{display: block;width: 100%;text-align: center;margin:auto;}
.cate_fun_tech .home_banner .img_box img,
.cate_fun_tech .fun_tech_bottomImg .img_box img{width:100%;max-width: 100%;}
/* 최신 지식up 연구소 상단 노출 배너 */
.cate_fun_tech .home_banner{margin-bottom:4.0rem;margin-top:4.0rem}
/* 부자되는 이야기 */
.cate_fun_tech .rich_story {margin-bottom:3.2rem;position: relative;margin-top:-1rem;}
.cate_fun_tech .rich_story + .hr_divide2 {height:0;margin-top:0;margin-bottom:0;}
.cate_fun_tech .rich_story + .hr_divide2  + .fun_tech_list{padding-top:3.2rem;}
/* .cate_fun_tech .rich_story + .hr_divide2  + .fun_tech_list + .hr_divide2{height:0;margin-top:0;margin-bottom:4rem;} */
.cate_fun_tech .rich_story:before{content:'';display: block;position: absolute;background:var(--bg_02, #f7f7f8);left:-2.4rem;right:-2.4rem;top:-3.5rem;bottom:-3.5rem;}
.cate_fun_tech .rich_story  ul li{text-align: left;}
.cate_fun_tech .rich_story  ul li a{position: relative;display: block;border-radius:.4rem;overflow: hidden;height:9rem;}
.cate_fun_tech .rich_story  ul li a .contents_box{padding-left:10.2rem;height:9rem;padding-top:0;} /* 2022-08-16 */
.cate_fun_tech .rich_story  ul li a .img_box{position: absolute;display: block;height:9rem;width:9rem;left:0;top:0;border-radius: .4rem;overflow: hidden;} /* 2022-08-16 */
.cate_fun_tech .rich_story  ul li a .img_box:after{content:'';display: block;width:100%;height:100%;opacity: .2;background: #000;position: absolute;left:0;top:0;}
.cate_fun_tech .rich_story  ul li a .img_box img{width:100%;object-fit: cover;height:100%;}
.cate_fun_tech .rich_story ul li a h4{margin-top:.4rem;font-weight: 400;display:-webkit-box; overflow:hidden; word-break: keep-all; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:2;}/* 2022-08-16 */
.cate_fun_tech .rich_story ul li .tag_wrap{text-align: left;display: flex;margin-left:-.2rem;}
.cate_fun_tech .rich_story ul li .tag_wrap span.tag{font-size:1.4rem;color:var(--fc_04, #696e76); font-weight: 400; display: inline-block;line-height: 2.3rem;}
.cate_fun_tech .rich_story ul li .tag_wrap span.tag + span.tag{margin-left:1.1rem;}
.cate_fun_tech .rich_story ul li + li{margin-top:1.6rem;}/* 2022-08-16 */
/* fun테크 홈 리스트 */
/* .cate_fun_tech .fun_tech_list .list_items{padding-top:.4rem;position: relative;}
.cate_fun_tech .fun_tech_list .list_items li{position: relative;padding-bottom:1.7rem;}
.cate_fun_tech .fun_tech_list .list_items li:last-child{padding-bottom:0;}
.cate_fun_tech .fun_tech_list .list_items li + li:after{content: '';display: block;position: absolute;bottom:0;width:100%;height:1px;background-color: var(--fc_08, #dde1e4);opacity: .6;}
.cate_fun_tech .fun_tech_list .list_items li + li:after{top:0;bottom:auto;}
.cate_fun_tech .fun_tech_list .list_items li + li{padding-top:2.7rem;}
.cate_fun_tech .fun_tech_list .list_items i{position: absolute;left:0;top:0;}
.cate_fun_tech .fun_tech_list .list_items li a{position: relative;display: block;}
.cate_fun_tech .fun_tech_list .list_items li span.cate_hash{font-size:1.4rem;}
.cate_fun_tech .fun_tech_list .list_items li a .number{font-size:1.5rem;}
.cate_fun_tech .fun_tech_list .list_items.type_1 li a .number{position: absolute;right:0;top:0;}

.cate_fun_tech .fun_tech_list .list_items.type_2 li a{padding-left:6rem;}
.cate_fun_tech .fun_tech_list .list_items.type_2 i{width:4.4rem;height:4.4rem;}
.cate_fun_tech .fun_tech_list .list_items.type_2 a:before{content:''; display:block; width:4.8rem; height:4.8rem; position:absolute; top:0; left:0; overflow: hidden; background: url(/msbiz/app/img/main_non/icon_img.png) no-repeat; border-radius: 50%;}
.cate_fun_tech .fun_tech_list .list_items span.cate_hash{display: inline-block;color:var(--fc_04, #696e76);padding-right:2.4rem;position: relative;max-width:calc(100% - 8.5rem);}
.cate_fun_tech .fun_tech_list .list_items span.tit{display: block;font-weight: 400;font-size: 1.6rem;color:var(--fc_02, #26282c);margin-top:.5rem;}
.cate_fun_tech .fun_tech_list .list_items span.number{color:var(--fc_05, #8c949e);}
.cate_fun_tech .fun_tech_list .list_items .new .cate_hash:after {content:""; display:inline-block; position:absolute; top:0; right:0; width:2rem; height:2rem; background:url(/msbiz/app/img/common/spr_ico_20x.png) no-repeat -22rem -14rem; background-size:25rem auto; transform: scale(.8);} 

.cate_fun_tech .fun_tech_list .list_items.type_2 li.tax a:before {background-position: 0 -6.4rem; background-size: 45rem;}
.cate_fun_tech .fun_tech_list .list_items.type_2 li.property a:before {background-position: -6.4rem -20.1rem; background-size: 33rem;}
.cate_fun_tech .fun_tech_list .list_items.type_2 li.finance a:before {background-position: -4.8rem -6.4rem; background-size: 45rem;} */

/* fun테크 홈 부자매거진  */
.cate_fun_tech .fun_tech_magazine + .hr_divide2{height:0;margin-top:0;margin-bottom:4rem;}
.cate_fun_tech .fun_tech_magazine .magazine .book{width:17.6rem}
.cate_fun_tech .fun_tech_magazine .magazine .book .link{margin-top:1.187rem;line-height:2.3rem;}
.cate_fun_tech .fun_tech_magazine .magazine_swiper{padding-top:0;}
/* fun테크 서브 상단 배너 그라데이션 */
/*
.cate_fun_tech .visual_funtech .img.bg_gradient_1{background:linear-gradient(128.76deg, #249797 0%, #22699D 100%);}
.cate_fun_tech .visual_funtech .img.bg_gradient_2{background:linear-gradient(128.76deg, #31a04f 0%, #8dd038 100%);}
.cate_fun_tech .visual_funtech .img.bg_gradient_3{background:linear-gradient(128.76deg, #5F3884 0%, #932D71 100%);}
.cate_fun_tech .visual_funtech .img.bg_gradient_4{background:linear-gradient()}
.cate_fun_tech .visual_funtech .img.bg_gradient_5{background:linear-gradient()}
.cate_fun_tech .visual_funtech .img.bg_gradient_6{background:linear-gradient()}
*/

/*** fun테크 서브 ***/
.cate_fun_tech .tab_wrap [class^=section]:first-of-type {padding:0;}
.cate_fun_tech .visual_swiper {margin:2.8rem -.8rem 0;}
.cate_fun_tech .visual_funtech {position:relative;}
.cate_fun_tech .visual_funtech.youtube {height:21rem;}
.cate_fun_tech .visual_funtech.youtube iframe{position: absolute;width:100%;height:100%;left:0;top:0;background:var(--bg_02, #f7f7f8)}
.cate_fun_tech .visual_funtech .visual_tit {position:absolute; top:4.8rem; left:3.2rem; font-weight:700; font-size:2rem; color:var(--fc_11, #fff); line-height:2.8rem;}
.cate_fun_tech .visual_funtech.kbstory .visual_tit {top:3rem;}
.cate_fun_tech .visual_funtech .visual_tit span {font-size:1.4rem;}
.cate_fun_tech .visual_funtech .visual_txt {position:absolute; bottom:2.6rem; left:3.2rem; padding:.3rem 1.1rem; border:.1rem solid rgba(255, 255, 255, 0.6); border-radius:1.3rem; font-weight:700; font-size:1.2rem; line-height:2rem; letter-spacing:-0.01em; color:var(--fc_11, #fff);}
.cate_fun_tech .visual_funtech .img{height:100%; text-align: center;border-radius: .8rem;overflow: hidden;}
.cate_fun_tech .visual_funtech .img img {max-width:100%; height:100%; object-fit:contain;}
.cate_fun_tech .board_list a .hash {display:block; position:relative; margin-bottom:0.8rem; padding-left:1rem; font-size:1.4rem; line-height:2rem; color:var(--fc_04, #696e76);}
.cate_fun_tech .board_list a .hash:after {display:block; content:'#'; position:absolute; top:0; left:0;}
.cate_fun_tech .section.board_list_wrap {margin-top:3.2rem;}
.cate_fun_tech .hr_divide + .section.board_list_wrap .board_list{border-top:0;}
.cate_fun_tech .hr_divide + .section.board_list_wrap .board_list li:first-child a{padding-top:0;}
/* 2022-08-08 변경  */
.cate_fun_tech .thumb_fun_youtube li {order:solid var(--fc_09, #ebeef0); border-width:0.1rem 0;}
.cate_fun_tech .thumb_fun_youtube li + li {border-top:0;}
.cate_fun_tech .thumb_fun_youtube .thumb_youtube {display:flex; align-items:center; position:relative; padding:2rem 0;}
.cate_fun_tech .thumb_fun_youtube .thumb_youtube .thumb {display:block; overflow:hidden; width:14rem; height:8.5rem; margin-right:1.6rem; border-radius:.8rem; background:var(--bg_02, #f7f7f8);}
.cate_fun_tech .thumb_fun_youtube .thumb_youtube .thumb iframe{width:100%; height:100%; border-radius:.8rem; overflow:hidden;}
.cate_fun_tech .thumb_fun_youtube .thumb_youtube .txt {display:-webkit-box; overflow:hidden; width:calc(100% - 15.6rem); text-overflow:ellipsis; -webkit-box-orient:vertical; word-break: break-all; -webkit-line-clamp:2; font-size:1.4rem; letter-spacing:-0.01rem; line-height:2rem; color:var(--fc_02, #26282c)}
.cate_fun_tech .thumb_fun_youtube .thumb_youtube a {display:flex; align-items:center; position:absolute; top:0; left:0; width:100%; height:100%;}

/* .cate_fun_tech .tech_acc {position:relative; padding:2.4rem; background:#f9f9f9; z-index: 10; border-radius:.8rem;}
.cate_fun_tech .tech_acc a{width:100%;}
.cate_fun_tech .tech_acc:after {display:block; content:''; position:absolute; top:-4rem; right:0.8rem; width:9rem; height:8rem; background:url(/msbiz/app/img/assets/img_charac_0530.png) no-repeat 100% 100%/contain;}
.cate_fun_tech .tech_acc.trend:after {background:url('/msbiz/app/img/assets/character2.png') no-repeat -20rem -10.2rem/38.4rem 18.2rem;}
.cate_fun_tech .tech_acc .p {font-size:1.4rem; line-height:2rem;}
.cate_fun_tech .tech_acc .tit {display:block; margin-top:1.6rem; font-size:1.8rem; color:#7b53d1; line-height:2.8rem;}
.cate_fun_tech .tech_acc .txt {margin-top:.8rem; line-height:2.3rem; color:var(--fc_03, #484b51);font-size:1.6rem;height:6.9rem; overflow:hidden;}
.cate_fun_tech .tech_acc.open .txt {height:auto; overflow:visible;}
.cate_fun_tech .tech_acc .btn_more {display:none; position:relative; width:100%; margin-top:1.6rem; padding-right:2rem; text-align:right; line-height:2.3rem;}
.cate_fun_tech .tech_acc .btn_more:after {display:block; content:''; position:absolute; top:50%; right:0; width:0.9rem; height:0.9rem; margin-top:-.45rem; border:solid #8d949e; border-width:0 .15rem .15rem 0; transform:rotate(45deg) translateY(-50%);}
.cate_fun_tech .tech_acc.more .btn_more {display:block;}
.cate_fun_tech .tech_acc.open .btn_more:after {margin-top:-.2rem; transform:rotate(225deg);} */

.cate_fun_tech .tab_panel .section_f.main_banner {margin:2.8rem 1.6rem 0;}
.cate_fun_tech .tab_panel .section_f .swiper-pagination, .cate_fun_tech .fun_swiper_wrapper.card_pattern .swiper-pagination {margin-top:2rem; font-size:0;} 

.cate_fun_tech h3.tlt {margin-bottom:2rem;position: relative;}
.cate_fun_tech .section_f .visual_funtech {border-radius:.8rem;}
.cate_fun_tech .visual_funtech {height:13.4rem;}
.cate_fun_tech .visual_funtech a {height:100%;}
.cate_fun_tech .visual_funtech .visual_tit {top:2.4rem; left:2.4rem;}
.cate_fun_tech .visual_funtech .visual_tit .title {font-size:1.1rem; line-height:2rem; font-weight:700; color:rgba(255, 255, 255, .6);}
.cate_fun_tech .visual_funtech .visual_tit .head_line {font-size:1.8rem; line-height:2.5rem;}
.cate_fun_tech .section.note {margin:3.2rem 0 2.8rem; padding:2.8rem 2.4rem 3.2rem; /*background:var(--bg_02, #f7f7f8);*/}
.cate_fun_tech .section_f.youtube {padding:2.4rem; background:#f9f7f1;}
.cate_fun_tech .section_f.youtube .youtube_thumb {position:relative;}
.cate_fun_tech .section_f.youtube .youtube_thumb a {display:block; position:absolute; top:0; left:0; width:100%; height:100%;}
.cate_fun_tech .section_f.youtube .visual_funtech {height:18.3rem;}
.cate_fun_tech .section_f.youtube .visual_funtech iframe {border-top-left-radius:.8rem; border-top-right-radius:.8rem; background:#ccc;}
.cate_fun_tech .section_f.youtube .tit {padding:1.4rem 2rem; border-bottom-left-radius:.8rem; border-bottom-right-radius:.8rem; background:#fff; }
.cate_fun_tech .section_f.youtube .tit span{font-size:1.6rem; font-weight:700; line-height:2.3rem;display:-webkit-box; overflow:hidden; text-overflow:ellipsis; word-break: keep-all; -webkit-box-orient:vertical; -webkit-line-clamp:2;max-height:6.4rem;}
.cate_fun_tech .funtech_swiper_wrap.youtube .swiper-slide {width:26.1rem;}
.cate_fun_tech .funtech_swiper_wrap.youtube .thumb_banner .thumb {height:14.4rem; margin-bottom:1.3rem;}
.cate_fun_tech .funtech_swiper_wrap.youtube .swiper-pagination {font-size:0; margin-top:1.6rem;}

.cate_fun_tech .section .funtech_swiper_wrap {/*padding-top: .8rem;*/}
/* .cate_fun_tech .banner_wrap .swiper-pagination,
.cate_fun_tech .banner_wrap + .swiper-pagination {display:block; margin-top:2rem; font-size:0;} */

/* KB금융사전 */
.cate_fun_tech .dictionary_sch_wrap {margin-bottom:1.6rem;}
.cate_fun_tech .consonant_wrap {padding-bottom:1.6rem; border-bottom:.1rem solid var(--fc_09, #ebeef0);}
.cate_fun_tech .consonant_area {display:flex; flex-wrap:wrap; flex-direction:column; overflow:hidden; overflow-x:auto; margin-right:-2.4rem; font-size:0;}
.cate_fun_tech .consonant_area:after {display:block; content:''; position:absolute; top:0; right:-2.4rem; width:2.4rem; height:7.2rem; background:linear-gradient(270deg, #ffffff 15%, rgba(255, 255, 255, 0) 100%)}
.cate_fun_tech .consonant_area ul {display:inline-block; padding-right:2.4rem; overflow:hidden; white-space:nowrap; font-size:0;}
.cate_fun_tech .consonant_area li {display:inline-block;}
.cate_fun_tech .consonant_area li a {display:block; width:3.6rem; height:3.6rem; font-size:1.4rem; font-weight:700; text-align:center; line-height:3.6rem;}
.cate_fun_tech .consonant_area li a.on {background:var(--bg_02, #f7f7f8); border:0.1rem solid var(--fc_08, #dde1e4); border-radius:1.8rem;}
.cate_fun_tech .dictionary_wrap + .hr_divide {display:none;}
.cate_fun_tech .dictionary_wrap.open + .hr_divide {display:block;}
.cate_fun_tech .dictionary_wrap ~ .section,
.cate_fun_tech .dictionary_wrap ~ #todayFinWrd {margin-top:3.2rem;}
.cate_fun_tech .dictionary_wrap .search_txt {margin:0; padding-top:3.2rem; padding-bottom:0; font-weight:400; line-height:2.5rem; color:var(--fc_04, #696e76);}
.cate_fun_tech .dictionary_wrap.open .search_txt {padding-bottom:3.2rem;}
.cate_fun_tech .result_area {display:none;}
.cate_fun_tech .result_area ul.list_acco > li.noCons {border:0;}
.cate_fun_tech .noCons {display:none; border:0;}
.cate_fun_tech .noCons .result.nodata {margin-top:10rem; margin-bottom:10rem;}
.cate_fun_tech .noResult .list_acco > li {border:0;}
.cate_fun_tech .noResult .result.nodata {margin:6.8rem 0 10rem;}
/* KB이야기 */
.cate_fun_tech .calculator {margin-top:4rem; margin-bottom:4rem; background:#6f3fd3; color:var(--fc_11, #fff);}
.cate_fun_tech .calculator .sec_inner {padding:2.8rem 0;}
.cate_fun_tech .calculator .h2 {color:var(--fc_11, #fff);}
.cate_fun_tech .link_list_hgroup {margin-bottom:2rem; font-size:0;}
.cate_fun_tech .link_list_hgroup .tlt,
.cate_fun_tech .link_list_hgroup .txt {display:inline-block; vertical-align:bottom; margin:0;}
.cate_fun_tech .link_list_hgroup .txt {margin-left:1.2rem; color:#696e76}

.cate_fun_tech .link_list li + li {margin-top:1.2rem;}
.cate_fun_tech .link_list a {display:block; height:10.4rem;}
.cate_fun_tech .link_list .img {overflow:hidden; height:100%; background:#f7f7f8; border-radius:.8rem;}
.cate_fun_tech .link_list img {max-width:100%; height:100%; object-fit:contain;}

.cate_fun_tech .flex_end .list_top_wrap {width:auto; margin-bottom:0;}
.cate_fun_tech .hgroup {margin-bottom:1.7rem;}
.cate_fun_tech .hgroup h3.tlt {margin-bottom:0;}
.cate_fun_tech .hgroup .p_sub {line-height:2rem; color:var(--fc_04,#696e76); }
.cate_fun_tech .hgroup .point {color:#f16687;}
.cate_fun_tech .banner + .banner {margin-top:3.2rem;}
.cate_fun_tech .board_view_tit .info .col_l span + span{margin-left:2rem;}
/* .cate_fun_tech .board_view_tit .info:after {display:block; content:''; clear:both;}
.cate_fun_tech .board_view_tit .share {float:right; width:2rem; height:2rem; background-image:url('/msbiz/app/img/common/spr_ico_20x.png'); background-size:25rem auto; background-position:-20rem -6rem;} */

/* .cate_fun_tech .money_sns .character_box {min-height:15.6rem;padding-right:0;background:url(/msbiz/app/img/assets/img_money_sns.png) no-repeat right bottom;background-size:12.6rem auto;margin-right:1.8rem;margin-bottom:-.3rem;} */
/* .cate_fun_tech .money_sns.banners .swiper-wrapper {height:auto;}
.cate_fun_tech .money_sns.banners .swiper-pagination {margin-top:1rem;}
.cate_fun_tech .money_sns [class*=icon1] {background-color:#fcf3f9;}
.cate_fun_tech .money_sns [class*=icon2] {background-color:#edf8fb;}
.cate_fun_tech .money_sns [class*=icon3] {background-color:#ebf9f2;}
.cate_fun_tech .money_sns .contents_banner {height:12rem;padding:2.1rem 13rem 2.3rem 2.3rem;position: relative; border-radius:.8rem;width: 100%;}
.cate_fun_tech .money_sns .contents_banner:after {content:'';position: absolute; display: block; right:2.5rem;bottom:1.5rem;width:8.3rem;height:9rem;background:url(/msbiz/app/img/assets/ico_money_sns.png) no-repeat;background-size:27rem auto;}
.cate_fun_tech .money_sns .contents_banner + .contents_banner {margin-top:0.8rem;}
.cate_fun_tech .money_sns .contents_banner.icon11:after {background-position:0rem 0rem;}
.cate_fun_tech .money_sns .contents_banner.icon12:after {background-position:-8.8rem 0rem;}
.cate_fun_tech .money_sns .contents_banner.icon21:after {background-position:-17.4rem 0rem;}
.cate_fun_tech .money_sns .contents_banner.icon22:after {background-position:0rem -9.5rem;}
.cate_fun_tech .money_sns .contents_banner.icon31:after {background-position:-8.8rem -9.5rem;}
.cate_fun_tech .money_sns .contents_banner.icon32:after {background-position:-17.4rem -9.5rem;}
.cate_fun_tech .money_sns .contents_banner .tit {font-weight:700; font-size:1.5rem;}
.cate_fun_tech .money_sns .contents_banner .txt {margin-top:1rem;color:#696e76; font-size:1.4rem;} */

.cate_fun_tech .center {margin-top:2rem;}
.cate_fun_tech .center .more {position:relative; padding-right:1.6rem; color:var(--fc_04, #696e76);}
.cate_fun_tech .center .more:after {content:''; display:block; position:absolute; right:.2rem; border-left:.15rem #8d949e solid; border-bottom:.15rem #8d949e solid; transform:rotate(-135deg); width:1rem; height:1rem; top:.5rem;}
.cate_fun_tech .visual_funtech.kbstory .visual_tit {top:50%; transform:translateY(-50%);}
.cate_fun_tech .visual_funtech.kbstory .visual_tit .head_line {color:#827c75;}
.cate_fun_tech .visual_funtech.kbstory .visual_tit .title {margin-top:.3rem; color:rgba(130, 124, 117, .6);}
.cate_fun_tech .funtech_swiper_wrap.kbstory .thumb_banner .thumb {height:15.2rem; margin-bottom:1.0rem;} /* 2022-08-17 간격 수정 */
.cate_fun_tech .funtech_swiper_wrap.kbstory .swiper-slide {width:15.2rem} /* 2022-08-16 수정 */
.cate_fun_tech .funtech_swiper_wrap.kbstory .swiper-pagination {font-size:0; margin-top:2rem;}/* 2022-08-16 수정 */
.cate_fun_tech .board_list > li > a {padding:2rem 0.2rem 1rem;}
.cate_fun_tech .board_list .info {margin-top:.3rem;}
.cate_fun_tech .board_list .info .number {line-height:2.5rem;}
.cate_fun_tech .btn_list_btm.more {margin-top:2rem;}
.cate_fun_tech .btn_list_btm.more .btn {height:2.3rem; line-height:2.3rem;}

/* .cate_fun_tech .calculator_list {margin:0 -.8rem; padding:2rem; border-radius:.8rem; background:#f1ede4;}
.cate_fun_tech .calculator_list .flex {padding:1.7rem 0; align-items:center;}
.cate_fun_tech .calculator_list .flex:first-child {padding-top:0;}
.cate_fun_tech .calculator_list .flex:last-child {padding-bottom:0;}
.cate_fun_tech .calculator_list .flex div {width:50%;}
.cate_fun_tech .calculator_list .flex a {position:relative; width:100%; padding-left:3.2rem;}
.cate_fun_tech .calculator_list .flex div a:before {content:''; position:absolute; left:0; top:50%; transform:translateY(-50%); width:2.4rem; height:2.4rem; background:url(/msbiz/app/img/assets/fun_tech/ico_calculator.png);background-size:auto 2.4rem;background-repeat: no-repeat;}
.cate_fun_tech .calculator_list .flex:not(:last-child) {border-bottom:.1rem solid rgba(0,0,0,.08);}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .swiper-slide {width:26.1rem;}
.cate_fun_tech .fun_swiper_wrapper.youtube_thumb .thumb_banner .thumb {height:14.4rem;} 

.cate_fun_tech .calculator_list .third_floor div a:before{background-position:0 0;}
.cate_fun_tech .calculator_list .third_floor div + div a:before{background-position:-3.4rem 0;}
.cate_fun_tech .calculator_list .second_floor div a:before{background-position:-6.8rem 0;}
.cate_fun_tech .calculator_list .second_floor div + div a:before{background-position:-10.2rem 0;}
.cate_fun_tech .calculator_list .first_floor div a:before{background-position:-13.6rem 0;}
.cate_fun_tech .calculator_list .first_floor div + div a:before{background-position:-17.0rem 0;}*/

/* 전문가 칼럼 */
.cate_fun_tech .deal_scroll {overflow:hidden; overflow-x:auto; width:100%;margin-top:2.4rem;}
.cate_fun_tech .deal_scroll::-webkit-scrollbar{display:none;} /* 211027 스크롤 숨김처리 */
.cate_fun_tech .mydeal_list {width:max-content; padding:0 2.4rem;}
.cate_fun_tech .mydeal_list .deal {display:inline-block; min-height:4rem; height:auto; margin-right:.4rem; padding:.9rem 2rem 0; border-radius:2rem; background:#f3eefe; color:#322a4f; font-size:1.5rem;}

/* 매거진 수정 */
.cate_fun_tech .magazine{padding:0 0rem 1rem;}
.cate_fun_tech .magazine_list .magazine .tit {overflow:hidden; position:absolute; width:0.1rem; height:0.1rem; clip:rect(0 0 0 0); margin:-0.1rem; padding:0.1rem; color:transparent;}
.cate_fun_tech .magazine .book {width:22rem;}
.cate_fun_tech .magazine .book .link {position:static;} /* 220708 추가 */
.cate_fun_tech .magazine .book .link {position:static; margin-top:2rem;} /* 220714 추가 */
.cate_fun_tech .magazine .book .link {position:static; margin-top:2.4rem;} /* 220714 수정 */
.cate_fun_tech .magazine .book .link a {padding:0 2rem; border:.1rem solid #8c949e; border-radius:.2rem; font-size:1.5rem; line-height:3.5rem;}


/* 매거진 공유하기 수정 */
/*.cate_fun_tech .magazine_list .monthly_tit {display:flex; justify-content:center; align-items:center; min-width:22rem; margin-bottom:2.7rem; font-weight:700; font-size:1.8rem; text-align:center; line-height:2.5rem;}*/ /* 타이틀 수정 */
.cate_fun_tech .magazine_list .monthly_tit {display:block; position:relative; min-width:22rem; margin-bottom:2.7rem; font-weight:700; font-size:1.8rem; text-align:center; line-height:2.5rem;padding:0 6rem;} /* 20220726 display flex 수정 */
.cate_fun_tech .magazine_list .magazine_btn {position:absolute; right:2.4rem; top:50%; transform:translateY(-50%); width:4rem; height:4rem; border:.1rem solid #dde1e4; border-radius:50%;} /* 타이틀 수정 */
.cate_fun_tech .magazine_list .magazine_btn .ico_20_share {background-position:-20rem -6rem; vertical-align:top;opacity: .5;} /* 타이틀 수정 */
.cate_fun_tech .magazine_list div.link a {padding-right:1.5rem; padding-left:0;}
.cate_fun_tech .magazine_list div.link a:after {top: 50%; right:.2rem; width:.9rem; height:.9rem; margin-top:-.5rem; border-top:0.1rem solid #484b51; border-right:0.1rem solid #484b51; transform:rotate(45deg); background:none;}

/* 매거진 스와이퍼 */
.cate_fun_tech .magazine_swiper{overflow: hidden;margin: 0 -2.4rem;padding-top:4rem;} /* 220726 padding-top 수정 */
.cate_fun_tech .magazine_swiper .swiper-container{overflow: visible;}
.cate_fun_tech .magazine_swiper .swiper-pagination{position: relative;}
.cate_fun_tech .magazine_swiper .swiper-slide{width:auto;-webkit-transform: scale(.7);transform: scale(.7);-webkit-transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) all;transition: 0.3s cubic-bezier(0.22, 0.61, 0.36, 1) all;}
.cate_fun_tech .magazine_swiper .swiper-slide-active{opacity: 1;-webkit-transform: scale(1);transform: scale(1);}
.cate_fun_tech .magazine_swiper .swiper-slide .img{border-radius: .8rem;border:.1rem solid var(--fc_07, #c6cbd0);overflow: hidden;position: relative;}
.cate_fun_tech .magazine_swiper .swiper-slide .img:after{content:'';z-index: 2; display: block;position: absolute;left:0;top: 0; width:100%;height:100%;background:var(--bg_01, #fff);opacity: .5;}
.cate_fun_tech .magazine_swiper .swiper-slide .img img{filter :blur(.3rem);}
.cate_fun_tech .magazine_swiper .swiper-slide-active .img{box-shadow:1.2rem .6rem 1.6rem rgba(0, 0, 0, 0.16);}
.cate_fun_tech .magazine_swiper .swiper-slide-active .img::after{content:none;}
.cate_fun_tech .magazine_swiper .swiper-slide-active .img img{filter:none;opacity: 1;}

.cate_fun_tech .swiper-button-prev,
.cate_fun_tech .swiper-button-next {opacity:1; width:4.8rem; height:4.8rem; outline:0;display: none;}
.cate_fun_tech .swiper-button-prev:after,
.cate_fun_tech .swiper-button-next:after {content:""; width:1.6rem; height:3rem; background:url(/msbiz/app/img/etc/swiper_button.png) no-repeat 0 0; background-size:3.2rem auto;}
.cate_fun_tech .swiper-button-next:after {background-position:-1.6rem 0;}
.cate_fun_tech .swiper-button-prev.swiper-button-disabled:after {background-position:0 -3rem;}
.cate_fun_tech .swiper-button-next.swiper-button-disabled:after {background-position:-1.6rem -3rem;}

/* 인기용어 */
.popular_keyword{position: relative;margin-top:1rem;height:22.2rem;max-width: 37.5rem;margin: auto;}
.popular_keyword ol li{position: absolute;font-size: 0;}
.popular_keyword ol li:nth-child(1){z-index: 4;}
.popular_keyword ol li:nth-child(2){z-index: 3;}
.popular_keyword ol li:nth-child(3){z-index: 2;}
.popular_keyword ol li:nth-child(4){z-index: 1;}
.popular_keyword ol li:nth-child(1){left:30%;top:2%;}
.popular_keyword ol li:nth-child(2){left:0%;bottom:1rem;}
.popular_keyword ol li:nth-child(3){right:0%;bottom:0%;}
.popular_keyword ol li:nth-child(4){right:0%;top:-2.5rem;}

/* 2022-07-21 버블차트 컬러 */
:root {
    --circleBg_01: #d1365b;
    --circleBg_02: #cc4e00;
    --circleBg_03: #a3683e;
    --circleBg_04: #098155;
    --circleBg_05: #562298;
    --circleBg_06: #6f3fd3;
    --circleBg_07: #c30ddc;
    --circleBg_08: #13837c;
    --circleBg_09: #2e6ce6;
    --circleBg_10: #1f3997;
    --circleBg_11: #262750;
    /* 접근성 대응 색상 변경 */
    /*
    --circleBg_12: #2f57e9;
    --circleBg_13: #2a3181;
    --circleBg_14: #9294d0;
    --circleBg_15: #6c5d7e;
    --circleBg_16: #94b23e;
    --circleBg_17: #4fb0b6;
    --circleBg_18: #139d7c;
    --circleBg_19: #1e5340;
    --circleBg_20: #bda880;
    */
}

.popular_keyword ol li.circle1 .button{background-color: var(--circleBg_01);}
.popular_keyword ol li.circle2 .button{background-color: var(--circleBg_02);}
.popular_keyword ol li.circle3 .button{background-color: var(--circleBg_03);}
.popular_keyword ol li.circle4 .button{background-color: var(--circleBg_04);}
.popular_keyword ol li.circle5 .button{background-color: var(--circleBg_05);}
.popular_keyword ol li.circle6 .button{background-color: var(--circleBg_06);}
.popular_keyword ol li.circle7 .button{background-color: var(--circleBg_07);}
.popular_keyword ol li.circle8 .button{background-color: var(--circleBg_08);}
.popular_keyword ol li.circle9 .button{background-color: var(--circleBg_09);}
.popular_keyword ol li.circle10 .button{background-color: var(--circleBg_10);}
.popular_keyword ol li.circle11 .button{background-color: var(--circleBg_11);}
/* 접근성 대응 색상 변경 */
/*
.popular_keyword ol li.circle12 .button{background-color: var(--circleBg_12);}
.popular_keyword ol li.circle13 .button{background-color: var(--circleBg_13);}
.popular_keyword ol li.circle14 .button{background-color: var(--circleBg_14);}
.popular_keyword ol li.circle15 .button{background-color: var(--circleBg_15);}
.popular_keyword ol li.circle16 .button{background-color: var(--circleBg_16);}
.popular_keyword ol li.circle17 .button{background-color: var(--circleBg_17);}
.popular_keyword ol li.circle18 .button{background-color: var(--circleBg_18);}
.popular_keyword ol li.circle19 .button{background-color: var(--circleBg_19);}
.popular_keyword ol li.circle20 .button{background-color: var(--circleBg_20);}
*/
.popular_keyword ol li .button{box-shadow: 0 .4rem .6rem rgba(0, 0 ,0 ,0.1);border-radius: 50%;padding-bottom:100%;position: relative;opacity: 0;overflow: hidden;}
.popular_keyword ol li .button:active{-webkit-transform: scale(.95);transform: scale(.95);}
.popular_keyword.animated ol li .button{animation: circle 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;}
.popular_keyword ol li:nth-child(2) .button{animation-delay: .3s;}
.popular_keyword ol li:nth-child(3) .button{animation-delay: .6s;}
.popular_keyword ol li:nth-child(4) .button{animation-delay: .9s;}
@keyframes circle{
	0%{transform:scale(0.2) rotate(50deg);opacity: 0;top:8rem}
	100%{transform:scale(1) rotate(0);opacity: .9;top:0}
}

.popular_keyword ol li .button span{position: absolute;left:0;width:100%;top:50%;transform: translateY(-50%);color:#fff;display:-webkit-box; overflow:hidden;width:100%; text-overflow:ellipsis;font-weight: 700;padding:0 1rem; word-break: break-all; -webkit-box-orient:vertical; -webkit-line-clamp:2;}
.popular_keyword ol li .btn_top1{width:16rem;z-index: 4;font-size: 1.8rem;line-height: 2.5rem;}
.popular_keyword ol li .btn_top2{width:12rem;z-index: 3;font-size:1.6rem;line-height: 2.3rem;animation-delay: .3s;}
.popular_keyword ol li .btn_top3{width:9.6rem;z-index: 2;font-size:1.4rem;line-height: 2rem;animation-delay: .6s;}
.popular_keyword ol li .btn_top4{width:8rem;z-index: 1;font-size:1.2rem;line-height: 1.8rem;animation-delay: .9s;}

.popular_keyword ol li .btn_top1 span{padding:0 1.5rem;}

/* KB 이야기 서브페이지 */
.board_view_img {margin-top:3.2rem;}
.board_view_img + .board_view_cont {margin-top:2rem;}

/*************************************** 다크테마 s ***************************************/

/* 섬네일형 swiper */
/* 유튜브 섬네일 */
.dark_mode .cate_fun_tech .funtech_swiper_wrap.movie_thumb::before {background: -webkit-gradient(linear, left top, left bottom, from(#373838), to(rgba(55, 56, 59, 0))); background: linear-gradient(180deg, #373838 0%, rgba(55, 56, 59, 0) 100%);}

.dark_mode .cate_fun_tech .word_note{}
.dark_mode .cate_fun_tech .word_note .note_contents .note_box .tech_acc .p{color:#fff;}
.dark_mode .cate_fun_tech .word_note .note_contents:before{background-color:#34363a;}
.dark_mode .cate_fun_tech .word_note .note_contents .note_box .tech_acc .tit{color:#826bc7;}
.dark_mode .cate_fun_tech .word_note .note_contents:before, 
.dark_mode .cate_fun_tech .word_note .note_contents:after, 
.dark_mode .cate_fun_tech .word_note .note_contents .note_box:before, 
.dark_mode .cate_fun_tech .word_note .note_contents .note_box:after{border-color:#45484d;}
.dark_mode .cate_fun_tech .word_note .note_contents .bg_hole .ico_hole::before{background:#45484d;;}
.dark_mode .cate_fun_tech .word_note .note_contents .bg_hole .ico_hole::after{border-color:#45484d;background-color:#2b2d30}

/*** fun테크 홈 ***/
.dark_mode .cate_fun_tech .key_visual .keyVisual_swiper .img_box img.normal_img{display: none;}
.dark_mode .cate_fun_tech .key_visual .keyVisual_swiper .img_box img.dark_img{display: block;}
/*.dark_mode .cate_fun_tech .key_visual .tit_wrap{background: #34363a;}*/
.dark_mode .cate_fun_tech .key_visual .tit_wrap h3 strong{color:#826bc7;}
.dark_mode .cate_fun_tech .keyVisual_swiper .swipe_info .swiper-pagination{color:#dde1e4;}
.dark_mode .cate_fun_tech .youtube_thumb .tags,
.dark_mode .cate_fun_tech .funtech_swiper_wrap .thumb_banner .tags {color:#c0a4ff;}
.dark_mode .cate_fun_tech .board_list a .hash {color:#ac98cd;}
.dark_mode .cate_fun_tech .funtech_blueSection{background-color: #6f3fd3;}
/*.dark_mode .cate_fun_tech .key_visual .tit_wrap h3 span.expection_tag{border:.1rem solid rgba(248,42,165,.35);background:#27282b;}*/


/* 더보기 */
.dark_mode .cate_fun_tech .flex_end .more:after{background-position: .3rem .2rem;}

/*** fun테크 서브 ***/
.dark_mode .cate_fun_tech .visual_funtech .visual_tit {color:var(--fc_02, #fff);}
.dark_mode .cate_fun_tech .tech_acc{background-color: #34363a;}
.dark_mode .cate_fun_tech .tech_acc .tit {color:#c0a4ff;}
.dark_mode .cate_fun_tech .tech_acc .txt {color:var(--fc_03, #f7f7f8);}
.dark_mode .cate_fun_tech .swiper-button-prev:after {background-position:0 -3rem;}
.dark_mode .cate_fun_tech .swiper-button-next:after {background-position:-1.6rem -3rem;}
.dark_mode .cate_fun_tech .consonant_area:after {background:linear-gradient(270deg, #212224 15%, rgba(33, 34, 36, 0) 100%)}
.dark_mode .cate_fun_tech .magazine_list .magazine_btn .ico_20_share {background-position-y:-31rem;}
.dark_mode .cate_fun_tech .tech_acc .btn_more:after {border-color:#dde1e4;}

.dark_mode .go_top .btn_goTop:after {background-position:0rem -27rem;}
.dark_mode .btn_goTop {background-color:var(--bdc_01, #45484d);border-color:#696e76;}

.dark_mode .cate_fun_tech .link_list_hgroup .txt {color:#ebeef0;}

.dark_mode .cate_fun_tech .calculator .h2,
.dark_mode .cate_fun_tech .calculator .more,
.dark_mode .cate_fun_tech .calculator_list a {color:#26282c;}
.dark_mode .money_sns .contents_banner .tit,
.dark_mode .money_sns .contents_banner .txt {color:#696e76;}

.dark_mode .cate_fun_tech .section.note {background-color:#171819;}
.dark_mode .cate_fun_tech .card_pattern .bg_type_color {background:#595b5e;}
.dark_mode .cate_fun_tech .section_f.youtube .tit {background:#34363a;}
.dark_mode .cate_fun_tech .section_f.youtube {background:#171819;}
.dark_mode .cate_fun_tech .magazine_list .magazine_btn {border-color:#86888a;}

/*************************************** 다크테마 e ***************************************/


/*************************************** 320 W  디바이스 대응 s ***************************************/
@media all and (max-width:375px) {
    /* fun테크 홈 */
    .cate_fun_tech .key_visual .keyVisual_swiper br{display: none;}
    .cate_fun_tech .card_pattern .swiper-slide{width:15.2rem;}
    /*
    .cate_fun_tech .key_visual .tit_wrap{padding:2rem 0 1rem;}
    .cate_fun_tech .key_visual .tit_wrap h3{font-size:1.3rem;}
    .cate_fun_tech .key_visual .tit_wrap h3 span.expection_tag{padding: 0 .8rem;}
    .cate_fun_tech .key_visual ul{padding:1rem 0 2rem;}
    .cate_fun_tech .key_visual ul li{width:25%;}
    .cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide{padding-right:14rem;}
    .cate_fun_tech .key_visual .tit_wrap{font-size: 1.6rem;}
    .cate_fun_tech .key_visual .keyVisual_swiper .tags{margin:2.6rem 0 .4rem;}
    .cate_fun_tech .keyVisual_swiper .swipe_info{bottom:.5rem;}
    .cate_fun_tech .key_visual .keyVisual_swiper .swiper-slide-active .img_box{width:13.4rem;}
    */
}
/*************************************** 320 W  디바이스 대응 e ***************************************/

/* 
====================================================== 
    2022 마이자산 업데이트 end.....
======================================================
*/