@charset "utf-8"; 


/*** funds_manage_pjh.css ***/
/* fund manage common */
var { font-style: normal;}
var + sup {color: var(--fc_02, #26282c); font-size: 1rem; line-height: 1.6;}
.h2 .badge + h2 {margin-top: 1rem;}
.h3 + .sub_tit {margin-top: 0;}
.sub_tit + .table {margin-top: 1.0rem; }
strong + .depth.bul.sm {margin-top: 1.8rem;}
strong.fs24 + .p {margin-top: 1.6rem;}
strong.normal + .p {margin-top:.6rem;}
.sub_tit {margin:1.4rem 0 1.0rem; font-size: 1.5rem; color:var(--fc_04, #696e76); font-weight: normal;}
.img_area > .img {display:block; max-width:42rem; margin:0 auto;}
.depth.info + .img_area {margin-top: 2rem;}
.btn_txt.link .num_unit.inline{display:inline; vertical-align:baseline; margin-left:0;}
.sort_detail .number{font-weight: 500; font-size: 1.5rem;}
.list.list_top_bd > li:first-child { padding-top: 1.5rem; }
.pop_section .tab_radio + .tab_panel .form_date_term {margin-top:0;}
.tab_wrap .form_row .tab_wrap.box .tab_panel {padding-top: 0;}/* tab_pannel 간격(임시) */
.link_panel > .inform_top_wrap[style*="display:none"] + .section {padding-top:2.8rem;}/* 개발 display:none 대응 */
.form_group:first-child[style*="display:none"] + .form_group {margin-top:0;}

/* list_acco type_delBtn */
.list_acco.type_delBtn .hr_divide {height: .6rem; margin: 2.8rem 0 1.6rem;}
.list_acco.type_delBtn:not(.js_accordion) .toggle_panel {padding-bottom: 4rem;}
.acc_lstResult .list_data { border-bottom: 0; }
.acc_lstResult .list_data > li {padding: 0;}
.acc_lstResult .list_data > li + li {border-top-color: var(--bdc_01, #ebeef0);}
.acc_lstResult .list_data > li > div {padding: 1.4rem 1.2rem 1.2rem; font-size: 1.4rem; }
.acc_lstResult .list_data > li > .key {background: var(--bg_02, #f7f7f8); border-right: 1px solid var(--bdc_01, #ebeef0); color: var(--fc_03, #484b51);}
.section .hr_divide.eq {margin:3.2rem 0;}

/* tip_info - 2depth */
.tip_info .tip_inner {display:block; position: relative; margin-top:.6rem; padding-left: 1.4rem; line-height: 1.4;}
.tip_info .tip_inner::before {content:''; display:inline-block; position: absolute; left:0; top:.8rem; width:.6rem; height:1px; background:var(--fc_04, #696e76);}

/* box */
.fu_gray_box { padding: 1.6rem; margin-top: 1.2rem; text-align: center; background: var(--fc_09, #ebeef0); }
.fu_gray_box strong .number { font-size: 1.7rem; }
.fu_gray_box + .depth { margin-top: 1.6rem; }
.fu_gray_box p + p {margin-top: 1.4rem;}
.fu_gray_box.bg_light {background-color:var(--bg_02, #f7f7f8);}
.fu_gray_box.outline {border-top: 1px solid var(--bdc_02, #696e76); border-bottom: 1px solid var(--bdc_02, #696e76); background: var(--bg_01, #fff); padding: 2rem 0; margin-top:0;}

/* list */
.list_comp > li > div.selection {display: block; position: relative;}
.list_comp .selection .acc_wrap > span { display: block; }
.list_comp .selection .acc_wrap > span + span { margin-top: .8rem; }
.list_comp.justify > li{display:flex; flex-wrap: wrap; align-items: center; justify-content: space-between;}
.list_comp.justify > li > .ect {margin-left:auto;}
.list_comp.justify > li .btn_list_btm {width: 100%; margin-top: 1.6rem;}
.list_comp.justify > li .btn_list_btm.r {margin-top: 1rem; text-align:right;}
.list_total + .list_comp.justify {border-top-color: var(--fc_05, #8c949e);}
.list_total + .list_comp.justify > li {padding-left: 2px;}
.list_comp.type_button .p {margin-top: 1.4rem;}
.list_comp.type_button .p + .btn_list_btm{margin-top: 1.6rem; padding-bottom: .2rem;}

/* 전자세금계산서 */
.table_sep_txt > li { display: inline-block; }
.table_sep_txt > li .tit { font-weight: 700; }
.table_sep_txt > li + li {position:relative; padding-left: 1rem;}
.table_sep_txt > li + li:before {content:'';position:absolute;top:.3rem;left:0.3rem;width:.1rem;height:1.5rem;background-color:var(--fc_08, #dde1e4)}
.table.th_blue table > tbody > tr > th[rowspan] {background:#eef3fb; color:#287eff; font-size: 1.5rem;}
.table.th_red table > tbody > tr > th[rowspan] {background:#fbeeee; color:#ff5858; font-size: 1.5rem;}
.table[class*="th_"] + .table[class*="th_"]{margin-top:3.2rem;}
.fu_lstNumber .list_data_group .h3 > .number {margin-left:5px;}
.verifi_wrap.fu_point .verifi_num {color:#287eff;}
.verifi_wrap.fu_point .verifi_num .num_unit{font-size: 2.4rem;}

/* [신규기관등록] 인증방식선택 */
.h2 + .list_link.fu_certify li:first-child > a {padding-top: 2rem;}
.list_link.fu_certify li .link {position:relative; display:flex; align-items: center;}
.list_link.fu_certify li .link::before{ content: ''; display: block; width: 4rem; height: 4rem; margin-right: 1.6rem; background: url(/msbiz/app/img/funds_manage/ico_fu_certification80.png) no-repeat 0 0 / auto 4rem; }
.fu_certify li .link > .p {flex:1;}
.fu_certify li .link.ico_40_certify_bank::before {background-position: -4rem 0;}
.fu_certify li .link.ico_40_certify_id::before {background-position: -8rem 0;}

/* [간편세무장부/HR] 서비스가입/해지 */
.list_comp.type_icon > li {position:relative; padding-left: 5.6rem; padding-top:1rem;}
.list_comp.type_icon > li:first-child {padding-top:.8rem;}
.list_comp.type_icon > li::before {content:""; display:block; position:absolute; top:0; left:0; width: 4rem; height: 4rem;}
.list_comp.type_icon > li .depth.sm li {color:var(--fc_03, #484b51);}
.h2 + .list_comp.type_icon.noline {margin-top: 1.6rem;}

.type_icon.fu_iconLst_1 > li::before {background: url(/msbiz/app/img/funds_manage/ico_fu_eazytax80.png) no-repeat 0 0 / auto 4rem;}
.type_icon.fu_iconLst_1 > li.item2::before {background-position: -4rem 0;}
.type_icon.fu_iconLst_1 > li.item3::before {background-position: -8rem 0;}

/* 다른금융등록관리 - 기관유형선택 */
.fu_linkLst {display: flex; flex-wrap: wrap; align-items: stretch; margin: -1.2rem -0.6rem 0;}
.fu_linkLst .fu_link {width: 50%; padding: 0 0.6rem; margin-top: 1.2rem;}
.fu_linkLst .fu_link a {display: block; padding: 2.4rem 0 1.8rem; height: 100%; background: var(--bg_02,#f7f7f8); border: 1px solid var(--bdc_01,#ebeef0); text-align: center; border-radius: 2px;}
.fu_linkLst .fu_link a > span {display: block; margin-top: 1rem;}
.fu_linkLst .fu_link.active > a {border: 2px solid #ffcc00; background: var(--bg_01, #fff); box-shadow: 2px 3px 5px rgba(0,0,0,.15);}
.fu_linkLst .fu_link.active > a > span {font-weight: bold;}
.fu_linkLst .fu_link .fu_link_icon {display: block; width: 4.8rem; height: 4.8rem; margin: 0 auto; background: url(/msbiz/app/img/funds_manage/ico_fu_institutional96.png) no-repeat 0 0 / 28.8rem auto;}
.fu_linkLst .fu_link .ico_48_fu_bank {background-position:-4.8rem 0;}
.fu_linkLst .fu_link.active .ico_48_fu_bank {background-position:0 0;}
.fu_linkLst .fu_link .ico_48_fu_card {background-position:-14.4rem 0;}
.fu_linkLst .fu_link.active .ico_48_fu_card {background-position:-9.6rem 0;}
.fu_linkLst .fu_link .ico_48_fu_stock {background-position:-24rem 0;}
.fu_linkLst .fu_link.active .ico_48_fu_stock {background-position:-19.2rem 0;}
.fu_linkLst .fu_link .ico_48_fu_insurance {background-position:-4.8rem -4.8rem;}
.fu_linkLst .fu_link.active .ico_48_fu_insurance {background-position:0 -4.8rem;}
.fu_linkLst .fu_link .ico_48_fu_saving {background-position:-14.4rem -4.8rem;}
.fu_linkLst .fu_link.active .ico_48_fu_saving {background-position:-9.6rem -4.8rem;}
.fu_linkLst .fu_link .ico_48_fu_agency {background-position:-24rem -4.8rem;}
.fu_linkLst .fu_link.active .ico_48_fu_agency {background-position:-19.2rem -4.8rem;}
.fu_linkLst .fu_link .ico_48_fu_credit {background-position:-4.8rem -9.6rem;}
.fu_linkLst .fu_link.active .ico_48_fu_credit {background-position:0 -9.6rem;}
.fu_linkLst .fu_link .ico_48_fu_tax {background-position:-14.4rem -9.6rem}
.fu_linkLst .fu_link.active .ico_48_fu_tax {background-position:-9.6rem -9.6rem}
.fu_linkLst .fu_link .ico_48_fu_tax2 {background-position:-24rem -9.6rem;}
.fu_linkLst .fu_link.active .ico_48_fu_tax2 {background-position:-19.2rem -9.6rem;}

/* form */
.list_comp li .inr_form {position:relative; padding-left: 3.4rem; padding-top: .8rem;}
.list_comp li .inr_form.acc_wrap {padding-right: 4rem;}
.list_comp li .inr_form.acc_wrap .acc_info {width:100%;}
.list_comp li .inr_form.acc_wrap .acc_info .tit {margin-right:.8rem;}
.list_comp li .inr_form.acc_wrap .btn_txt.link {position:absolute; bottom:0; right:0;}
.list_comp .inr.grid > .col > .acc_bank.md span[class*=icon_bank_] {position:absolute; top: 3px;}
.list_comp .inr.grid > .col > .acc_bank.md .bk_name {padding-left:30px; padding-right:0;}

.select.type_sch .select_btn {padding-right:2.4rem;}
.select.type_sch .select_btn::after { display:block; right:0; width:2.4rem; height:2.4rem; margin-top:0; background-image:url(/msbiz/app/img/common/spr_ico_24x.png); background-repeat:no-repeat; background-position:-12rem 0; background-size:25rem auto; z-index:2; border:none; transform:translateY(-50%) rotate(0); -webkit-transform:translateY(-50%) rotate(0); -moz-transform:translateY(-50%) rotate(0); -ms-transform:translateY(-50%) rotate(0); -o-transform:translateY(-50%) rotate(0); }
.form_tit .grid .btn {position:relative; z-index:1;}
.form_group.period .input input {padding-right:2.5rem;}
.form_group.period .input input:focus + .unit {color:var(--fc_02, #26282c);}
.form_group.period .unit {position:absolute; right:0; font-size: 1.7rem; font-weight: bold; line-height: 4.4rem;}/*221028 color:#8c959f;*/
.form_group.multirow > .form_row + .form_row { margin-top: 2rem; }
.form_row.inr_del{position: relative; padding-left: 4rem;}
.form_row.inr_del button.btn_ico_34 { position: absolute; top:50%; left:-.4rem; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.form_select_term {display:flex;}
.form_select_term .space {width:3.8rem; line-height:4.6rem; text-align:center;}
.form_select_term .select.outline,
.form_select_term .select.outline .select_btn {width:100%; height:4.6rem;}
.fu_cal_month.cal_month {margin: 0 -2.4rem;}
.fu_cal_month.cal_month {padding: 1.6rem 0;height:5.6rem;}
.fu_cal_month.cal_month .year_txt{width:auto; margin: 0;}
.fu_cal_month.cal_month .year_txt .number{font-size:1.9rem; font-weight:500;}
.cal_month .btn_ico {margin:0;}
.cal_month .btn_ico.prev {margin-right:1.0rem;}
.cal_month .btn_ico.next {margin-left:1.0rem;}
.fu_cal_month.cal_month .btn_ico:disabled{ cursor: default;}
.fu_cal_month.cal_month .btn_ico:disabled::before{display:none;}
.fu_cal_month + .h2, .fu_cal_month + [class*="section"], .fu_cal_month + .hgroup {margin-top: 1.6rem;}

/* folder */
.folder + .folder {margin-top: 0.8rem;}
.folder > .tit {position:relative; width:calc(100% - 2rem); height: 4.8rem; padding:1.2rem 2.4rem 1.2rem 2rem; margin-left: 2rem; background: var(--fc_09, #ebeef0); border-bottom-left-radius: 6px; border-top-left-radius: 6px; color: var(--fc_04, #696e76);}
.folder > .tit .cate {position: relative; font-size: 1.4rem; vertical-align: middle;}
.folder > .tit .count {display:inline-block; vertical-align: middle; font-family:'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif; vertical-align:.02rem;}
.folder > .tit .selection { font-size: 1.4rem; }
.folder > .tit .selection .label [class^=icon_bank_]+strong {padding-top:.4rem; color: var(--fc_04, #696e76);}
.folder > .tit.active {background: #eff5fb; color:var(--fc_02, #26282c);}
.folder > .tit.active .selection .label [class^=icon_bank_]+strong {color:var(--fc_02, #26282c);}
.folder > .tit > button {position:absolute; top:50%; transform:translateY(-60%); right:2rem; width:2rem; height:2rem; -webkit-transform:translateY(-60%); -moz-transform:translateY(-60%); -ms-transform:translateY(-60%); -o-transform:translateY(-60%);}
.folder > .tit > button:after {content:''; display:inline-block; position: absolute; right:.6rem; top:50%; width:9px; height:9px; margin-top:-.45rem; border:solid var(--fc_06, #aab0b8); border-width: 0 1.5px 1.5px 0; transform: rotate(45deg); -webkit-transform: rotate(45deg);}
.folder > .tit > button[aria-expanded="true"]:after { margin-top: -.2rem; transform: rotate(225deg); -webkit-transform: rotate(225deg); -moz-transform: rotate(225deg); -ms-transform: rotate(225deg); -o-transform: rotate(225deg); }
.folder > .panel {margin-left:2rem;}
.folder > .panel[id] {display:none;}
.folder > .panel.active {display:block; margin-bottom: 1.2rem;}
.folder:last-child > .panel.active { margin-bottom:0; }
.folder .list_comp.justify {border-top: 0;}
.folder .list_comp.justify > li {padding-right: 2.4rem; padding-left:.4rem;}
.folder .acc_list_wrap.type_list {margin:1.6rem 0 0 0;}
.folder .acc_list_wrap.type_list .acc_pannel {margin:0; padding: 2rem 2.4rem 2rem 2.2rem;}
.folder .acc_list_wrap.type_list .acc_pannel:first-child{padding-top:.4rem;}
.folder .acc_list_wrap.type_list .acc_pannel:last-child {border-bottom:0;}
.folder .acc_list_wrap.type_list .acc_pannel > .selection {display:block; position: static;}
.folder .acc_list_wrap.type_list .acc_pannel > .selection + .tip_info {margin-top: 1.6rem;}
.folder .acc_list_wrap.type_list .acc_pannel .acc_wrap {padding:0; margin:0;}
.folder .acc_list_wrap.type_list .acc_pannel.slct .acc_wrap {padding-left: 3.2rem; margin-top: 1.2rem;}
.folder .inr_form {margin: 0 2.4rem 0 2.0rem; padding: 1rem 0 2.4rem;}
.folder .acc_list_wrap.type_list .selection input[type=checkbox]:disabled + label {color: var(--fc_06, #aab0b8);}
.folder .acc_list_wrap.type_list .selection input[type=checkbox]:disabled + label .badge { filter: grayscale(1); }
.folder .acc_list_wrap.type_list .selection input[type=checkbox]:disabled + label .acc_num{color:inherit;}

/* 015000 상품명,벳지 최대케이스 */
.fu_manageLst .list_comp.justify > li {margin-top:0; padding-left: 1.4rem; align-items:baseline;}
.fu_manageLst .list_comp.justify > li .selection {margin-top: 1.8rem;}
.fu_manageLst .list_comp.justify > li .selection label {padding-left:2rem;}
.fu_manageLst .list_comp.justify > li .selection label::before { left:-1.4rem; transition: border ease .3s; -webkit-transition: border ease .3s; -moz-transition: border ease .3s; -ms-transition: border ease .3s; -o-transition: border ease .3s; }
.fu_manageLst .list_comp.justify > li .selection input[type=radio]:checked + .label:after {left:-.8rem;}
.fu_manageLst .list_comp.justify > li .selection input[type=checkbox] + label::before { left:-1.4rem;}
.fu_manageLst .list_comp.justify > li .selection input[type=checkbox] + label::after { left:-1.5rem;}
.fu_manageLst .list_comp.justify > li .ect {padding-left: 1rem; margin-top: 1.1rem;}
/* .fu_manageLst .list_comp.justify > li .ect {padding-left: 3.4rem; margin-top: 1.1rem;} */
.fu_manageLst .list_comp.justify > li .ect {margin-left: inherit;}
.fu_manageLst .folder .list_comp.justify > li .ect {margin-top: 1.5rem;}
.fu_manageLst .list_comp.justify > li .btn_list_btm {width: calc(100% + 1.4rem); margin-left: -1.4rem;}
.fu_manageLst .list_comp.justify > li:last-child {border-bottom:0; padding-bottom: 1.6rem;}
.chk_data_list_group.flags .chk_data_list .row > .col:first-child {width:42.5%;}
.chk_data_list_group.flags .chk_data_list .row > .col:last-child {width:57.5%;}

/* star cms global 등 */
.acc_pannel.open.only {padding: 1.8rem 0; border-top: 1px solid var(--fc_05, #8c949e); border-bottom: 1px solid var(--bdc_01, #ebeef0); }
.acc_pannel.open.only ~ .acc_pannel.open.only {margin-top:0; border-top:0;}
.acc_pannel .list_data.noline {margin-top: 1.6rem; padding:0; border-top:0;}
.acc_pannel .list_data.noline > li:last-child {padding-bottom:0;}
.acc_pannel .acc_top_info:first-child {margin-top:0;}
.acc_pannel .acc_top_info:first-child + .acc_name,
.acc_pannel .acc_top_info:first-child + .acc_num {margin-top:.4rem;}
.acc_date .number{font-size:1.5rem; color: var(--fc_03, #484b51); font-weight:400;}
.acc_date .number + span{font-size: 1.4rem; color: var(--fc_03, #484b51);}
.acc_date .sep_txt::before {top:.3rem;}
.acc_date + [class*=acc_] {margin-top:.8rem;}
.acc_pay_status {font-size:1.5rem; color: var(--fc_04, #696e76);}
.acc_pay_status > span+span {display:inline;position:relative;padding-left:1.7rem;}
.acc_pay_status > span+span::before{content:'';position:absolute;top:.5rem;left:0.6rem;width:.1rem;height:1.2rem;background-color:var(--fc_08, #dde1e4)}
.acc_list_top {margin: 1.8rem 0 0; padding-bottom:1rem; font-size:1.4rem; border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.acc_list_top .sep_txt {display:inline-block; vertical-align:-.1rem; min-height:1.7rem;}
.acc_list_top .sep_txt .number {font-weight:400;}
.acc_list_top + .acc_list_wrap.line {border-top:0;} 
.fu_acc.acc_list_wrap {border-top:1px solid var(--fc_05, #8c949e);}
.fu_acc.acc_list_wrap .acc_pannel:first-of-type {padding-top: 1.8rem;}
.fu_acc.acc_list_wrap {margin:0; border-top-color: var(--bdc_01, #ebeef0);}
.fu_acc.acc_list_wrap .acc_pannel .acc_wrap {margin:0;}
.fu_acc.acc_list_wrap .acc_pannel .btn_list_btm:last-child {margin-top:1.8rem; padding-bottom: 1rem;}
.fu_acc.acc_list_wrap .acc_pannel .acc_name > span{display:inline-block; vertical-align: middle;}
.fu_acc.acc_list_wrap .account_err {display:inline-block; padding-left:5px; font-size: 1.4rem; color:#ff5858; vertical-align: middle;}
.account_all .toggle_panel .acc_list_top { margin: 1.8rem 0 0 2.4rem;}
.account_all .toggle_panel .fu_acc.acc_list_wrap {border-top:0; margin: 0 0 0 2.4rem;}
.account_all .fu_acc.acc_list_wrap .acc_pannel {padding:1.8rem 2.4rem 2rem 1.8rem; margin:0;}
.account_all .fu_acc.acc_list_wrap .acc_pannel .acc_wrap{margin:0}
.account_all .fu_acc.acc_list_wrap .acc_pannel:last-child {border-bottom:0;}
.account_all .fu_acc.acc_list_wrap .acc_sum_wrap {margin-top:2rem;}
.account_all .fu_acc.acc_list_wrap .acc_pannel .btn_list_btm:last-child { padding-bottom: 0;}
.acc_wrap.approval .acc_bank{margin-top:0; padding-top:.2rem;}
.acc_wrap.approval .acc_bank .bk_name {vertical-align:middle;}
.acc_wrap.approval .acc_num {margin-top:.4rem;}
.acc_wrap.approval .acc_infoTxt {font-size:1.4rem;}
.acc_wrap.approval .acc_infoTxt .depth {margin-top:0;}
.acc_wrap.approval .acc_infoTxt .number {font-size:1.5rem;}
.acc_wrap.approval .acc_name + .acc_infoTxt {margin-top: 1.6rem; padding-top:1.5rem; border-top:1px solid var(--bdc_01, #ebeef0); }

/* 글로벌 자금조회 */
.list_data > li .key.turning {width:100%;}
.list_data > li .key.turning .txt {font-size:1.4rem;}
.sepLst {font-size:1.4rem; color: var(--fc_04, #696e76);}
.sepLst .sep_txt::before {top:.3rem;}
.sepLst + .h3 {margin-top:2rem;}
.state_arr.black.down {color:var(--fc_02, #26282c);}
.state_arr.black.down:before {border-top:8px solid var(--bdc_01, #26282c);}

/* 자금보고서, 매입매출관리, 카드사용내역조회 */
.sec_inner {padding: 0 2.4rem;}
.sec_inner_wrap {padding-top: 3.2rem;}
.sec_inner_wrap [class*="hgroup"] + [class*="list_data"] {margin-top: 1.8rem;}
.sec_inner_wrap .sec_inner + .sec_inner {margin-top:4rem;}
.sec_inner_wrap .sec_inner:first-child > .h2 {margin-top:0;}
.sec_inner + .sec_inner_wrap {margin-top: 3.2rem;}
.hgroup + .chart_wrap {margin-top:1.2rem;}
.list_data p.fs14 > .number {font-size:1.5rem;}

/* 일별/주별 탭 - 자금보고서 */
.tab_wrap.box.type_sm .tab_list {background: none;}
.tab_wrap.box.type_sm .tab_list > a { width:9rem; line-height: 3.4rem; border:1px solid #cacfd4; font-size:1.5rem; border-radius:10rem; -webkit-border-radius:10rem; -moz-border-radius:10rem; -ms-border-radius:10rem; -o-border-radius:10rem; text-align: center; letter-spacing: -.05rem;}
.tab_wrap.box.type_sm .tab_list > a.active {box-shadow:none; background:#ffd338; border-color:#ffd338; color:var(--fc_02, #26282c); font-weight:700;}
.tab_wrap.box.type_sm .tab_list > a + a {margin-left:.8rem;}
.tab_wrap.box.type_sm .link_panel {padding:1.6rem 0 0; margin:1.6rem -2.4rem 0; background:var(--bg_02, #f7f7f8);}
.tab_wrap.box.type_sm .link_panel > .hidden + .bg_white {padding-top:1.6rem;}
.tab_wrap.box.type_sm .tab_list_cal {margin:1.6rem -2.4rem 0; padding: 1.2rem 0 0; background:var(--bg_02, #f7f7f8); border-top:1px solid var(--bdc_01, #ebeef0);}
.tab_wrap.box.type_sm .tab_list_cal .fu_cal_month {margin:0; padding-bottom:0; height:4rem;}
.tab_wrap.box.type_sm > .link_panel {margin-top:0;}

/* 일별/주별 탭 - 매입매출관리, 카드사용내역조회 */
.tab_wrap.box.outline .tab_list { background: none; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0; }
.tab_wrap.box.outline .tab_list > a { position: relative; width: 100%; padding: 0 .5rem; border-radius:0; border:none; color: var(--fc_03, #484b51); font-size: 1.6rem; font-weight: 400; line-height: 4.4rem; text-align: center; letter-spacing: -.05rem;}
.tab_wrap.box.outline .tab_list > a::after { content: ''; display: inline-block; position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: auto; height: auto; border: 1px solid var(--fc_06, #aab0b8); background: none; z-index: 1;}
.tab_wrap.box.outline .tab_list > a:last-child::after { border-left-width: 0; left:-1px;}
.tab_wrap.box.outline .tab_list > a.active {font-weight:700;}
.tab_wrap.box.outline .tab_list > a.active::after {border-width: 2px; border-color: var(--bdc_04, #484b51); animation: none; z-index: 2;}
.tab_wrap.box.outline .tab_list_cal {margin-top:.6rem;}
.tab_wrap.box.outline .fu_cal_month { padding-bottom: 2.6rem; height: 6.8rem;}
.tab_wrap.box.outline .tab_list_cal:first-child .fu_cal_month {margin-top:-2rem !important;}
#div_inquiryYearSetter .fu_cal_month {padding:0; height:2.4rem;}
.tab_wrap.box.outline > .link_panel [class^=section]:first-of-type{padding-top:0;}
.tab_wrap.box.outline > .link_panel > .h3:first-of-type{margin-top:0;}
.tab_wrap.box.outline > .link_panel > .section_f > .h3:first-of-type {padding-left:0;}

/* 그래프 차트 */
.chart_info { padding: 1rem 0; font-size: 1.4rem;}
.chart_info .sep_txt {line-height: 2rem; vertical-align: middle;}
.chart_info .sep_txt::before {top:.3rem;}
.chart_info .sep_txt .number{font-size: 1.5rem;}
.chart_wrap { overflow: hidden; background:var(--bg_01, #fff); }
.chart_wrap.border { border: 1px solid var(--fc_08, #dde1e4);}
.chart_wrap.border .chart {border:none;}
.chart_wrap.border .chart_info{ border-top-color: var(--fc_08, #dde1e4);}
.chart_wrap.shadow { border-radius: .4rem; box-shadow: 0px 0px 24px rgba(0,0,0,.04);}
.chart_wrap.shadow .chart {border-top:none;}
.graphbox {max-width:42rem; margin:0 auto;}
.graphbox.circle {width:15rem; }/* height: 15rem; */
.chart {width:100%; min-height:2rem; margin: 0 auto; border-top: 1px solid var(--bdc_01, #ebeef0); border-bottom: 1px solid var(--bdc_01, #ebeef0); }/*221011 padding: 1rem 2.4rem 2.4rem;*//*max-width: 42rem;*/
/*221011 .chart.withLst {padding: 1rem 2.4rem 3rem;}*/
.chart.withLst .graphbox {min-height: 15rem; margin: 4rem auto 3rem; text-align: center;}
.chart_wrap .result.nodata + .chart_info {border-top: 1px solid var(--bdc_01, #ebeef0);}

/* 범례 */
.chart .legend {overflow:hidden; display:inline-block; position:relative; width:1rem; height:1rem; margin-right:.8rem; margin-top:-3px; border-radius:.5rem; background: #ccc; vertical-align: middle; }
.chart .legend.type01 {background:#ffcf53;}
.chart .legend.type02 {background:#fa844e;}
.chart .legend.type03 {background:#8fd171;}
.chart .legend.type04 {background:#5b75ce;}
.chart .legend.type05 {background:#d1d5d9;}
.chart .legend.type06 {background:#3261db;}
.chart .legend.type07 {background:#ff5858;}
.chart .legend.type08 {background:#ffd338;}
.chart .legend.type09 {background:#7f97ea;}
.chart .legend.type10 {background:#ff9b53;}
.chart .legend.type11 {background:#f46c48;}
.chart .legend.type12 {background:#ffab53;}
.chart .legend.type13 {background:#86afff;}
.chart .legend.type14 {background:#ff6391;}

.chart_data {padding: 0 2.4rem 3rem;}
.list_data.chart {border:none;padding:0; max-width: 42rem; margin: 0 auto;}
.list_data.chart li {padding: 0;}
.list_data.chart li + li{margin-top:1rem; border-top:0;}
.list_data.chart li .key, .list_data.chart li .value {font-size: 1.4rem;}
.list_data.chart li .value {padding-left:1rem; text-align:right;}
.list_data.chart li .number{font-size:1.5rem;}
.list_data + .chart, .list_data + .chart_wrap .chart{border-top:0;}
.chart.no-data {filter: grayscale(1);}
.hgroup + .list_data {margin-top:1.5rem;}

/* 잔액카드 */
.fu_card {overflow: hidden; border-radius: .3rem; -webkit-border-radius: .3rem; -moz-border-radius: .3rem; -ms-border-radius: .3rem; -o-border-radius: .3rem; background:var(--bg_01, #fff); padding: 2.4rem; box-shadow: 0px 0px 24px rgba(0,0,0,.05);}
.fu_card_top {display:flex; align-items: center; justify-content: space-between; flex-wrap:wrap; padding-bottom:1.6rem; margin-bottom:1.6rem; border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.fu_card_top > span {font-size: 1.4rem; color:var(--fc_03, #484b51);} 
.fu_card_top > strong .number {font-size: 2rem; } 
.fu_card_pannel {text-align: center; font-size:1.4rem; color:var(--fc_03, #484b51);}
.fu_card_pannel .fu_card_price {font-size:2.6rem;}
.fu_card_pannel .fu_card_price .num_unit{font-size:2.2rem; font-weight:700;}
.fu_card_pannel .fu_card_price > * {vertical-align: baseline;}
.fu_card_pannel p + p {margin-top:.6rem;}
.fu_card + .h2 {margin-top:4rem;}

/* 자금보고서 - 현금인출일때 */
.full_gray .tab_wrap.box.type_sm .link_panel { padding-bottom: 10rem; padding-bottom: calc(constant(safe-area-inset-bottom) / 2 + 10rem); padding-bottom: calc(env(safe-area-inset-bottom) / 2 + 10rem); margin-bottom: -10rem; margin-bottom: calc(-1*(constant(safe-area-inset-bottom) / 2 + 10rem)); margin-bottom: calc(-1*(env(safe-area-inset-bottom) / 2 + 10rem)); }
.full_gray.type2 .tab_wrap.box.type_sm .link_panel { padding-bottom: 3.2rem; padding-bottom: calc(constant(safe-area-inset-bottom) / 2 + 3.2rem); padding-bottom: calc(env(safe-area-inset-bottom) / 2 + 3.2rem); margin-bottom: -3.2rem; margin-bottom: calc(-1*(constant(safe-area-inset-bottom) / 2 + 3.2rem)); margin-bottom: calc(-1*(env(safe-area-inset-bottom) / 2 + 3.2rem)); }

/* 자금보고서 - 순위 */
.list.type_ranking {counter-reset: list-number 0;}
.list.type_ranking > li {display: table; width: 100%; position:relative; padding:1.8rem 0 1.8rem 1.6rem;}
.list.type_ranking > li:before {position:absolute; top:1.8; left:0; width:1.6rem; content:counter(list-number); counter-increment:list-number 1; font-size:1.7rem; font-family:'roboto'; line-height:2rem; font-weight:700;} 
.list.type_ranking > li > div {display:table-cell;}
.list.type_ranking > li > .value {text-align:right;}
.list.type_ranking > li > .value .number{font-size:1.7rem;}

/* banner */
.banner_wrap {position:relative; width:100%; max-width: 42rem; margin: 0 auto;}
.banner_wrap .banner {display: block; width: 100%;}
.banner_wrap + .banner_wrap {margin-top: 2rem; }
.banner_wrap .bnr_img {display:block; width:100%; }
.banner_wrap.type2 {min-height:13.7rem; display:flex; align-items:center; justify-content: space-between; flex-flow: row-reverse; background: #f0efee; border-radius: .4rem; -webkit-border-radius: .4rem; -moz-border-radius: .4rem; -ms-border-radius: .4rem; -o-border-radius: .4rem;}
.banner_wrap.type2 .banner {padding: 2rem 0 2rem 2.4rem;}
.banner_wrap.type2 .bnr_img {position:absolute;width:40%;max-width:26.4rem;}
.banner_wrap.type2 .bnr_txt {position:relative; width:60%;}
.banner_wrap.type2 .bnr_txt strong {display:block; font-size: 1.6rem; margin-top: 1.3rem;}
.banner_wrap.type2 .bnr_txt p {font-size:1.4rem; color:var(--fc_04, #696e76); margin-top: .8rem; word-break: keep-all;} 
.banner_wrap.type2 .bnr_link {font-size:1.5rem; font-weight:500;}

/* 바로erp .chk_data_list 유형 */
.ui_swiper .swiper-auto-ctl + .swiper-pagination {margin-top:.9rem;}
.fu_erp.ui_swiper { width: 100%; margin:0 auto; }
.fu_erp.ui_swiper .swiper-slide { width: 100%; max-width: 42rem !important; }
.fu_erp.ui_swiper .txt_box { position:absolute; left:2.4rem; top:2.2rem; width:55%; }
.fu_erp.ui_swiper .txt_box p { margin-bottom:1.2rem; font-size:1.6rem; }
.fu_erp.ui_swiper .txt_box p + p { font-size:1.4rem; color:var(--fc_04, #696e76); }

.fu_erp.list_btn_type { border-top:1px solid var(--bdc_01, #ebeef0); }
.fu_erp.list_btn_type li { padding-bottom:2rem; margin-bottom:1.6rem; border-bottom:1px solid var(--bdc_01, #ebeef0); }
.fu_erp.list_btn_type li h2 { margin:1.6rem 0 0.8rem; }
.fu_erp.list_btn_type li .btn_list_btm { margin-top:1.6rem; }

.fu_erp.list_comp > li {position:relative; padding:0.8rem 1rem 1.8rem 5.6rem;}
.fu_erp.list_comp > li:first-child { padding-top:0.8rem; }
.fu_erp.list_comp > li::before {content:""; display:block; position:absolute; top:0; left:0; width: 4rem; height: 4rem; background: url(/msbiz/app/img/funds_manage/ico_erp_sprite80.png) no-repeat 0 0 / auto 4rem;}
.fu_erp.list_comp > li + li::before { background-position:-4rem 0; }
.fu_erp.list_comp > li + li + li::before { background-position:-8rem 0; }
.fu_erp.list_comp > li + li + li + li::before { background-position:-12rem 0; }
.fu_erp.list_comp > li strong {font-size:1.8rem;}
.chk_data_item .selection .list_data.noline {margin-top:1.2rem;}
.chk_data_list > .chk_data_item + .chk_data_item {margin-top: 3.2rem;}/*바로ERP 재동의*/

/* 사이버브랜치 */
.str_group {margin-bottom: .8rem; display:flex; align-items: center; }
.str_group strong + span {margin-left: .9rem; }
.type_icon.fu_iconLst_2 > li::before {top:1px; background: url(/msbiz/app/img/funds_manage/ico_fu_cyberbranch96.png) no-repeat 0 0 / 16rem auto;}
.type_icon.fu_iconLst_2 > li.item2::before {background-position: -4rem 0;}
.type_icon.fu_iconLst_2 > li.item3::before {background-position: -8rem 0;}
.type_icon.fu_iconLst_2 > li.item4::before {background-position: -12rem 0;}
.type_icon.fu_iconLst_2 > li.item5::before {background-position: 0rem -4rem;}
.type_icon.fu_iconLst_2 > li.item6::before {background-position: -4rem -4rem;}
.type_icon.fu_iconLst_2 > li.item7::before {background-position: -8rem -4rem;}
.type_icon.fu_iconLst_2 > li.item8::before {background-position: -12rem -4rem;}

/* StarCMS소개 */
.img_step_wrap {margin:0 -2.4rem 4.8rem -2.4rem}
.img_step_wrap .img_step_group {padding:4.8rem 2.4rem; text-align:center}
.img_step_wrap .img_step_group:nth-child(even) {background:var(--bg_02, #f7f7f8)}
.img_step_group .num {display:flex; align-items:center; margin:0 auto; width:2.8rem; height:2.8rem; background:#ffcc00; border-radius:50%; -webkit-border-radius:50%; -moz-border-radius:50%; -ms-border-radius:50%; -o-border-radius:50%}
.img_step_group .num strong {margin:0 auto; color:var(--fc_11, #fff)}
.img_step_group .tit {margin-top:2rem; font-size:1.8rem; font-weight:bold}
.img_step_group .p {margin-top:1.6rem}
.img_step_group .p_sub {margin-top:2.8rem; color:var(--fc_04, #696e76)}
.img_step_group .img_area {margin-top:4rem}
.img_step_group .hd_list {text-align:left}
.depth.gray_sm {margin-top:1.6rem; text-align:left; font-size:1.4rem}
.depth.gray_sm li {margin-top:.4rem; color:var(--fc_04, #696e76)}
.depth.gray_sm li:first-child {margin-top:0}