@charset "utf-8"; 


/*** inquiry_lry.css ***/
.in_head_info{padding:1.0rem 0;border-width:1px 0;border-style:solid;border-color:var(--fc_05, #8c949e) transparent var(--bdc_01, #ebeef0)}



/*** inquiry_lya.css ***/
.label_reverse .selection {width: 100%;}
.label_reverse .selection .label {width: 100%;}

/* ---- 오픈뱅킹 계좌등록 ----- */
/* 오픈뱅킹 튜토리얼 */
.section_f.openbanking.in_tutorial .depth.step li {padding: 4.6rem 0 0;}
.openbanking.in_tutorial .none_again {margin: 4.2rem 2.4rem 0; text-align: left;}
.openbanking.in_tutorial.section_f .depth.step li:nth-child(even) {background-color: transparent;}
.in_banner .tit_sub {display: block; margin-top: 0.3rem; font-weight: 400;}
.in_banner.tutorial .banner_img {width: 100%; max-width: 29.5rem; height: 30.35rem; margin-top: 3.2rem;}
.in_banner.tutorial .tit {font-size: 2.4rem; margin-bottom: 1.2rem;}
.in_banner.tutorial .txt {line-height: 1.4375; min-height: 7rem; font-size: 1.6rem; color: var(--fc_02, #26282c);}
.in_tutorial.in_pop .banner_img {margin-bottom: 0;}
.in_tutorial.in_pop .banner_img img {height: 100%; width: auto;}
.in_tutorial.service .in_banner.tutorial .banner_img {height:27.6rem;}

/* 오픈뱅킹 이용안내 */
.in_openbank_banner {padding-top: 4rem;}
.in_openbank_banner .in_banner .banner_img {background-image: url(/msbiz/app/img/inquiry/img_openbanking_info_1.png);}
.in_openbank_banner.none .in_banner .banner_img {background-image: url(/msbiz/app/img/inquiry/img_openbanking_info_2.png);}
.in_banner .banner_img {background-repeat: no-repeat; background-position: center; background-size: cover; position: relative; width: 100%; max-width: 32.7rem; height: 13.6rem; margin: auto; margin-bottom: 3.2rem;}
.in_banner .tit {text-align: center;}
.in_banner .txt {text-align: center; color: var(--fc_04, #696e76); line-height: 1.5625;}
.in_openbank.btn_cnt_wrap {margin-top: 3.6rem;}
.in_openbank.btn_cnt_wrap .btn {letter-spacing: -0.2rem;}
.btn_wrap.sign_links {display: block; margin-top: 0.4rem;}
.in_other_acc {margin-top: 4rem;}
/* 배너 */
.banner_type {position: relative; padding: 2.1rem 2.4rem; background: var(--bg_02, #f7f7f8); border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; }
.banner_type .banner_txt .tit {font-size: 1.6rem; color: var(--fc_03, #484b51); line-height: 1.4375;}
.banner_type .banner_txt .txt {font-size: 1.4rem; color: var(--fc_04, #696e76); margin-top: 0.6rem; line-height: 1.43;}
.banner_type:after {content: ''; position: absolute; width: 8.7rem; height: 7.5rem; top: 2.4rem; right: 2rem; background-size: cover;}
.banner_type.in01:after {background-image: url(/msbiz/app/img/inquiry/img_openbanking_info_3.png);}

/* 오픈뱅킹 약관동의 */
.only_agree.agree_txt {padding-bottom: 0; margin-top: 2.8rem;}
.none_agree.agree_wrap .agree_choice_wrap {margin-top: 1rem}
.none_agree.agree_wrap .agree_choice_wrap .label > em {font-weight: 400;}
.none_agree.agree_wrap .agree_choice > .selection {border-bottom: 0; padding-bottom: 0;}
.none_agree.agree_wrap .agree_total:first-child .btn_link {margin-top: -2rem;}
.none_agree.agree_wrap .agree_choice .selection {width: 100%;}
.none_agree.agree_wrap .agree_choice_wrap .rdoChk_group.inline .selection {width: 49%;}

/* 계좌통합 계좌목록  */
.in_acc_all .btn.round {padding: 0 1rem; font-size: 1.3rem;}


/* ---- 거래내역조회 ----- */
.in_acc_detail .acc_pannel.top .btn_area:last-child {margin-bottom: 2.4rem;}
.in_acc_detail .acc_pannel.top .acc_wrap + .acc_day_info {margin-top: 3.2rem; margin-bottom: 2.4rem;}
.in_acc_detail .result.nodata.sm {margin: 4.8rem 0;}
.in_acc_detail .form_group:first-of-type {margin-top: 0;}

.in_trade_detail .list_top_wrap {margin-top: 2.8rem; margin-bottom: 1.4rem;}
.in_trade_detail .list_top_wrap.type1 {margin-top: 1.4rem;}
.in_trade_detail .list_top_wrap.type1 .col_r .badge {margin-bottom: -3px;}
.in_trade_detail .list_top_wrap + .list_comp {border-color: var(--bdc_01, #ebeef0);}
.in_trade_detail .switch {margin-bottom: 0.6rem;}
.in_trade_detail .acc_graph_wrap {margin-bottom: 2.8rem;}
.in_trade_detail .list_comp .list_top_info {margin-bottom: .8rem;}
.in_trade_detail .list_comp .list_top_info .number {color: var(--fc_03, #484b51);}
.in_trade_detail .sub_nodata .depth.bul {margin-top: 2.4rem; padding-bottom: 1.6rem; border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.acc_graph_wrap.noline {margin-bottom: 1.6rem;}
.acc_graph_wrap.noline .sub_nodata .depth.bul {padding-bottom: 0; border-bottom: none;}
.trade_detail .trade_info .info_txt {font-size: 1.4rem; color: var(--fc_05, #8c949e); margin-top: .6rem;}
.trade_detail .trade_info .info_memo {margin-top: .8rem; display: flex; align-items: center;}
.trade_detail .trade_info .memo_tit {font-size: 1.3rem; background-color: var(--bdc_01, #ebeef0); padding: .1rem .8rem 0; border-radius: .9rem; -webkit-border-radius: .9rem; -moz-border-radius: .9rem; -ms-border-radius: .9rem; -o-border-radius: .9rem; }
.trade_detail .trade_info .memo_txt {color: var(--fc_05, #8c949e); font-size: 1.3rem; margin-left: 0.6rem;}
.trade_detail .trade_info .memo_txt > span + span::before {content: ','; display: inline-block; margin-right: .4rem;}
.trade_detail .trade_amount {margin-top: 2rem;}
.trade_detail .trade_amount .classify {margin-right: 0.2rem;}
.trade_detail .trade_amount .amount.sm {color: var(--fc_04, #696e76); font-size: 1.4rem; margin-top: .4rem;}
.trade_detail .trade_amount .amount.sm .number {font-size: 1.5rem;}
.trade_detail .trade_amount .amount.sm .num_unit {vertical-align: 0;}
.in_only_cancle.list_top_wrap {margin-bottom: 1.2rem;}

.in_chk_toggle .rdoChk_group > .selection {margin-bottom: 2.8rem;}
.in_chk_toggle .rdoChk_group > .selection:last-of-type {margin-bottom: 0;}
.in_chk_toggle .rdoChk_group > .chk_panel {margin-top: -3.3rem; margin-bottom: 1.8rem;}
.in_chk_toggle .rdoChk_group > .selection:last-of-type + .chk_panel {margin-top: 0;}

.in_confirm_tr {margin-top: 4rem;}
.in_confirm_tr .acc_seal_trans {width: 15.3rem; height: 2.8rem; margin: 3.2rem auto 0; background: url(/msbiz/app/img/common/logo_kb_150x.png) no-repeat; background-size: 15.3rem auto;}

/* 통장사본조회 */
.in_acc_copy_wrap {padding-top: 4.6rem;}
.in_acc_copy_wrap:before {content:''; display:block; position:absolute; top:1.6rem; right:0; width:6rem; height:2rem; background:url(/msbiz/app/img/common/img_irp_kblogo.png) no-repeat top right; background-size:6rem auto;}
.in_acc_copy_wrap .acc_wrap .acc_user {font-size: 1.8rem; margin-top: .3rem; padding-left: .2rem;}
.in_acc_copy_wrap .acc_seal {min-height:3.3rem; margin-top:2rem; background:url(/msbiz/app/img/common/img_kbseal.png) no-repeat center right; background-size:auto 3.3rem;}


/* S : 공통(UI_TEST) */

.agree_choice_wrap .rdoChk_group.inline .selection + .selection {width: 49%;}

.result.none_bold .tit {font-weight: 400;}
.acc_line2.acc_bank .acc_num {display: inline-block; vertical-align: middle;}
.acc_line2.acc_bank {padding-top: 0;}
.acc_line2.acc_bank .epi_num {vertical-align: middle;}
.selection .acc_wrap.acc_line2 [class^=icon_bank_] {margin: 0;}

.sort_wrap .sort_detail .btn_txt.ico_arrdown .number {font-weight: 500; font-size: 1.5rem;}

/* list */
.list_data .acc_bank.md [class^=icon_bank_] {margin-right: 0;}

/* 구분선 */
.sep_txt::before {top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%);}
/* .sep_txt.sm {padding-left: 1.5rem;} */
.sep_txt.sm::before {height: 1.2rem;}

/* select */
.select_btn {font-size: 1.7rem;}
.select_btn .number {font-size: 1.9rem; font-weight: 500; vertical-align: middle;}

/* 계좌통합 계좌목록 아코디언 toggle */
.account_all .acc_list_wrap .acc_pannel.check {margin-top: 2rem; padding-bottom: 1.6rem;}
.account_all .acc_list_wrap .acc_pannel.check:last-child {border-bottom: 0;}
.account_all .acc_list_wrap .acc_pannel.check .acc_wrap {margin-bottom: 0;}
/* .account_all .acc_list_wrap .acc_pannel.check .acc_wrap .acc_top_info {margin-bottom:.4rem}
.account_all .acc_list_wrap .acc_pannel.check .acc_wrap .acc_name {margin-bottom: 0;} */
.account_all .acc_list_wrap .acc_pannel.check .acc_wrap .acc_top_info {margin-bottom:0;}
.account_all .acc_list_wrap .acc_pannel.check .acc_wrap .acc_top_info + [class^=acc_] {margin-top:.8rem;}
.account_all .acc_list_wrap .acc_pannel.check .acc_wrap [class^=acc_]:not(.acc_top_info) + [class^=acc_]:not(.acc_sum_wrap) {margin-top:.4rem; margin-bottom:0;}
.account_all.check_type .acc_acco_list {margin-top:0.8rem}
.account_all.check_type .acc_acco_list > .tit_area > .tit .cate {font-size: 1.4rem;}
.account_all.check_type .acc_acco_list > .tit_area > .tit .cate .count {font-size: 1.5rem; font-weight: 500; font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;}
.account_all.check_type .acc_pannel .toggle_sm_wrap {margin-top: 1rem}
.account_all.check_type .acc_pannel.check > .selection {padding-left: 1.8rem; position: static; width: 100%;}
.account_all.check_type .acc_pannel.check > .selection .label {padding-left: 3.4rem;}

.acc_cont_wrap .acc_cont_list .acc_list_wrap {margin-top: 2rem; border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.acc_cont_wrap .acc_cont_list:last-child .tit_area .tit.btn_toggle {border: none;}
.acc_cont_wrap .acc_cont_list:last-child .tit_area.on .tit.btn_toggle {border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.acc_cont_wrap .acc_cont_list:last-child .acc_list_wrap {border: none;}
.acc_cont_wrap .acc_cont_list > .tit_area > .tit .cate {font-size: 1.6rem;}
.acc_cont_wrap .acc_cont_list > .tit_area > .tit .cate .count {font-size: 1.7rem; font-weight: 500; font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;}
.acc_cont_wrap .acc_cont_list .js_toggle.on .btn_toggle:after {border-color: var(--bdc_04, #484b51);}
.acc_cont_wrap .acc_cont_list .tit_area .tit.btn_toggle {background-color: transparent; border-bottom: 1px solid var(--bdc_01, #ebeef0); margin-top: 0.8rem; padding-bottom: 1.6rem; border-radius: 0; -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0;}
.acc_cont_wrap .acc_pannel .toggle_panel .table {padding-left: 2rem;}
.acc_cont_wrap .toggle_sm_wrap .toggle_panel {margin-bottom: 0.4rem;}
.acc_cont_wrap .acc_pannel > .toggle_sm_wrap .js_toggle {text-align: right;}

/* 상단 계좌상세 영역 (거래내역조회/빠른조회) */
.acc_pannel_wrap .acc_top_info {margin-bottom: 0;}
.acc_pannel_wrap .acc_top_info .badge {margin-bottom: 1rem;}
.acc_pannel_wrap .acc_nick {font-size: 1.5rem;}
.acc_pannel_wrap .acc_nick + .acc_name {margin-top: .2rem;}
.acc_pannel_wrap .acc_name {font-size: 1.5rem;}
.acc_pannel_wrap .acc_tip {font-size: 1.5rem; color: #ff5858; margin-top: 1rem;}
.acc_pannel_wrap .acc_num {margin-top: .2rem;}
.acc_pannel_wrap .acc_num .number {font-size: 1.8rem;}
.acc_pannel_wrap .acc_info_wrap .acc_info .tit {margin-right: 0.6rem; font-size: 1.4rem; color: var(--fc_04, #696e76);}
.acc_pannel_wrap .acc_info_wrap .acc_info .number {font-size: 1.5rem; color: var(--fc_04, #696e76);}
.acc_pannel_wrap .acc_info_wrap .acc_info .number.d_day {color: var(--fc_02, #26282c); font-weight: 500;}
.acc_pannel_wrap .acc_info_wrap .acc_info .state_arr {font-size: 1.5rem;}
.acc_pannel_wrap .acc_sum_wrap {margin-top: 1.8rem; position: relative;}
.acc_pannel_wrap .acc_sum_wrap .exchange_img {width: 6rem; height: 3.9rem; position: absolute; top: 0; left: 0;}
.acc_pannel_wrap .acc_sum_wrap .exchange_img img {width: 100%; height: auto;}
.acc_pannel_wrap .acc_sum_wrap .btn_circle {margin-bottom: .6rem;}
.acc_pannel_wrap .acc_sum_wrap.only_cms .txt_box {margin-top: .3rem;}
.acc_pannel_wrap .acc_sum_wrap.only_cms .p_sub {color: var(--fc_05, #8c949e);}
.acc_pannel_wrap .acc_sum_wrap.only_cms .p_sub .number {font-size: 1.5rem;}
.acc_pannel_wrap .acc_pay .number {font-size: 2rem;}
.acc_pannel_wrap .acc_pay .num_unit {font-weight: 700;}
.acc_pannel_wrap .acc_pay.sm {margin-top: 0;}
.acc_pannel_wrap .acc_pay.sm .number {font-size: 1.7rem;}
.acc_pannel_wrap .acc_pay.sm .num_unit {font-size: 1.5rem;}
.acc_pannel_wrap .acc_pannel.top {border-bottom: 0; padding-bottom: 0;}
.acc_pannel_wrap .acc_pannel.top .acc_wrap {padding: 2rem 0;}
.acc_pannel_wrap .acc_pannel.top .acc_name {font-size: 1.5rem;margin-right: 2.5rem;}
.acc_pannel_wrap .acc_pannel.top .acc_sum_wrap {margin-top: 1.8rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay .unit {font-size: 1.8rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay .num_unit {font-size: 2.2rem; vertical-align: 0.1rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay .number {font-size: 2.6rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay.sm .unit {font-size: 1.4rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay.sm .number {font-size: 2rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay.sm .exchange:only-child .unit {font-size: 1.8rem;}
.acc_pannel_wrap .acc_pannel.top .acc_pay.sm .exchange:only-child .number {font-size: 2.6rem;}
.acc_pannel_wrap .acc_pannel.top .toggle_sm_wrap.exchange .acc_pay.sm .exchange .unit {font-size: 1.4rem;}
.acc_pannel_wrap .acc_pannel.top .toggle_sm_wrap.exchange .acc_pay.sm .exchange .number {font-size: 2rem;}
.acc_pannel_wrap .acc_pannel.top .btn_area {padding: 0; margin-top: 0;}
.acc_pannel_wrap .acc_pannel.top .btn_area + .btn_area {margin-top: .8rem;}
.acc_pannel_wrap .acc_pannel.top .btn_menu {right: -2rem;}
.acc_pannel_wrap .acc_pannel.open + .list_btm_wrap {margin-top: 1.6rem; border-top: 1px solid var(--bdc_01, #ebeef0); padding-top: 1rem; color: var(--fc_03, #484b51);}

/* 리스트 상단 요소 (빠른이체) */
.list_top_wrap.type1 {margin-bottom: 0.6rem;}
.list_top_wrap.type1 .col_l {font-size: 1.7rem; font-weight: 500; line-height: 1.295;}
.list_top_wrap.type1 .col_r {font-size: 1.6rem; color: var(--fc_04, #696e76);}

/* 그래프1 - 입출금현황 (거래내역조회) */
.acc_graph_wrap .graph_tit {font-size: 1.4rem; margin-right: 2rem; display: inline-block; width: auto}
.acc_graph_wrap .graph_current {width: calc(100% - 9rem); display:inline-block;}
.acc_graph_wrap .graph_area .default {overflow:hidden; position:relative; width:100%; height:0.8rem; border-radius:.6rem; background: var(--bg_01, #fff);}
.acc_graph_wrap .graph_area .default .active.in {position:absolute; left:0; height:0.8rem; border-top-left-radius:.6rem; border-bottom-left-radius:.6rem; background:#3261db;}
.acc_graph_wrap .graph_area .default .active.out {position:absolute; right:0; height:0.8rem; border-top-right-radius:.6rem; border-bottom-right-radius:.6rem; background:#ff5858;}
.acc_graph_wrap .list_data {border:none; margin-top:1.2rem; padding:0;}
.acc_graph_wrap .list_data > li {margin-top:.5rem; padding:0;}
.acc_graph_wrap .list_data > li > div.key {font-size:1.4rem;}
.acc_graph_wrap .list_data > li > div.key .percent {font-size:1.5rem; color: var(--fc_02, #26282c); margin-left: .2rem;}
.acc_graph_wrap .list_data > li > div.value .number {font-size:1.6rem;}
.acc_graph_wrap .list_data > li .tit {position:relative; padding-left:1.7rem; color: var(--fc_04, #696e76);}
.acc_graph_wrap .list_data > li .tit:before {content:''; display:inline-block; position:absolute; left:0; top:50%; width:.8rem; height:.8rem; border-radius:100%; transform:translateY(-50%);}
.acc_graph_wrap .list_data > li .tit.in:before {background:#3261db;}
.acc_graph_wrap .list_data > li .tit.out:before {background:#ff5858;}
.acc_graph_wrap .list_data > li .tit .number {font-size: 1.5rem;}

/* 그래프2 - D-Day (거래내역조회) */
.acc_day_info .graph_area .active {height: 1.2rem; left: 0;}
.acc_day_info .graph_area .default {height: 1.2rem;}
.acc_day_info .graph_area .d-day {top: -3.2rem; font-size: 1.3rem;}

/* 팝업 - 계좌번호 선택 */
.ly_acc_list .acc_list.another.acc_type2 .badge {margin-bottom: 0.8rem;}
.ly_acc_list .acc_list.another.acc_type2 > li:first-child .badge {position: relative; top: -1.7rem; margin-bottom: 1.2rem;}
/* E : 공통(UI_TEST) */



/*** inquiry_hcw.css ***/
/* 전계좌조회 */
.account_all .section.all_top_link {padding-top:0;}
.account_all .all_top_link li {padding:1rem 0;}
.account_all .all_top_link .ico_live li:before,
.account_all .all_top_link .ico_app li:before { width:1.6rem; height:1.9rem; border-radius:0; background:url(/msbiz/app/img/inquiry/ico_live_alarm.png) no-repeat left top; background-size:1.6rem auto;  }
.account_all .all_top_link .list_link.icon > li::before {top:50%; margin-top:-1.1rem;}
.account_all .all_top_link a.link {padding: .5rem 3rem .5rem 2.4rem;font-size: 1.6rem;font-weight:400;}
.account_all .all_top_link .list_link a.link:after {margin-top:-.1rem} 

.account_all.all_inquiry{margin-top: 2rem;}
.account_all.all_inquiry .acc_all {padding: 2rem 2.4rem; border: none;border-radius: 0; box-shadow: none;}
.account_all.all_inquiry .acc_all .acc_wrap{padding: 0 0 2.2rem;}
.account_all.all_inquiry .acc_all .acc_txt{color: var(--fc_02, #26282c);}
.account_all.all_inquiry .acc_all .switch {margin-left: 1rem;}
.account_all.all_inquiry .btn_txt.ico_reset{color: var(--fc_03, #484b51);font-size: 1.4rem;}
.account_all.all_inquiry .acc_all .acc_sum_wrap {margin-top: 1.8rem;}
.account_all.all_inquiry .acc_all .acc_sum_wrap .acc_pay .number{font-size: 2.6rem;}
.account_all.all_inquiry .acc_all .acc_sum_wrap .num_unit{vertical-align: .1rem;}
.account_all.all_inquiry .acc_all .acc_sum_wrap .acc_pay .num_unit{font-size: 2.2rem;font-weight: 700;}
.account_all.all_inquiry .acc_all .btn_assets {width: 2.4rem;height: 2.4rem;margin-left:.5rem;margin-top:-0.9rem; vertical-align: middle; background: url(/msbiz/app/img/inquiry/btn_assets.png) no-repeat left top; background-size: 100%;}
.account_all.all_inquiry .acc_all .hide_amount {margin-top: 2rem; text-align: right;font-size: 2.4rem;font-weight: 700;color: var(--fc_07, #c6cbd0);}
.account_all.all_inquiry .acc_all .btn_area{padding: 0;}
.account_all.all_inquiry .acc_all + .hr_divide{margin: 0 0 2rem;}
.account_all.all_inquiry .list_top_wrap.acc_menu{margin-top: -1.8rem;}
.acc_menu .btn_set:before {background-position:-2rem -10rem;}
.account_all.all_inquiry .acc_acco_list .tit_area .tit .count { display: none;}
.account_all.all_inquiry .acc_acco_list .js_toggle .btn_toggle .cate{font-size: 1.4rem;}
.account_all.all_inquiry .acc_acco_list .js_toggle.on .btn_toggle .count {display:inline-block; font-size: 1.4rem; font-weight: 500; font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;}
.account_all.all_inquiry .acc_acco_list .tit_area .tit .acc_bank .bk_name {padding-right: 0; font-size: 1.4rem;}
.account_all.all_inquiry .acc_acco_list .tit_area .tit .pay {color:var(--fc_02, #26282c);font-size: 1.5rem;font-weight: 700;}
.account_all.all_inquiry .acc_acco_list .tit_area .tit .pay > .number{font-size: 1.6rem;}
.account_all.all_inquiry .acc_acco_list .tit_area .tit .pay .num_unit{vertical-align: top;}
.account_all.all_inquiry .toggle_panel > .tooltip_limited {position: absolute;left: 8.8rem; top: 1.3rem;}
.account_all.all_inquiry .retire .toggle_panel > .tooltip_limited {left: 11.2rem;}
.account_all.all_inquiry .toggle_panel .toggle_wrap {width: calc(100% - 2.4rem); padding: 1.8rem 2.4rem 1rem 0; margin-left: 2.4rem; border-bottom:1px solid var(--bdc_01, #ebeef0);}
.account_all.all_inquiry .acc_list_wrap.type_list .acc_pannel{padding: .7rem 0 1.0rem;}
.account_all.all_inquiry .acc_list_wrap.type_list .acc_pannel:last-child{padding-bottom: .1rem; border-bottom: 0;}
.account_all.all_inquiry .toggle_panel .acc_list_wrap.type_list .acc_pannel .acc_wrap {margin-bottom: 1.4rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_top_info{margin-bottom: .8rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_top_info .badge:not(:first-child){margin-left: .4rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_num{margin-bottom: .7rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_bank{margin-bottom: .7rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_num .number,
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_bank .bk_num .number{font-size: 1.8rem;font-weight: 500;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_name{margin-bottom: .2rem; font-size: 1.5rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_bank.col .bk_name{margin-left: .2rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_info_wrap{margin-top: .8rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_info_wrap .acc_info .tit{margin-right: .6rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap > .acc_sum_wrap{margin-top: 1.4rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_sum_wrap .acc_sum{margin-top: 0;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_sum_wrap .acc_sum .unit {font-size: 1.4rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_sum_wrap .acc_sum .number {font-size: 1.7rem;}
.account_all.all_inquiry .acc_list_wrap .acc_wrap .acc_sum_wrap .num_unit{font-weight: 700;vertical-align:.1rem;}
.exchange_wrap {margin-left:2.4rem; padding: .2rem 2.4rem 1.4rem 0; border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.divide_line p {position: relative; display: inline;}
.divide_line p:not(:first-child) {padding-left: 1.7rem;}
.divide_line p:not(:first-child)::before {content: '';position: absolute; top:0.3rem; left:0.6rem; width: .1rem; height: 1.2rem; background-color: var(--fc_08, #dde1e4);}
.update_wrap {padding-right: 2.4rem;padding-bottom: 1.3rem; border-bottom: 1px solid var(--bdc_01, #ebeef0); text-align: right;}
.account_all .acc_wrap .hgroup {padding: 0;}
.all_inquiry .acc_wrap .acc_pay .txt_fail{color: var(--fc_07, #c6cbd0);}
.account_all .update_time {margin-top: .7rem; font-size: 1.4rem; color: var(--fc_05, #8c949e);text-align: right;}
.account_all .update_time .number {font-size: 1.5rem;}
.all_inquiry .acc_pannel .btn_cnt_wrap {margin: 1.5rem 0;}
/* 포트폴리오 toggle */
.all_inquiry .toggle_sm_wrap.toggle_in_all {margin-right:2.4rem;margin-top: 0;}
.all_inquiry .toggle_sm_wrap.toggle_in_all > .tit {width:100%; height:3.6rem; margin-bottom: 1.5rem; padding:.2rem 0 .5rem; border:1px solid var(--fc_05, #8c949e); border-radius:.2rem; font-size: 1.5rem; color: var(--fc_02, #26282c);}
.all_inquiry .toggle_sm_wrap.toggle_in_all > .tit .arrow {display: none;}
.all_inquiry .toggle_sm_wrap.toggle_in_all > .tit::after { content:''; display: inline-block; position:relative; width:.9rem; height:.9rem; left: .4rem; margin-top:-.4rem; border:solid var(--fc_05, #8c949e); border-width: 0 1px 1px 0; transform: rotate(45deg) translateY(-50%); }
.all_inquiry .toggle_sm_wrap.toggle_in_all .toggle_panel {margin:0 -2.4rem 1rem; border-top: 1px solid var(--fc_08, #dde1e4); border-bottom:1px solid var(--fc_08, #dde1e4); background:#fbfbfb;}
.all_inquiry .toggle_sm_wrap.toggle_in_all .list_comp > li {border-top: 1px solid var(--fc_08, #dde1e4);}
.all_inquiry .toggle_sm_wrap.toggle_in_all .list_comp > li:first-child {border-top: 0;}
.all_inquiry .toggle_sm_wrap.toggle_in_all .list_comp > li:before {display: none;}
.all_inquiry .toggle_sm_wrap.toggle_in_all .list_comp > li .acc_pannel {padding: 2rem 0 0.4rem;}

.result.no_product {display: block; padding-top: 2.8rem; margin: 0 2.4rem 4.8rem 0;}
.result.no_product::before {content: '';display: block;margin: 0 auto;width:4.8rem;height:4.8rem;background:url(/msbiz/app/img/inquiry/ico_no_product.png) 50% 50% no-repeat;background-size:4.1rem 3.9rem}
.result.no_product .tit {margin-top: 1.3rem; font-size: 1.6rem;}
.result.no_product .txt {margin-top: .6rem; font-size: 1.4rem;}

/* 자산현황 */
.my_fund {padding: 1.8rem 0; border-top: 1px solid var(--bdc_01, #ebeef0); border-bottom: 1px solid var(--bdc_01, #ebeef0);}
.my_fund .title .tit{font-weight: 400; font-size: 1.5rem;}
.my_fund .title .time {font-size: 1.4rem; color: var(--fc_04, #696e76);}
.my_fund .title .time .number {font-size: 1.4rem;}
.my_fund .acc_pay {margin: 1.8rem 0 1.6rem; text-align: right;}
.my_fund .acc_pay .number {font-size: 2.6rem;}
.my_fund .acc_pay .num_unit {margin-left: .1rem; vertical-align: .1rem; font-size: 2.2rem; font-weight: 700;}


.m_cash_flow_chart.assets .chart{position:relative;height:1.6rem;margin-bottom: 1.8rem;overflow:hidden;border-radius:1.6rem}
.m_cash_flow_chart.assets .chart>.bar{position:absolute;top:0;width:0;height:1.6rem;border-radius:1.6rem;transition:width 1s ease-in-out}
.m_cash_flow_chart.assets .chart>.bar.asset{left:0;background-color:#FFCC00;z-index:10}
.m_cash_flow_chart.assets .chart>.bar.min{min-width:1.6rem}
.m_cash_flow_chart.assets .chart>.bar.asset::before, .m_cash_flow_chart.assets .chart>.bar.asset::after{content:'';position:absolute;top:0;right:0;width:1.6rem;height:1.6rem}
.m_cash_flow_chart.assets .chart>.bar.asset::before{background-color:#fff}
.m_cash_flow_chart.assets .chart>.bar.asset::after{background-color:#FFCC00;border-radius:0 .8rem .8rem 0}
.m_cash_flow_chart.assets .chart>.bar.asset em{position:absolute;top:0;right:-1.6rem;width:1.6rem;height:1.6rem;background-color:#fff}
.m_cash_flow_chart.assets .chart>.bar.asset em::after{content:'';position:absolute;top:0;left:0;width:1.6rem;height:1.6rem;background-color:#5b75ce;border-radius:.8rem 0 0 .8rem}
.m_cash_flow_chart.assets .chart>.bar.loan{width:100%;left:0;background-color:#5b75ce}

.m_cash_flow_chart.assets .chart_legend li{display: flex;justify-content: space-between;}
.m_cash_flow_chart.assets .chart_legend li + li{margin-top: 1rem;}
.m_cash_flow_chart.assets .chart_legend .label{position: relative;padding-left: 2rem;}
.m_cash_flow_chart.assets .chart_legend .label::before{content: '';position: absolute; left: 0; top: .4rem; width: 1.2rem; height: 1.2rem; border-radius:50% ;}
.m_cash_flow_chart.assets .chart_legend .label.asset::before{background: #FFCC00;}
.m_cash_flow_chart.assets .chart_legend .label.loan::before{background: #5b75ce;}
.m_cash_flow_chart.assets .chart_legend .label .lab{font-size: 1.6rem;color: var(--fc_04, #696e76);}
.m_cash_flow_chart.assets .chart_legend .label .val{display:inline-block;margin-left:1rem;font-size: 1.7rem;}
.m_cash_flow_chart.assets .chart_legend .label .val .number{font-size: 1.8rem;}
.m_cash_flow_chart.assets .chart_legend .value .number{font-size: 1.7rem;}

.fund_graph_wrap {margin-top: 3.2rem; }
.fund_graph_wrap .graph_area {margin: 0 auto; text-align: center;}
.fund_graph_wrap .graph_label {display: flex; justify-content: center; margin-top: 4rem; text-align: center;}
.fund_graph_wrap .graph_label .label {position: relative; width: 5rem; margin: 0 .2rem; padding-top: 2.4rem; color: var(--fc_04, #696e76); font-size: 1.4rem;}
.fund_graph_wrap .graph_label .label::before { content: ''; position: absolute; top: 0; left: 50%; margin-left: -.6rem; width: 1.2rem; height: 1.2rem; border-radius:50%;}
.fund_graph_wrap .graph_label .label.pdt1::before{background: #ffcf53;}
.fund_graph_wrap .graph_label .label.pdt2::before{background: #ffab53;}
.fund_graph_wrap .graph_label .label.pdt3::before{background: #5b75ce;}
.fund_graph_wrap .graph_label .label.pdt4::before{background: #8FD171;}
.fund_graph_wrap .graph_label .label.pdt5::before{background: #fa844e;}
.fund_graph_wrap .graph_label .label.pdt6::before{background: #66AA76;}
.fund_graph_wrap .graph_label .label.pdt7::before{background: #b8582b;}




/*** inquiry_lsk.css ***/
/* 전계좌조회 > 통지이메일 변경 목록 css */
.in_email_info .selection input + .label [class^=icon_bank_]{vertical-align:middle;margin:0;}
.in_email_info .selection input + .label em, 
.in_email_info .selection input + .label strong {display:inline-block; max-width:100%; line-height:2.4rem; font-size:1.7rem; vertical-align: middle}
.in_email_info .selection input + .label [class^=icon_bank_]+em, 
.in_email_info .selection input + .label [class^=icon_bank_]+strong{font-size:1.6rem;line-height:1;padding-top:.6rem}
.in_email_info .selection input + .label [class^=icon_bank_]+strong .number{font-weight:500;font-size:1.7rem}

.in_email_info .list_data > li .value {padding-left:0; color:var(--fc_02, #26282c); word-break:break-all;}

.inquiry_invest_alert {position:relative; padding:0 0 0 2.4rem; font-size:1.5rem; color:#ff5858;}
.inquiry_invest_alert:before {content:''; display:inline-block; position:absolute; left:0; top:-.1rem; z-index:2; width:2rem; height:2rem; background:url(/msbiz/app/img/common/spr_ico_20x.png) -10rem 0 no-repeat; background-size:25rem auto; vertical-align:top;}

/* 계좌 목록 : 기업+계좌번호 */
.acc_bank.in_bk_info{display:block;position:relative;padding-left:0}
.acc_bank.in_bk_info [class^=icon_bank_] + .bk_name{display:inline-block}
.acc_bank.in_bk_info .bk_name{padding-left: 2.9rem;}
.acc_bank.in_bk_info .bk_num{padding-top:0.7rem}

/*  다른금융 전체계좌조회 - 오픈뱅킹 이용안내 */
/* .slogan_openbanking .img {height:21.6rem; background:url(/msbiz/app/img/reference/img_another_2.png) no-repeat 50% 0; background-size:37.5rem auto;}  */
.section_f.openbanking {text-align:center}
.section_f.openbanking > .tit {margin-top:4.3rem;font-size:2.4rem}
.section_f.openbanking > .tit + .depth.step{margin-top:-.9rem}
.section_f.openbanking .depth.step li {margin:0;padding:4.6rem 2.4rem 0}
.section_f.openbanking .depth.step li:before {display:block; position:relative; width:2.8rem; height:2.8rem; margin:0 auto 2rem; background-color:#ffcc00; color:var(--fc_11, #fff); line-height:2.8rem;}
.section_f.openbanking .depth.step li:nth-child(even) {background-color:var(--bg_02, #f7f7f8);}
.section_f.openbanking .depth.step > li p.p {margin-top:1.3rem; color:var(--fc_03, #484b51);}
.section_f.openbanking .depth.step > li p.p_sub {margin-top:1rem;}
.section_f.openbanking .depth.step > li .btn_wrap {margin-top:1.5rem; color:var(--fc_04, #696e76);}
.section_f.openbanking .depth.step > li .btn_wrap a:not(:first-child) {margin-left:3.6rem; position:relative;}
.section_f.openbanking .depth.step > li .btn_wrap a:not(:first-child):before {content:''; position:absolute; left:-2rem; top:.2rem; width:1px; height:1.6rem; background-color:var(--fc_08, #dde1e4);}
.section_f.openbanking .depth.step > li .img {padding:4rem 0 4.8rem;}
.section_f.openbanking .depth.step > li .img img {max-width:32.7rem;}
.section_f.openbanking .depth.step > li:nth-child(6) .img,
.section_f.openbanking .depth.step > li:last-child .img {padding-bottom:0;}

/* 계좌상세정보 css 추가 */
.acc_wrap .kdic_logo{position:absolute;top:.2rem;right:0}
.acc_wrap .kdic_logo img{width:6.0rem;height:4.0rem}
.acc_wrap.detail .acc_name{margin-bottom:.1rem;padding-right:8.0rem}
.acc_wrap.detail .acc_num{padding-right:8.0rem}
.acc_wrap.detail .acc_num .number{font-size:1.8rem}
/* .acc_wrap.detail div.acc_name + div.acc_num{margin-top:0} */
.acc_wrap.detail .acc_info_wrap{margin-top:1.0rem}
.acc_wrap.detail .acc_pay .number{font-size:2.0rem}
.acc_wrap.detail .acc_sum_wrap{margin-top:1.7rem}
.acc_wrap.detail .badge + .acc_name{margin-top:.7rem}
