@charset "utf-8"; 


/*** my_lry.css ***/
.myphoto_top_wrap {position:relative; min-height:6.9rem; padding:.9rem 0 0 8rem;}
.myphoto_top_wrap::before {content:''; position:absolute; z-index:5; left:4.0rem; top:4.0rem; width:2.4rem; height:2.4rem; background:url(/msbiz/app/img/mypage/img_my_smain.png) -13rem 0 no-repeat; background-size:30rem auto}
.myphoto_top_wrap .myphoto_img {position:absolute; left:0; top:.4rem; width:6rem; height:6rem; overflow:hidden; background:url(/msbiz/app/img/mypage/img_my_smain.png) -6rem 0 no-repeat; background-size:30rem auto; border-radius:50%} 
.myphoto_top_wrap .myphoto_img::after {content:''; position:absolute; left:0; top:0; width:6rem; height:6rem; background:url(/msbiz/app/img/mypage/img_my_smain.png) 0 0 no-repeat; background-size:30rem auto; border-radius:50%;}
.myphoto_top_wrap .myphoto_img .img {width:100%; height:100%; object-fit:cover; vertical-align:top;}
.myphoto_top_wrap .name .modify {position:relative; padding-right:2.7rem; font-size:2rem; font-weight:700;}
.myphoto_top_wrap .name .modify::after {content:''; position:absolute; right:0; top:50%; width:2rem; height:2rem; margin-top:-1rem; background: url(/msbiz/app/img/common/spr_ico_20x.png) -14rem -14rem no-repeat; background-size: 25rem auto; }
.myphoto_top_wrap .place {margin-top:1rem;}
.myphoto_top_wrap .place > span {color:var(--fc_03, #484b51); font-size:1.5rem;}
.myphoto_top_wrap .place .pc_txt {position:relative;padding-left:1.2rem}
.myphoto_top_wrap .place .pc_txt::before {content:'';position:absolute;left:.4rem;top:0;width:1px;height:1.4rem;margin-top:.3rem;background-color:#dadbdc}

.my_grade {padding:2.4rem 2rem 2rem; background-color:var(--bg_02, #f7f7f8); border-radius:.8rem;}
.my_grade .grade_state .badge.md[class *= rank].inline .time .number{padding-left:0.7rem}
.my_grade .grade_state .badge.md[class *= rank].inline .time .number::before{content: inherit;}
.my_grade .grade_limit {margin-top:1.6rem; padding-top:1.2rem; border-top:1px solid var(--bdc_01, #ebeef0);}
.my_grade .grade_limit .row {margin-top:.8rem;}
.my_grade .grade_limit .col_l {width:40%; font-size:1.5rem;}
.my_grade .grade_limit .col_r {width:60%;}
.my_grade .grade_limit .row .col_r .number {font-size:1.7rem;}
.my_grade .grade_limit .row .col_r .num_unit {font-weight:700;}
.my_grade .grade_limit .circle_p {display:inline-block; position:relative; width:2rem; height:2.2rem; vertical-align:top;}
.my_grade .grade_limit .circle_p::after {content:''; position:absolute; left:0; top:.2rem; width:2rem; height:2rem; background:url(/msbiz/app/img/mypage/img_my_smain.png) -16rem 0 no-repeat; background-size:30rem auto;}
.my_grade .grade_limit .circle_p ~ .number {vertical-align:top;}

.list_link.my_smain1 {margin-top:4.0rem;border-top:1px solid var(--bdc_01, #ebeef0)}
.list_link.my_smain1 .link {font-size:1.6rem; font-weight:400;}
.list_link.my_smain1 li:before{left:.2rem; width:3.3rem; height:3.1rem; border-radius:0; background-image:url(/msbiz/app/img/mypage/img_my_smain.png); background-repeat:no-repeat; background-size:30rem auto;}
.list_link.my_smain1 li.item1:before {background-position:-16rem -2rem;}
.list_link.my_smain1 li:first-child > a.link:after, .list_link.my_smain1 li:first-child > button.link:after{margin-top:-.2rem}
.list_link.icon > li > .link {padding-left:4.5rem;}

.starshoot_board p {margin-top:1.6rem;font-size:1.5rem;padding:1.6rem 2.2rem;background-color:var(--bg_02, #f7f7f8);border-radius:.8rem}
.starshoot_board p.warn {position:relative;padding-left:4.5rem;color:#ff0000}
.starshoot_board p.warn::before {content:'';position:absolute;left:2.2rem;top:1.7rem;width:2rem;height:2rem;background:url(/msbiz/app/img/mypage/img_my_smain.png) -13rem -3rem no-repeat; background-size:30rem auto;}
.starshoot_board .btn_wrap span .btn {font-size:1.5rem;}

.my_finance .fin_state {display:table;table-layout:fixed;background-color:var(--bg_02, #f7f7f8);border-radius:.8rem}
.my_finance .fin_state .col {display:table-cell;position:relative;width:3.33%}
.my_finance .fin_state .col ~ .col::after {content:''; position:absolute; left:0; top:2.0rem; width:1px; height:4.4rem; background-color:#e8eaec;}
.my_finance .fin_state .col a{display:block;padding:1.6rem 0 1.8rem;text-align:center}
.my_finance .fin_state .col .value {display:block}
.my_finance .fin_state .col .value .number{font-size:2.1rem;color:#376691}
.my_finance .fin_state .col .value .fc_green{color:#27a588}
.my_finance .fin_state .col .key {display:block;color:var(--fc_03, #484b51);font-size:1.5rem}

.fin_cal {display:table; table-layout:fixed; width:100%; margin-top:1.0rem; padding:2rem 0 3.2rem; border-top:1px solid var(--bdc_03, #c6cbd0); border-bottom:1px solid var(--bdc_01, #ebeef0);} /* 다크테마 수정 2022-05-25 */
.fin_cal .day_wrap {display:table-cell; text-align:center;}
.fin_cal .day_wrap .week {display:block; color:var(--fc_05, #8c949e); font-size:1.3rem; text-align:center;}
.fin_cal .day_wrap.sunday button, .fin_cal .day_wrap.saturday button {color:var(--fc_05, #8c949e);} 
.fin_cal .day_wrap button {display:block; position:relative; width:3.6rem; height:3.6rem; margin:.8rem auto 0; color:var(--fc_02, #26282c); font-family:'Roboto'; font-size:1.7rem; font-weight:500; line-height:3.6rem; text-align:center;}
.fin_cal .day_wrap button.today {background-color:var(--fc_09, #ebeef0); border-radius:50%}
.fin_cal .day_wrap button.active {background-color:#ffd338; border-radius:50%}
.fin_cal_legend{margin-top:.8rem}
.fin_cal_legend>li{position:relative;padding-left:2.0rem;font-size:1.4rem}
.fin_cal_legend>li+li{margin-top:.4rem}
.fin_cal_legend>li::before{content:'';position:absolute}
.fin_cal_legend>li.tra::before{top:.4rem;left:.2rem;width:.9rem;height:.9rem;background-color:#ffab53;transform:rotate(45deg)}
.fin_cal_legend>li.scd::before{top:.3rem;left:0;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom: 11px solid #27a588}
.fin_cal_legend>li.pay::before{top:.4rem;left:0;width:1.1rem;height:1.1rem;background-color:#5b75ce;border-radius:100%}
.fin_cal_legend.inline{width:100%;margin-top:1.2rem;text-align:right}
.fin_cal_legend.inline>li{display:inline-block}
.fin_cal_legend.inline>li+li{margin:0 0 0 1.2rem}

.my_date_work .h2{margin-top:2.0rem}
.my_date_work .fin_cal_legend{border-top:1px solid var(--bdc_01, #ebeef0)}
.my_date_work .fin_cal_legend>li{padding-left:0;padding-right:4.0rem;border-bottom:1px solid var(--bdc_01, #ebeef0);font-size:1.6rem}
.my_date_work .fin_cal_legend>li::before{top:2.0rem}
.my_date_work .fin_cal_legend>li>span, .my_date_work .fin_cal_legend>li>a{display:block;padding:1.5rem 0 1.5rem 2.0rem}
.my_date_work .fin_cal_legend>li>a{padding-right:3.0rem}
.my_date_work .fin_cal_legend>li>a::after{content:'';display:block;position:absolute;right:.9rem;top:50%;width:.9rem;height:.9rem;margin-top:-.2rem;border:solid var(--fc_05, #8c949e);border-width: 0 1.5px 1.5px 0;transform: rotate(-45deg) translateY(-50%);-webkit-transform: rotate(-45deg) translateY(-50%)}
.my_date_work .fin_cal_legend>li .btn_txt{position:absolute;top:50%;right:0;margin-top:-1.0rem}
.my_date_work .result.nodata.sm{margin:0;padding:4.8rem 0 4.3rem;border-width:1px 0;border-style:solid;border-color:var(--bdc_01, #ebeef0)}

.tab_wrap.sub_rbox {margin-top:2rem}
.tab_wrap.sub_rbox .tab_list {height:3.4rem;margin-left:0;padding-left:2.4rem;border-bottom:none}
.tab_wrap.sub_rbox .tab_list .scroll_wrap {position:static;}
.tab_wrap.sub_rbox .tab_list .scroll_wrap:after {content:''; display:block; width:100%; height:4rem; border-bottom:1px solid var(--fc_08, #dde1e4);}
.tab_wrap.sub_rbox .tab_list .scroll_wrap > div {display:table-cell; float:left; margin-left:.4rem; padding:0 .2rem; text-align:center; vertical-align:top;}
.tab_wrap.sub_rbox .tab_list .scroll_wrap > div:first-child {margin-left:0}
.tab_wrap.sub_rbox .tab_list .scroll_wrap > div.cell{position:static}
.tab_wrap.sub_rbox .tab_list .btn_txt {margin:.8rem 0 0 .8rem; color:var(--fc_05, #8c949e);}
.tab_wrap.sub_rbox .tab_list .btn_txt[class*="ico_arr"]:after {border-color:var(--fc_05, #8c949e);}
.tab_wrap.sub_rbox [role='tab']{position:relative;height:3.4rem; padding:0 1.5rem; background-color:var(--fc_11, #fff); border:1px solid var(--fc_07, #c6cbd0); border-radius:1.7rem; line-height:3.2rem; font-size:1.5rem; font-weight:400; color:var(--fc_02, #26282c)}
.tab_wrap.sub_rbox [role='tab'] span.ico_read{position:absolute;right:.8rem;top:.4rem;width:.6rem;height:.6rem;border-radius:.3rem;background-color:#f23f3f}
.tab_wrap.sub_rbox [role='tab'][aria-selected='true'] {padding:0 1.5rem; background-color:#ffda48; border:1px solid #ffda48; line-height:3.2rem; font-weight:700}
.tab_wrap.sub_rbox [role='tab'][aria-selected='true']::after {display:none;}
.tab_wrap.sub_rbox .tab_read[role='tab'],
.tab_wrap.sub_rbox .tab_read[role='tab'][aria-selected='true'] {padding-right:1.8rem} 
.tab_wrap.sub_rbox .tab_panel {margin-top:2rem; padding:0; border-top:1px solid var(--fc_08, #dde1e4);}
.tab_wrap.sub_rbox .tab_list:after,
.tab_wrap.sub_rbox .tab_list .scroll_wrap:after {height:auto; border-bottom:0;}
.tab_wrap.sub_rbox .tab_panel.bg {height:100%;background-color:var(--bg_02, #f7f7f8)}

.period_tit {margin:0 2.4rem 0 3.2rem;padding-top:1.6rem}
.period_tit .ico_notice:before{ width:3rem; height:2.1rem; background:url(/msbiz/app/img/mypage/icon_aram_ani.gif) 0 0 no-repeat; background-size:100% auto; left:-0.5rem}
.ico_notice {position:relative;padding-left:2.5rem}
.ico_notice:before {content:'';position:absolute;top:0;left:0;width:2rem; height:2rem; background:url(/msbiz/app/img/common/spr_ico_20x.png) no-repeat; background-size:25rem auto;background-position:-18rem -14rem;}
.ico_notice.on::after {content:'';position:absolute; top:1.2rem; right:.4rem; width:.6rem; height:.6rem; border-radius:50%; background:#f23f3f;}

.mypage_alert_wrap{background-color:var(--bg_02, #f7f7f8);padding:0 1.6rem 4.0rem;min-height:calc(100vh - 235px);margin-bottom:-3.2rem}
.mypage_alert_head{position:relative;padding:0 .8rem;margin-top:1.9rem}
.mypage_alert_head .period_sel{position:relative;padding-right:1.7rem;font-size:1.4rem;font-weight:700}
.mypage_alert_head .period_sel::after{content:'';position:absolute;top:.1rem;right:0;width:.8rem;height:.8rem;border-width:1.5px 1.5px 0 0;border-style:solid;border-color:var(--fc_03, #484b51);transform:rotate(135deg)}
.mypage_alert_head .period_sel .number{font-size:1.5rem;font-weight:500}
.mypage_alert_head .mypage_alert_set{position:absolute;top:.2rem;right:0;padding-left:2.4rem;font-size:1.4rem}
.mypage_alert_head .mypage_alert_set::before{content:'';position:absolute;top:-.2rem;left:0;width:1.7rem;height:1.9rem;background:url(/msbiz/app/img/mypage/icon_aram.png) 0 0 no-repeat;background-size:1.7rem 1.9rem;animation:alramAni 1.6s linear infinite}
@keyframes alramAni{
	0%,50%,100%{transform:rotate(0deg)}
	25%{transform:rotate(25deg)}
    75%{transform:rotate(-25deg)}
}
.mypage_alert_head .period_info{display:block;margin-top:1.6rem;font-size:1.5rem}
.mypage_alert_list{margin-top:2.7rem}
.mypage_alert_item{position:relative}
.mypage_alert_item + .mypage_alert_item{margin-top:2.8rem}
.mypage_alert_item h4{position:relative;height:3.2rem;line-height:3.2rem;padding-left:4.2rem;font-size:1.3rem;font-weight:400;color:var(--fc_03, #484b51)}
.mypage_alert_item h4::before{content:'';position:absolute;top:0;left:0;width:3.2rem;height:3.2rem;background:url(/msbiz/app/img/mypage/img_my_smain.png) 0 -6.5rem no-repeat;background-size:30rem auto}
.mypage_alert_item h4.alarm{font-weight:700}
.mypage_alert_item.i01 h4::before{background-position:0 -6.5rem}
.mypage_alert_item.i09 h4::before{background-position:0 -9.7rem}
.mypage_alert_item.i03 h4::before{background-position:-3.2rem -9.7rem}
.mypage_alert_item.i04 h4::before{background-position:-6.4rem -9.7rem}
.mypage_alert_item.i06 h4::before, .mypage_alert_item.i17 h4::before{background-position:-9.6rem -9.7rem}
.mypage_alert_item.i07 h4::before{background-position:-12.8rem -9.7rem}
.mypage_alert_item.i02 h4::before{background-position:-16.0rem -9.7rem}
.mypage_alert_item.i05 h4::before{background-position:-19.2rem -9.7rem}
.mypage_alert_item.i08 h4::before{background-position:-22.4rem -9.7rem}
.mypage_alert_item.i16 h4::before{background-position:-25.6rem -9.7rem}
.mypage_alert_item.i10 h4::before{background-position:0 -12.9rem}
.mypage_alert_item.i11 h4::before{background-position:-3.2rem -12.9rem}
.mypage_alert_item.i12 h4::before{background-position:-6.4rem -12.9rem}
.mypage_alert_item.i13 h4::before{background-position:-9.6rem -12.9rem}
.mypage_alert_item.i14 h4::before{background-position:-12.8rem -12.9rem}
.mypage_alert_item h4 span.ico_read{position:absolute;left:3.4rem;top:-.2rem;width:.6rem;height:.6rem;border-radius:.3rem;background-color:#f23f3f}
.mypage_alert_item .alert_time{position:absolute;top:1.0rem;right:0;font-size:1.3rem;color:var(--fc_04, #696e76)}
.mypage_alert_item_box{position:relative;margin-top:.8rem;padding:2.0rem;background-color:var(--bg_01, #fff);border-radius:.8rem;box-shadow:0px 0px 24px 0px rgba(0, 0, 0, 0.04)}
.mypage_alert_item_box .item_tit{display:inline-block;position:relative;padding-right:1.5rem;font-weight:700}
.mypage_alert_item_box .item_tit::after{content:'';position:absolute;bottom:.7rem;right:0;width:.8rem;height:.8rem;border-width:1px 1px 0 0;border-style:solid;border-color:var(--fc_05, #8c949e);transform:rotate(45deg)}
.mypage_alert_item_box span.item_tit{padding-right:0}
.mypage_alert_item_box span.item_tit::after{display:none}
.mypage_alert_item_box .btn_share{position:absolute;top:2.0rem;right:2.0rem}
.mypage_alert_item_box .sub_info{display:block;margin-top:.6rem;font-size:1.4rem;color:var(--fc_04, #696e76)}
.mypage_alert_item_box .sub_info .number{font-size:1.5rem}
.mypage_alert_item_box .btm_info{display:table;width:100%;margin-top:2.6rem}
.mypage_alert_item_box .btm_info>.lb, .mypage_alert_item_box .btm_info>.amount{display:table-cell}
.mypage_alert_item_box .btm_info>.lb{font-size:1.3rem}
.mypage_alert_item_box .btm_info>.amount{text-align:right}
.mypage_alert_item_box .p{margin-top:.9rem}

.crm_temp_head .h2{margin:0;padding-bottom:1.0rem}
.crm_temp_head .date{font-size:1.5rem;color:#8c949e}
.crm_temp_cont{margin-top:1.5rem;padding-top:2.9rem;border-top:.1rem solid #dde1e4}

/* 장바구니 */
.basket_wrap .acc_list_wrap {margin:0 -.8rem}
.basket_wrap .acc_list_wrap .selection input[type=checkbox] + .label {padding-left:0}
.basket_wrap .acc_list_wrap .selection input[type=checkbox] + .label:before,
.basket_wrap .acc_list_wrap .selection input[type=checkbox] + .label:after {top:2.4rem; left:2.4rem}
.basket_wrap .acc_list_wrap .acc_wrap {padding:2.4rem 2.4rem 1.6rem 5.8rem}
.basket_wrap .acc_list_wrap .acc_pannel .acc_wrap .acc_name {margin-right:4rem}
.basket_wrap .acc_list_wrap .acc_wrap .sub_info {margin-top:1.2rem; font-size:1.4rem}
.basket_wrap .acc_list_wrap .acc_pannel .btn_area {margin-top:0}
.basket_wrap .acc_list_wrap .acc_pannel .btn_area {padding:0 2.4rem 1.6rem}
.basket_wrap .acc_list_wrap .btn_ico_34 {position:absolute; top:1.4rem; right:1rem;z-index: 10;}
.basket_wrap.no_chk .acc_list_wrap .acc_wrap{padding-left: 2.4rem;}

.rmate_chart_wrap .rmate_chart {margin-top:1.6rem}
.rmate_chart_wrap .table table td {font-size:1.6rem}
.rmate_chart_wrap .table table .number,
.rmate_chart_wrap .state_arr {font-size:1.7rem}

.legends .legend {margin-top:.8rem; padding-left:2.8rem; font-size:1.4rem; color:#696e76}
.legends .legend:first-child {margin-top:1.6rem}
.legends .shape1 {background:url(/msbiz/app/img/mypage/icon_legend_01.png) no-repeat 0 .2rem; background-size:2rem auto}
.legends .shape2 {background:url(/msbiz/app/img/mypage/icon_legend_02.png) no-repeat 0 .2rem; background-size:2rem auto}

/* 221028 추가 list_data text는 무조건 개행 */
.list_data div.value > em {overflow:hidden; width:100%; word-break:keep-all; word-wrap:break-word;}