@charset "utf-8"; 


/*** search_hcw.css ***/
.total_search_wrap{position:relative;height: 8.4rem;}
.total_search_wrap .search_wrap {position:fixed; z-index:10; top:0; width:100%; margin:0;padding:1.2rem 0 3.2rem 2.4rem; background-color:var(--bg_01, #fff);}
.total_search_wrap .search_wrap .btn_sch{display: none;}
.total_search_wrap.open .search_wrap .btn_sch{display: block;}
.total_search_wrap.open .search_wrap .btn_mic{display: none;}
.total_search_wrap .search_wrap .btn_mic {display:block; position:absolute; top:50%; right:0; width:6.2rem; height:5.6rem; margin-top:-2.8rem; padding-left:1.5rem;}
.total_search_wrap .search_wrap .btn_mic:after {content:''; display:block; position:relative; top:-1px; width:2.4rem; height:2.4rem; background-image:url(/msbiz/app/img/common/spr_ico_24x.png); background-repeat:no-repeat; background-position:-12rem -12rem; background-size:25rem auto; z-index:2;}

.sch_nodata {padding:6rem 0 8rem; color:var(--fc_02, #26282c); text-align:center;}
.auto_foot {padding: 0 2.4rem;}
.layer_autocomp .auto_foot {background-color:var(--bg_01, #fff); border-bottom:1px solid var(--fc_07, #c6cbd0);}
.auto_foot .hgroup{padding:2rem 0;border-top: 1px solid var(--bdc_01, #ebeef0);}
.auto_foot .switch label span{font-size: 1.6rem;color: var(--fc_02, #26282c);}
.auto_foot .btn_txt{color: var(--fc_04, #696e76);}
.auto_foot .btn_all_del {position:relative; padding-left:2.7rem;}
.auto_foot .btn_all_del::before {content:''; position:absolute; left:0; top:50%; margin-top:-1rem; width:2rem; height:2rem; background: url(/msbiz/app/img/common/spr_ico_20x.png) -20rem -10rem no-repeat; background-size: 25rem auto;}

/* 인기검색어 */
.acco_popular_word {margin-top:1rem;}
.acco_popular_word li {position:relative;}
.acco_popular_word.list_acco > li:first-child {border-top:0;}
.acco_popular_word.list_acco .tit {font-weight:700; padding-top:0;z-index: 10;}
.acco_popular_word.list_acco > li a.tit:after {top:.2rem; margin-top:0;}/* 220901 arrow수정 es */
.acco_popular_word.list_acco > li.on a.tit:after {top:.8rem;}/* 220901 arrow수정 es */
.acco_popular_word a.eps {display:block; width:100%; color:var(--fc_02, #26282c);}
.acco_popular_word a.eps .txt_num {margin-right:1rem; font-weight:500;}
.acco_popular_word .popular_slide {display:block; position:absolute; left:55%; top:0; overflow:hidden; z-index:2; width:45%; height:4.2rem; margin-left:-3.8rem;}
.acco_popular_word li.on .popular_slide {display:none;}
.acco_popular_word .swiper-slide {height:4.2rem;}
.acco_popular_word .slide_area a.eps {height:4.2rem;}
.acco_popular_word .list_popular{display: flex;}
.acco_popular_word .list_popular ul{width: 50%;}
.acco_popular_word .list_popular ul a{padding: .7rem 0;}
.acco_popular_word.js_accordion > li.on .toggle_panel {padding:1.8rem 0;}

/* 최근검색어 */
.sch_recent {margin-top:1.8rem;}
.sch_recent .list_recent {min-height:17.6rem;margin-bottom: 4rem;}
.sch_recent .list_recent li {position:relative; padding:.7rem 8.3rem .7rem 0;}
.sch_recent .list_recent .txt {display:block;overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
.sch_recent .list_recent .date {position:absolute; right:3.5rem; top:1rem; color:var(--fc_06, #aab0b8); font-size:1.5rem;}
.sch_recent .list_recent .btn_del {position:absolute; right:0; top:1rem; width:2rem; height:2rem; background: url(/msbiz/app/img/common/spr_ico_20x.png) -18rem -10rem no-repeat; background-size: 25rem auto;}

.total_sch_tab .title{padding:0 2.4rem;}
.total_sch_tab .title .btn_txt{font-size: 1.4rem;font-weight: 300;}
.total_sch_tab .title .btn_txt.ico_chatbot::before{background-position: -12rem -16rem;}

/* 검색어 자동완성 layer */
.layer_autocomp {display:none; position:fixed; z-index:50; left:0; right:0; top:7.2rem; bottom:0; background-color:var(--fc_09, #ebeef0);}
.layer_autocomp .autocomp_wrap {padding:2.3rem 2.4rem 0 2.4rem; background-color:var(--bg_01, #fff);}
.layer_autocomp .autocomp_wrap .scroll {max-height:25.2rem;}
.layer_autocomp .list_autocomp .txt {display:block; width:100%; overflow:hidden; padding:.7rem 0;color:var(--fc_02, #26282c); text-overflow:ellipsis; white-space:nowrap;}

/* 키워드 보정 */
.word_correct {padding:2.8rem 0 1.5rem; text-align:center;}
.word_correct .txt {margin-bottom:1.2rem; color:var(--fc_03, #484b51);}
.word_correct .txt_link {color:#287eff; text-decoration:underline;}
/* 연관검색어 */
.relate_word {margin:1.2rem 0 -1rem 0;font-size: 0;}
.relate_word .hash_text {display: inline-block; margin:0 .8rem 1rem 0; height:3rem; padding:0 1.4rem; vertical-align: top; border:1px solid var(--bdc_03, #c6cbd0); border-radius:1.6rem; font-size:1.4rem; line-height:2.8rem; white-space:nowrap;}

.total_sch_tab .hr_divide{margin: 2.8rem 0;}
.tab_wrap.sch_subtab{margin-bottom: 2.4rem;}
.tab_wrap.sch_subtab .tab_list {height:8.7rem; padding-right:2.4rem;border-bottom: 0;}
.tab_wrap.sch_subtab .tab_list::after,
.tab_wrap.sch_subtab .tab_list .scroll_wrap:after {display:none;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap {display:block; position:relative; width:100%; height:8.7rem; padding-top:1px;padding-right: 0;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button {display:block; float:left; width:calc(100% / 3);}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button::after {display:none;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button {position:relative;padding:0 .2rem; height:4.4rem; border:1px solid var(--fc_08, #dde1e4); border-right:0; margin-top:-1px; color:var(--fc_03, #484b51); font-weight:400; line-height:4.3rem;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button + button{margin-left: 0;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button .number{font-weight:400;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button .number strong{font-weight:500 !important;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button:nth-of-type(1) {border-top-left-radius:.2rem;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button:nth-of-type(3) {border-right:1px solid var(--fc_08, #dde1e4); border-top-right-radius:.2rem;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button:nth-of-type(4) {border-bottom-left-radius:.2rem;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button:nth-of-type(6) {border-right:1px solid var(--fc_08, #dde1e4); border-bottom-right-radius:.2rem;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button[aria-selected=true] {z-index:2; width:calc((100% / 3) + 1px); border:1px solid #ffd338; margin:-1px -1px 0 0; background-color:#ffd338; color:var(--fc_02, #26282c); color:#26282c; font-weight:700;}
.tab_wrap.sch_subtab .tab_list .scroll_wrap button:nth-of-type(3)[aria-selected=true],
.tab_wrap.sch_subtab .tab_list .scroll_wrap button:nth-of-type(6)[aria-selected=true] {width:calc(100% / 3);}
.tab_wrap.sch_subtab .tab_panel .section:first-of-type{padding-top: 3.3rem;}
.tab_wrap.sch_subtab .tab_panel .section + .section{margin-top: 4.3rem;}
.hgroup_sch .h3 .number{font-size: 1.7rem;font-weight: 500;}
.hgroup_sch .arr_btn {position:relative; height:2rem; padding-right:1.7rem; margin-top:.4rem; white-space:nowrap;}
.hgroup_sch .arr_btn:after {content:''; display:block; position:absolute; right:0; top:50%; width:.8rem; height:.8rem; margin-top:-.2rem; border:solid var(--fc_03, #484b51); border-width: 0 1.4px 1.4px 0; transform: rotate(-45deg) translateY(-50%); -webkit-transform: rotate(-45deg) translateY(-50%);}
.sch_rs_list {margin-top:.8rem; border-top:1px solid var(--fc_05, #8c949e);}
.sch_rs_list li {position:relative; border-bottom:1px solid var(--bdc_01, #ebeef0);}
.sch_rs_list .sch_menu a {display:block; padding:1.8rem 0; color:var(--fc_02, #26282c); font-size:1.6rem;}
.sch_rs_list .sch_prd li > a {display:block; position:relative; padding:2.2rem 0;}
.sch_rs_list .tit{display:-webkit-box;overflow:hidden;color:var(--fc_02, #26282c);text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical; line-height:1.4;}
.sch_rs_list .sch_prd .tit {margin-top:.8rem;}
.sch_rs_list .sch_prd .sch_cate {margin-top:1rem;overflow: hidden; text-overflow:ellipsis; white-space:nowrap; color:var(--fc_04, #696e76); font-size:1.4rem;}
.sch_rs_list .sch_prd .box_icon {position:absolute; right:-.8rem; top:1.4rem;height:3.6rem;overflow: hidden; }
.sch_rs_list .sch_prd .box_icon button{display:block;float: left; position:relative; width:3.6rem; height:3.6rem}
.sch_rs_list .sch_prd .box_icon [class^=ico_] {display:block;width: 100%;height: 100%;}
.sch_rs_list .sch_prd .box_icon .ico_share:before {content:''; position:absolute; left:50%; top:50%; width:2rem; height:2rem; margin:-1rem 0 0 -1rem; background:url(/msbiz/app/img/common/spr_ico_20x.png) -20rem -6rem no-repeat; background-size: 25rem auto;}
.sch_rs_list .sch_prd .box_icon .ico_cart:before {content:''; position:absolute; left:50%; top:50%; width:2rem; height:2rem; margin:-1rem 0 0 -1rem; background:url(/msbiz/app/img/common/spr_ico_20x.png) -2rem -14rem no-repeat; background-size: 25rem auto;}
.sch_rs_list .sch_faq a {display:block; padding:1.8rem 0;}
.sch_rs_list .sch_faq .tit {display:block;text-overflow:unset;}
.sch_rs_list .sch_faq .cts_txt {display:-webkit-box; max-height:4rem; margin-top:.8rem; overflow:hidden; color:var(--fc_04, #696e76); font-size:1.4rem; line-height:2rem; text-overflow:ellipsis; -webkit-line-clamp:2; -webkit-box-orient:vertical;}
.sch_rs_list .sch_faq .info {margin-top:1.6rem;}
.sch_rs_list .sch_faq .info .number {color:var(--fc_04, #696e76); font-size:1.5rem;}
.sch_rs_list .sch_notice a {display:block; padding:2rem 0;}
.sch_rs_list .sch_notice .info {margin-top:.8rem;color:var(--fc_05, #8c949e); font-size:1.5rem;}
.sch_rs_list li .sch_badge_wrap{display: flex;}
.sch_rs_list li .sch_badge_wrap .badge + .badge{margin-left: 1.2rem;}

.sch_intgraph{margin-top: 2.6rem;}
.sch_intgraph .swiper-wrapper{padding: 1rem 0 0;}
.sch_intgraph .swiper-slide{border-radius: .8rem;overflow: hidden;box-shadow: .4rem 0 1.5rem rgba(0,0,0,.1);max-width: 32.5rem;}
.sch_intgraph .swiper-slide > a.sch_rs_list{display: block;padding: 2rem 2rem 2.4rem;margin: 0;border: 0;height: 26.1rem;position: relative;}
.sch_intgraph .swiper-slide > a.sch_rs_list .sch_badge_wrap{display: flex;flex-wrap: wrap;}
.sch_intgraph .swiper-slide > a.sch_rs_list .sch_badge_wrap .badge{margin-right: 1.2rem;margin-left: 0;}
.sch_intgraph .swiper-slide > a.sch_rs_list .sch_badge_wrap .badge + .badge{margin-left: 0;}
.sch_intgraph .swiper-slide > a.sch_rs_list .sch_badge_wrap .badge.tag{border: 0;background: transparent;color: #10459b;padding: 0;font-size: 1.4rem;line-height: 2.4rem;}
.sch_intgraph .swiper-slide > a.sch_rs_list .sch_badge_wrap .badge.tag::before{content: "#";}
.sch_intgraph .swiper-slide > a.sch_rs_list .tit{margin-top: 1rem;font-size: 1.6rem;font-weight: 700; }
.sch_intgraph .swiper-slide > a.sch_rs_list .p_sub{margin-top: 1.2rem;color:var(--fc_04, #696e76);line-height: 1.5rem;font-size: 1.4rem;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_sub + .p_sub{margin-top: 1rem;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom{position: absolute;bottom: 2.4rem;left: 2rem; right: 2rem;text-align: right;line-height: 1;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom span{font-size: 1.4rem;font-weight: 300;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom .p_bottom_row{display: block;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom .p_bottom_row + .p_bottom_row, 
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom .p_bottom_row + strong,
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom > strong:first-child{margin-top: 0.7rem;display: block;font-size: 1.9rem;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom .number + .num_unit{font-size: 1.8rem;font-weight: 700;margin-left: 0;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom > .p_bottom_row.fc_gray:first-child{line-height: 1.8rem;}
/* .sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom strong{font-size: 1.9rem;font-weight: 700;} */
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom .date{display: block;font-size: 1.2rem;text-align: right;color: #8c949e;line-height: 1;margin-top: .9rem;}
.sch_intgraph .swiper-slide > a.sch_rs_list .p_bottom .date .number{font-size: 1.3rem;vertical-align: 0.1rem;}
.sch_intgraph .ui_swiper .swiper-pagination{margin-top: 1.6rem;}
.sch_intgraph .ui_swiper .swiper-pagination-wrap{margin-top: .8rem;}
.sch_intgraph .ui_swiper .swiper-pagination-wrap > .swiper-pagination{margin-top: 0;}

.list_acco.search_acco{margin-top: 3.6rem;}
/* .list_acco.search_acco > li{border: 0 none;} */
/* .list_acco.search_acco > li > .tit{padding: 0 2.5rem;text-align: right;font-size: 1.4rem;line-height: 1.6rem;color: #696e76;} */
/* .list_acco.search_acco > li > .tit::after{margin-top: -.8rem;} */
/* .list_acco.search_acco > li.on > .tit{font-weight: 400;} */
/* .list_acco.search_acco > li.on > .tit::after{margin-top: -.2rem;} */
/* .js_accordion.search_acco > li .toggle_panel{padding: 1.6rem 0 0;} */
/* .js_accordion.search_acco > li.on .toggle_panel{border-top: 0 none;} */
/* .js_accordion.search_acco > li.on .toggle_panel .p_sub{color: #484b51;} */