@charset "utf-8"; 


/*** transfer_lry.css ***/
.tr_sel_acc_area {margin-top:-1.6rem;padding:1.6rem 1.2rem 1.2rem;background-color:var(--bg_01,#fff)}
.tr_sel_acc_area + .tooltip_limited_wrap{margin-top:0}
.tr_sel_acc_area + .section.gap_xxs_minus .form_btm_wrap .sum_hint { margin-top:0.4rem; }
.btn_wrap.type_transfer{margin-top:1.3rem;padding-right:1.3rem}
.btn_wrap.type_transfer .btn_txt{font-size:1.4rem;line-height:2rem;letter-spacing:-0.02em;vertical-align:top}
.btn_wrap.type_transfer .btn_txt + .btn_txt{margin-left:1.8rem}
.btn_wrap.type_transfer .btn_txt + .btn_txt::before {content:'';position:absolute;top:.1rem;left:-1.2rem;width:1px;height:1.6rem;background:var(--fc_08, #dde1e4)}
.btn_wrap.type_transfer .btn_txt.ico_star {padding-right:.6rem;}
.btn_wrap.type_transfer .btn_txt.ico_tsend {padding-right:0;}
.form_trans, .form_group.form_trans {margin:4.8rem 0 -2.4rem}
.form_trans .input::after{display:none}
.form_trans input[type="tel"] {padding-right:0;border-bottom:none;font-size:3rem;text-align:center}
.form_trans input[type="tel"]::placeholder {font-size:3.4rem;text-align:center}
.form_trans .input{text-align:center}
.form_trans .input .input_txt{padding-right:0;border-bottom:none;font-size:3rem}
.form_trans .input .input_txt.number{font-size:3.4rem;font-weight:500}
.form_trans .input .num_unit{font-size:3rem}
.js_move .form_trans .input .num_unit{vertical-align:.1rem;}
.form_trans .p {margin-top:1rem;color:var(--fc_05, #8c949e);text-align:center}
.form_trans .money_ko{margin:.6rem 0 0;font-size:1.4rem;text-align:center;color:var(--fc_04, #696e76)}
.form_trans .money_ko + .money_ko{margin-top:1.2rem}
.form_trans .money_ko.off{color:var(--fc_05, #8c949e)}
.form_trans .money_ko .number{font-size:1.5rem}
.js_move.on {position:fixed;top:0;left:0;width:100vw;min-height:100%;margin:0;padding:0 2.4rem;background:var(--bg_01, #fff);z-index:10}
.js_move.on > .form_group.form_trans {margin:25% 0 0 0}
.form_group.form_trans .form_trans_tip{margin-top:1.3rem;text-align:center}
.form_group.form_trans .form_trans_tip .tip{display:inline-block;margin-top:0}
.ico_trans_favorite {width:2rem;height:2rem;background:url(/msbiz/app/img/common/spr_ico_20x.png) no-repeat -4rem -18rem; background-size:25rem auto;vertical-align:top}
.ico_trans_favorite.active {background-position:-6rem -18rem}
.ico_trans_share{width:2rem;height:2rem;background-image:url(/msbiz/app/img/common/spr_ico_24x.png);background-size: 20.8rem auto;background-position:-8rem -8rem}

/* BFE003093 */
header + #content{min-height: calc(100% - 5.6rem);}
.header_logo{padding:2.4rem 2.4rem 1.2rem;}
.header_logo::before{content: "";display:block;width:11.3rem;height:2rem;background:url(/msbiz/app/img/common/logo_kb_150x.png) no-repeat 0 0 / 100% auto;}
.contact_result{margin: 0 -.5rem;overflow: hidden;}
.contact_result::before{content:"";display:block;height:17.9rem;background: #fff2c4 url(/msbiz/app/img/transfer/img_contact_result.png) no-repeat 50% 0 / auto 17.9rem;}
.contact_result .tit{font-size: 1.8rem;text-align: center;margin: 3.2rem 0;}
.contact_result .tit .number{font-size: 2rem;}

/* BFE003584 */
.banner_wrap { text-align:center; }
.banner_wrap + .banner_wrap{margin-top: 2rem;}

/* BFE003002 */
.acc_list.acc_type2 .btn_txt.ico_pay {font-size: 1.4rem;}


/*** transfer_kyb.css ***/
.dv_ellipse { position:relative; padding:4.0rem 2.4rem !important; background:var(--bg_02, #f7f7f8);}
.dv_ellipse .section {margin:2.4rem 2.4rem 0;}
.dv_ellipse .icon { width:4.0rem; height:4.0rem; position:absolute; top:-2.0rem; left:50%; margin:0 auto; transform:translateX(-50%); text-align:center; border:1px solid #eceff1; background:#fff; border-radius:4rem;}
.dv_ellipse .icon #arrowAni { display:inline-block; position: relative; top:0.7rem; width:2.4rem; height:2.4rem; }
.dv_ellipse .icon #arrowAni svg { width:100% !important; height:100% !important; }

/* S : 부가세매입자납부특례결제 */
.tr_surtax.list {  border-top:1px solid var(--bdc_01, #ebeef0); }
.tr_surtax.list li { padding:1.6rem 0 2rem; }
.tr_surtax.list .acc_wrap .acc_num { font-weight:500; }
.tr_surtax.list .acc_wrap .acc_name { margin-top:0.2rem; font-size:1.5rem; }
.tr_surtax.list .acc_wrap .acc_info_wrap { margin-top:0.8rem; }
.tr_surtax.list .btn_list_btm { margin-top:1.6rem; }
.tr_surtax.depth { padding-bottom:1.6rem; border-bottom:1px solid #dde1e4; }
/* E : 부가세매입자납부특례결제 */

/* S : 부족한 금액 모으기 */
.tr_gather.dv_ellipse { padding-bottom:2rem !important; }
/* E : 부족한 금액 모으기 */

/* 출금계좌 */
.tr_payout.pop_section .p_sub { padding:2.4rem 0 1.6rem; border-bottom:1px solid var(--bdc_01, #ebeef0); color:var(--fc_03, #484b51); }

.tr_many.sticky_area {margin-top:-1.6rem;padding: 1.8rem 2.4rem 1.6rem; margin-bottom:3.2rem; color: var(--fc_11, #ffffff); background: var(--bdc_04, #484b51); }
.tr_many.sticky_area:after { content:''; display:block; clear:both; }
.tr_many.sticky_area.sticky { position:fixed; top:0; left:0; width:100%; z-index:20; }

.tr_many.sticky_area .bk_total { float:left; display:inline-block; margin-top:.3rem; font-size:1.5rem; }
.tr_many.sticky_area .bk_total .number { font-size:1.6rem; }
.tr_many.sticky_area .bk_pay { float:right; font-size:1.7rem; }
.tr_many.sticky_area .bk_pay .number { font-weight:500; font-size:1.9rem; }

.tr_top_sum{position:sticky;top:0;margin-top:-1.6rem;margin-bottom:3.2rem;padding:2.0rem 2.4rem;background-color:#f7f7f8;border-top:.1rem solid #ebeef0;box-shadow:0 0.4rem 0.6rem rgba(0,0,0,.07);z-index:10}
.tr_top_sum .acc_bank{display:block;position:relative;padding-left:3.2rem;font-size:1.6rem}
.tr_top_sum .acc_bank [class^=icon_bank_]{position:absolute;top:.4rem;left:0}
.tr_top_sum .acc_bank .number{padding-left:.4rem;font-size:1.7rem}
.tr_top_sum .total{display:block;position:relative;margin-top:2.4rem}
.tr_top_sum .total .bk_total{font-size:1.5rem;color:#696e76}
.tr_top_sum .total .bk_pay{position:absolute;top:0;right:0;font-size:1.7rem;font-weight:700}
.tr_top_sum .total .bk_pay .number{font-size:1.9rem;font-weight:500}

.stave_off:before{ content: ''; display: block; margin: 2.4rem auto 1.6rem; width: 4.8rem; height: 4.8rem; background-image: url(/msbiz/app/img/common/spr_ico_48x.png); background-size: 25rem auto; background-position: 0 -9.6rem;}
.stave_off .h2{text-align:center; margin:2rem 0 2.8rem;}

.declare_area{text-align:center; margin-top:4rem;}
.declare_area .declare_sub{color:var(--fc_02, #26282c); font-size:1.4rem; display:block; line-height:1.25;}
.declare_area .declare_txt{color:var(--fc_02, #26282c); font-size:2.3rem;}
.declare_area .declare_num .number{ position:relative; top:0.2rem; color:#287eff; font-size:3rem;}

.tr_pay.acc_list_wrap .acc_pannel + .acc_pannel { margin-top:2.4rem; }
.tr_pay.acc_list_wrap .acc_pannel .acc_wrap { padding: 2.4rem 2.4rem 2.8rem; }
.tr_pay.acc_list_wrap .acc_pannel .btn_menu { right:0.6rem; top:0.1rem; }
.acc_list_wrap .acc_pannel .acc_wrap .acc_bank .bk_name { position:relative; top:0.1rem; vertical-align: middle; }
.acc_list_wrap .acc_pannel .acc_wrap .acc_bank .bk_num { vertical-align: middle; }
.acc_list_wrap .acc_pannel .acc_wrap.b2 .acc_bank.md.gap_0 { margin-bottom:0.4rem; }
.acc_list_wrap .acc_pannel .acc_wrap.b2 .acc_info_wrap.gap_xxxxs { margin-top:0.6rem !important; }
.acc_list_wrap .acc_pannel.tr_pannel_type2 .acc_wrap .acc_list.acc_type2 .acc_bank.md .acc_bank_num .bk_num.number.block.gap_xxxs,
.acc_list_wrap .acc_pannel.tr_pannel_type2 .acc_wrap .acc_list.acc_type2 .acc_bank.md .bk_pay.balance.gap_xxxs { position:relative; left:-3rem; }
.acc_list_wrap .acc_pannel .acc_wrap.b2 .btn_del { top:1rem; right:1rem; padding:2rem; z-index:1; }
.form_group .form_row .tab_wrap .tab_panel .section_f .hgroup.pdl_0.pdr_0 + .acc_list_wrap.gap_xs_2 { position: relative; left: -0.8rem; width: calc(100% + 1.6rem); }
.tab_wrap .tab_panel > h3 + .tip_info.gap_xs { margin-top:-0.8rem !important; }

/* QnA */
.high_q_list { padding:2rem 0; border-top:1px solid var(--bdc_01, #ebeef0); border-bottom:1px solid var(--bdc_01, #ebeef0); }
.high_q_list ul li{margin-top:2.4rem;}
.high_q_list ul li:first-child{margin-top:0;}
.high_q_list .question{color:var(--fc_02, #26282c);}
.high_q_list .question .number { font-size:1.9rem; }
.high_q_list .question .number em { position:relative; top:-0.1rem;  font-size:1.8rem; }
.high_q_list .answer{color:var(--fc_04, #696e76); margin-top:1rem;}

.tell_info { margin-top:2rem; }
.tell_info .tell_ico{position:relative; padding-left:5.2rem;}
.tell_info .tell_ico:before{content:''; display:block; position:absolute; top:0; left:0; width:4rem; height:4rem; background-image:url(/msbiz/app/img/common/spr_ico_40x.png); background-size:25rem auto; background-position:-20.5rem -20rem;}
.tell_info .number{font-size:1.9rem; font-weight:500;}

.ico_contact {width:2.4rem; height:2.4rem; background:url(/msbiz/app/img/transfer/ico_contact.png) no-repeat; background-size:2rem auto;}

.tr_result.acc_pannel + .tr_result.acc_pannel { margin-top:1.6rem; }
.tr_result.acc_pannel .list_data.noline { border:none; }
.tr_result.acc_pannel .list_data.noline:before { display:none; }
.tr_result.acc_pannel .list_data.noline > li { padding:0.4rem 0; }
.tr_result.acc_pannel .list_data.noline > li.line { border-top: 1px solid var(--bdc_01, #ebeef0); padding-top: 1.2rem; }

.logo_inner { width:15rem; height:2.6rem; margin:0 auto; background:url(/msbiz/app/img/common/logo_kb_150x.png) no-repeat; background-size:100% auto; }
/* E : 입금계좌선택 */

 /* 다른 금융착오송금 반환신청 */
.tr_request_step::after { content:''; display:block; clear:both; }
.tr_request_step li { float:left; position:relative;}
.tr_request_step li:not(.arrow) { width:5.6rem; padding-top:6.7rem; font-size:1.4rem; color:var(--fc_03, #484b51); text-align:center; }
.tr_request_step li:not(.arrow)::before { content:''; display:block; position:absolute; left:0; top:0; width:5.6rem; height:5.6rem; border-radius: 3rem; background-color:var(--fc_10, #f7f7f8);}
.tr_request_step li:not(.arrow)::after {content:''; display:block; position:absolute; width:2.7rem; height:2.8rem; top:1.6rem; left:50%; margin-left:-1.35rem; background:url(/msbiz/app/img/transfer/spr_ico_request_step.png) no-repeat 0 0 / 11rem auto; }
.tr_request_step li:nth-child(3)::after { background-position:-2.7rem 0; }
.tr_request_step li:nth-child(5)::after { width:2.6rem; background-position:-5.5rem 0; }
.tr_request_step li:nth-child(7)::after { width:2.8rem; background-position:-8.3rem 0; }
.tr_request_step li.arrow { width:calc((100% - 22.4rem) / 3); height:6rem; }
.tr_request_step li.arrow::after { content: ''; display: inline-block; position: absolute; top:50%; left:50%; width: 1.1rem; height: 1.1rem; margin-top: -.5rem; margin-left: -.8rem; border-top: 2px solid var(--fc_06, #aab0b8); border-right: 2px solid var(--fc_06, #aab0b8); transform: rotate(45deg); }


/* 메시지카드 */
.tr_msgcard.pop_section { padding-left:0; padding-right:0; }
.tr_msgcard.pop_section .swiper-slide { width:26rem; margin:0 auto; }
.tr_msgcard.visual .preview { text-align:center; }
.tr_msgcard.visual p { padding:2.8rem 0; margin-top:2rem; font-size:1.8rem; text-align:center; border-top:0.1rem solid var(--fc_05,#8c949e); border-bottom:0.1rem solid var(--bdc_01, #f0f3f4); }
.tr_msgcard.visual p .number { font-size:2rem; }
.tr_msgcard.choice { padding:0 1.9rem; }
.tr_msgcard.choice::after { content:''; display: block; clear: both; }
.tr_msgcard.choice li { float:left; width:calc(50% - 1rem); margin:0 .5rem 1rem; }
.tr_msgcard.choice li button { position:relative; width:100%; }
.tr_msgcard.choice li.on button::after { content:''; display:block; position:absolute; left: 50%; right: 0; top: 0; bottom: 0; width: 100%; height: 100%; max-width:42rem; transform: translateX(-50%); border: 3px solid #ffcc00; border-radius: .2rem; background: none; box-shadow: 4px 6.928px 12px 0px rgba(0, 0, 0, 0.1); }
.pop_section .list.list_top_bd.only.center.gap_sm { border-top-color:#26282c; border-bottom-color:#f0f3f4; }
/* .tr_msgcard.choice li button { width:15.8rem; height:9.8rem; } */


.amount_wrap { margin:4.8rem auto 2.8rem; text-align:center; }
.amount_wrap .tit .number { font-size:3.4rem; font-weight:500; }
.amount_wrap .tit .num_unit { position:relative; top:-0.2rem; font-size:3rem; font-weight:700; }
.amount_wrap .sub { font-size:1.5rem; color:var(--fc_03, #484b51); }
.amount_wrap .sub .num_unit { font-size:1.4rem;}

.tr_btn_choice { margin-top:3.2rem; }
.tr_btn_choice button { display:block; position:relative; width:100%; border:1px solid var(--fc_08, #dde1e4); border-radius:0.3rem;}
.tr_btn_choice button .btn_wrap { padding:1.4rem 1.4rem 1.4rem 8rem; text-align:left; border:2px solid var(--bg_01, #fff); border-radius:0.3rem; }
.tr_btn_choice button:focus { border-color: #ffcc00; box-shadow: 0 0.4rem 0.6rem rgb(0 0 0 / 7%); }
.tr_btn_choice button:focus .btn_wrap { border-color: #ffcc00; }

.tr_btn_choice button [class^=ico_] { position:absolute; left:1.6rem; top:50%; transform: translateY(-50%); }
.tr_btn_choice button + button { margin-top:1.6rem; }
.tr_btn_choice button p { font-size:1.5rem; color:var(--fc_04, #696e76); }
.tr_btn_choice button .tit { margin-bottom:0.5rem; font-size:1.6rem; font-weight:700; }

.selection .acc_bank.md [class^=icon_bank_] { position:relative; top:0.1rem; margin-right:0; }
.selection .acc_bank.md .bk_name { margin:0; }
.selection .acc_bank.md .bk_num { margin-top:0.5rem; font-size:1.8rem; font-weight:500; }
.selection .acc_bank.md.disabled .bk_name,
.selection .acc_bank.md.disabled .bk_num, 
.selection .acc_bank.md.disabled .bk_user { color: var(--fc_02, #26282c); }
.selection label .acc_bank.md { padding-top:0.2rem; }
.selection label .acc_bank.md.error { margin-top:0; }

.tr_pannel_type2.acc_pannel .acc_wrap { padding:2.4rem 2.4rem; }
.tr_pannel_type2.acc_pannel .list_data { border:none; padding:0;  }
.tr_pannel_type2.acc_pannel .list_data > li .key { width:9.5rem; }
.tr_pannel_type2.acc_pannel .acc_list.acc_type2 > li { padding-top:0; }
.tr_pannel_type2.acc_pannel .acc_list.acc_type2 > li .btn_top_area { right:0; }
.tr_pannel_type2.acc_pannel .toggle_panel .list_data.type2 { margin-bottom:1rem; }
.tr_pannel_type2.acc_pannel .btn_area { padding-bottom:2.8rem; }
.acc_list.acc_type2.bdt_bdc_01 li > .acc_bank.md { padding-top:1.7rem; }
.acc_list.acc_type2.bdt_bdc_01 li > .acc_bank.md [class^=icon_bank_] { top:1.7rem; }



/*** transfer_lya.css ***/
.label_reverse .selection {width: 100%;}
.label_reverse .selection .label {width: 100%;}

/* ---- 스마트창구출금 ----- */
.tr_smart_acc .list_comp .acc_sum_wrap {margin-top: 2rem;}
.tr_smart_acc .list_comp .acc_pay .num_unit {font-weight: bold;}
.tr_smart_acc .list_comp .btn_list_btm {margin-top: 1.6rem;}
.tr_smart_acc .acc_wrap .acc_num .number {font-size: 1.7rem;}
.tr_smart_acc .acc_wrap .acc_pay .number {font-size: 1.9rem;}
.tr_smart_acc .acc_wrap .acc_pay .num_unit {vertical-align: top;}

.tr_smart_verifi {padding: 1.8rem 0;}
.tr_smart_verifi .verifi_tit {font-size: 1.4rem;}
.tr_smart_verifi .verifi_num {margin-top: 0.3rem;}
.tr_smart_verifi .verifi_time {display: flex; justify-content: center; align-items: center; margin-top: 2rem;}
.verifi_time .count_time .tit {font-size: 1.4rem;}
.verifi_time .count_time .number {font-size: 1.5rem;}
.verifi_time .count_time + button {margin-left: 2rem; font-size: 1.4rem;}
.verifi_time .count_time + button:before { content: ''; width: 1px; height: 1.4rem; background-color: var(--fc_08, #dde1e4); position: absolute; top: 50%; transform: translateY(-50%); left: -1rem; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); }
.verifi_time .count_time + button:after {margin-top: -1rem;}

.tr_smart_intro .tr_banner {height: 16.1rem; background: url(/msbiz/app/img/transfer/banner_smart_tr.png) no-repeat 0 0/cover;}


/* ---- 급여이체 ----- */
/* 텍스트 */
.result.finish .tr_stxt {color: #666; font-size: 1.4rem;}

/* 배너 */
.tr_banner {width: 100%; max-width: 32.7rem; height: 13.8rem; margin: 0 auto; background-color: var(--bg_02, #f7f7f8); background-size: cover; background-position: center;} /* 임시 배너 공간 : 추후 수정 필요 */
.banner_type {position: relative; padding: 2.1rem 2.4rem; background-color: var(--bg_02, #f7f7f8); border-radius: 6px; -webkit-border-radius: 6px; -moz-border-radius: 6px; -ms-border-radius: 6px; -o-border-radius: 6px; }
.banner_type .banner_txt .tit {font-size: 1.6rem; color: var(--fc_02, #26282c); line-height: 1.4375;}
.banner_type .banner_txt .txt {font-size: 1.4rem; color: var(--fc_04, #696e76); margin-top: 0.6rem; line-height: 1.43;}
.banner_type:after {content: ''; position: absolute; width: 8.7rem; height: 7.5rem; top: 2.4rem; right: 2rem; background-size: cover;}
.banner_type.tr01 .banner_txt .txt  {margin-bottom: 2rem;}
.banner_type.tr01:after {right: 0; width: 12.2rem; height: 9.45rem; background-image: url(/msbiz/app/img/transfer/tr_salary_banner.png);}

/* 부족한 금액 모으기 */
.tr_shortage {margin-top: 1.4rem;}

/* 카드 - 다건 추가삭제용 */
.acc_list_wrap.tr_card {margin: 0 -0.8rem;}
.acc_list_wrap.tr_card .acc_pannel:only-child .btn_menu {display: none;}
.acc_list_wrap.tr_card .acc_pannel + .acc_pannel {margin-top: 2.4rem;}
.acc_list_wrap.tr_card .acc_pannel .acc_wrap {padding: 2.4rem 2.4rem 2.8rem;}
.acc_list_wrap.tr_card .acc_pannel .h3 {margin-top: 0; margin-bottom: 2rem;}
.acc_list_wrap.tr_card .acc_pannel .btn_menu {top: 0.3rem; right: 0.7rem;}
.acc_list_wrap.tr_card ~ .btn_cnt_wrap[style*="display: none;"] + .btn_cnt_wrap {margin-top: 3.2rem !important;}

/* 카드 - 계좌형 */
.tr_acc.acc_list_wrap {margin: 0 -0.8rem;}
.tr_acc.acc_list_wrap .badge_wrap {margin-bottom: 1.2rem;}
.tr_acc.acc_list_wrap .acc_num .acc_bank {font-size: 1.6rem; display: inline-block; padding-left: 0; margin-right: 0.4rem; margin-top: 0; vertical-align: middle;}
.tr_acc.acc_list_wrap .acc_num .number {font-size: 1.8rem;}
.tr_acc.acc_list_wrap .list_data {border-top: none;}
.tr_acc.acc_list_wrap .list_data:before {display: none;}
.tr_acc.acc_list_wrap .list_data > li {padding: 0.4rem 0;}
.tr_acc.acc_list_wrap + .btn_list_btm {margin-top: 3.2rem;}
.tr_acc.acc_list_wrap .acc_pannel + .acc_pannel {margin-top: 1.6rem;}

/* 상단 고정 금액정보 */
.fixed_info .floating_info {display: none; margin-top: 0; position: fixed; top: 0; left: 0; width: 100%; padding: 1.5rem 2.4rem 0; box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.1);}
.fixed_info .floating_info .acc_bank {padding-top: 0.2rem; padding-bottom: 0.5rem;}
.fixed_info .floating_info .acc_bank.md .bk_name {padding-right: 0;}
.fixed_info .floating_info .acc_bank.md .bk_num {display: inline-block; font-family: 'roboto'; font-size: 1.7rem; font-weight: 500;}
.fixed_info .head_data .list_data > li > div {vertical-align: middle;}
.fixed_info .floating_info .key .number {font-size: 1.6rem; font-weight: 500;}
.fixed_info .floating_info .key .num_unit {margin-left: 0;}
.fixed_info .floating_info .value .number {font-size: 1.9rem; font-weight: 500; vertical-align: middle;}
.fixed_info .floating_info .value .num_unit {font-size: 1.7rem; font-weight: 700;}
.fixed_info.active > h1 {margin-top: 10.2rem;}
.fixed_info.active .floating_info {display: block;}

/* 이체 태그버튼 */
.tr_tag_wrap {display: flex; align-items: flex-start; margin-top: 1.2rem;}
.tr_tag_wrap.notitle .tag_btn {margin-left: -0.3rem;}
.tr_tag_wrap .txt {min-width: fit-content; position: relative; font-size: 1.6rem; font-weight: 700; padding-right: 2rem; margin-right: 0.8rem; margin-top: 0.4rem;}
.tr_tag_wrap .txt:after { content: ''; display: inline-block; position: absolute; top: 50%; right: .6rem; width: .9rem; height: .9rem; margin-top: -.5rem; border-top: 2px solid var(--fc_02, #26282c); border-right: 2px solid var(--fc_02, #26282c); background: none; transform: rotate(45deg) ; -webkit-transform: rotate(45deg) ; -moz-transform: rotate(45deg) ; -ms-transform: rotate(45deg) ; -o-transform: rotate(45deg) ; }
.tr_tag_wrap .tooltip_onlyicon {display: inline-block; margin-right: .6rem; margin-top: .3rem;}
.tag_btn {margin-top: -0.6rem;}
.tag_btn .btn {font-size: 1.3rem; min-width: auto; padding: 0 1.2rem; margin-left: 0.3rem; margin-top: 0.6rem;}
.tag_btn .btn.active {background-color: #ffd338; border-color: transparent;}

/* 급여이체 바텀시트 */
.tr_salary_acc .tab_panel .section.inner {margin-top: 2.8rem !important;}
.tr_salary_acc .p_sub {color: var(--fc_03, #484b51); margin-bottom: 2.2rem;}
.tr_salary_acc .list_comp .amount {margin-top: .6rem;}
.tr_salary_acc .list_comp .amount .number {font-size: 1.9rem; vertical-align: -.1rem;}
.tr_salary_acc .list_comp .amount .num_unit {font-size: 1.7rem; font-weight: bold;}
.tr_salary_acc .list_comp.check.has_tit .acc_check .acc_num .bank_num.number {margin-left: 0;}
.tr_designated_acc .list_comp.check.has_tit .acc_check .acc_num .bank_num.number {margin-left: 0;}
.tr_salary_list .list_comp.label_reverse .row .col_r{width: 5.4rem; color: var(--fc_03, #484b51);}
.tr_salary_list .list_comp.label_reverse > li {padding-bottom: 1rem;}
.tr_recent_list .p_sub {margin-bottom: 1.8rem;}
.tr_recent_list .depth + .list_comp {margin-top: 1.2rem;}
.tr_recent_list .list_top_wrap + .list_comp {border-top-color: var(--bdc_01, #ebeef0);}
.tr_recent_list .list_comp .selection .txt {color: var(--fc_04, #696e76);}
.tr_recent_list .list_comp .selection .col.top .number {font-size: 1.7rem;}
.tr_recent_list .list_comp.label_reverse > li {padding-bottom: 1rem;}
.tr_recent_list .list_comp .selection .row {display: flex; justify-content: space-between;} /* 아이폰 이슈 대응 */
.tr_recent_list .list_comp .selection .row .col {display: block; width: auto;} /* 아이폰 이슈 대응 */
.tr_simple_list .result.nodata.sm {margin: 4.8rem 0rem;}
.tr_simple_list .depth.info.line {margin-bottom: 2.2rem;}
.tr_simple_list .list_comp .btn_txt.ico_arr {margin-right: .4rem;}
.tr_simple_detail .h4 {border: none; padding: 0 2.4rem; margin-top: -3.2rem; margin-bottom: 3.2rem;}
.tr_simple_detail .h4 .list_data {border: none;}
.tr_simple_detail .acc_wrap .acc_num {font-size: 1.6rem;}
.tr_simple_detail .acc_wrap .acc_num .bk_name {padding-right: 0; font-weight: 700;}
.tr_simple_detail .acc_wrap .acc_pay .number {font-size: 1.9rem;}
.tr_simple_detail .acc_wrap .acc_pay .num_unit {font-size: 1.7rem; font-weight: 700;}
.tr_topline_agree .list_top_bd {border-color: var(--bdc_04, #484B51);}
.tr_topline_agree .h3:first-of-type {margin-top: 0}
.tr_topline_agree .list .p_sub {padding-bottom: 1.5rem;}

/* 급여명부등록관리 */
.result.tr_first .result_ico {width: 5.2rem; height: 4.7rem; background: url(/msbiz/app/img/transfer/tr_salary_first.png) no-repeat 0 0/cover;}
.result.tr_first .tit {font-size: 1.8rem;}
.result.tr_first .txt {font-size: 1.6rem;}
.tr_tit_btn {margin-top: 1.4rem;}
.tr_tit_btn .btn_txt.ico_del {padding-left: 2.1rem;}
.tr_tit_btn .btn_txt.ico_del::before {width: 1.5rem; height: 1.7rem; background-size: 20rem auto; background-position: 4rem -3.1rem;}
.list_comp.tr_management > li {display: flex; align-items: center;}
.list_comp.tr_management > li > .link {display: flex; justify-content: space-between; align-items: center; flex: 1;}
.list_comp.tr_management > li > .selection .label {vertical-align: middle;}
.tr_tit_btn .btn_txt.ico_del {float: right;}

/* 급여결과 확인 */
.tr_salary_result .data_wrap:first-child .h2,
.tr_salary_result .data_wrap:first-child .h3 {margin-top: 0;}
.tr_salary_result .data_wrap .h3 .number {font-weight: 500;}
.tr_btn_reset {margin-bottom: 3.2rem;}
.tr_tit_row {display: flex; justify-content: space-between; align-items: baseline;}
.tr_tit_row h3 {margin-bottom: 1.2rem;}
.tr_date {margin-bottom: 1.6rem;}
.hr_divide + .data_wrap .tr_tit_row > .h3 {margin-top: 0;}
.tr_tab_detail .chk_head.row {line-height: 1.6;}
.tr_tab_detail .chk_data_list .chk_head + .list_data {padding: 0;}
.tr_tab_detail .chk_data_list .chk_head + .list_data.noline {padding: 1.2rem 0 1rem;}


/* ---- 자동이체 ----- */
/* .result.check.many>.result_ico {background-size: 215% auto; background-position: 0 0;} */
.result.check.nomark {padding-top: 0;}
.btn_acc_link {margin-top: 1.2rem; font-size: 1.5rem;}
.share_btn_wrap {margin-bottom: 1.6rem; text-align: right;}

.tr_auto_detail .delete_list + .delete_list {margin-top:3.2rem}

.tr_affiliated {margin-top: 3rem;}
.form_group.tr_check {margin-top: 4rem;}
.form_group.tr_check .selection + .form_tit {margin-top: 1.2rem;}

.tr_acc_all_pop.pop_section .acc_list .bk_pay .number {font-size: 1.6rem;}
.tr_acc_all_pop.pop_section .acc_list .bk_pay .num_unit {font-size: 1.5rem;}
.tr_acc_all_pop.pop_section .acc_list.transfer.favorite li .bk_name {padding-right: 0;}
.tr_acc_all_pop.pop_section .account_all .acc_list.favorite.transfer .bk_name {font-size: 1.6rem; color: var(--fc_02, #26282c);}
.tr_acc_all_pop.pop_section .account_all .acc_list.favorite.transfer .bk_num {font-size: 1.8rem; color: var(--fc_02, #26282c);}
.tr_acc_all_pop .account_all .acc_acco_list > .tit_area > .tit .cate {font-size: 1.4rem;}
.tr_acc_all_pop.pop_section .account_all .acc_acco_list .tit_area.minus_right {margin-right: -2.4rem;}
.tr_acc_all_pop.pop_section .account_all .acc_list.transfer {border-top: 0; margin-top: 0.4rem;}
.tr_acc_all_pop.pop_section .account_all .acc_list.transfer li:last-child {border-bottom: 0; padding-bottom: 0;}





/*** transfer_kji.css ***/
/* .cate_transfer .sel_acc_area {padding:1.6rem 1.2rem; background-color:var(--bg_01,#fff)}
.cate_transfer .sel_acc_panel { padding:1.6rem 1.4rem; border:1px solid var(--bdc_01, #ebeef0); border-radius:.2rem; background:var(--bg_02, #f7f7f8); text-align:center}
.cate_transfer .sel_acc_panel .acc {display:flex; flex-direction:column}

.cate_transfer .sel_acc_area.sticky {position:fixed; top:0; left:0; width:100%; padding:0; z-index:10}
.cate_transfer .sel_acc_area.sticky .sel_acc_panel {border-radius:0} */

/* 카드형 상단 폼 */
.cate_transfer .acc_list_wrap.many_type .acc_pannel .acc_wrap.inc_btn > div:first-child {padding:2.2rem 0 0 0}

/* 큰 text 금액 입력 폼 */
.cate_transfer .form_trans {margin:3rem 0 4.4rem}
.cate_transfer .form_trans input[type="tel"],
.cate_transfer .form_trans input[type="tel"]::placeholder {border-bottom:none; text-align:center; font-size:3rem}
.cate_transfer .money_ko {text-align:center}

/* 상단 sticky */
.fixed_info.active .floating_info {z-index:10}

/* 입금지정계좌 바텀시트 스크롤 */
#fixAccPop .pop_body {display:flex; flex-direction:column; overflow-y:hidden}
#fixAccPop .pop_body .pop_section.pop_scroll {overflow-y:auto}




/*** transfer_lhs.css ***/
/* 대표계좌 추가/삭제 바텀시트 */
.acc_repre.pop_body .mymn_set_acco li.dep1 > .tit {padding:1.4rem 2.4rem 1.4rem 1.6rem;}
.acc_repre.pop_body .acc_list_wrap.type_list .acc_pannel {padding-left:1.6rem; padding-bottom:.4rem;}
.acc_repre.pop_body .acc_list_wrap.type_list .btn_favorite {right:1.4rem;}