<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/guide/resources/css/components.css">
    <link rel="stylesheet" href="/guide/resources/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/resources/css/component/output.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>Lists</span></div>
        
        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" id="tabBtnGuide01" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide01">코드</button>
                <button type="button" id="tabBtnGuide02" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide02">접근성</button>
            </div>
            <div id="tabpanelGuide01" data-class="tab-panel" role="tabpanel" aria-labelledby="tabBtnGuide01">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Basic</div>
                    <script type="text/html">
<ul class="lists">
    <li class="lists-item">
        <div class="lists-inner">텍스트</div>
    </li>
    <li class="lists-item">
        <div class="lists-inner">텍스트</div>
    </li>
</ul>
                    </script>

                    <div data-class="h2">Link</div>

                    <div data-class="h3">클릭 영역 : 텍스트 전체</div>
                    <script type="text/html">
<ul class="lists link"> <!-- link -->
    <li class="lists-item">
        <a href="#none" class="link-go">텍스트</a>
    </li>
    <li class="lists-item">
        <a href="#none" class="link-go">텍스트</a>
    </li>
</ul>
                    </script>

                    <div data-class="h3">클릭 영역 : 텍스트 전체 + 화살표</div>
                    <script type="text/html">
<ul class="lists link">
    <li class="lists-item">
        <a href="#none" class="link-go arrow">텍스트</a> <!-- arrow -->
    </li>
    <li class="lists-item">
        <a href="#none" class="link-go arrow">텍스트</a> <!-- arrow -->
    </li>
</ul>
                    </script>

                    <div data-class="h3">텍스트, 버튼 분리</div>
                    <script type="text/html">
<ul class="lists link">
    <li class="lists-item">
        <div class="lists-inner">
            텍스트
        </div>
        <button type="button" class="btn-link" aria-label="$타이틀$ 바로가기"></button>
    </li>
    <li class="lists-item">
        <div class="lists-inner">
            텍스트
        </div>
        <button type="button" class="btn-link" aria-label="$타이틀$ 바로가기"></button>
    </li>
</ul>  
                    </script>

                    <div data-class="h2">Mix</div>
                    <script type="text/html">
<ul class="lists mix">
    <li class="lists-item">
        <div>
            <span>일시<br>정지</span>
            <div class="tooltip-wrap">
                <p class="tooltip"><button type="button" class="btn-tooltip js-tooltip" aria-label="도움말 자세히보기" aria-labelledby="tooltip-popover"></button><!-- 활성화 버튼 --></p>
                <div class="tooltip-popover" role="tooltip" aria-hidden="true">
                    <div class="tooltip-cont">
                        카드의 소재가 불확실한 경우 카드 결제기능을 일시정지 할 수 있으며, 일시정지를 해제하면 즉시 카드 사용을 할 수 있습니다.
                    </div>
                    <button type="button" class="btn-tooltip-x" aria-label="도움말 닫기"></button>
                </div>
            </div>
        </div>
        <div class="lists-action"> <!-- lists-action -->
            <span class="switch">    
                <input type="checkbox" id="switch2" title="일시정지">
                <label for="switch2"></label>
            </span>
        </div>
    </li>
    <li class="lists-item">
        <div class="txt-wrap"><!-- txt-wrap : 오른쪽 여백 필요 시 추가 -->
            <p>예금안내</p>
            <p>계좌개설 및 추가납입, 만기도래 등 예금 관련 알림을 드립니다.</p>
        </div>
        <div class="lists-action">
            <span class="switch">    
                <input type="checkbox" id="switch3" title="예금안내내">
                <label for="switch3"></label>
            </span>
        </div>
    </li>
    <li class="lists-item">
        <p>앱푸시</p>
        <div class="lists-action radio-group">
            <span class="selection alone">
                <input type="radio" id="radioH5" name="radio-h2" checked aria-label="앱푸시">
                <label for="radioH5" class="label"></label>
            </span>
        </div>
    </li>
    <li class="lists-item">
        <div>
            <span>일시정지</span>
            <div class="tooltip-wrap">
                <p class="tooltip"><button type="button" class="btn-tooltip js-tooltip" aria-label="도움말 자세히보기" aria-labelledby="tooltip-popover"></button><!-- 활성화 버튼 --></p>
                <div class="tooltip-popover" role="tooltip" aria-hidden="true">
                    <div class="tooltip-cont">
                        카드의 소재가 불확실한 경우 카드 결제기능을 일시정지 할 수 있으며, 일시정지를 해제하면 즉시 카드 사용을 할 수 있습니다.
                    </div>
                    <button type="button" class="btn-tooltip-x" aria-label="도움말 닫기"></button>
                </div>
            </div>
        </div>
        <div class="lists-action">
            <span class="switch">    
                <input type="checkbox" id="switch4" title="일시정지">
                <label for="switch4"></label>
            </span>
        </div>
    </li>
</ul>
                    </script>
                    
                    <div data-class="h3">└ Link 형식</div>
                    <script type="text/html">
<ul class="lists mix">                
    <li class="lists-item">
        <a href="#none" class="link-go">카드통계</a> <!-- link-go : 링크 필요 시 -->
    </li>
    <li class="lists-item">
        <a href="#none" class="link-go arrow">카드통계</a> <!-- link-go arrow : 링크, 화살표 필요 시 -->    
    </li>
    <li class="lists-item">
        <a href="#none" class="link-go arrow">카드통계<span class="lists-action txt">텍스트영역</span></a>        
    </li>
</ul>
                    </script>
                    
                    <div data-class="h3">└ Data 형식</div>
                    <script type="text/html">
<ul class="lists mix"> 
    <li class="lists-item data"> <!-- data -->
        <div class="key">만기해지방법</div>
        <div class="value">직접해지</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">└ middle 정렬 : top</div>
                    <script type="text/html">
<ul class="lists mix top"> <!-- mix top -->
    <li class="lists-item">
        <div>
            <span>일시<br>정지</span>
            <div class="tooltip-wrap">
                <p class="tooltip"><button type="button" class="btn-tooltip js-tooltip" aria-label="도움말 자세히보기" aria-labelledby="tooltip-popover"></button><!-- 활성화 버튼 --></p>
                <div class="tooltip-popover" role="tooltip" aria-hidden="true">
                    <div class="tooltip-cont">
                        카드의 소재가 불확실한 경우 카드 결제기능을 일시정지 할 수 있으며, 일시정지를 해제하면 즉시 카드 사용을 할 수 있습니다.
                    </div>
                    <button type="button" class="btn-tooltip-x" aria-label="도움말 닫기"></button>
                </div>
            </div>
        </div>
        <div class="lists-action">
            <span class="switch">    
                <input type="checkbox" id="switch1" title="일시정지">
                <label for="switch1"></label>
            </span>
        </div>
    </li>
</ul>
                    </script>            

                    <div data-class="h2">Data (Key + Value)</div>
                    <!-- <div data-class="box">
                        <div data-class="list disc">
                            <div>기본구조 : lists.data > li.lists-item</div>
                            <div>가변구조1 : lists.data.<strong>auto</strong> > li (너비 자동)</div>
                            <div>가변구조2 : lists.data.<strong>left</strong> > li (value 우정렬)</div>
                            <div>가변구조3 : lists.data.<strong>left2</strong> > li (value 우정렬인데 display:table)</div>
                            <div>번외 : lists.data > li.emphasize (li항목 강조)</div>
                        </div>
                    </div>    -->
                    <div data-class="h3">좌우정렬 : 기본(key w:40%)</div>
                    <script type="text/html">
<ul class="lists data">
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 금액이나 단위가 있는 숫자는 내용 금액이나 단위가 있는 숫자는</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀 타이틀 타이틀</div>
        <div class="value">내용 금액이나 단위가 있는 숫자는 내용 금액이나 단위가 있는 숫자는</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">좌우정렬 : auto(key w:auto)</div>
                    <script type="text/html">
<ul class="lists data auto"> <!-- auto -->
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀 타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀</div>
        <div class="value">내용</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">좌우정렬 : auto2(key w:auto + table layout)</div>
                    <script type="text/html">
<ul class="lists data auto2"> <!-- auto2 -->
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀 타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀</div>
        <div class="value">내용</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">좌좌정렬(left) : 기본(key w:30%)</div>
                    <script type="text/html">
<ul class="lists data left"> <!-- left -->
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용<br>내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용내용</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">좌좌정렬(left) : auto(key w:auto)</div>
                    <script type="text/html">
<ul class="lists data left auto"> <!-- left auto -->
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용내용 내용내용 내용내용 내용내용 내용내용 내용내용 내용내용 내용내용 내용내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 내용내용 내용내용</div>
    </li>
</ul>
                    </script> 

                    <div data-class="h3">좌좌정렬 : auto2(key w:auto + table layout)</div>
                    <script type="text/html">
<ul class="lists data left auto2"> <!-- left auto2 -->
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용내용 내용내용 내용내용</div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용내용 내용내용내 용내용내용내 용내용내 용내용내용내 용내용</div> 
    </li>
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 내용내용 내용내용내 용내용내용내 용내용내 용내용내용내 용내용</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">한줄 정렬 : col</div>
                    <script type="text/html">
<ul class="lists data col"> <!-- col -->
    <li class="lists-item">
        <div class="key">김사이다</div>
        <div class="value">SBI저축은행 0281913123456</div>
    </li>
    <li class="lists-item">
        <div class="key">김사이다</div>
        <div class="value">SBI저축은행 0281913123456</div>
    </li>
</ul>
                    </script>

                    <div data-class="h2">Data (기타)</div>
                    <div data-class="h3">└ 강조 : emphasize</div>
                    <script type="text/html">
<ul class="lists data">
    <li class="lists-item emphasize"> <!-- emphasize -->
        <div class="key">강조타이틀</div>
        <div class="value"><p role="text"><span class="num">9,000</span><span class="num-unit">원</span></p></div>
    </li>
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
</ul>
                    </script>

                    <div data-class="h3">└ 라인 삭제 : noline</div>
                    <script type="text/html">
<ul class="lists data noline"> <!-- noline -->
    <li class="lists-item">
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
</ul>
                    </script> 
                    
                    <div data-class="h3">└ middle 정렬 : center</div>
                    <script type="text/html">
        <ul class="lists data center"> <!-- center -->
            <li class="lists-item">
                <div class="key">타이틀</div>
                <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
            </li>
        </ul>
                    </script>
                </div>
            </div>
            <div id="tabpanelGuide02" data-class="tab-panel" role="tabpanel" aria-labelledby="tabBtnGuide02">
                <div data-class="section g-description-area">
                    <!-- 접근성 가이드라인 -->
                    <div data-class="g-conts-area">
                      <h3 data-class="sec-tit">접근성 가이드라인</h3>
                      <div data-class="g-conts-area sp-sm">
                        <div data-class="g-desc-box">
                          <p data-class="g-tit">목록에서 제공되는 모든 기능을 키보드로 실행할 수 있도록 한다.</p>
                          <p data-class="g-desc">목록에서 제공되는 모든 기능은 마우스뿐만 아니라 키보드, 터치 인터페이스로 실행할 수 있어야 한다.</p>
                          <ul data-class="info-list decimal">
                            <li>KWCAG 2.2 키보드 사용 보장</li>
                            <li>WCAG 2.1 Keyboard (A)</li>
                          </ul>
                        </div>
                        <div data-class="g-desc-box">
                          <p data-class="g-tit">목록에서 제공되는 모든 기능에 키보드 초점이 명확하게 표시되도록 한다.</p>
                          <p data-class="g-desc">목록에서 제공되는 모든 사용자 인터페이스(버튼, 링크)는 초점을 받은 상태가 시각적으로 명확하게 구분되어야 한다.</p>
                          <ul data-class="info-list decimal">
                            <li>KWCAG 2.2 초점 이동</li>
                            <li>WCAG 2.1 Focus Visible (AA)</li>
                          </ul>
                        </div>
                        <div data-class="g-desc-box">
                          <p data-class="g-tit">목록에서 제공되는 모든 기능은 사용자가 예측 가능한 방식으로 작동해야 한다.</p>
                          <p data-class="g-desc">만약 새로운 브라우저 창을 실행하는 링크나 외부 애플리케이션을 실행하는 버튼이 있다면 부가적인 설명을 제공하여 스크린 리더 사용자가 기능의 실행 결과를 예측할 수 있어야 한다. 목록을 정렬하거나 조회하는 기능이 있다면 해당 기능 실행 후, 키보드 초점은 정렬/조회 UI에
                            유지되어야 한다.</p>
                          <ul data-class="info-list decimal">
                            <li>KWCAG 2.2 사용자 요구에 따른 실행</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                    <!-- //접근성 가이드라인 -->

                    <!-- 상호작용 가이드라인 -->
                    <div data-class="g-conts-area">
                      <h3 data-class="sec-tit">상호작용 가이드라인</h3>
                      <div data-class="g-conts-area">
                        <h4 data-class="con-tit">탐색</h4>
                        <!-- table list -->
                        <div data-class="table-wrap">
                          <table data-class="tbl col data">
                            <caption>
                              상호작용 가이드라인 탐색에 대한 표로 구분/설명으로 구성되어있으며 구분 항목은 Tab, Shift + Tab 로 구성되어있음
                            </caption>
                            <colgroup>
                              <col style="width: 15%" />
                              <col />
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">구분</th>
                                <th scope="col">설명</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Tab, Shift + Tab</th>
                                <td>목록 내 다음 인터페이스 요소를 순차적으로 탐색한다.</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- //table list -->
                      </div>
                      <div data-class="g-conts-area">
                        <h4 data-class="con-tit">기능 실행 또는 이동</h4>
                        <!-- table list -->
                        <div data-class="table-wrap">
                          <table data-class="tbl col data">
                            <caption>
                              상호작용 가이드라인 기능 실행 또는 이동에 대한 표로 이동에 대한 표로 구분/설명으로 구성되어있으며 구분 항목은 Click, Enter 로 구성되어있음
                            </caption>
                            <colgroup>
                              <col style="width: 15%" />
                              <col />
                            </colgroup>
                            <thead>
                              <tr>
                                <th scope="col">구분</th>
                                <th scope="col">설명</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Click</th>
                                <td>목록 내 액션 버튼의 기능이 실행되거나 링크 목적지로 이동한다.</td>
                              </tr>
                              <tr>
                                <th scope="row">Enter</th>
                                <td>목록 내 액션 버튼의 기능이 실행되거나 링크 목적지로 이동한다.</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- //table list -->
                      </div>
                    </div>
                    <!-- //상호작용 가이드라인 -->

                </div>
            </div>
        </div>
    </div>
    
    <script src="/guide/resources/vendor/jquery.min.js"></script>
    <script src="/guide/resources/vendor/lodash.min.js"></script>
    <script src="/guide/resources/vendor/highlight/highlight.min.js"></script>
    <script src="/guide/resources/vendor/clipboard.min.js"></script>
    <script src="/guide/resources/js/components.js"></script>
    <script src="/resources/js/common-ui.js"></script>
    
    <!-- Loading Custom Script -->
    <script src="/resources/js/common-ui.js"></script>

    <!-- common ui init -->
    <script>
    </script>
</body>
</html>