<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>약관</title>
    <link rel="stylesheet" href="/guide/resources/css/components.css">
    <link rel="stylesheet" href="/guide/resources/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/resources/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/resources/css/component.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>약관</span></div>

        <div data-class="section">
            <div data-class="h1">Type</div>
            <div data-class="h2">타입1</div>
            <script type="text/html">
<div class="agree-wrap">
    <div class="agree-group">
        <!-- <div class="agree-item">
            <span class="form-sel lg">
                <input type="checkbox" id="term1-1">
                <label for="term1-1" class="label">약관명위에 투명버튼</label>
            </span>
            <button type="button" class="btn btn-link" title="입출금통장 상품설명서 바로가기"></button>
        </div> 투명버튼이 위에 있는 경우 -->
        <div class="agree-item btn-link">
            <span class="form-sel lg">
                <input type="checkbox" id="term1-2">
                <label for="term1-2" class="label" title="입출금통장 상품설명서 바로가기">입출금통장 상품설명서 입출금통장 상품설명서 입출금통장 상품설명서 입출금통장 상품설명서 입출금통장 상품설명서</label>
            </span>
        </div>
    </div>
    <div class="agree-group">
        <div class="agree-item">
            <span class="form-sel lg">
                <input type="checkbox" id="term1-3">
                <label for="term1-3" class="label">필수동의</label>
            </span>
        </div>
        <div class="agree-inr">
            <div class="agree-item btn-link">
                <span class="form-sel sm">
                    <input type="checkbox" id="term1-31" name="term1-3">
                    <label for="term1-31" class="label" title="예금거래기본약관 바로가기">예금거래기본약관</label>
                </span>
            </div>
            <div class="agree-item btn-link">
                <span class="form-sel sm">
                    <input type="checkbox" id="term1-32" name="term1-3">
                    <label for="term1-32" class="label" title="입출금이자유로운예금약관 바로가기">입출금이자유로운예금약관 입출금이자유로운예금약관 입출금이자유로운예금약관 입출금이자유로운예금약관</label>
                </span>
            </div>
            <div class="agree-item btn-link">
                <span class="form-sel sm">
                    <input type="checkbox" id="term1-33" name="term1-3">
                    <label for="term1-33" class="label" title="입출금통장특약 바로가기">입출금통장특약</label>
                </span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label fz-16">납세의무</div>
        <div class="form-rdochk">
            <span class="form-sel">
                <input type="checkbox" id="checkSize1-1" name="checkSize1" checked="">
                <label for="checkSize1-1" class="label">국세납부</label>
            </span>
            <span class="form-sel">
                <input type="checkbox" id="checkSize1-2" name="checkSize1">
                <label for="checkSize1-2" class="label">해외납세</label>
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label fz-16">납세의무</div>
        <div class="rdoChk-group flexible">
            <span class="form-sel">
                <input type="checkbox" id="checkSize2-1" name="checkSize2" checked>
                <label for="checkSize2-1" class="label">국세</label>
            </span>
            <span class="form-sel">
                <input type="checkbox" id="checkSize2-2" name="checkSize2">
                <label for="checkSize2-2" class="label">해외납</label>
            </span>
            <span class="form-sel">
                <input type="checkbox" id="checkSize2-3" name="checkSize2">
                <label for="checkSize2-3" class="label">해외납세</label>
            </span>
        </div>
    </div>

    <div class="form-group">
        <div class="form-label fz-16">납세의무</div>
        <div class="rdoChk-group flexible">
            <span class="form-sel">
                <input type="radio" id="checkSize3-1" name="checkSize3" checked>
                <label for="checkSize3-1" class="label">국세납부</label>
            </span>
            <span class="form-sel">
                <input type="radio" id="checkSize3-2" name="checkSize3">
                <label for="checkSize3-2" class="label">해외</label>
            </span>
            <span class="form-sel">
                <input type="radio" id="checkSize3-3" name="checkSize3">
                <label for="checkSize3-3" class="label">해외납</label>
            </span>
        </div>
    </div>


    <div class="agree-group">
        <div class="agree-item">
            <span class="form-sel lg">
                <input type="checkbox" id="term1-4">
                <label for="term1-4" class="label">선택약관</label>
            </span>
        </div>
        <div class="agree-inr">
            <div class="agree-item">
                <span class="form-sel sm">
                    <input type="checkbox" id="term1-5">
                    <label for="term1-5" class="label fw-500" title="상품서비스 및 마케팅 동의 바로가기">상품서비스 및 마케팅 동의<span class="badge state-relief">안심</span></label>
                </span>
            </div>
            <div class="agree-item-inr">
                <div class="rdoChk-group">
                    <span class="form-sel sm">
                        <input type="checkbox" id="term1-51" name="term1-5">
                        <label for="term1-51" class="label">앱푸시</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term1-52" name="term1-5">
                        <label for="term1-52" class="label">문자(SMS)</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term1-53" name="term1-5">
                        <label for="term1-53" class="label">전화</label>
                    </span>
                </div>
            </div>
            <div class="agree-item btn-link">
                <span class="form-sel sm">
                    <input type="checkbox" id="term1-6">
                    <label for="term1-6" class="label fw-500" title="상품서비스 및 마케팅 동의 바로가기">상품서비스 및 마케팅 동의<span class="badge state-relief">안심</span></label>
                </span>
            </div>
            <div class="agree-item-inr">
                <div class="rdoChk-group flexible">
                    <span class="form-sel sm">
                        <input type="checkbox" id="term1-61" name="term1-6">
                        <label for="term1-61" class="label">앱푸시</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term1-62" name="term1-6">
                        <label for="term1-62" class="label">문자(SMS)</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term1-63" name="term1-6">
                        <label for="term1-63" class="label">전화</label>
                    </span>
                </div>
            </div>
        </div>

        <div class="agree-item">
            <span class="form-sel lg">
                <input type="checkbox" id="term1-7">
                <label for="term1-7" class="label">인맥통장 이벤트 참여 동의 안내</label>
            </span>
        </div>
        <div class="agree-item-inr">
            <div class="agree-txt">
                내 휴대폰 주소록에 등록된 지인이 입출금통장을 개설하면 본인과 지인에게 일정금액의 현금을 자동으로 지급합니다.<br>동의하지 않을 경우 이벤트에 참여가 불가능합니다.
            </div>
        </div>

        <div class="agree-inr">
            <div class="agree-item">
                <span class="form-sel sm">
                    <input type="checkbox" id="term1-8">
                    <label for="term1-8" class="label">인맥통장 이벤트 참여 동의 안내</label>
                </span>
            </div>
        </div>

        <div class="agree-item-inr">
            <div class="agree-txt">
                내 휴대폰 주소록에 등록된 지인이 입출금통장을 개설하면 본인과 지인에게 일정금액의 현금을 자동으로 지급합니다.<br>동의하지 않을 경우 이벤트에 참여가 불가능합니다.
            </div>
        </div>

        <div class="agree-item">
            <span class="form-sel sm">
                <input type="checkbox" id="term1-9">
                <label for="term1-9" class="label">한도/금리 알림 정보제공 동의</label>
            </span>
        </div>
        <div class="agree-item-inr">
            <ul class="depth bul">
                <li>한도/금리 알림 수집&middot;이용&middot;제공 동의</li>
                <li>한도/금리 알림 조회 동의</li>
            </ul>
        </div>
    </div>
    
    <div class="agree-group rdochk">
        <div class="agree-inr">
            <div class="agree-item"><!--agree-item-inr-->
                <div class="form-label fz-16">신용정보변동 알림</div>
                <div class="rdoChk-group flexible">
                    <span class="form-sel sm">
                        <input type="checkbox" id="term2-3-1" name="chk5">
                        <label for="term2-3-1" class="label">앱푸시</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term2-3-2" name="chk5">
                        <label for="term2-3-2" class="label">알림톡(SMS)</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term2-3-3" name="chk5">
                        <label for="term2-3-3" class="label">이메일</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term2-3-4" name="chk5">
                        <label for="term2-3-4" class="label">우편</label>
                    </span>
                    <span class="form-sel sm">
                        <input type="checkbox" id="term2-3-5" name="chk5">
                        <label for="term2-3-5" class="label">전화</label>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="agree-group">
        <div class="agree-item">
            <span class="form-sel lg">
                <input type="checkbox" id="term3-1" name="term3">
                <label for="term3-1" class="label">예금자보호법 안내</label>
            </span>
        </div>
        <div class="agree-inr">
            <div class="agree-txt">
                본인이 가입하는 금융상품의 예금자보호여부 및 보호한도(원금과 소정의 이자를 합하여 1인당 5천만원)에 대하여 설명을 보고, 충분히 이해하였음을 확인합니다.
            </div>
        </div>
    </div>

    <div class="agree-check">
        <span class="form-sel lg">
            <input type="checkbox" id="term-check1" name="term-check1">
            <label for="term-check1" class="label">전체약관을 확인하고 동의합니다.</label>
        </span>
    </div>

    <div class="form-rdochk add-line v">
        <span class="form-sel lg">
            <input type="checkbox" id="formChk01">
            <label for="formChk01" class="label">타인으로부터 통장을 대여 요청 받은 사실이 있다면 신청이 불가합니다.</label>
        </span>
        <span class="form-sel lg">
            <input type="checkbox" id="formChk01">
            <label for="formChk01" class="label">타인으로부터 통장을 대여 요청 받은 사실이 있다면 신청이 불가합니다.</label>
        </span>
        <span class="form-sel lg last-exp">
            <input type="checkbox" id="formChk03">
            <label for="formChk03" class="label">마지막 라인 필요시 last-exp추가</label>
        </span>
    </div>


</div>
            </script>
        </div>
    </div>

    <script src="/guide/resources/vendor/jquery.min.js"></script>
    <script src="/guide/resources/vendor/lodash.min.js"></script>
    <script src="/guide/resources/vendor/highlight/highlight.min.js"></script>
    <script src="/guide/resources/vendor/clipboard.min.js"></script>
    <script src="/guide/resources/js/components.js"></script>
    <script src="/resources/js/common-ui.js"></script>

    <script>
        //
    </script>
</body>
</html>