<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/guide/resources/css/components.css">
    <link rel="stylesheet" href="/guide/resources/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/resources/css/_variables.css">
    <link rel="stylesheet" href="/resources/css/common.css">
    <link rel="stylesheet" href="/resources/css/components.css">
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>TextField<span></h1>    
        <div data-class="box">
            <div data-class="list disc">
                <div>문자, 숫자, 특수기호를 입력할 수 있는 유형입니다. 베이직 형식과 레이블이 컨테이너 안에 있는 레이블 인라인 형식으로 구성 하였으며, 프로젝트에 맞게 변형하여 사용</div>                
                <div>한 줄 입력인 텍스트 필드(Text Field)와 여러 줄 입력인 텍스트 영역(Text Area)으로 나뉩니다.</div>
            </div>
        </div>

        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" id="tabBtnGuide01" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide01">코드</button>
                <button type="button" id="tabBtnGuide02" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide02">접근성</button>
            </div>
            <div id="tabpanelGuide01" data-class="tab-panel" role="tabpanel" aria-labelledby="tabBtnGuide01">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Basic</div>
            <script type="text/html">
<div class="form-group basic default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Default)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic focused">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic filled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Filled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic disabled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Disabled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" disabled>
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic readonly">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Readonly)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" readonly>
            </div>
        </div>  
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic error">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Error)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip error">에러문구 영역입니다</p> 
            </script>
            
                    <div data-class="h2">Label Inline</div>
        <script type="text/html">
<div class="form-group label-inline default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Basic)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline focused">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline filled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Filled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline disabled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Disabled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" disabled>
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline readonly">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Readonly)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" readonly>
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline error">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Error)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip error">에러문구 영역입니다</p> 
        </script>
                </div>
        
                <div data-class="section">
                    <div data-class="h1">Atomic</div>
        <script type="text/html">
<p class="form-tip info">안내문구 영역입니다</p> 
<p class="form-tip error">에러문구 영역입니다</p> 
<p class="form-tip success">완료문구 영역입니다</p> 
        </script>
                </div>
        
                <div data-class="section">
                    <div data-class="h1">Component</div>
                    <div data-class="h2">divide</div>
        <script type="text/html">
<div class="form-group basic default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Default)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
        <span class="space">-</span> 
        <div class="form-area">
            <div class="form-label">레이블(Default)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>  
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
        <span class="space">-</span>
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
    </div>    
</div>
<p class="form-tip info">안내문구 영역입니다</p> 
        </script>
                </div>

            </div>
            <div id="tabpanelGuide02" data-class="tab-panel" role="tabpanel" aria-labelledby="tabBtnGuide02">
                <div data-class="section">

                    <div data-class="g-conts-area">
                        <h3 data-class="sec-tit">접근성 가이드라인</h3>
                        <div data-class="g-conts-area sp-sm">
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">모든 입력 필드의 초점은 시각적으로 확인할 수 있도록 표현한다.</p>
                                <p data-class="g-desc">입력 필드의 초점이 표시되지 않으면 키보드 사용자는 조작하고 있는 대상을 알 수 없으므로 초점은 시각적으로 확인할 수 있게 표현해야 한다. 특히 브라우저가
                                    제공하는 기본 입력 필드 대신 입력 필드를 임의로 만들어 사용하는 경우, 초점 제공에 유의해야 한다.</p>
                                <ul data-class="info-list decimal" role="list">
                                    <li role="listitem">KWCAG 2.2 초점 이동과 표시</li>
                                    <li role="listitem">WCAG 2.1 Focus Visible (AA)</li>
                                </ul>
                            </div>
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">입력 필드와 인접 배경 간 명도 대비를 3:1 이상으로 표현한다.</p>
                                <p data-class="g-desc">입력 필드의 테두리 또는 채움 색상이 인접한 배경과 3:1 이상의 명도 대비를 갖도록 스타일을 제공하는 것을 권장한다. 인접한 배경과의 명도 대비가 충분한 경우,
                                    사용자가 텍스트 입력 필드임을 보다 명확하게 인지할 수 있다.</p>
                                <ul data-class="info-list decimal" role="list">
                                    <li role="listitem">KWCAG 2.2 텍스트 콘텐츠의 명도 대비</li>
                                    <li role="listitem">WCAG 2.1 Non-text Contrast (AA)</li>
                                </ul>
                            </div>
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">텍스트 입력 필드에 접근 가능한 이름을 제공한다.</p>
                                <p data-class="g-desc">스크린 리더 사용자가 텍스트 입력 필드의 용도를 확인할 수 있도록 &lt;label&gt;, title, aria-label, aria-labelledby 중
                                    1가지 방식을 이용하여 레이블을 제공해야 한다. 이때, 가능하면 &lt;label&gt;을 이용하여 사용자가 레이블을
                                    클릭하였을 때에도 값을 입력할 수 있도록 구현하는 것이 좋다.</p>
                                <ul data-class="info-list decimal" role="list">
                                    <li role="listitem">KWCAG 2.2 레이블 제공</li>
                                    <li role="listitem">WCAG 2.1 Info and Relationships (A)</li>
                                    <li role="listitem">WCAG 2.1 Name, Role, Value (A)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="/guide/resources/vendor/jquery.min.js"></script>
    <script src="/guide/resources/vendor/jquery-ui.min.js"></script>
    <script src="/guide/resources/vendor/lodash.min.js"></script>
    <script src="/guide/resources/vendor/highlight/highlight.min.js"></script>
    <script src="/guide/resources/vendor/clipboard.min.js"></script>
    <script src="/guide/resources/js/components.js"></script>
    <script src="/resources/js/common-ui.js"></script>  
</body>
</html>