<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/app/css/_variables.css">
    <link rel="stylesheet" href="/pub/app/css/common.css">
    <link rel="stylesheet" href="/pub/app/css/components.css">
    
    <style>
        #wrap {
            height: auto;
        }
        [data-class="demo"] .popup {
            display: block;
            position: relative
        }
        [data-class="demo"] .pop_bg_close {
            position: absolute
        }
        [data-class="demo"] .popup.bottom>.pop_wrap, [data-class="demo"] .popup.bottom>.pop_wrap {
            position: absolute
        }
        @media (min-width: 1024px) {
            [data-class="demo"] .popup.bottom>.pop_wrap, [data-class="demo"] .popup.bottom>.pop_wrap{left: 0; margin-left: 0}
        }
        .note_txt {margin-left:.5rem; font-size:1.5rem; color:#777;}
        .p-tit {font-size: 18px; font-weight: bold; margin-bottom: 5px;}
        .p-tit2 {color:#1733bf; font-weight: bold;}
        .p-list li{position: relative; font-size:1.5rem; color:#666; line-height: 1.8; padding-left:10px;}
        .p-list li::before{content: '-'; position: absolute; left: 0; top:0;}
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>Buttomsheet</span></div>
        <div data-class="box">
            <a href="/pub/guide/html/sample/popup.html" target="_blank" title="새창" data-class="button">Popup Sample</a>
        </div>

        <div data-class="box">
            <div data-class="h3">
                <p class="p-tit">1.바텀시트 정책</p>
                <ul class="p-list">
                    <li><strong class="p-tit2">일반 바텀시트</strong> : max값 90%만 적용하며 높이는 콘텐츠길이만큼 자동으로 지원. 콘텐츠가 90%이상이면 스크롤 자동 지원</li>
                </ul>                
            </div>
        </div>

        <!-- section : 팝업 설명 -->
        <div data-class="section">
            <div data-class="h1">사용법</div>
            <div data-class="h2">Bottm Sheet</div>
            <!-- 레이어 호출 설명 영역 -->
            <div data-class="box">
                <div data-class="list number">
                    <div>
                        기본
                        <div data-class="list disc">
                            <div>팝업 ID 기준으로 호출하기때문에 팝업끼리 ID가 중복되면 안됨. 중복일 경우 변경</div>
                            <div>팝업의 ID는 임시ID(개발에서 변경 사용 가능)</div>
                        </div>
                    </div>
                    <div>
                        Popup Open
                        <div>아래와 같이 함수 호출
<pre>
    UICommon.Layer.open('#팝업ID');
</pre>
                        </div>
                        <div>콜백이벤트 삽입
<pre>
    UICommon.Layer.open('#팝업ID', function(){
        //팝업 오픈후 콜백이벤트 삽입
    });
</pre>
                        </div>
                    </div>
                    <div>
                        Popup Close
                        <div>아래와 같이 함수 호출
<pre>
    UICommon.Layer.close('#팝업ID');
</pre>
                        </div>
                        <div>콜백이벤트 삽입
<pre>
    UICommon.Layer.close('#팝업ID', function(){
        //팝업 닫은 후 콜백이벤트 삽입
    });
</pre>
                        </div>
                        <div>Popup안에 있는 버튼에 Popup Close기능을 주려면 'ui_pop_close' 클래스 추가</div>
                        <div>'ui_pop_close' 클래스는 해당 용도가 아니면 에러를 발생할수 있으니 안쓸때는 삭제</div>
                    </div> 
                    <div>딤 클릭 이벤트 방지
                        <div>'bg_no_click' 클래스를 Popup 최상단에 엘리먼트에 추가</div>
                    </div>
                    <div>닫기버튼 삭제
<pre>
    UICommon.Layer.open('#팝업ID','','noClose');
</pre>
                    </div>
                    <div>타이틀 삭제
<pre>
    UICommon.Layer.open('#팝업ID','noTitle');
</pre>
                    </div>
                    <div>타이틀 변경
<pre>
    UICommon.Layer.open('#팝업ID','타이틀변경텍스트입력');
</pre>
                    </div>               
                </div>
            </div>

            <script type="text/html" data-type="script">
$(function(){
    // Popup Open
    UICommon.Layer.open('#팝업ID');
    // Popup Open + Callback
    UICommon.Layer.open('#팝업ID', function(){
        //팝업 오픈후 콜백이벤트 삽입
    });
    // Popup Close
    UICommon.Layer.close('#팝업ID');
    // Popup Close + Callback
    UICommon.Layer.close('#팝업ID', function(){
        //팝업 닫은 후 콜백이벤트 삽입
    });
    // 닫기버튼 삭제
    UICommon.Layer.open('#팝업ID','','noClose');
    // 타이틀 삭제
    UICommon.Layer.open('#팝업ID','noTitle');
    // 타이틀 변경
    UICommon.Layer.open('#팝업ID','타이틀변경텍스트입력');
});

<!-- layer html : default -->
<div id="팝업ID" class="popup modal" role="dialog" aria-hidden="true">
    <article class="pop_wrap">
        <div class="pop_head">
            <div>
                <h1>타이틀 영역</h1>
            </div>
        </div>
        <div class="pop_body">
            <div class="pop_section">
                다이얼로그 콘텐츠
            </div>
        </div>
        <div class="pop_foot">
            <div>
                <div class="btn_area">
                    <span><button type="button" class="btn solid secondary" data-action="close">취소</button></span>
                    <span><button type="button" class="btn solid primary ui_pop_close">확인</button></span>
                </div>
            </div>
        </div>
        <button type="button" class="pop_close ui_pop_close" aria-label="팝업창 닫기"></button>
    </article>
</div>
<div id="팝업ID" class="popup bottom" role="dialog" aria-hidden="true">
    <article class="pop_wrap">
        <div class="pop_head">
            <div>
                <h1>바텀시트 타이틀</h1>
            </div>
        </div>
        <div class="pop_body">
            <div class="pop_section">
                바텀시트 내용
            </div>
        </div>
        <div class="pop_foot">
            <div>
                <div class="btn_area">
                    <span><button type="button" class="btn secondary lg" data-action="close">취소</button></span>
                    <span><button type="button" class="btn primary lg ui_pop_close">확인</button></span>
                </div>
            </div>
        </div>
        <button type="button" class="pop_close ui_pop_close" aria-label="팝업창 닫기"></button>
    </article>
</div>
<!-- //layer html : default -->
            </script>
        </div>
        <!-- //section : 팝업 설명 -->

        <div data-class="section">
            <div data-class="h1">Type</div>
            <div data-class="h2">flexible</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>기본형 바텀시트</div>
                </div>
            </div>
            <script type="text/html">
<div id="팝업ID" class="popup bottom ui_pop_last show" style="height:500px" role="dialog" aria-hidden="false"
    aria-labelledby="bottomPopup2Label" style="display: block;" tabindex="0">
    <div class="pop_bg_close ui_pop_close" role="button" aria-label="팝업창 닫기"></div>
    <article class="pop_wrap" style="max-height: 508px;">
        <div class="pop_head">
            <div>
                <h1 id="bottomPopup2Label">바텀시트 타이틀</h1>
            </div>
        </div>
        <div class="pop_body" style="max-height: 252px;">
            <div class="pop_section">
                <p class="p">바텀시트 내용</p>
                <div class="section" style="height: 128px; background: #f1f1f1;">추가 콘텐츠 영역</div>
            </div>
        </div>
        <div class="pop_foot">
            <div>
                <div class="btn_area">
                    <span><button type="button" class="btn solid secondary" data-action="close">취소</button></span>
                    <span><button type="button" class="btn solid primary ui_pop_close">확인</button></span>
                </div>
            </div>
        </div>
        <button type="button" class="pop_close ui_pop_close" aria-label="팝업창 닫기"></button>
    </article>
</div>
            </script>

            <div data-class="h2">fixed</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>최대지점은 화면 높이의 90% 차지</div>
                </div>
            </div>
            <script type="text/html">
<div id="팝업ID" class="popup bottom ui_pop_last show" style="height:500px" role="dialog" aria-hidden="false" aria-labelledby="bottomPopup2Label" style="display: block;" tabindex="0">
    <div class="pop_bg_close ui_pop_close" role="button" aria-label="팝업창 닫기"></div>
    <article class="pop_wrap" style="padding-bottom: 96.5938px; max-height: 450px;">
        <div class="pop_head">
            <div>
                <h1 id="bottomPopup2Label">바텀시트 타이틀</h1>
            </div>
        </div>
        <div class="pop_body scroll" style="max-height: 273.406px;">
            <div class="pop_section">
                바텀시트 내용
                <div style="height: 1500px; background: #f1f1f1; text-align: center">스크롤을 위한 임시영역</div>
            </div>
        </div>
        <div class="pop_foot pop-bottom_fixed">
            <div>
                <div class="btn_area">
                    <span><button type="button" class="btn solid secondary" data-action="close">취소</button></span>
                    <span><button type="button" class="btn solid primary ui_pop_close">확인</button></span>
                </div>
            </div>
        </div>
        <button type="button" class="pop_close ui_pop_close" aria-label="팝업창 닫기" id="bottomPopup2_dev"></button>
    </article>
</div>
            </script>
        
            <div data-class="h2">게이트형</div>
                <div data-class="box">
                    <div data-class="list disc">
                        <div>상단 타이틀 없이 사용</div>
                        <div>일정 기간동안 동일한 내용을 반복적으로 노출하는 경우 하단에 [다시보지 않기],[닫기] 버튼을 배치함</div>
                    </div>
                </div>
                <script type="text/html">
<div id="팝업ID" class="popup bottom ui_pop_last show no_title" style="height:400px" role="dialog" aria-hidden="false" style="display: block;" tabindex="0">
    <div class="pop_bg_close ui_pop_close" role="button" aria-label="팝업창 닫기"></div>
    <article class="pop_wrap" style="max-height: 450px;">
        <div class="pop_body no_scroll">
            <div class="pop_section">
                <div style="height: 140px; background: #f1f1f1; text-align: center">임시영역</div>
                <div class="btn_cnt_wrap">
                    <span>
                        <span class="selection">
                            <input type="checkbox" id="chkDateP" checked="" aria-hidden="true">
                            <label for="chkDateP" class="label" role="checkbox" aria-checked="true"><em>체크박스 텍스트</em></label>
                        </span>
                    </span>
                    <span class="right">
                        <button type="button" class="btn_close ui_pop_close"><strong>닫기</strong></button>
                    </span>
                </div>
            </div>
        </div>
    </article>
</div>                    
                </script>
            </div>
        </div>
    </div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/app/js/common_ui.js"></script>
    
    <!-- Loading Custom Script -->
    <script src="/pub/app/js/common_ui.js"></script>

    <!-- common ui init -->
    <script>
    </script>
</body>
</html>