<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
    <style>
        button + .h3 {margin-top: 3rem;}
        button, a {display:block; margin-right:15px;}
        .btn {margin:.2rem .5rem}
        .btn.text {margin:.2rem 1rem}
        .btn_confirm_wrap .btn_area {position: relative; top:auto; left:auto; bottom:auto}
        .btn_confirm_wrap .btn {margin:0}
        button + button {margin-right: 2rem;}
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>Button</span></div>
        <div data-class="box">
            <div data-class="h3">
               <strong>a와 button 태그 사용시</strong> <br>
1. 페이지 이동임이 명확하면 a 태그(풀팝업 포함)<br>
2. 레이어팝업은 button 태그<br>
3. 하나의 태그인데 상황에 따라 이동과 풀팝업을 혼용해서 쓸때는 button 태그
            </div>
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">Stick Button</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>한 줄에 최대 1단에서 2단 구성까지 지원하고 있으며 2단 형태의 경우 서로 다른 위계의 버튼 사용</div>
                    <div>버튼 2개 사용 시 좌우 조합 사용, 문장형 등 레이블이 긴 경우에만 상하 조합 사용을 권장</div>
                    <div>Bottom에 플로팅되는 버튼의 경우 하단 그라데이션 BG 이미지 사용 필수</div>
                </div>
            </div>
            <script type="text/html">
<h3 class="h3">Primary</h3>
<button type="button" class="btn stick lg primary">메인버튼(Normal)</button>
<button type="button" class="btn stick lg primary pressed">메인버튼(Pressed)</button>
<button type="button" class="btn stick lg primary" disabled>메인버튼(Disabled)</button>

<h3 class="h3">Secondary</h3>
<button type="button" class="btn stick lg secondary">메인버튼(Normal)</button>
<button type="button" class="btn stick lg secondary pressed">메인버튼(Pressed)</button>
<button type="button" class="btn stick lg secondary" disabled>메인버튼(dsisabled)</button>

<h3 class="h3">Outlined</h3>
<button type="button" class="btn stick lg outlined">메인버튼(Normal)</button>
<button type="button" class="btn stick lg outlined pressed">메인버튼(Pressed)</button>
<button type="button" class="btn stick lg outlined" disabled>메인버튼(Disabled)</button>
            </script>

            <div data-class="h2">Solid Button</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>Sticky Button 하위 레벨의 버튼으로 주기능을 수행할 버튼에 사용</div>
                    <div>버튼 높이 48 / 40 두개의 사이즈로 구성되었으며 용도에 맞도록 사용</div>
                </div>
            </div>
            <script type="text/html">
<h3 class="h3">Primary</h3>
<button type="button" class="btn solid md primary">버튼명(Normal/medium)</button>
<button type="button" class="btn solid md primary pressed">버튼명(Pressed/medium)</button>
<button type="button" class="btn solid md primary" disabled>버튼명(Disabled/medium)</button>
<br>
<button type="button" class="btn solid sm primary">버튼명(Normal/small)</button>
<button type="button" class="btn solid sm primary pressed">버튼명(Pressed/small)</button>
<button type="button" class="btn solid sm primary" disabled>버튼명(Disabled/small)</button>

<h3 class="h3">Secondary</h3>
<button type="button" class="btn solid md secondary">버튼명(Normal/medium)</button>
<button type="button" class="btn solid md secondary pressed">버튼명(Pressed/medium)</button>
<button type="button" class="btn solid md secondary" disabled>버튼명(Disabled/medium)</button>
<br>
<button type="button" class="btn solid sm secondary">버튼명(Normal/small)</button>
<button type="button" class="btn solid sm secondary pressed">버튼명(Pressed/small)</button>
<button type="button" class="btn solid sm secondary" disabled>버튼명(Disabled/small)</button>

<h3 class="h3">Outlined</h3>
<button type="button" class="btn solid md outlined">버튼명(Normal/medium)</button>
<button type="button" class="btn solid md outlined pressed">버튼명(Pressed/medium)</button>
<button type="button" class="btn solid md outlined" disabled>버튼명(Disabled/medium)</button>
<br>
<button type="button" class="btn solid sm outlined">버튼명(Normal/small)</button>
<button type="button" class="btn solid sm outlined pressed">버튼명(Pressed/small)</button>
<button type="button" class="btn solid sm outlined" disabled>버튼명(Disabled/small)</button>
            </script>

            <div data-class="h2">Text Button</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>본문 내 텍스트와 이이콘으로 구성된 버튼으로 본문 텍스트와 같은 크기로 사용한다.</div>
                </div>
            </div>
            <script type="text/html">
<!-- <h3 class="h3">Normal</h3>
<h4 class="h4">왼쪽</h4>
<button type="button" class="btn-text default lg"><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)</button>
<h4 class="h4">오른쪽</h4>
<button type="button" class="btn-text default lg">텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button>
<h4 class="h4">양쪽</h4>
<button type="button" class="btn-text default lg"><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button> -->

<h3 class="h3">Normal</h3>
<button type="button" class="btn-text default lg"><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)</button>
<button type="button" class="btn-text default md"><i class="icon-left icon_duplicate"></i>텍스트버튼(16px)</button>
<button type="button" class="btn-text default sm"><i class="icon-left icon_duplicate"></i>텍스트버튼(14px)</button>
<br>
<button type="button" class="btn-text default lg">텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text default md">텍스트버튼(16px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text default sm">텍스트버튼(14px)<i class="icon-right icon_arrow_right"></i></button>
<br>
<button type="button" class="btn-text default lg"><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text default md"><i class="icon-left icon_duplicate"></i>텍스트버튼(16px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text default sm"><i class="icon-left icon_duplicate"></i>텍스트버튼(14px)<i class="icon-right icon_arrow_right"></i></button>

<h3 class="h3">Secondary</h3>
<button type="button" class="btn-text secondary lg"><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text secondary md"><i class="icon-left icon_duplicate"></i>텍스트버튼(16px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text secondary sm"><i class="icon-left icon_duplicate"></i>텍스트버튼(14px)<i class="icon-right icon_arrow_right"></i></button>

<h3 class="h3">Disabled</h3>
<button type="button" class="btn-text default lg" disabled><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text default md" disabled><i class="icon-left icon_duplicate"></i>텍스트버튼(16px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text default sm" disabled><i class="icon-left icon_duplicate"></i>텍스트버튼(14px)<i class="icon-right icon_arrow_right"></i></button>

<h3 class="h3">Danger</h3>
<button type="button" class="btn-text danger lg"><i class="icon-left icon_duplicate"></i>텍스트버튼(18px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text danger md"><i class="icon-left icon_duplicate"></i>텍스트버튼(16px)<i class="icon-right icon_arrow_right"></i></button>
<button type="button" class="btn-text danger sm"><i class="icon-left icon_duplicate"></i>텍스트버튼(14px)<i class="icon-right icon_arrow_right"></i></button>
            </script>

            <div data-class="h2">Icon Button</div>
            <script type="text/html">
<h3 class="h3">단일 아이콘</h3>
<button type="button" class="btn-icon icon_delete" aria-label="대체텍스트"></button>
<button type="button" class="btn-icon icon_delete lg" aria-label="대체텍스트"></button>

<h3 class="h3">배경 이미지</h3>
<button type="button" class="btn-icon btn_tooltip js_tooltip" aria-label="도움말 자세히보기"></button>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">Component</div>

            <div data-class="h2">Confirm Button</div>
            <script type="text/html">
<div class="btn_confirm_wrap">
    <div class="btn_area">
        <button type="button" class="btn stick lg primary">메인버튼(Normal)</button>
    </div>
</div>
<br>
<div class="btn_confirm_wrap">
    <div class="btn_area">
        <span><button type="button" class="btn stick lg secondary">부정</button></span>
        <span><button type="button" class="btn stick lg primary">긍정</button></span>
    </div>
</div>
            </script>
        </div>
    </div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common_ui.js"></script>

</body>
</html>