<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유플리트</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <style>
        .p-tit {font-size: 18px; font-weight:700; margin-bottom: 5px;}
        .p-tit2 {color:#1733bf; font-weight:700;}
        .p-list li{position: relative; font-size:1.5rem; color:#666; line-height: 1.8; padding-left:10px;}
        .p-list li.dh::before{content: '-'; position: absolute; left: 0; top:0;}
    </style>
</head>
<body>
    <!-- 본문 -->
    <div data-class="contents" class="pg-wrap">
        <div data-class="component-name"><span>Datepicker Spinner</span></div>
        
        <div data-class="box">
            <div data-class="p">
                <p class="p-tit">1. 기본 사항</p>
                <ul class="p-list">
                    <li class="dh">Rolldate.js 버전 3.1.3 기반으로 작업 
                        <br>[origin file : /pub/assets/js/library/rolldate.js]
                    </li>
                    <li class="dh">HTML 마크업은 폼 가이드를 기준으로 잡는다
                        <br> <a href="/pub/guide/html/components/form.html#target37" target="_blank" class="btn outline xs">폼 가이드 바로가기</a>
                    </li>
                </ul>                
            </div>
            <div data-class="p">
                <p class="p-tit">2. format 타입</p>
                <ul class="p-list">
                    <li class="dh">디자인 UI 가이드에 따라 format default는 "YYYY.MM.DD"로 설정되어 있음</li>
                    <li>".", "/", "-", "스페이스"로 구분하여 설정 가능
                        <br> [예시] data-date-format = "YYYY.MM"
                    </li>
                </ul>
            </div>
            <div data-class="p">
                <p class="p-tit">3. Datepicker 생성</p>
                <ul class="p-list">
                    <li class="dh"><strong class="p-tit2">UICommon.uiDate.set(options)</li>
                </ul>
            </div>
        </div>
        <div data-class="section">
            <div data-class="h1">Default</div>
            <div data-class="h2">날짜선택</div>
            <div data-class="box">
                <div class="form-group">
                    <div class="form-label">날짜선택</div>
                    <div class="form-row">
                        <div class="form-ele calendar">
                            <button type="button" title="날짜선택" class="inp-btn">날짜선택</button>
                        </div> 
                    </div>
                </div>
            </div>
            <div data-class="h2">년/월/일 선택</div>
            <div data-class="box">
                <div class="form-group">
                    <div class="form-label">년/월/일 선택</div>
                    <div class="form-row">
                        <div class="form-ele calendar">
                            <button type="button" title="년도선택" class="select-btn"  data-date-format="YYYY">년도선택</button>
                            <button type="button" title="월선택" class="select-btn"  data-date-format="MM">월선택</button>
                            <button type="button" title="일선택" class="select-btn"  data-date-format="DD">일선택</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
        <div data-class="section">
            <div data-class="h1">Compare Dates</div>
            <div data-class="h2">기간선택</div>
            <div data-class="box">
                <div class="form-group">
                    <div class="form-label">기간선택</div>
                    <div class="form-row">
                        <div class="form-ele">
                            <button type="button" class="select-btn on" title="시작일 선택" data-date-compare="from">2023.10.08</button>
                        </div>
                        <span class="space">~</span>
                        <div class="form-ele">
                            <button type="button" class="select-btn on" title="종료일 선택" data-date-compare="to">날짜선택</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-class="section">
            <div data-class="h1">Custum</div>
            <div data-class="h2">자동이체주기</div>
            <div data-class="box">
                <div data-class="list disc">                                        
                    <div>data-date-format = "CUS DD"</div>
                    <div>날짜가 아닌 사용자 정의 배열로 들어가야 하는 경우
                        <br>option에 custumArray 2차원 배열 필수
                        <br>[[사용자 정의 배열], [사용자 정의 배열에 대한 배열 타입]]
                    </div>
                    <div>custumArray : [['매월', '매주'], ['DD', 'dd']]
                        <br> * 현재 DD, dd만 작업되어 있음
                    </div>
                </div>
            </div>
            <div data-class="box">
                <div class="form-group">
                    <div class="form-label">자동이체주기</div>
                    <div class="form-row">
                        <div class="form-ele">
                            <button type="button" class="select-btn on" title="자동입금 일자 선택" data-date-format="CUS DD">매월 21일</button>
                        </div>
                        <span class="unit">마다</span>
                    </div>
                    <p class="depth info">입력하신 일자가 없는 달은 해당월 말일에 금액이 이동됩니다.</p>
                </div>
                <div class="form-group">
                    <div class="form-label">자동이체기간</div>
                    <div class="form-row">
                        <div class="form-ele">
                            <button type="button" class="select-btn on" title="시작일 선택" data-date-compare="from">2023.10.08</button>
                        </div>
                        <span class="space">~</span>
                        <div class="form-ele">
                            <button type="button" class="select-btn on" title="종료일 선택" data-date-compare="to">2023.10.08</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //본문 -->
    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/component.css">
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/library/rolldate.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>
    <script src="/js/lib/etc/eruda.js"></script>
    <script>
        eruda.init();
    </script>
    <script>
        const datePicker = {};
        $('.form-ele button').each(function(i) {
            let _id = 'calendar-idx-'+i;
            $(this).attr('id', _id);
        }).on('click', e=>{
            let _id = e.target.id;
            let _obj = {
                el: '#'+_id,
                format: e.target.dataset.dateFormat
            };

            //자동이체
            if(_obj.format &&_obj.format.indexOf('CUS') > -1) {
                _obj.custumArray = [['매월', '매주'],['DD', 'dd']];
                _obj.lang = {title: '주기를 선택해주세요'};
            }

            //기간선택
            if(e.target.dataset.dateCompare) {
                let $this = $(e.target);
                let $sibling  = $this.parent().siblings().find('[data-date-compare]');
                _obj.confirm = function(value) {
                    let _this = new Date(value.replace(/\D/g, "\/"))
                    let _target = new Date($sibling.text().replace(/\D/g, "\/"))
                    let compare = e.target.dataset.dateCompare == 'to' ? _target > _this : _target < _this;
                    if(_target !== 'Invalid Date' && compare) {
                        alert('기간 설정 에러');
                        return false;
                    }
                    UICommon.Body.unlock();
                }
            }

            //롤데이트 생성
            if(!datePicker[_id]) datePicker[_id] = UICommon.uiDate.set(_obj);
            datePicker[_id].show();
        });
    </script>
</body>
</html>