<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>DropDown<span></h1>    
        <div data-class="box">
            <div data-class="list disc">
                <div>옵션명은 2줄로 노출하지 않는다</div>
                <div>옵션명이 영역을 초과할 경우 말줄임표(...)를 노출할 수 있으나 지양한다     </div>
            </div>
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>
            <div data-class="h2">Basic</div>
<script type="text/html">
<div class="form_group dropdown basic default">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Default)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown basic focused">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Focused)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown basic filled">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Filled)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown basic disabled">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Disabled)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown basic readonly">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Readonly)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown basic error">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Error)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>
</script>
        </div>

        
        <div data-class="h2">Label Inline</div>
        <script type="text/html">
<div class="form_group dropdown label-inline default">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Default)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown label-inline focused">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Focused)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown label-inline filled">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Filled)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown label-inline disabled">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Disabled)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown label-inline readonly">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Readonly)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form_group dropdown label-inline error">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블 (Error)</div>
            <div class="select">
                <button type="button" class="select_btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>
</script>
        </div>
    </div>

    </div>
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/jquery-ui.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common_ui.js"></script>  
</body>
</html>