<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">

    <style>
        .form-group + .form-group {margin-top: 2rem;}
    </style>
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>DropDown<span></h1>    
        <div data-class="box">
            <div data-class="list disc">
                <div>옵션명은 2줄로 노출하지 않는다</div>
                <div>옵션명이 영역을 초과할 경우 말줄임표(...)를 노출할 수 있으나 지양한다     </div>
            </div>
        </div>

        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide01">접근성</button>
                <button type="button" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide02">코드</button>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide01">
                <div data-class="section">
                    접근성
                </div>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide02">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Basic</div>
                    <script type="text/html">
<div class="form-group dropdown basic default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Default)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown basic focused">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Focused)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown basic filled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Filled)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown basic disabled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Disabled)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown basic readonly">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Readonly)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown basic error">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Error)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>
                    </script>
        
                
                    <div data-class="h2">Label Inline</div>
                    <script type="text/html">
<div class="form-group dropdown label-inline default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Default)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown label-inline focused">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Focused)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown label-inline filled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Filled)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown label-inline disabled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Disabled)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown label-inline readonly">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Readonly)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>

<div class="form-group dropdown label-inline error">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블 (Error)</div>
            <div class="select">
                <button type="button" class="select-btn" title="출금계좌정보 선택">선택하세요</button>
            </div>
        </div>
    </div>
</div>
                    </script>
                </div>
            </div>
        </div>
    </div>

    </div>
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/jquery-ui.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>  
</body>
</html>