<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>유플리트</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/component.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>리스트</span></div>

        <!-- @Type -->
        <div data-class="section">
            <div data-class="h1">Type</div>
            <div data-class="h2">Default</div>
            <script type="text/html">
<ul class="lists">
    <li>
        <div class="lists-inr">텍스트</div>
    </li>
    <li>
        <div class="lists-inr">텍스트</div>
    </li>
</ul>
            </script>

            <div data-class="h2">Link</div>   
            <div data-class="h3">클릭영역 : 타이틀 전체</div>
            <script type="text/html">
<ul class="lists link full">
    <li>
        <a href="#none" class="li-link">텍스트</a>
    </li>
    <li>
        <a href="#none" class="li-link">텍스트</a>
    </li>
</ul>
            </script>

            <div data-class="h3">클릭영역 : 타이틀 전체 + 화살표</div>
            <script type="text/html">
<ul class="lists link">
    <li>
        <a href="#none" class="li-link">텍스트</a>
    </li>
    <li>
        <a href="#none" class="li-link">font 14px/400, 상하 여백 10px</a>
    </li>
</ul>
<br>
<ul class="lists link lg">
    <li>
        <a href="#none" class="li-link">텍스트(lg)</a>
    </li>
    <li>
        <a href="#none" class="li-link">font 16px/500, 상하 여백 16px</a>
    </li>
</ul>
            </script>

            <div data-class="h3">클릭영역 : 버튼 분리</div>
            <script type="text/html">
<ul class="lists link">
    <li>
        <div class="lists-inr">
            텍스트
        </div>
        <button type="button" class="btn-link" title="$메뉴1 타이틀$ 바로가기"></button>
    </li>
    <li>
        <div class="lists-inr">
            텍스트
        </div>
        <button type="button" class="btn-link" title="$메뉴2 타이틀$ 바로가기"></button>
    </li>
</ul>  
            </script> 

            <div data-class="h3">바로가기(link-bg)</div>
            <script type="text/html">
<ul class="lists link-bg">
    <li>
        <a href="#none" class="li-link"><i class="ico-chatbot left"></i>챗봇에 상담하기</a>
    </li>
    <li>
        <a href="tel:1566-2210" class="li-link" title="전화앱으로 전환"><i class="ico-custom left"></i>고객센터에 전화하기 (11566-2210)</a>
    </li>
</ul>
            </script>

            <div data-class="h3">텍스트와 링크 혼합형</div>
            <script type="text/html">
                
<ul class="lists mix center">
    <li>
        <div>
            <span class="fc-sub">일시<br>정지</span>
            <div class="tooltips">
                <p class="tooltip"><button type="button" class="btn-tooltip" data-ui="tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
                <div class="tooltip-wrap" role="tooltip" aria-hidden="true">
                    <div class="tooltip-cont">카드의 소재가 불확실한 경우 카드 결제기능을 일시정지 할 수 있으며, 일시정지를 해제하면 즉시 카드 사용을 할 수 있습니다.</div>
                    <button type="button" class="btn-tooltip-x"><span class="hidden">도움말 닫기</span></button>
                </div>
            </div>
        </div>
        <div class="form-rdochk right switch-pos">
            <span class="switch">    
                <input type="checkbox" id="switch1" title="일시정지" class="toastChk">
                <label for="switch1" class="label"></label>
            </span>
        </div>
    </li>
    <li>
        <div class="txt-wrap"><!-- 여백 필요 시 txt-wrap class 추가 -->
            <p>예금안내</p>
            <p class="fc-sub gap-xxxs">계좌개설 및 추가납입, 만기도래 등 예금 관련 알림을 드립니다.</p>
        </div>
        <div class="form-rdochk right switch-pos">
            <span class="switch">
                <input type="checkbox" id="switch2" title="예금안내">
                <label for="switch2" class="label"></label>
            </span>
        </div>
    </li>
    <li>
        <p>앱푸시</p>
        <div class="form-rdochk right">
            <span class="form-sel">
                <input type="radio" id="radioH3" name="radio-h" title="앱푸시" checked>
                <label for="radioH3" class="label"></label>
            </span>
        </div>
    </li>
</ul>

<ul class="lists mix">
    <li>
        <div>
            <span class="fc-sub">일시정지</span>
            <div class="tooltips">
                <p class="tooltip"><button type="button" class="btn-tooltip" data-ui="tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
                <div class="tooltip-wrap" role="tooltip" aria-hidden="true">
                    <div class="tooltip-cont">카드의 소재가 불확실한 경우 카드 결제기능을 일시정지 할 수 있으며, 일시정지를 해제하면 즉시 카드 사용을 할 수 있습니다.</div>
                    <button type="button" class="btn-tooltip-x"><span class="hidden">도움말 닫기</span></button>
                </div>
            </div>
        </div>
        <div class="form-rdochk right switch-pos">
            <span class="switch">    
                <input type="checkbox" id="switch4" title="일시정지" class="toastChk">
                <label for="switch4" class="label"></label>
            </span>
        </div>
    </li>
    <li>
        <div>
            <span class="fc-sub">일시정지</span>
            <div class="tooltips">
                <p class="tooltip"><button type="button" class="btn-tooltip" data-ui="tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
                <div class="tooltip-wrap" role="tooltip" aria-hidden="true">
                    <div class="tooltip-cont">카드의 소재가 불확실한 경우 카드 결제기능을 일시정지 할 수 있으며, 일시정지를 해제하면 즉시 카드 사용을 할 수 있습니다.</div>
                    <button type="button" class="btn-tooltip-x"><span class="hidden">도움말 닫기</span></button>
                </div>
            </div>
        </div>
        <div class="form-rdochk right switch-pos">
            <span class="switch">    
                <input type="checkbox" id="switch5" title="일시정지" class="toastChk">
                <label for="switch5" class="label"></label>
            </span>
        </div>
    </li>
    <li>
        <span class="fc-sub">연결계좌 월 1000 만원</span>
        <button type="button" class="btn ico-chevron-sm right" data-ui="pop-open" onclick="UICommon.Layer.open('#accView')" title="연결계좌 선택">입출금통장(1234)</button>
    </li>
    <li>
        <span class="fc-sub">결제한도</span>
        <button type="button" class="btn ico-arr-sm right" title="결제한도 바로가기">일 100만원 / 월 500만원</button>
    </li>
    <li>
        <span class="fc-sub">이용내역서 받기 설정</span>
        <button type="button" class="btn ico-chevron-sm right" onclick="UICommon.Layer.open('#viewWay')" title="이용내역서 받기 설정">앱에서만 확인</button>
    </li>
    <li>
        <a href="#none" class="li-link fc-sub">카드통계</a>
    </li>
    <li>
        <a href="#none" class="li-link fc-sub">카드통계<span class="right txt">텍스트영역</span></a>
        
    </li>
    <li class="data">
        <div class="key">만기해지방법</div>
        <div class="value">직접해지</div>
    </li>
</ul>
            </script>  

            <div data-class="h3">메뉴와 링크 혼합형</div>
            <script type="text/html">
<div class="menu-wrap">
    <h3 class="menu-tit">인증정보</h3>
    <ul class="lists link lg">
        <li>
            <a href="#none" class="li-link v">
                PC로그인 <span class="menu-desc">증명서 발급을 위한 PC홈페이지 인증수단</span>
            </a>
        </li>
        <li>
            <a href="#none" class="li-link v">
                SBI모바일인증서 <span class="menu-desc">3년 동안 사용할 수 있는 인증수단</span>
            </a>
        </li>
        <li>
            <a href="#none" class="li-link v">
                공동인증서 <span class="menu-desc">재직/소득 서류확인을 위한 인증수단</span>
            </a>
        </li>
        <li>
            <a href="#none" class="li-link v">
                금융인증서 <span class="menu-desc">재직/소득 서류확인을 위한 인증수단</span>
            </a>
        </li>
        <li>
            <a href="#none" class="li-link between">보안매체 관리 <span class="fc-point">모바일OTP</span></a>
        </li>
    </ul>
</div>
            </script>

            <div data-class="h2">Data</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>기본구조 : lists.data > li</div>
                    <div>가변구조1 : lists.data.<strong>free</strong> > li (너비 자동)</div>
                    <div>가변구조2 : lists.data.<strong>left</strong> > li (value 우정렬)</div>
                    <div>가변구조3 : lists.data.<strong>left2</strong> > li (value 우정렬인데 display:table)</div>
                    <div>번외 : lists.data > li.emp-list (li항목 강조)</div>
                </div>
            </div>   
            <div data-class="h3">좌우정렬 : 기본(key w:40%)</div>
            <script type="text/html">
<ul class="lists data">
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용</div>
    </li>
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용 금액이나 단위가 있는 숫자는 내용 금액이나 단위가 있는 숫자는</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀 타이틀</div>
        <div class="value">내용 금액이나 단위가 있는 숫자는 내용 금액이나 단위가 있는 숫자는</div>
    </li>
</ul>
            </script>

            <div data-class="h3">좌우정렬 : free(key w:auto)<span style="color: hotpink;">★ </span></div>
            <script type="text/html">
<ul class="lists data free">
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀</div>
        <div class="value">내용</div>
    </li>
</ul>
            </script>

            <div data-class="h3">└ 강조 (li.emp-list)</div>
            <script type="text/html">
<ul class="lists data free">
    <li class="emp-list">
        <div class="key">강조타이틀</div>
        <div class="value"><span class="numbers-20 nums-bold fc-point" role="text"><span class="num">9,000</span><span class="num-unit">원</span></span></div>
    </li>
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀</div>
        <div class="value">내용</div>
    </li>
</ul>
            </script>

            <div data-class="h3">좌우정렬 : free (display:table) + middle 정렬<span style="color: hotpink;">★ </span></div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>상하 center 정렬 : .middle 클래스 추가</div>
                </div>
            </div> 
            <script type="text/html">
<ul class="lists data free middle">
    <li>
        <div class="key">타이틀</div>
        <div class="value fz-16">내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value fz-16">내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀</div>
        <div class="value fz-16">내용</div>
    </li>
</ul>
            </script>

            <div data-class="h3">좌우정렬 : free2 (display:table)<span style="color: hotpink;">★ </span></div>
            <script type="text/html">
<ul class="lists data free2">
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용내용 내용 내용 내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용 내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀</div>
        <div class="value">내용</div>
    </li>
</ul>
            </script>

            <div data-class="h3">좌좌정렬 : 기본(key w:30%)</div>
            <script type="text/html">
<ul class="lists data left">
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용</div>
    </li>
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용<br>내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용내용</div>
    </li>
</ul>
            </script>

            <div data-class="h3">좌좌정렬 : free(key w:auto)</div>
            <script type="text/html">
<ul class="lists data left free">
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용내용 내용내용 내용내용 내용내용 내용내용 내용내용 내용내용 내용내용 내용내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용내용</div>
    </li>
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용 내용내용 내용내용</div>
    </li>
</ul>
            </script> 

            <div data-class="h3">좌좌정렬 : left2 (display:table)<span style="color: hotpink;">★ </span></div>
            <script type="text/html">
<ul class="lists data left2">
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용내용 내용내용 내용내용</div>
    </li>
    <li>
        <div class="key">타이틀 타이틀 타이틀</div>
        <div class="value">내용 내용내용 내용내용내 용내용내용내 용내용내 용내용내용내 용내용</div> 
    </li>
    <li>
        <div class="key">타이틀</div>
        <div class="value">내용 내용내용 내용내용내 용내용내용내 용내용내 용내용내용내 용내용</div>
    </li>
</ul>
            </script>

            <div data-class="h2">Box</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>기본구조 : boxs > lists.data > li (예시화면 : 완료)</div>
                    <div>가변구조 : boxs > lists.data > ht-4 + li (예시화면 : 상세내역)</div>
                    <div>가변구조 : boxs.sm > lists.data > li</div>
                    <div>가변구조 : boxs.blue > lists.data > li</div>
                </div>
                <div>&nbsp;* 기본적으로 noline 클래스 붙음</div>
            </div>   
            <script type="text/html">
<div class="boxs">
    <ul class="lists data noline">
        <li>
            <div class="key">출금계좌</div>
            <div class="value">입출금통장(0001)</div>
        </li>
        <li>
            <div class="key">출금계좌 잔액</div>
            <div class="value fc-point">53,000원</div>
        </li>
    </ul>
</div>

<div class="boxs sm">
    <ul class="lists data noline">
        <li>
            <div class="key">출금계좌</div>
            <div class="value">입출금통장(0001)</div>
        </li>
        <li>
            <div class="key">출금계좌 잔액</div>
            <div class="value fc-point">53,000원</div>
        </li>
    </ul>
</div>

<div class="boxs">
    <h4 class="ht-4">MY</h4>
    <ul class="lists data noline">
        <li class="li-divider">
            <div class="key">출금계좌</div>
            <div class="value">입출금통장(0001)</div>
        </li>
        <li>
            <div class="key">출금계좌 잔액</div>
            <div class="value fc-point">53,000원</div>
        </li>
    </ul>
</div>

<div class="boxs">
    <ul class="lists data noline">
        <li>
            <div class="key">1회</div>
            <div class="value">
                <span class="numbers-18 nums-bold" role="text"><span class="num">10,000,000</span><span class="num-unit">원</span></span>
            </div>
        </li>
        <li>
            <div class="key">1일</div>
            <div class="value">
                <span class="numbers-18 nums-bold" role="text"><span class="num">5,000,000,000</span><span class="num-unit">원</span></span>
            </div>
        </li>
        <li class="li-divider">
            <div class="key">모바일 OTP</div>
            <div class="value"><button type="button" class="btn ico-arr-sm">사용중</button></div>
            <!-- <button type="button" class="btn ico-arr-sm right">안전하게 OTP 사용하기</button> --><!-- 보안수단 발급받지 않은 경우 -->
        </li>
    </ul>
</div>

<br>

<div class="boxs blue01">
    <ul class="lists data noline">
        <li>
            <div class="key">안심이체번호</div>
            <div class="value fw-700">20230215000001</div>
        </li>
        <li>
            <div class="key">거래구분</div>
            <div class="value fw-700">안심이체(금전거래)</div>
        </li>
        <li>
            <div class="key">거래목적</div>
            <div class="value fw-700">대금</div>
        </li>
    </ul>
</div>
            </script>
        </div>
        <!-- //@ -->

        <div data-class="section">
            <div data-class="h1">col</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>라인 삭제 시 .noline 추가</div>
                </div>
            </div>   
            <script type="text/html">
<ul class="lists data col">
    <li>
        <div class="key">김사이다</div>
        <div class="value">SBI저축은행 0281913123456</div>
    </li>
    <li>
        <div class="key">김사이다</div>
        <div class="value">SBI저축은행 0281913123456</div>
    </li>
</ul>
            </script>
        </div>

        <!-- @Package -->
        <div data-class="section">
            <div data-class="h1">Package</div>
            <div data-class="h2">리스트 상단</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>상단: lists-headnote / 하단: lists-footnote</div>
                    <div>기본구조 : ~note > (.col + span) * 2</div>
                    <div>단일구조 : ~note > span</div>
                    <div>단일구조-우측정렬시 : ~note.right</div>
                </div>
            </div>   
            <script type="text/html">
<div class="lists-headnote">
    <div class="col">
        <span>2022.04.21~2022.05.21</span>
    </div>
    <div class="col">
        <span>전체 101건</span>
    </div>
</div>

<div class="lists-headnote">
    <div class="col">
        <span class="fz-14 fc-sub">전체 16개 지점</span>
    </div>
    <div class="col">
        <button type="button" class="btn ico-loca">현위치검색</button>
    </div>
</div>

<div class="lists-headnote">
    <span class="fz-14 fc-sub">전체 16건이 검색되었습니다.</span>
</div>

<div class="lists-headnote right">
    <span class="fz-14 fc-sub">(세전)</span>
</div>
            </script>

            <div data-class="h2">리스트 하단</div>
            <script type="text/html">
<div class="lists-footnote">
    <div class="col">왼쪽 영역</div>
    <div class="col">오른쪽 영역</div>
</div>
<br>
<div class="lists-footnote">
    <div>왼쪽 영역만</div>
</div>
<br>
<div class="lists-footnote">
    <div class="right">오른쪽 영역만</div>
</div>
            </script> 
        </div>
        <!-- //@ -->


        <!-- @Component -->
        <div data-class="section">
            <div data-class="h1">Component</div>
            <div data-class="h2">반복타입</div>       
            <script type="text/html">
<div class="lists-wrapper">
    <div class="lists-wrap">
        <h4 class="ht-4">타이틀</h4>
        <ul class="lists data">
            <li>
                <div class="key">타이틀</div>
                <div class="value">내용</div>
            </li>
            <li>
                <div class="key">타이틀</div>
                <div class="value">내용<br>내용</div>
            </li>
            <li>
                <div class="key">타이틀</div>
                <div class="value">내용</div>
            </li>
        </ul>
        <div class="btns cont-foot between">
            <button type="button" class="btn outline sm">상세보기</button>
        </div>
    </div>
    <div class="lists-wrap">
        <h4 class="ht-4">타이틀</h4>
        <ul class="lists data">
            <li>
                <div class="key">타이틀</div>
                <div class="value">내용</div>
            </li>
            <li>
                <div class="key">타이틀</div>
                <div class="value">내용<br>내용</div>
            </li>
            <li>
                <div class="key">타이틀</div>
                <div class="value">내용</div>
            </li>
        </ul>
        <div class="btns cont-foot between">
            <button type="button" class="btn outline sm">채권취소</button>
            <button type="button" class="btn outline sm">채권변경</button>
        </div>
    </div>
</div>
            </script>

            <div data-class="h2">검색결과</div>
            <script type="text/html">
<div class="lists-headnote">
    <div class="col">
        <span class="fz-14 fc-sub">전체 16개 지점</span>
    </div>
    <div class="col">
        <button type="button" class="btn ico-loca">현위치검색</button>
    </div>
</div>

<ul class="lists full link-sch">
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-front"><strong>11040</strong></div>
            <div class="sch-main">경기 연천군 전곡읍 남계로 408 (한반도통일미래센터)</div>
            <div class="sch-sub">[지번] 경기 연천군 전곡읍 마포리 167</div>
        </a>
    </li>
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-front"><strong>03000</strong></div>
            <div class="sch-main">서울 마포구 가양대로 1</div>
            <div class="sch-sub">[지번] 서울 마포div동 1111</div>
        </a>
    </li>
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-front fz-16"><strong>청담지점</strong></div>
            <div class="sch-sub">서울특별시 강남구 선릉로 704, 1층 (청담동, 청담201벤처프라자)</div>
        </a>
    </li>
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-front fz-16"><strong>저축</strong>00<strong>은행</strong></div>
            <div class="sch-main fz-14">123-00-00000</div>
            <div class="sch-sub">서울시 00구 00대로 1111 00빌딩 (00동 11)</div>
        </a>
    </li>
</ul>
            </script>

            <div data-class="h2">Index Info List</div>
            <script type="text/html">
<ul class="index-list">
    <li>
        <p class="tit">신분증 확인</p>
        <p class="txt">주민등록증/운전면허증을 통한 실명확인</p>
    </li>
    <li>
        <p class="tit">고객정보 및 금융목적 확인</p>
        <p class="txt">연락처 및 자금출처/금융목적에 대해 확인</p>
    </li>
</ul>
            </script>

            <div data-class="h2">조회목록</div>
            <script type="text/html">

<!-- 기본 -->
<div class="history-wrap">
    <strong class="his-sec">2023년</strong>
    <ul class="lists history">
        <li>
            <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
                <div class="his-info">
                    <div class="date">01.05</div>
                    <div class="name">김저축<span class="sub">#안심이체(홍길동)</span></div>
                </div>
                <div class="his-amount">
                    <strong class="main">-100,000원</strong>
                    <span class="sub"><span class="hidden">잔액</span>10,900,000원</span>
                </div>
            </div>
        </li>
        <li>
            <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
                <div class="his-info">
                    <div class="date">01.03</div>
                    <div class="name">이저축</div>
                </div>
                <div class="his-amount">
                    <strong class="main">-100,000원</strong>
                    <span class="sub"><span class="hidden">잔액</span>10,900,000원</span>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- +체크박스 -->
<div class="history-wrap">
    <strong class="his-sec">2021년</strong>
    <ul class="lists history">
        <li class="tp-chk" role="checkbox" aria-labelledby="hisChk1"><!-- 개발: aria-labelledby 추가(접근성) -->
            <div class="his-item">
                <div class="chk-box" id="hisChk1" aria-hidden="true"><!-- 개발: aria-labelledby와 id 연결(접근성) -->
                    <div class="his-info">
                        <div class="date">12.05</div>
                        <div class="name">김저축<span class="sub">#안심이체(홍길동)</span></div>
                    </div>
                    <div class="his-amount">
                        <strong class="main fc-point">500,000원</strong>
                    </div>
                </div>
            </div>
        </li>
        <li class="tp-chk" role="checkbox" aria-labelledby="hisChk2"><!-- 개발: aria-labelledby 추가(접근성) -->
            <div class="his-item">
                <div class="chk-box" id="hisChk2" aria-hidden="true"><!-- 개발: aria-labelledby와 id 연결(접근성) --> 
                    <div class="his-info">
                        <div class="date">12.05</div>
                        <div class="name">김저축<span class="sub">#안심이체(홍길동)</span></div>
                    </div>
                    <div class="his-amount">
                        <strong class="main fc-point">500,000원</strong>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- +라디오 -->
<div class="history-wrap">
    <strong class="his-sec">2021년</strong>
    <ul class="lists history" role="radiogroup">
        <li class="tp-rdo" role="radio">
            <div class="his-item">
                <div class="rdo-box">
                    <div class="his-info">
                        <div class="date">01.05</div>
                        <div class="name">김저축</div>
                    </div>
                    <div class="his-amount">
                        <strong class="main fc-point">500,000원</strong>
                    </div>
                </div>
            </div>
        </li>
        <li class="tp-rdo selected" role="radio"><!-- 임시 / 개발: selected 클래스 삭제 -->
            <div class="his-item">
                <div class="rdo-box">
                    <div class="his-info">
                        <div class="date">12.05</div>
                        <div class="name">김저축</div>
                    </div>
                    <div class="his-amount">
                        <strong class="main fc-point">500,000원</strong>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>

<!-- +양끝 PADDING:0, 맨위 margin-top:1.6rem -->
<ul class="lists history box-fit">
    <li>
        <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
            <div class="his-info">
                <div class="date">12.05</div>
                <div class="name">우대금리 지급</div>
            </div>
            <div class="his-amount">
                <strong class="main fc-point">+0.1</strong>
                <span class="sub">누적 0.7</span>
            </div>
        </div>
    </li>
    <li>
        <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
            <div class="his-info">
                <div class="date">12.05</div>
                <div class="name">우대금리 지급</div>
            </div>
            <div class="his-amount">
                <strong class="main fc-point">+0.1</strong>
                <span class="sub">누적 0.7</span>
            </div>
        </div>
    </li>
    <li>
        <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
            <div class="his-info">
                <div class="date">12.05</div>
                <div class="name">우대금리 지급</div>
            </div>
            <div class="his-amount">
                <strong class="main fc-point">+0.1</strong>
                <span class="sub">누적 0.7</span>
            </div>
        </div>
    </li>
</ul>

<!-- other type -->
<ul class="lists history box-fit">
    <li>
        <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
            <div class="his-info">
                <div class="name">
                    <span class="p-sub">계좌송금</span>
                    <strong class="block fw-500">제주펜션</strong>
                </div>
            </div>
            <div class="his-amount">
                <strong class="main fc-point">2,500,000원</span></strong>
            </div>
        </div>
    </li>
    <li>
        <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
            <div class="his-info">
                <div class="name">
                    <span class="p-sub">간편송금/결제</span>
                    <strong class="block fw-500">김저축</strong>
                </div>
            </div>
            <div class="his-amount">
                <strong class="main">500,000원</strong>
            </div>
        </div>
    </li>
</ul>

<!-- 메모있을경우 -->
<ul class="lists history">
    <li>
        <div class="his-item" role="button"><!-- @링크: role="button" 추가 -->
            <div class="his-info">
                <div class="date">01.17</div>
                <div class="name">입출금통장 이자<span class="sub">#예금이자<span class="memo eps">입출금통장 메모 통장 메모통장 메모통장 메모</span></span></div>
            </div>
            <div class="his-amount">
                <strong class="main fc-point">100,000원</strong>
                <span class="sub">200,000원</span>
            </div>
        </div>
    </li>
</ul>

<!-- 원리금 상환 -->
<div role="button" class="acco-item" aria-expanded="false">
    <div class="history-wrap">
        <ul class="lists history">
            <li role="button"><!-- @링크: role="button" 추가 -->
                <div class="his-item">
                    <div class="his-info">
                        <div class="name">
                            <span class="p-sub">2023.03.06</span>
                            <span class="block top-thin">23년 1월(1회차)</span>
                        </div>
                    </div>
                    <div class="his-amount">
                        <span class="p-sub">상환원리금</span>
                        <span class="main top-thin">50,000,000원</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

</script>


            <div data-class="h2">특수 블릿 리스트</div>
            <script type="text/html">
<div class="line-box wide">
    <ul class="lists cus-bul">
        <li class="on"><!-- 개발: 활성시 on 클래스 추가 -->
            <div class="li-link">
                <span class="fc-sub">자동이체</span>
                <button type="button" class="btn ico-arr-sm right">4건</button>
            </div>
        </li>
        <li class="on">
            <div class="li-link">
                <span class="fc-sub">공과금</span>
                <button type="button" class="btn ico-arr-sm right">지로 1건 / 지방세 10건</button>
            </div>
        </li>
        <li>
            <div class="li-link">
                <span class="fc-sub">ATM/영업점출금</span>
                <button type="button" class="btn ico-arr-sm right">출금하기</button>
            </div>
        </li>
        <li>
            <div class="li-link">
                <span class="fc-sub">신용정보</span>
                <div class="li-btns">
                    <button type="button" class="btn ico-arr-sm right">갱신하기 (23.01.01 갱신)</button>
                    <button type="button" class="btn ico-arr-sm right">조회하기</button>
                </div>
            </div>
        </li>
    </ul>
</div>
            </script>
        </div>
        <!-- //@ -->


        <!-- @Bottom Sheet -->
        <div data-class="section">
            <div data-class="h1">Bottom Sheet</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>팝업 하단 버튼이 있을 때 : <a href="/pub/html/LON/MSB_LON_02_009.html" target="_blank">예시화면 바로가기</a></div>
                    <div>팝업 하단 버튼이 없을 때 : <a href="/pub/html/TRA/MSB_TRA_03_008.html" target="_blank">예시화면 바로가기</a></div>
                </div>
            </div>
            <div data-class="h2">일반</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>기본구조 : list-wrap > list-block</div>
                    <div>기본구조+아이콘 : list-wrap > ico-list-block</div>
                </div>
            </div>
            <script type="text/html">
<div class="list-wrap">
    <button type="button" class="list-block">
        등록내역
    </button>
    <button type="button" class="list-block">
        해지내역
    </button>
    <button type="button" class="list-block">
        결과조회.. 우측에 3.4rem 패딩적용
    </button>
</div>
<div class="list-wrap fit">
    <button type="button" class="list-block">
        list-wrap fit... 우측패딩제거
    </button>
    <button type="button" class="list-block">
        해지내역
    </button>
    <button type="button" class="list-block">
        결과조회
    </button>
</div>
            </script>
            <script type="text/html">
<div class="list-wrap">
    <button type="button" class="ico-list-block ico-ass-acc">
        계좌
    </button>
    <button type="button" class="ico-list-block ico-ass-card">
        카드
    </button>
    <button type="button" class="ico-list-block ico-ass-pay">
        페이
    </button>
</div>
            </script>

            <div data-class="h2">은행리스트</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>기본구조 : bank-list-wrap > bank-list-block</div>
                </div>
            </div>
            <script type="text/html">
<div class="bank-list-wrap">
    <button type="button" class="bank-list-block">
        <i class="ci-24x bk-000"></i>SBI저축은행
    </button>
    <button type="button" class="bank-list-block">
        <i class="ci-24x bk-090"></i>카카오뱅크
    </button>
    <button type="button" class="bank-list-block">
        <i class="ci-24x bk-004"></i>KB국민은행
    </button>
    <button type="button" class="bank-list-block">
        <i class="ci-24x bk-003"></i>IBK기업은행
    </button>
    <button type="button" class="bank-list-block">
        <i class="ci-24x bk-000"></i>SBI저축은행
    </button>
</div>
            </script>

            <div data-class="h2">계좌리스트</div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>기본구조 : list-wrap > list-block-wrap(리스트 각 항목)</div>
                    <div>
                        리스트의 성격에 따라서 list-wrap에 -acc(계좌), -ckc(카드)가 붙여 사용
                        <br>└ list-wrap-acc > list-block-wrap
                        <br>└ list-wrap-ckc > list-block-wrap
                    </div>
                    <div>
                        터치하는 영역에 따라 role=button 추가 필요
                        <br>└ 우측에 버튼이 있을 때 : list-block-wrap > list-block-btn 사용 및 role=button 추가
                    </div>
                </div>
            </div>
            <script type="text/html">
<div class="list-wrap-acc">
    <div class="list-block-wrap" role="button">
        <i class="ci-40x bk-000"></i>
        <div class="list-info">
            <strong class="list-name">입출금통장</strong>
            <p class="bank-detail">
                <span>유플리트</span>
                <span>02819-11-1111117</span>
            </p>
        </div>
    </div>
    <div class="list-block-wrap" role="button">
        <i class="ci-40x bk-000"></i>
        <div class="list-info">
            <strong class="list-name">입출금통장</strong>
            <p class="bank-detail">
                <span>유플리트</span>
                <span>02819-11-1111117</span>
            </p>
        </div>
    </div>
</div>
            </script>

            <script type="text/html">
<div class="list-wrap-acc">
    <div class="list-block-wrap">
        <div class="list-block-btn" role="button">
            <i class="ci-40x bk-000"></i>
            <div class="list-info">
                <strong class="list-name">입출금통장</strong>
                <p class="bank-detail">
                    <span>유플리트</span>
                    <span>02819-11-1111117</span>
                </p>
            </div>
        </div>
        <button type="button" class="aside on" aria-pressed="true" data-ui="press" title="$유플리트 02819-11-1111117$ 즐겨찾기"><i class="ico-favo"></i></button>
    </div>
    <div class="list-block-wrap">
        <div class="list-block-btn" role="button">
            <i class="ci-40x bk-000"></i>
            <div class="list-info">
                <strong class="list-name">입출금통장</strong>
                <p class="bank-detail">
                    <span>유플리트</span>
                    <span>02819-11-1111117</span>
                </p>
            </div>
        </div>
        <button type="button" class="aside" aria-pressed="false" data-ui="press" title="$유플리트 02819-11-1111117$ 즐겨찾기"><i class="ico-favo"></i></button>
    </div>
</div>
            </script>

            <script type="text/html">
<div class="list-wrap-ckc">
    <div class="list-block-wrap" role="button">
        <i class="ci-40x bk-092" role="img" aria-label="토스뱅크"></i>
        <div class="list-info">
            <span class="badge state-posi pos-rt">가족카드</span><!-- 계좌주 가족카드 -->
            <strong class="list-name">PAY백체크카드2</strong>
            <p class="bank-detail">
                <span>1234-****-****-1234</span>
            </p>
        </div>
    </div>
    <div class="list-block-wrap" role="button">
        <i class="ci-40x bk-092" role="img" aria-label="토스뱅크"></i>
        <div class="list-info">
            <span class="badge state-share pos-rt">가족카드</span><!-- 공유자 가족카드 -->
            <strong class="list-name">PAY백체크카드2</strong>
            <p class="bank-detail">
                <span>1234-****-****-1234</span>
            </p>
        </div>
    </div>
</div>
            </script>

            <div data-class="box">
                <div data-class="list disc">
                    <div>아이콘이 은행을 의미할 때(=텍스트로 은행명이 없을 경우) : i 태그에 role="img" aria-label="$은행명$" 필요</div>
                </div>
            </div>
            <script type="text/html">
<ul class="list-wrap lists data">
    <li>
        <div class="key">충전계좌</div>
        <div class="value"><i class="ci-18x bk-000" role="img" aria-label="SBI저축은행(유플리트)"></i>입출금통장(3456)</div>
    </li>
    <li>
        <div class="key">출금계좌</div>
        <div class="value"><i class="ci-18x bk-020" role="img" aria-label="우리은행"></i>우리 10029876543210</div>
    </li>
</ul>
            </script>
        </div>
        <!-- //@ -->
    </div>
</div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>
</body>
</html>