<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>유플리트</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/component.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>페이지네이션</span></div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">더보기</div>            
            <script type="text/html">
<div class="btns center gap-sm">
    <button type="button" class="btn"><i class="ico-more sz-16"></i><span>더보기</span></button>
</div>  
            </script>
            

        </div>
    </div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>

</body>
</html>