<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>유플리트</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/component.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>검색</span></div>

        <div data-class="section">
            <div data-class="h2">검색영역</div>
            <script type="text/html">

<div class="search-wrap">
    <div class="form-group">
        <!-- <div class="form-label">검색</div> -->
        <div class="form-row">
            <div class="form-ele">
                <input type="text" title="검색어" placeholder="입력내용" class="inp">
                <button type="button" title="검색" class="sz-32 btn-sch"><i class="ico-search"></i></button>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row v inp-ref-wrap"><!-- inp-ref-wrap 레이어 식별클래스 -->
            <div class="form-ele">
                <input type="text" title="검색어" placeholder="입력내용" value="주소" class="inp">
                <button type="button" title="검색" class="sz-32 btn-sch"><i class="ico-search"></i></button>
            </div>
            <!-- 검색어 자동완성 레이어 -->
            <div class="inp-ref-pos">
                <div class="inp-ref">
                    <div class="ref-list list-addr">
                        <a href="#" role="button">서울시 <em>마포</em>구</a>
                        <a href="#" role="button">서울시 <em>마포</em>구</a>
                        <a href="#" role="button">서울시 <em>마포</em>구</a>
                        <a href="#" role="button">서울시 <em>마포</em>구</a>
                    </div>
                </div>
            </div>
            <!-- //검색어 자동완성 레이어 -->
        </div>
    </div>
    <div class="search-foot">
        <p class="search-txt">검색결과가 많습니다.</p>
        <p class="depth">
            검색어에 아래 조합을 이용하시면 더욱 정확한 결과가 검색됩니다. <span class="fc-point">'도로명+건물번호', '동/읍/면/리+번지'+'건물명(아파트명)'</span>
        </p>
        <!-- <ul class="depth bul">
            <li>도로명+건물번호  <span class="fc-point">예)을지로 5길</span></li>
            <li>동/읍/면/리+번지 <span class="fc-point">예)수하동 67</span></li>
            <li>건물명(아파트명) <span class="fc-point">예)연수동 주공3차</span></li>
        </ul> -->
    </div>
    <!-- 검색 결과O -->
    <div class="tab-wrap box">
        <div class="tab-list" role="tablist">
            <div class="scroll-wrap">
                <button type="button" role="tab" aria-selected="true" aria-controls="tab2panel1-1">검색결과</button>
                <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel1-2">도로명</button>
                <button type="button" role="tab" aria-selected="false" aria-controls="tab2panel1-3">지번</button>
            </div>
            <i class="tab-bar" aria-hidden="true"></i>
        </div>
        <div class="tab-panel" role="tabpanel" id="tab2panel1-1">
            <div class="lists-headnote">
                <span class="fz-14 fc-sub">전체 16건이 검색되었습니다.</span>
            </div>
            <ul class="lists full link-sch">
                <li>
                    <a href="#" role="button" class="li-link">
                        <div class="sch-front"><strong>11040</strong></div>
                        <div class="sch-main">경기 연천군 전곡읍 남계로 408 (한반도통일미래센터)<i class="ico-arrow"></i></div>
                        <div class="sch-sub">[지번] 경기 연천군 전곡읍 마포리 167</div>
                    </a>
                </li>
                <li>
                    <a href="#" role="button" class="li-link">
                        <div class="sch-front"><strong>03000</strong></div>
                        <div class="sch-main">서울 마포구 가양대로 1<i class="ico-arrow"></i></div>
                        <div class="sch-sub">[지번] 서울 마포div동 1111</div>
                    </a>
                </li>
            </ul>
            <div class="btns center gap-sm">
                <button type="button" class="btn ico-more">더보기</button>
            </div>
        </div>
        <div class="tab-panel" role="tabpanel" id="tab2panel1-2">
            도로명 탭
        </div>
        <div class="tab-panel" role="tabpanel" id="tab2panel1-3">
            지번 탭
        </div>
    </div>
    <!-- //검색 결과O -->
    
    <!-- 검색 결과X -->
    <div class="result nodata">
        <p class="tit">검색결과가 없습니다.</p>
    </div>
    <!-- //검색 결과X -->
</div>

<div class="search-wrap">
    <div class="form-group">
        <div class="form-row v inp-ref-wrap"><!-- inp-ref-wrap 레이어 식별클래스 -->
            <div class="form-ele">
                <input type="text" title="검색어" placeholder="입력내용" value="주소" class="inp">
                <button type="button" title="검색" class="sz-32 btn-sch"><i class="ico-search"></i></button>
            </div>
        </div>
    </div>
    <div class="search-foot">
        <ul class="depth bul">
            <li>영업시간 : 09:00 ~ 16:00 / 주말, 공휴일 휴무</li>  
            <li>고객감동센터: <span class="fc-point">1566-2210</span></li>  
        </ul>
    </div>
</div>
<div class="lists-headnote">
    <div class="col">
        <span class="fz-14 fc-sub">전체 20개 지점</span>
    </div>
    <div class="col">
        <button type="button" class="btn ico-loca">현위치검색</button>
    </div>
</div>
<ul class="lists full link-sch">
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-front fz-16"><strong>청담지점</strong></div>
            <div class="sch-sub">서울특별시 강남구 선릉로 704, 1층 (청담동, 청담201벤처프라자)</div>
        </a>
    </li>
</ul>
<div class="lists-headnote" style="margin-top: 20px;"><!-- 임시: 사용시 style 삭제 -->
    <div class="col">
        <span class="fz-14 fc-sub">총 N개 지점이 검색됐어요.</span>
    </div>
    <div class="col">
        <button type="button" class="btn ico-loca">현위치검색</button>
    </div>
</div>
<ul class="lists full link-sch">
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-inr">
                <div class="sch-tit">
                    <div class="sch-main ico-map fw-700">청담지점</div>
                    <div class="sch-sub"><span class="distance">195m</span>[지번] 경기 연천군 전곡읍 마포리 167</div>
                </div>
                <i class="ico-arrow"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-inr">
                <div class="sch-tit">
                    <div class="sch-main ico-map fw-700">명동지점</div>
                    <div class="sch-sub">[지번] 서울 마포div동 1111</div>
                </div>
                <i class="ico-arrow"></i>
            </div>
        </a>
    </li>
    <li>
        <a href="#" role="button" class="li-link">
            <div class="sch-inr">
                <div class="sch-tit">
                    <div class="sch-main ico-map fw-700">강남지점</div>
                    <div class="sch-sub">[지번] 서울 마포div동 1111</div>
                </div>
                <i class="ico-arrow"></i>
            </div>
        </a>
    </li>
</ul>
<div class="btns center gap-sm">
    <button type="button" class="btn ico-more">더보기</button>
</div>
            </script>
        </div>
    </div>
</div>
    
<script src="/pub/guide/assets/vendor/jquery.min.js"></script>
<script src="/pub/guide/assets/vendor/lodash.min.js"></script>
<script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
<script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
<script src="/pub/guide/assets/js/components.js"></script>
<script src="/pub/assets/js/common-ui.js"></script>
</body>
</html>