<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="format-detection" content="telephone=no" />
    <title>유플리트</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css" />
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css"
    />

    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/component.css">
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>스텝</span></div>

        <div data-class="section">
            <div data-class="h1">Type</div>

            <div data-class="h2">Default</div>
            <div data-class="box">
                <a href="/pub/guide/html/sample/step.html" target="-blank" title="새창" data-class="button">Step Sample Code</a>
            </div>
            <script type="text/html">
<div class="step-wrap" data-ui="step">
    <div class="step" role="img" aria-label="총 5단계 중 현재 1단계">
        <span class="current">1</span><span class="mark">/</span><span class="total">5</span>
    </div>
    <h1 class="ht-1">타이틀</h1>
    <a href="#none" class="btn icon right">바로가기<i class="ico-arr"></i></a>
    <p class="step-txt">타이틀 내용입니다.</p>
</div>
            </script>
        </div>

        <div data-class="section">
            <div data-class="h1">Contents</div>
            <div data-class="h2">Type1</div>
            <script type="text/html">
<ol class="stepper type1">
    <li>
        <em>STEP 01</em>
        <strong>국민건강보험공단에 전화</strong>
        <p>다이얼 1번선택 → 1번선택 → 2번 선택하여 확인서 발급을
        진행합니다.</p>
    </li>
    <li>
        <em>STEP 02</em>
        <strong>팩스번호 02-2136-0055 입력</strong>
        <p>서류를 제출 할 유플리트 팩스번호를 입력합니다.</p>
    </li>
    <li>
        <em>STEP 03</em>
        <strong>서류제출 완료 후, 심사대기 서류를 제출</strong>
    </li>
</ol>
            </script>


            <div data-class="h2">Type2</div>
            <script type="text/html">
<ol class="stepper type2">
    <li>
        <strong>대출한도/금리조회222</strong>
        <p>고객님의 한도와 금리를 조회합니다.</p>
    </li>
    <li>
        <strong>직장/소득정보 자동확인</strong>
        <p>공인인증서 인증으로 직장/소득정보를 확인합니다.</p>
    </li>
    <li>
        <strong>대출약정서 작성</strong>
        <p>대출금액, 대출기간 등 신청내용을 작성합니다.</p>
    </li>
    <li>
        <strong>대출실행</strong>
        <p>신청이 완료되면 즉시 대출금이 연결계좌로 입금됩니다.</p>
    </li>
</ol>
            </script>

            <div data-class="h2">Type3</div>
            <script type="text/html">
<ul class="stepper type3">
    <li>잔액이 7만원 미만일때</li>                
    <li>우리 10029876543210 에서</li>
    <li>30만원씩 충전합니다.
</ul>
            </script>

            <div data-class="h2">Type5</div>
            <script type="text/html">
<div class="stepper-wrap">
    <ul class="lists history stepper type5">
        <li>
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">만기(2023.12.31)까지 <span class="point">300일</span> 남음</div>
                </div>
            </div>
        </li>
        <li class="luckybox"> <!-- 우대금리지급일때 클래스 luckybox 추가 -->
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">02.01</div>
                    <div class="name">우대금리 지급</div>
                </div>
                <div class="his-amount">
                    <strong class="main">0.3%</strong>
                    <span class="sub">누적 0.4%</span>
                </div>
            </div>
        </li>
        <li>
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">04.05</div>
                    <div class="name">일부출금</div>
                </div>
                <div class="his-amount">
                    <strong class="main">-1,000,000원</strong>
                    <span class="sub"><span class="hidden">잔액</span>3,500,000원</span>
                </div>
            </div>
        </li>
        <li>
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">03.01</div>
                    <div class="name">추가입금</div>
                </div>
                <div class="his-amount">
                    <strong class="main fc-point">1,000,000원</strong>
                    <span class="sub"><span class="hidden">잔액</span>3,500,000원</span>
                </div>
            </div>
        </li>
        <li>
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">02.15</div>
                    <div class="name">입금</div>
                </div>
                <div class="his-amount">
                    <strong class="main fc-point">500,000원</strong>
                    <span class="sub"><span class="hidden">잔액</span>2,500,000원</span>
                </div>
            </div>
        </li>
        <li class="coupon"> <!-- 쿠폰지급일때 클래스 coupon 추가 -->
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">02.01</div>
                    <div class="name">우대금리 지급</div>
                </div>
                <div class="his-amount">
                    <strong class="main">0.1%</strong>
                    <span class="sub">누적 0.1%</span>
                </div>
            </div>
        </li>
        <li>
            <div class="his-item" role="text">
                <div class="his-info">
                    <div class="date">01.01</div>
                    <div class="name">신규개설</div>
                </div>
                <div class="his-amount">
                    <strong class="main fc-point">1,000,000원</strong>
                    <span class="sub"><span class="hidden">잔액</span>1,000,000원</span>
                </div>
            </div>
        </li>
    </ul>
</div>
            </script>
        </div>
    </div>

    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js?1"></script>
    <script src="/pub/assets/js/common-ui.js"></script>
</body>
</html>
