<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">

    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
    <style>
        .menu-wrap {
            position: relative;
        }
    </style>
</head>

<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>Tab<span></h1>
        
        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide01">접근성</button>
                <button type="button" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide02">코드</button>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide01">
                <div data-class="section">
                    접근성
                </div>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide02">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Line Tab</div>
                    <div data-class="box">
                        <div data-class="list disc">
                            <div>상황 전환 가능하도록 최소 2개 이상의 탭으로 구성한다</div>
                        </div>
                    </div>
                    <script type="text/html">
<div class="tab-wrap line"> <!-- 라인형 : line -->
    <div class="tab-list" role="tablist">
        <div class="scroll-wrap">
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanel-1">항목1</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tabpanel-2">항목2</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanel-3">항목3</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanel-4">항목4</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanel-5">항목5</button>
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel-1">
        <div class="section">
            항목1 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel-2">
        <div class="tab-wrap tab-list-sub">
            <div class="tab-list" role="tablist">
                <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpane1-2-1">하위항목1</button>
                <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tabpane1-2-2">하위항목2</button>
                <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpane1-2-2">하위항목3</button>
                <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpane1-2-2">하위항목4</button>
            </div>
            <div class="tab-panel" role="tabpanel" id="tabpane1-2-1">
                <div class="section">하위항목1 콘텐츠</div>
            </div>
            <div class="tab-panel" role="tabpanel" id="tabpane1-2-2">
                <div class="section">하위항목2 콘텐츠 </div>
            </div>
            <div class="tab-panel" role="tabpanel" id="tabpane1-2-3">
                <div class="section">하위항목3 콘텐츠 </div>
            </div>
            <div class="tab-panel" role="tabpanel" id="tabpane1-2-4">
                <div class="section">하위항목4 콘텐츠 </div>
            </div>
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel-3">
        <div class="section">
            항목3 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel-4">
        <div class="section">
            항목4 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel-5">
        <div class="section">
            항목5 콘텐츠 
        </div>
    </div>
</div>
                    </script>
                    <div data-class="h2">Line Tab - 링크형</div>
                    <div data-class="box">
                        <div data-class="list disc">
                            <div>링크 이동 a태그로 구성</div>
                            <div>링크 없는 a태그 role=button 자동 추가</div>
                        </div>
                    </div>
                    <script type="text/html">
<div class="tab-wrap line"> <!-- 라인형 : line -->
    <div class="tab-list">
        <div class="scroll-wrap">
            <a href="https://zmsbiz.kbstar.com/pub/guide/html/guide.html" class="btn-tab">항목1</a>
            <a href="#" class="btn-tab">항목2</a>
            <a href="#" class="btn-tab">항목3</a>
            <a href="https://zmsbiz.kbstar.com/pub/guide/html/worksheet.html" class="btn-tab active">항목4</a>
            <a href="#" class="btn-tab">항목5</a>
        </div>
    </div>
    <div class="link-panel">
        <div class="section">
            링크형 메뉴테스트 메뉴테스트 메뉴테스트 메뉴테스트 메뉴테스트
        </div>
    </div>
</div>
                    </script>
                </div>
                <div data-class="section">
                    <div data-class="h2">Line Tab - 모션</div>
                    <div data-class="box">
                        <div data-class="list disc">
                            <div>tab bar 애니메이션 모션 기능</div>
                        </div>
                    </div>
                    <script type="text/html">
<div class="tab-wrap line"> <!-- 라인형 : line -->
    <div class="tab-list" role="tablist">
        <i class="tab-bar" aria-hidden="true"></i> <!-- tab-bar : 있으면 자동으로 모션 적용, tab-wrap에 is-motion 추가됨 -->
        <div class="scroll-wrap">
            <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tabpanelLine-1">메뉴테스트 1</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanelLine-2">메뉴테스트 22</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanelLine-3">메뉴테스트 333</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanelLine-4">메뉴테스트 4444</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanelLine-5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanelLine-1">
        
        <div class="section">
            항목 1 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanelLine-2">
        
        <div class="section">
            항목 2 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanelLine-3">
        
        <div class="section">
            항목 3 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanelLine-4">
        
        <div class="section">
            항목 4 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanelLine-5">
        
        <div class="section">
            항목 5 콘텐츠 
        </div>
    </div>
</div>
                    </script>
                </div>
                <div data-class="section">
                    <div data-class="h2">Box Tab</div>
                    <div data-class="box">
                        <div data-class="list disc">
                            <div>상황 전환 가능하도록 최소 2개 이상의 탭으로 구성한다</div>
                        </div>
                    </div>
                    <script type="text/html">
<div class="tab-wrap box"> <!-- 박스형 : box -->
    <div class="tab-list" role="tablist">
        <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tab2panel1-1">메뉴명</button>
        <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tab2panel1-2">메뉴명</button>
    </div>
    <div class="tab-panel" role="tabpanel" id="tab2panel1-1">
        <div class="section">메뉴명 1 콘텐츠</div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tab2panel1-2">
        <div class="section">메뉴명 2 콘텐츠</div>
    </div>
</div>
                    </script>
                    <script type="text/html">
<div class="tab-wrap box"> <!-- 박스형 : box -->
    <div class="tab-list" role="tablist">
        <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tab2panel2-1">메뉴명</button>
        <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tab2panel2-2">메뉴명</button>
        <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tab2panel2-3">메뉴명</button>
    </div>
    <div class="tab-panel" role="tabpanel" id="tab2panel2-1">
        <div class="section">메뉴명 1 콘텐츠</div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tab2panel2-2">
        <div class="section">메뉴명 2 콘텐츠</div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tab2panel2-3">
        <div class="section">메뉴명 3 콘텐츠</div>
    </div>
</div>
                    </script>
                </div>
                <div data-class="section">
                    <div data-class="h2">Box Tab - 모션</div>
                    <script type="text/html">
<div class="tab-wrap box"> <!-- 박스형 : box -->
    <div class="tab-list" role="tablist">
        <i class="tab-bar" aria-hidden="true"></i> <!-- tab-bar : 있으면 자동으로 모션 적용, tab-wrap에 is-motion 추가됨 -->
        <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanel6-1">메뉴명</button>
        <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tabpanel6-2">메뉴명</button>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel6-1">
        <div class="section">메뉴명 1 콘텐츠</div>
    </div>
    <div class="tab-panel" role="tabpanel" id="tabpanel6-2">
        <div class="section">메뉴명 2 콘텐츠</div>
    </div>
</div>
                </script>
                </div>
                <div data-class="section">
                    <div data-class="h2">Tab Panel Swipe</div>
                    <script type="text/html">
<div class="tab-wrap box"> <!-- 박스형 : box -->
    <div class="tab-list" role="tablist">
        <i class="tab-bar" aria-hidden="true"></i> <!-- tab-bar : 있으면 자동으로 모션 적용, tab-wrap에 is-motion 추가됨 -->
        <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="tabpanel7-1">메뉴명</button>
        <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tabpanel7-2">메뉴명</button>
        <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="tabpanel7-3">메뉴명</button>
    </div>
    <div class="tab-swipe">
        <div class="tab-panel" role="tabpanel" id="tabpanel7-1">
            <div style="height:100px;line-height:100px;background-color:#eee;text-align:center">메뉴명 1 콘텐츠</div>
        </div>
        <div class="tab-panel" role="tabpanel" id="tabpanel7-2">
            <div style="height:100px;line-height:100px;background-color:#ccc;text-align:center">메뉴명 2 콘텐츠</div>
        </div>
        <div class="tab-panel" role="tabpanel" id="tabpanel7-3">
            <div style="height:100px;line-height:100px;background-color:#eee;text-align:center">메뉴명 3 콘텐츠</div>
        </div>
    </div>
</div>
                </script>
                </div>
                <div data-class="section">
                    <div data-class="h2">Swipe 포함</div>
                    <div data-class="box">
                        탭패널 내 스와이프 포함
                    </div>
                    <script type="text/html">
<div class="tab-wrap line"> <!-- 라인형 : line -->
    <div class="tab-list" role="tablist">
        <div class="scroll-wrap">
            <button type="button" class="btn-tab" role="tab" aria-selected="true" aria-controls="swipePanel-1">메뉴테스트 1</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="swipePanel-2">메뉴테스트 22</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="swipePanel-3">메뉴테스트 333</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="swipePanel-4">메뉴테스트 4444</button>
            <button type="button" class="btn-tab" role="tab" aria-selected="false" aria-controls="swipePanel-5">메뉴테스트 55555</button>
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="swipePanel-1">
        <div class="section">
            메뉴 1 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="swipePanel-2">
        <div class="section">
            <div class="ui-swiper">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div style="width:100%;height:200px;background-color:#fed03a"></div>
                        </div>
                        <div class="swiper-slide">
                            <div style="width:100%;height:200px;background-color:#384d84"></div>
                        </div>
                        <div class="swiper-slide">
                            <div style="width:100%;height:200px;background-color:#e2dfda"></div>
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="swipePanel-3">
        <div class="section">
            메뉴 3 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="swipePanel-4">
        <div class="section">
            메뉴 4 콘텐츠 
        </div>
    </div>
    <div class="tab-panel" role="tabpanel" id="swipePanel-5">
        <div class="section">
            메뉴 5 콘텐츠 
        </div>
    </div>
</div>
                    </script>
                </div>
            </div>
        </div>
    </div>
        
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/library/swiper.min.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>

</body>

</html>