<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>TextField<span></h1>    
        <div data-class="box">
            <div data-class="list disc">
                <div>문자, 숫자, 특수기호를 입력할 수 있는 유형입니다. 베이직 형식과 레이블이 컨테이너 안에 있는 레이블 인라인 형식으로 구성 하였으며, 프로젝트에 맞게 변형하여 사용</div>                
                <div>한 줄 입력인 텍스트 필드(Text Field)와 여러 줄 입력인 텍스트 영역(Text Area)으로 나뉩니다.</div>
            </div>
        </div>

        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide01">접근성</button>
                <button type="button" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide02">코드</button>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide01">

                <div data-class="section">
                    <div class="g-conts-area sp-sm">
                        <div class="g-desc-box">
                            <p class="g-tit">목록 유형에 적합한 태그를 사용한다.</p>
                            <p class="g-desc">시각적으로 목록의 항목이 글머리 기호로 구분되어 있다면 &lt;ul&gt;, &lt;li&gt; 태그로 목록을 마크업한다. 시각적으로 목록의 항목이 번호로
                                구분되어 있다면 &lt;ol&gt;, &lt;li&gt; 태그로 목록을 마크업한다. </p>
                            <ul class="krds-info-list decimal" role="list">
                                <li role="listitem">WCAG 2.1 Info and Relationships (A)</li>
                            </ul>
                        </div>
                        <div class="g-desc-box">
                            <p class="g-tit">list-style-type: none 스타일 지정으로 인한 접근성 문제에 유의한다.</p>
                            <p class="g-desc">목록 요소(&lt;ul&gt;, &lt;ol&gt;)에 list-style-type: none 스타일이 지정되었을 때, 일부 모바일 디바이스 스크린 리더에서
                                요소의 역할을 탐지하지 못하는 문제가 발생할 수 있다. 따라서 목록에 list-style-type: none 스타일을
                                사용한다면 목록에는 role=”list”, 항목에는 role=”listitem”을 사용하여 목록의 역할을 명시해야 한다.</p>
                            <ul class="krds-info-list decimal" role="list">
                                <li role="listitem">WCAG 2.1 Info and Relationships (A)</li>
                                <li role="listitem">WCAG 2.1 Name, Role, Value (A)</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide02">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Basic</div>
            <script type="text/html">
<div class="form-group basic default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Default)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic focused">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic filled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Filled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic disabled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Disabled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" disabled>
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic readonly">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Readonly)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" readonly>
            </div>
        </div>  
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group basic error">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Error)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip error">에러문구 영역입니다</p> 
            </script>
            
                    <div data-class="h2">Label Inline</div>
        <script type="text/html">
<div class="form-group label-inline default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Basic)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline focused">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline filled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Filled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline disabled">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Disabled)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" disabled>
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline readonly">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Readonly)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" readonly>
            </div>
        </div>   
    </div>   
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline error">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Error)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form-tip error">에러문구 영역입니다</p> 
        </script>
                </div>
        
                <div data-class="section">
                    <div data-class="h1">Atomic</div>
        <script type="text/html">
<p class="form-tip info">안내문구 영역입니다</p> 
<p class="form-tip error">에러문구 영역입니다</p> 
<p class="form-tip success">완료문구 영역입니다</p> 
        </script>
                </div>
        
                <div data-class="section">
                    <div data-class="h1">Component</div>
                    <div data-class="h2">divide</div>
        <script type="text/html">
<div class="form-group basic default">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Default)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
        <span class="space">-</span> 
        <div class="form-area">
            <div class="form-label">레이블(Default)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>  
</div>
<p class="form-tip info">안내문구 영역입니다</p> 

<div class="form-group label-inline">
    <div class="form-row">
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
        <span class="space">-</span>
        <div class="form-area">
            <div class="form-label">레이블(Focused)</div>
            <div class="form-ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
    </div>    
</div>
<p class="form-tip info">안내문구 영역입니다</p> 
        </script>
                </div>

            </div>
        </div>
    </div>

    </div>
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/jquery-ui.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>  
</body>
</html>