<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>TextField<span></h1>    
        <div data-class="box">
            <div data-class="list disc">
                <div>문자, 숫자, 특수기호를 입력할 수 있는 유형입니다. 베이직 형식과 레이블이 컨테이너 안에 있는 레이블 인라인 형식으로 구성 하였으며, 프로젝트에 맞게 변형하여 사용</div>                
                <div>한 줄 입력인 텍스트 필드(Text Field)와 여러 줄 입력인 텍스트 영역(Text Area)으로 나뉩니다.</div>
            </div>
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>
            <div data-class="h2">Basic</div>
<script type="text/html">
<div class="form_group basic default">
    <div class="form_row">
        <div class="form_area">
            <div class="form_ele">
                <div class="form_label">레이블(Default)</div>
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group basic focused">
    <div class="form_row">
        <div class="form_ele">
            <div class="form_label">레이블(Focused)</div>
            <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
        </div>
    </div>   
    <p class="form_tip info">안내문구 영역입니다</p> 
</div>

<div class="form_group basic filled">
    <div class="form_row">
        <div class="form_ele">
            <div class="form_label">레이블(Filled)</div>
            <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
        </div>
    </div>   
    <p class="form_tip info">안내문구 영역입니다</p> 
</div>

<div class="form_group basic disabled">
    <div class="form_row">
        <div class="form_ele">
            <div class="form_label">레이블(Disabled)</div>
            <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" disabled>
        </div>
    </div>   
    <p class="form_tip info">안내문구 영역입니다</p> 
</div>

<div class="form_group basic readonly">
    <div class="form_row">
        <div class="form_ele">
            <div class="form_label">레이블(Readonly)</div>
            <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" readonly>
        </div>
    </div>   
    <p class="form_tip info">안내문구 영역입니다</p> 
</div>

<div class="form_group basic error">
    <div class="form_row">
        <div class="form_ele">
            <div class="form_label">레이블(Error)</div>
            <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
        </div>
    </div>   
    <p class="form_tip error">에러문구 영역입니다</p> 
</div>
</script>
    
            <div data-class="h2">Label Inline</div>
<script type="text/html">
<div class="form_group label-inline default">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Basic)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group label-inline focused">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Focused)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group label-inline filled">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Filled)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>   
    </div>   
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group label-inline disabled">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Disabled)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" disabled>
            </div>
        </div>   
    </div>   
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group label-inline readonly">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Readonly)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp" readonly>
            </div>
        </div>   
    </div>   
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group label-inline error">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Error)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div> 
    </div>   
</div>
<p class="form_tip error">에러문구 영역입니다</p> 
</script>
        </div>

        <div data-class="section">
            <div data-class="h1">Atomic</div>
<script type="text/html">
<p class="form_tip info">안내문구 영역입니다</p> 
<p class="form_tip error">에러문구 영역입니다</p> 
<p class="form_tip success">완료문구 영역입니다</p> 
</script>
        </div>

        <div data-class="section">
            <div data-class="h1">Component</div>
            <div data-class="h2">divide</div>
<script type="text/html">
<div class="form_group basic">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Focused)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
        <span class="space">-</span>
        <div class="form_area">
            <div class="form_label">레이블(Focused)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
    </div>    
</div>
<p class="form_tip info">안내문구 영역입니다</p> 

<div class="form_group label-inline">
    <div class="form_row">
        <div class="form_area">
            <div class="form_label">레이블(Focused)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
        <span class="space">-</span>
        <div class="form_area">
            <div class="form_label">레이블(Focused)</div>
            <div class="form_ele">
                <input type="text" placeholder="내용을 입력하세요" title="타이틀명" value="텍스트" class="inp">
            </div>
        </div>
    </div>    
</div>
<p class="form_tip info">안내문구 영역입니다</p> 
</script>
        </div>
    </div>

    </div>
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/jquery-ui.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common_ui.js"></script>  
</body>
</html>