<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
    <style>
        .form-group + .form-group {margin-top: 2rem;}
    </style>
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>TextArea<span></h1>    
        <div data-class="box">
            <div data-class="list disc">
                <div>한 줄 입력인 텍스트 필드(Text Field)와 여러 줄 입력인 텍스트 영역(Text Area)으로 나뉩니다.</div>
            </div>
        </div>

        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide01">접근성</button>
                <button type="button" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide02">코드</button>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide01">
                <div data-class="section">

                    <div data-class="g-conts-area section-link">
                        <h3 data-class="sec-tit">접근성 가이드라인</h3>
                        <div data-class="g-conts-area sp-sm">
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">입력 영역과 인접 배경 간 명도 대비를 3:1 이상으로 제공한다.</p>
                                <p data-class="g-desc">입력 영역의 테두리 또는 채움 색상이 인접한 배경과 3:1 이상의 명도 대비를 갖도록 스타일을 제공하는 것을 권장한다. 인접한 배경과의 명도 대비가 충분한 경우
                                    사용자가 텍스트 영역임을 보다 명확하게 인지할 수 있다.</p>
                                <ul data-class="krds-info-list decimal" role="list">
                                    <li role="listitem">KWCAG 2.2 텍스트 콘텐츠의 명도 대비</li>
                                    <li role="listitem">WCAG 2.1 Non-text Contrast (AA)</li>
                                </ul>
                            </div>
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">텍스트 영역에 접근 가능한 이름을 제공한다.</p>
                                <p data-class="g-desc">스크린 리더 사용자가 텍스트 영역의 용도를 확인할 수 있도록 &lt;label&gt;, title, aria-label, aria-labelledby 중 1가지
                                    방식을 이용하여 레이블을 제공해야 한다.</p>
                                <ul data-class="krds-info-list decimal" role="list">
                                    <li role="listitem">KWCAG 2.2 레이블 제공</li>
                                    <li role="listitem">WCAG 2.1 Info and Relationships (A)</li>
                                    <li role="listitem">WCAG 2.1 Name, Role, Value (A)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide02">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Basic</div>
        <script type="text/html">
<div data-class="form-group textarea default">
    <div data-class="form-area">
        <div data-class="form-label">레이블</div>
        <div data-class="form-ele">
            <textarea title="타이틀명" placeholder="내용을 입력하세요."></textarea>
            <p data-class="byte"><span data-class="curr">0</span> / <span>5,000</span></p>
        </div>
    </div>
</div>
<p data-class="form-tip info">안내문구 영역입니다</p> 

<div data-class="form-group textarea focused">
    <div data-class="form-area">
        <div data-class="form-label">레이블 (Focused)</div>
        <div data-class="form-ele"><!-- 에러시 error 클래스 추가 -->
            <textarea title="타이틀명" placeholder="내용을 입력해주세요."></textarea> 
            <p data-class="byte"><span data-class="curr">0</span> / <span>5,000</span></p>
        </div>
    </div>
</div>
<p data-class="form-tip info">안내문구 영역입니다</p> 

<div data-class="form-group textarea filled">
    <div data-class="form-area">
        <div data-class="form-label">레이블 (Filld)</div>
        <div data-class="form-ele"><!-- byte 없을 경우, .nobyte 클래스 추가 -->
            <textarea title="타이틀명" placeholder="내용을 입력해주세요."></textarea> 
            <p data-class="byte"><span data-class="curr">0</span> / <span>5,000</span></p>
        </div>
    </div>
</div>
<p data-class="form-tip info">안내문구 영역입니다</p> 

<div data-class="form-group textarea readonly">
    <div data-class="form-area">
        <div data-class="form-label">레이블 (Readonly)</div>
        <div data-class="form-ele">
            <textarea title="타이틀명" placeholder="내용을 입력해주세요." readonly></textarea>   
            <p data-class="byte"><span data-class="curr">0</span> / <span>5,000</span></p>
        </div>
    </div>
</div>
<p data-class="form-tip info">안내문구 영역입니다</p> 

<div data-class="form-group textarea disabled">
    <div data-class="form-area">
        <div data-class="form-label">레이블 (Disabled)</div>
        <div data-class="textarea">
            <textarea title="타이틀명" placeholder="내용을 입력해주세요." disabled></textarea> 
            <p data-class="byte"><span data-class="curr">0</span> / <span>5,000</span></p>     
        </div>
    </div>
</div>
<p data-class="form-tip info">안내문구 영역입니다</p> 

<div data-class="form-group textarea error">
    <div data-class="form-area">
        <div data-class="form-label">레이블 (Error)</div>
        <div data-class="form-ele">
            <textarea name="frm-cont" title="타이틀명">입력텍스트</textarea>
            <p data-class="byte"><span data-class="curr">0</span> / <span>5,000</span></p>     
        </div>
    </div>
</div>
<p data-class="form-tip info error">에러문구 영역입니다</p> 
        </script>
                </div>                
            </div>
        </div>
    </div>

    </div>
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/jquery-ui.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>  
</body>
</html>