<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/app/css/_variables.css">
    <link rel="stylesheet" href="/pub/app/css/common.css">
    <link rel="stylesheet" href="/pub/app/css/components.css">
    <style>
        [data-class="demo"] .tooltip_wrap {
            position: relative;
            left: inherit !important;;
            right: inherit !important;;
        }
    </style>
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>툴팁<span></h1>
        <div data-class="box">
            <div data-class="h3">
                <strong>js_tooltip 사용</strong><br>
                1. .btn_tooltip 버튼에 .js_tooltip 스크립트 클래스 추가<br>
                2. 툴팁 레이어는 디바이스 위치에 따라 상하 자동 노출<br>
                3. 툴팁 타이틀 : 툴팁 옆에 있는 텍스트 + 안내 로 일괄 처리
            </div>
        </div>

        <div data-class="section">
            <div data-class="h1">Type</div>
            <div data-class="box">
                타이틀 타입, 텍스트 타입, 블릿 리스트 유형에 맞춰 사용한다
            </div>

            <div data-class="h2">타이틀</div>
            <script type="text/html">
<div class="h3">
    <div class="tooltip_limited">
        <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
        <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
            <p class="tooltip_tit">툴팁타이틀</p> <!-- tooltip_tit -->
            <div class="tooltip_cont"> 
                현재 툴팁은 타이틀형입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다.툴팁에 들어가는 내용입니다.툴팁에 들어가는 내용입니다.
            </div>
            <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
        </div>
    </div>
</div>
            </script>

            <div data-class="h2">텍스트</div>
            <script type="text/html">
<div class="h3">
    <div class="tooltip_limited">
        <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
        <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
            <div class="tooltip_cont">
                현재 툴팁은 텍스트형입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다.툴팁에 들어가는 내용입니다.툴팁에 들어가는 내용입니다.
            </div>
            <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
        </div>
    </div>
</div>
            </script>

            <div data-class="h2">불릿 리스트</div>
            <script type="text/html">
<div class="h3">
    <div class="tooltip_limited">
        <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
        <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
            <p class="tooltip_tit">툴팁타이틀</p>
            <div class="tooltip_cont">
                <ul class="bul">
                    <li>두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다.</li>
                    <li>두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다.</li>
                </ul>
            </div>
            <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
        </div>
    </div>
</div>
            </script>

            <div data-class="h2">Mix</div>
            <script type="text/html">
<div class="h3">
    <div class="tooltip_limited">
        <p class="tooltip"><button type="button" class="btn_tooltip js_tooltip"><span class="hidden">도움말 자세히보기</span></button></p>
        <div class="tooltip_wrap" role="tooltip" aria-hidden="true">
            <p class="tooltip_tit">툴팁타이틀</p>
            <div class="tooltip_cont">
                툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다. 툴팁에 들어가는 내용입니다.
                <ul class="bul">
                    <li>두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다.</li>
                    <li>두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다. 두줄 타입 내용은 여기에 나옵니다.</li>
                </ul>
            </div>
            <button type="button" class="btn_tooltip_x"><span class="hidden">도움말 닫기</span></button>
        </div>
    </div>
</div>
            </script>
        </div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    
    <!-- Loading Custom Script -->
    <script src="/pub/app/js/common_ui.js"></script>
</body>
</html>