<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>Upleat Design System</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" href="/pub/assets/css/_variables.css">
    <link rel="stylesheet" href="/pub/assets/css/common.css">
    <link rel="stylesheet" href="/pub/assets/css/components.css">
    <style>
        .h2:not(.section .h2) {margin: 0; padding: 0;}
        [class^=h]:not(.section [class^=h]) {margin: 0; padding: 0;}
    </style>
</head>
<body>
    <div data-class="contents">
        <h1 data-class="component-name"><span>Typography</span></h1>
        <div data-class="box">
            <div data-class="list disc">
                <div>국문/영문 동일하게 Pretendard(프리텐다드)를 사용한다</div>
            </div>
        </div>

        <div data-class="tab-warp">
            <div data-class="tab-list" role="tablist">
                <button type="button" data-class="button-tab" role="tab" aria-selected="false" aria-controls="tabpanelGuide01">접근성</button>
                <button type="button" data-class="button-tab" role="tab" aria-selected="true" aria-controls="tabpanelGuide02">코드</button>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide01">
                <div data-class="section">
                
                    <div data-class="g-conts-area">
                        <h3 data-class="sec-tit">접근성 가이드라인</h3>
                        <div data-class="g-conts-area sp-sm">
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">목록 유형에 적합한 태그를 사용한다.</p>
                                <p data-class="g-desc">시각적으로 목록의 항목이 글머리 기호로 구분되어 있다면 &lt;ul&gt;, &lt;li&gt; 태그로 목록을 마크업한다. 시각적으로 목록의 항목이
                                    번호로 구분되어 있다면 &lt;ol&gt;, &lt;li&gt; 태그로 목록을 마크업한다. </p>
                                <ul data-class="info-list decimal" role="list">
                                    <li role="listitem">WCAG 2.1 Info and Relationships (A)</li>
                                </ul>
                            </div>
                            <div data-class="g-desc-box">
                                <p data-class="g-tit">list-style-type: none 스타일 지정으로 인한 접근성 문제에 유의한다.</p>
                                <p data-class="g-desc">목록 요소(&lt;ul&gt;, &lt;ol&gt;)에 list-style-type: none 스타일이 지정되었을 때, 일부 모바일 디바이스 스크린
                                    리더에서 요소의 역할을 탐지하지 못하는 문제가 발생할 수 있다. 따라서 목록에 list-style-type: none 스타일을
                                    사용한다면 목록에는 role=”list”, 항목에는 role=”listitem”을 사용하여 목록의 역할을 명시해야 한다.</p>
                                <ul data-class="info-list decimal" role="list">
                                    <li role="listitem">WCAG 2.1 Info and Relationships (A)</li>
                                    <li role="listitem">WCAG 2.1 Name, Role, Value (A)</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div data-class="tab-panel" role="tabpanel" id="tabpanelGuide02">
                <div data-class="section">
                    <div data-class="h1">Type</div>
                    <div data-class="h2">Heading (h1~h4)</div>
                    <script type="text/html">
<h1 class="h1">.h1 (Heading Large Size 28px)</h1>
<h2 class="h2">.h2 (Heading Medium Size 20px)</h2>
<h3 class="h3">.h3 (Heading Small Size 18px)</h3>
<h4 class="h4">.h4 (Heading xsmall Size 16px)</h4>
                    </script>
        
                    <div data-class="h2">Body (p1~p3)</div>
                    <script type="text/html">
<p class="p-lg">.p-lg (Body Large Size 18px)</p>
<p class="p">.p-md (Body Medium Size 16px)</p>
<p class="p-sm">.p-sm (Body Small Size 14px)</p>
                    </script>
        
                    <div data-class="h1">Bullet-list</div>
                    <div data-class="box">
                        <div data-class="list disc">
                            <div>아토믹 컴포넌트는 디자인 시스템의 기초를 이루며, 다양한 컴포넌트를 조합하고 확장할 수 있는 기반이 된다.<br>
                                하지만, 이 요소들은 직접적인 사용보다 상위 구조(완성된 컴포넌트)에서 활용될 때 디자인 시스템의 일관성과 효율성을 극대화할 수 있다.</div>
                        </div>
                    </div>
                    <script type="text/html">
<h3>1st (Bullet)</h3>
<ul class="bullet-list bul">
    <li>1st Bullet 두줄 타입 내용은 여기에 나옵니다. </li>
    <li>2nd Bullet 두줄 타입 내용은 여기에 나옵니다. </li>
</ul>

<br>

<h3>2nd (Dash)</h3>
<ul class="bullet-list dash">
    <li>1st Bullet 두줄 타입 내용은 여기에 나옵니다. </li>
    <li>2nd Bullet 두줄 타입 내용은 여기에 나옵니다. </li>
</ul>
                    </script>
                </div>
        
                <div data-class="section">
                    <div data-class="h1">Example</div>
                    <script type="text/html">
<div class="section">
    <h1 class="h1">페이지 타이틀</h1>
    <h2 class="h2">항목 타이틀 첫번째</h2>
    <p class="p">본문 텍스트가 올때 여러 항목이 나열되면 Bullet을 붙여서 처리, 한개만 올 때는 Bullet 없이 현재 문장 과 같이 작성됩니다.</p>
    <h3 class="h3">항목 타이틀 두번째</h3>
    <p class="p">본문 텍스트가 올때 여러 항목이 나열되면 Bullet을 붙여서 처리, 한개만 올 때는 Bullet 없이 현재 문장 과 같이 작성됩니다.</p>

    <ul class="bullet-list bul">
        <li>1st Bullet 두줄 타입 내용은 여기에 나옵니다.       
            <ul class="bullet-list dash">
                <li>2nd Bullet 두줄 타입 내용은 여기에 나옵니다. </li>
            </ul>
        </li>
    </ul>
</div>
                    </script>
                </div>                
            </div>
        </div>
    </div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>
</body>
</html>