<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>유플리트</title>
    <link rel="stylesheet" href="/pub/guide/assets/css/components.css">
    <link rel="stylesheet" href="/pub/guide/assets/css/docs.css">
    <link rel="stylesheet" href="/pub/guide/assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/common.css">
    <link rel="stylesheet" data-description="공통 요소별 스타일" href="/pub/assets/css/component.css">
    
    <style>
        .pg-wrap {
            height: auto;
        }
        [data-class="demo"] .popup {
            display: block;
            position: relative
        }
        [data-class="demo"] .pop_bg_close {
            position: absolute
        }
        [data-class="demo"] .popup.bottom>.pop_scl_wrap, [data-class="demo"] .popup.bottom>.pop_wrap {
            position: absolute
        }
        @media (min-width: 1024px) {
            [data-class="demo"] .popup.bottom>.pop_scl_wrap, [data-class="demo"] .popup.bottom>.pop_wrap{left: 0; margin-left: 0}
        }
        .note_txt {margin-left:.5rem; font-size:1.5rem; color:#777;}
        .p-tit {font-size: 18px; font-weight:700; margin-bottom: 5px;}
        .p-tit2 {color:#1733bf; font-weight:700;}
        .p-list li{position: relative; font-size:1.5rem; color:#666; line-height: 1.8; padding-left:10px;}
        .p-list li::before{content: '-'; position: absolute; left: 0; top:0;}
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name"><span>현황판</span></div>
        <div data-class="box">
            <a href="/pub/guide/html/sample/app_down.html" target="-blank" title="새창" data-class="button">앱 다운로드</a>
            <a href="/pub/guide/html/sample/app_up.html" target="-blank" title="새창" data-class="button">앱 업로드</a>
        </div>

        <div data-class="section">
            <div data-class="h1">각 서비스별 json파일</div>
            <div data-class="box">
                <div class="directory">
                    <ul>
                        <li>
                            app
                            <ul>
                                <li>
                                    guide
                                    <ul>
                                        <li>
                                            json
                                            <ul>
                                                <li>MIN.json <span>- 메인</span></li>
                                                <li>INQ.json <span>- 조회</span></li>
                                                <li>TRA.json <span>- 이체/출금</span></li>
                                                <li>LON.json <span>- 대출신청</span></li>
                                                <li>CUS.json <span>- 고객센터</span></li>
                                                <li>CMM.json <span>- 공통</span></li>
                                                <li>CKC.json <span>- 카드</span></li>
                                                <li>CRD.json <span>- 금융/신용관리</span></li>
                                                <li>CRT.json <span>- 인증/보안</span></li>
                                                <li>NTC.json <span>- 공지사항</span></li>
                                                <li>EVT.json <span>- 혜택</span></li>
                                                <li>SET.json <span>- 설정</span></li>
                                                <li>LOG.json <span>- 로그인</span></li>
                                                <li>JOY.json <span>- 회원가입</span></li>
                                                <li>CHE.json <span>- 외화/환전</span></li>
                                                <li>PIC.json <span>- 내정보</span></li>
                                                <li>PBT.json <span>- 공과금</span></li>
                                                <li>CTF.json <span>- 증명서 발급/제출</span></li>
                                                <li>BST.json <span>- 사이다 부스터</span></li>
                                                <li>DEP.json <span>- 예/적금 상품가입</span></li>
                                                <li>GLO.json <span>- 다국어</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- section : 팝업 설명 -->
        <div data-class="section">
            <div data-class="h1">json 사용법</div>
            <!-- 레이어 호출 설명 영역 -->
            <div data-class="box">
                아래와 같이 json 데이터 기입(마지막 데이터에는 반그시 ',' 삭제해 주세요!)
            </div>

            <script type="text/html" data-type="script">
{
    "state": "hold", /*보류인 경우 삽입*/
    "state": "del", /*삭제인 경우 삽입*/
    "id": "BFE000180", /*화면 아이디*/
    "type": null, /*화면 타입(본창, 풀, 바텀, 팝업)*/
    "depth1": "로그인", 
    "depth2": "공동인증서",
    "depth3": "",
    "depth4": "",
    "name": "[]공동인증서 로그인(인증서 없는 경우)",
    "worker": "홍길동", /*작업자명*/
    "workdate": "2023-01-01", /*작업시작일*/
    "change": "2023-01-05", /*최종수정일*/
    "complete": "완료", /* 대기중 | 검수중 | 완료(기획확인후 완료 삽입)*/
    "etc": ["0101 비고사항1","0105 비고사항2"] /*비고사항 있을경우 삽입*/
},
{
    "id": "BFE000200",
    "type": null,
    "depth1": "로그인",
    "depth2": "공동인증서",
    "depth3": "",
    "depth4": "",
    "name": "[]공동인증서 로그인(Ohlee 인증서 등록 고객(iOS 사용자만))",
    "worker": null,
    "workdate": null,
    "change": null,
    "complete": null,
    "etc": ["0101 디자인확인:가이드확인","0105 기획확인:문구확인"] /*비고란에 디자인 및 기획에서 꼭 확인해야 하는 사항이 있을 경우 ["디자인확인:가이드확인","기획확인:문구확인"] 양식으로 기입 */
}
            </script>
        </div>
    </div>
    
    <script src="/pub/guide/assets/vendor/jquery.min.js"></script>
    <script src="/pub/guide/assets/vendor/lodash.min.js"></script>
    <script src="/pub/guide/assets/vendor/highlight/highlight.min.js"></script>
    <script src="/pub/guide/assets/vendor/clipboard.min.js"></script>
    <script src="/pub/guide/assets/js/components.js"></script>
    <script src="/pub/assets/js/common-ui.js"></script>
    
    <!-- Loading Custom Script -->
    <script src="/pub/assets/js/common-ui.js"></script>

    <!-- common ui init -->
    <script>
        $(function(){
            $('[data-class="fold"]').eq(0).trigger('click');

        });
    </script>
</body>
</html>