@charset "euc-kr"; 

/*** TextArea ***/
.form-group.textarea .form-tip {margin-top: var(--upl-textarea-message-gap-y);}
.form-group.textarea .form-label {margin-bottom: var(--upl-textarea-label-gap-y); font-size: var(--upl-textarea-label-font-size); color:var(--upl-textarea-label-font-color); line-height: var(--upl-textarea-label-line-height);}
.form-group.textarea .form-ele {position: relative;}
.form-group.textarea textarea {width:100%; height:var(--upl-textarea-height); padding:var(--upl-textarea-padding-x) var(--upl-textarea-padding-y) calc(var(--upl-textarea-padding-y) + var(--upl-textarea-label-line-height) + var(--upl-textarea-byte-gap-y)) var(--upl-textarea-padding-x); border-color:var(--upl-textarea-default-border-color); border-width: var(--upl-textarea-border-width); border-style:solid; border-radius: var(--upl-textarea-radius); font-size:var(--upl-textarea-font-size); line-height:var(--upl-textarea-line-height); -webkit-appearance:none; resize:none; background-color:transparent}

.form-group textarea::-webkit-input-placeholder, 
.form-group textarea::placeholder{font-size:var(--upl-textarea-font-size);/* font-weight:400;font-family:'KBText','Roboto','NotoSans','Droid Sans','AppleGothicNeoSD','Apple SD 산돌고딕 Neo','Sans-serif','돋음','dotum' */}
.form-group textarea[readonly]::-webkit-input-placeholder,
.form-group textarea[readonly]::placeholder {color:var(--upl-textarea-default-font-color);}

.form-group.textarea.default textarea {color:var(--upl-textarea-default-font-color); border-color: var(--upl-textarea-default-border-color); background-color: var(--upl-textarea-default-background-color);}
.form-group textarea:focus textarea, 
.form-group.textarea.focused textarea {border-color:var(--upl-textarea-focused-border-color); color:var(--upl-textarea-focused-font-color)}
.form-group.textarea.filled textarea {color:var(--upl-textarea-filled-font-color)}
.form-group.readonly textarea,
.form-group textarea[readonly] {color:var(--upl-textarea-readonly-font-color); border-color: var(--upl-textarea-readonly-border-color); background-color: var(--upl-textarea-readonly-background-color);}
.form-group.disabled textarea,
.form-group textarea[disabled] {color:var(--upl-textarea-disabled-font-color); border-color: var(--upl-textarea-disabled-border-color); background-color: var(--upl-textarea-disabled-background-color);}
.form-group.textarea.error textarea {color:var(--upl-textarea-error-font-color); border-color:var(--upl-textarea-error-border-color); background-color: var(--upl-textarea-default-background-color);}
.form-group.textarea .byte {position:absolute; bottom:var(--upl-textarea-padding-y); right:var(--upl-textarea-padding-x); font-size:var(--upl-textarea-label-font-size); color: var(--upl-textarea-default-font-color); line-height: var(--upl-textarea-label-line-height); text-align:right;}
.form-group.textarea .byte .curr {color: var(--upl-textarea-focused-font-color);}

