@charset "euc-kr"; 

/*** Typography ***/
/* Heading */
h1, h2, h3, h4 {color:var(--upl-color-text-title); vertical-align:middle; word-break:keep-all;}
.h1 {font-size:var(--upl-font-size-heading-large); line-height: var(--upl-typo-line-height-font-size-28);}
.h2 {margin:var(--upl-gap-28) 0 var(--upl-gap-16);font-size:var(--upl-font-size-heading-medium); line-height: var(--upl-typo-line-height-font-size-20);} 
.h3 {margin:var(--upl-gap-32) 0 0;font-size:var(--upl-font-size-heading-small); line-height: var(--upl-typo-line-height-font-size-18);} 
.h4 {margin:1.2rem 0 0; font-size:var(--upl-font-size-heading-xsmall); line-height: var(--upl-typo-line-height-font-size-16);}

/* Body Text */
.p-lg {font-size: var(--upl-font-size-body-large); line-height: var(--upl-typo-line-height-font-size-18);}
.p {font-size: var(--upl-font-size-body-medium); line-height: var(--upl-typo-line-height-font-size-16);} /* basic size */
.p-sm {font-size: var(--upl-font-size-body-small); line-height: var(--upl-typo-line-height-font-size-14);}

/*** Bullet List ***/
.bullet-list {margin-top: var(--upl-gap-16);}
.bullet-list > li:first-child {margin-top: 0;}
.bullet-list > li {position: relative; margin-top:var(--upl-bulletlist-list-gap-y); font-size: var(--upl-bulletlist-font-size); color:var(--upl-bulletlist-font-color); line-height: var(--upl-bulletlist-line-height);}
.bullet-list > li:before {content:''; display:inline-block; position: absolute; left:0; top:var(--upl-bulletlist-list-gap-y);}

.bullet-list.bul > li {padding-left:calc(var(--upl-bulletlist-bullet-icon-size-width) + var(--upl-bulletlist-icon-gap-x));word-break:keep-all; word-wrap:break-word;} 
.bullet-list.bul > li:before {width:var(--upl-bulletlist-bullet-icon-size-width); height:var(--upl-bulletlist-bullet-icon-size-width); background:var(--upl-bulletlist-bullet-icon-color); border-radius: var(--upl-bulletlist-bullet-icon-radius);}

.bullet-list.dash > li {padding-left:calc(var(--upl-bulletlist-dash-icon-size-width) + var(--upl-bulletlist-icon-gap-x)); color:var(--upl-bulletlist-dash-icon-color);}
.bullet-list.dash > li:before {width:var(--upl-bulletlist-dash-icon-size-width); height:1px; background:var(--upl-bulletlist-dash-icon-color);}

/* .bullet-list.num {counter-reset:list-number 0;}
.bullet-list.num > li {position:relative; padding-left:2.6rem;}
.bullet-list.num > li:nth-child(9) ~ li {padding-left:2.6rem;}
.bullet-list.num > li:before {position:absolute; top:0; left:-.9rem; width:3rem; content:counter(list-number) '.'; counter-increment:list-number 1; font-size:1.7rem; font-family:'roboto'; line-height:2rem; font-weight:700; text-align:right;} 
.bullet-list.num.sm > li:before {font-size:1.5rem;}
.bullet-list.num.lg > li {margin-top:2rem;}
.bullet-list.num.lg > li:first-child {margin-top:0;}
.bullet-list.num.lg > li:before {top:0.2rem; font-size:1.9rem;}
.bullet-list.num.round > li {position:relative; margin-top:1.4rem; font-size:1.6rem; padding-left:2.2rem;}
.bullet-list.num.round > li:before {content:counter(list-number); margin-top:.2rem;left:0; width:1.8rem; font-size:1.4rem; line-height:1.8rem; font-weight:400; text-align:center;}
.bullet-list.num.round > li:after {content:''; display:inline-block; position:absolute; top:0; left:0; margin-top: .2rem;width:1.8rem; height:1.8rem; border:1px solid var(--upl-fc-02); border-radius:50%;}
.bullet-list.num.round.sm > li {font-size:1.5rem;}
.bullet-list.num.round.sm > li:before {line-height:1.9rem;}
.tooltip-wrap .bullet-list.num.round > li:after {border-color:var(--upl-fc-08);}

.bullet-list.sm {margin-top:.8rem; font-size:1.4rem; line-height:1.4;}
.bullet-list.lg {margin-top:.8rem;}
.bullet-list.lg > li {font-size:1.8rem;}
.bullet-list.lg > li .bullet-list {font-size:1.6rem;}
.bullet-list .bullet-list {margin-top:.8rem;}
.bullet-list .bullet-list.num.round {margin-top:1.2rem;}

.bullet-list.step {counter-reset:list-number 0; margin-top:0;}
.bullet-list.step > li {position:relative;margin-top:.3rem;padding:1rem 0 1.5rem 5.6rem}
.bullet-list.step > li:before {content:'';display:block;position:absolute;left:0;top:.3rem;width:4rem;height:4rem;border-radius:50%;background-color:var(--upl-fc-09);font-size:1.7rem;font-family:'Roboto';font-weight:500;color:var(--upl-fc-03);content:counter(list-number);counter-increment:list-number 1;text-align:center;line-height:4rem}
.bullet-list.step > li:first-child {margin-top:0;}
.bullet-list.step > li:last-child{padding-bottom:0}
.bullet-list.step > li p.tit {font-size:1.8rem; font-weight:700; color:var(--upl-fc-02);}
.bullet-list.step > li p.p {margin:.7rem 0 .5rem; font-size:1.6rem; color:var(--upl-fc-02);}
.bullet-list.step > li .p-sub {margin-top:.7rem; color:var(--upl-fc-03);}
.bullet-list.step > li p:last-child {margin-bottom:0;}
.bullet-list.step > li > .bullet-list.bul > li {margin-top:.9rem;}
.bullet-list.step > li > .bullet-list.info {margin-top:.6rem;}
.icon-step {display:inline-block; width:2rem; height:2rem; background-color:var(--upl-fc-09); border-radius:50%; font-size:1.4rem; font-family:'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif; text-align:center;}

.bullet-list.step.sm > li{padding:0.5rem 0 0 3.2rem;margin-top: 1.5rem;font-size: 1.6rem;}
.bullet-list.step.sm > li:first-child{margin-top:0}
.bullet-list.step.sm > li:before{top:.5rem;width:2.4rem;height:2.4rem;line-height:2.4rem;font-size: 1.5rem;color:var(--upl-fc-11);background-color: var(--upl-fc-05)}
.bullet-list.step.sm > li .p:first-child{margin-top:0}
.bullet-list.step.sm > li p.tit + p.p{margin-top:1.2rem}
.bullet-list.step.sm > li p.p{margin-top:.5rem} */
