@charset "utf-8"; 
@import url("/resources/css/library/swiper.min.css");

/* <UPLEAT> UI Dev Team
	Roboto, KBText : normal = 400, bold = 700
	font-size: 1.6rem
	line-height: 1.4
*/

/* [Font] */
@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url('/resources/css/fonts/Pretendard-Regular.woff2') format('woff2');
    /*     unicode-range: U+AC00-D7A3,U+0041-005A,U+0061-007A,U+0020-002F,U+0034-0040,U+005B-0060,U+007B-007E;U+26; */
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 500;
	font-display: swap;
	src: url('/resources/css/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url('/resources/css/fonts/Pretendard-Bold.woff2') format('woff2');
}
@font-face {
	font-family:'Spoqa';
    font-weight:400;
	font-display: swap;
	src: url('/resources/css/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
    unicode-range: U+0030-0039, U+002C;
}
@font-face {
	font-family:'Spoqa';
    font-weight:500;
	font-display: swap;
	src: url('/resources/css/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
    unicode-range: U+0030-0039, U+002C;
}
@font-face {
	font-family:'Spoqa';
    font-weight:700;
	font-display: swap;
	src: url('/resources/css/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
    unicode-range: U+0030-0039, U+002C;
}


/* Reset */
*,
*:before,
*:after{-webkit-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color:transparent !important;}
:root{
    font-size:10px;
    --upl-sab: calc(constant(safe-area-inset-bottom) / 2);
    --upl-sab: calc(env(safe-area-inset-bottom) / 2);

    /* color */
    --upl-fc_01: #000;
    --upl-fc_02: #26282c;
    --upl-fc_03: #484b51;
    --upl-fc_04: #696e76;
    --upl-fc_05: #8c949e;
    --upl-fc_06: #aab0b8;
    --upl-fc_07: #c6cbd0;
    --upl-fc_08: #dde1e4;
    --upl-fc_09: #ebeef0;
    --upl-fc_10: #f7f7f8;
    --upl-fc_11: #fff;
    --upl-bg_01: #fff;     /* Contents BG */
    --upl-bg_02: #f7f7f8;  /* Contents Notice */
    --upl-bdc_01: #ebeef0; /* Line Default */
    --upl-bdc_02: #696e76; /* Line Design Type */
    --upl-bdc_03: #c6cbd0; /* Data List Header */
    --upl-bdc_04: #484b51; /* Accordion Open Header */
}

:root.dark{
    --upl-fc_01: #000;
    --upl-fc_02: #fff;
    --upl-fc_03: #f7f7f8;
    --upl-fc_04: #ebeef0;
    --upl-fc_05: #dde1e4;
    --upl-fc_06: #c6cbd0;
    --upl-fc_07: #aab0b8;
    --upl-fc_08: #8c949e;
    --upl-fc_09: #696e76;
    --upl-fc_10: #484b51;
    --upl-fc_11: #26282c;
    --upl-bg_01: #212224;
    --upl-bg_02: #34363a;
    --upl-bdc_01: #45484d;
    --upl-bdc_02: #86888a;
    --upl-bdc_03: #65696e;
    --upl-bdc_04: #8c8c8e; 
}

@media all and (max-width:320px) {
    :root {font-size:9px} 
}

html,body {width:100%; height:100%; min-height:100%;}
body {-webkit-text-size-adjust:none; word-break:break-all; line-height:1.4; background:var(--upl-bg_01); color:var(--upl-fc_02); letter-spacing:var(--upl-typo-letter-spacing-1);}
body {overscroll-behavior: none;} 
body,button,dd,dl,dt,fieldset,form,input,legend,li,ol,p,select,table,td,textarea,th,ul,h1,h2,h3,h4,h5,h6 {margin:0; padding:0; -webkit-box-sizing:border-box; box-sizing:border-box;}
body,button,input,select,table,textarea {font-size:1.6rem; font-weight:400; font-family:'Pretendard','NotoSans','Droid Sans','AppleGothicNeoSD','Apple SD 산돌고딕 Neo','Sans-serif','돋음','dotum';}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
table {table-layout:fixed; width:100%; border-spacing:0;}
caption,
legend {overflow:hidden; position: static; width:0; height:0; line-height:0; visibility: hidden; font-size: 0;}
ol,ul {list-style:none;}
em,address {font-style:normal;}
img,fieldset,iframe {border:0;}
img {width:100%;height:auto;vertical-align:top;max-width:42rem}
a {display:inline-block; color:inherit; text-decoration:none;}
a:hover {text-decoration:none;}
input,select,textarea,button {border:0; border-radius:0; -webkit-appearance:none; appearance:none;}
button {background-color:transparent; color:inherit; cursor:pointer;}
button:hover {color:inherit;}
input::-ms-clear,
input::-ms-reveal {display:none; width:0; height:0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {display:none;}
input[type=date]::-webkit-inner-spin-button {display:none;}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-calendar-picker-indicator {display:none;}
input[type=number] {-moz-appearance:textform;}
select::-ms-expand {display:none;}
select:required:invalid {color:#A0A4AF;}
option {color:var(--upl-fc_01);}
option[value=""][disabled] {display:none;}

/* Set Class */
.hidden {overflow:hidden!important;position:absolute!important;width:0!important;height:0!important;clip:rect(0 0 0 0)!important;margin:0!important;padding:0!important;color:transparent!important;font-size:0!important} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.blind {position:absolute; width:0; height:0; font-size:0; line-height:0;overflow:hidden; visibility:hidden; left:-9999px;} /* [as-is] 어드민 */
.dimmed {position:fixed; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.6); filter:alpha(opacity=60); touch-action:none; z-index:200;} /* 딤드레이어 */
.eps {display:inline-block; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;} /* 한줄 말줄임 */
.fl {float:left;}
.fr {float:right;}
.left {text-align:left !important;} /* 텍스트 정렬 */
.right {text-align:right !important;}
.center {text-align:center !important;}
.top {vertical-align:top !important;}
.middle {vertical-align:middle !important;}
.bottom {vertical-align:bottom !important;}
.clearfix:after {display:table; content:''; clear:both;} /* 플로팅 해제 */
.required {display:inline-block; position:relative; text-indent:-9999em;} /* 필수요소 */
.required:after {content:'*'; display:block; position:absolute; top:0; left:0; width:1rem; height:2rem; color:#de001b; font-weight:700; text-indent:0;}
.wide {width:100%;} /* width 100% */
.inline {display:inline-block; vertical-align:middle;} /* inline */
.block{display:block !important;}
.scroll {overflow:auto; position:relative; width:100%;} /* 스크롤 */
.underline{text-decoration: underline;}
a.underline{display:inline; text-decoration: underline;}
.dev_nofix {min-height:2000px !important;} /* 개발용 */
.keep_a {word-break:keep-all !important;}