@charset "euc-kr"; 

/*** Button ***/
.btn {display:inline-block; position: relative; overflow:hidden; text-align:center;}

/* Confirm Button */
.btn_confirm_wrap .btn_area {display:flex;position:fixed;left:0;bottom:0;width:100%;z-index:150}
.btn_confirm_wrap .btn_area > span {display:block;width:100%}
.btn_confirm_wrap .btn {display:block; width:100%; height:auto; padding:1.8rem 1rem 1.7rem; line-height:1.2; border-radius: 0; font-size:1.8rem; font-weight:700;}
.btn_confirm_wrap.nofix .btn_area {position:absolute;}

/* Sick Button */
.btn.stick {min-width:32.7rem; height:var(--button-stick-button-height-basic); border-radius: var(--button-stick-button-radius-basic); font-size: var(--button-stick-button-font-large);}
.btn.stick.primary {background:var(--button-stick-button-primary-fill); color:var(--button-stick-button-primary-text);}
.btn.stick.primary.pressed {background:var(--button-stick-button-primary-pressed); color:var(--button-stick-button-primary-text);}
.btn.stick.primary:disabled {background:var(--button-stick-button-primary-disabled); color:var(--button-stick-button-primary-text);}

.btn.stick.secondary {background:var(--button-stick-button-secondary-fill); color:var(--button-stick-button-seconday-text);}
.btn.stick.secondary.pressed {background:var(--button-stick-button-secondary-pressed); color:var(--button-stick-button-seconday-text);}
.btn.stick.secondary:disabled {background:var(--button-stick-button-secondary-disabled); color:var(--button-stick-button-seconday-disabled-text);}

.btn.stick.outlined {background:var(--button-stick-button-outlined-fill); color:var(--button-stick-button-outlined-text); border:1px solid var(--button-stick-button-outlined-border)}
.btn.stick.outlined.pressed {background:var(--button-stick-button-outlined-fill); color:var(--color-stickbutton-outlined-text); border:1px solid var(--button-stick-button-outlined-pressed-border)}
.btn.stick.outlined:disabled {background:var(--button-stick-button-outlined-fill); color:var(--button-stick-button-outlined-disabled-text); border:1px solid var(--button-stick-button-outlined-disabled-border)}

/* Solid Button */
.btn.solid {min-width:32.7rem;}
.btn.solid.large {height:var(--button-solid-button-height-large); padding:var(--button-solid-button-text-padding); font-size: var(--button-solid-button-font-large); border-radius: var(--button-solid-button-radius-large);}
.btn.solid.medium {height:var(--button-solid-button-height-medium); padding:1rem; font-size: var(--button-solid-button-font-medium); border-radius: var(--button-solid-button-radius-medium);}

.btn.solid.primary {background:var(--button-solid-button-primary-fill); color:var(--button-solid-button-primary-text);}
.btn.solid.primary.pressed {background:var(--button-solid-button-primary-pressed); color:var(--button-solid-button-primary-text);}
.btn.solid.primary:disabled {background:var(--button-solid-button-primary-disabled); color:var(--button-solid-button-primary-text);}

.btn.solid.secondary {background:var(--button-solid-button-secondary-fill); color:var(--button-solid-button-seconday-text);}
.btn.solid.secondary.pressed {background:var(--button-solid-button-secondary-pressed); color:var(--button-solid-button-seconday-text);}
.btn.solid.secondary:disabled {background:var(--button-solid-button-secondary-disabled); color:var(--button-solid-button-seconday-disabled-text);}

.btn.solid.outlined {background:var(--button-solid-button-outlined-fill); color:var(--button-solid-button-outlined-text); border:1px solid var(--button-solid-button-outlined-border)}
.btn.solid.outlined.pressed {background:var(--button-solid-button-outlined-fill); color:var(--button-solid-button-outlined-text); border:1px solid var(--button-solid-button-outlined-pressed-border)}
.btn.solid.outlined:disabled {background:var(--button-solid-button-outlined-fill); color:var(--button-solid-button-outlined-disabled-text); border:1px solid var(--button-solid-button-outlined-disabled-border)}

/* Text Button */
.btn.text.large {font-size: var(--button-text-button-font-large);}
.btn.text.medium {font-size: var(--button-text-button-font-medium);}
.btn.text.small {font-size: var(--button-text-button-font-small);}

.btn.text.basic {color:var(--button-text-button-text-basic);}
.btn.text.secondary {color:var(--button-text-button-text-secondary);}
.btn.text:disabled {color:var(--button-text-button-text-disabled);}
.btn.text.danger {color:var(--button-text-button-text-danger);}

.btn.text.large.icon {position:relative; padding:0 2.4rem 0 2.7rem}
.btn.text.medium.icon {position:relative; padding: 0 2rem}
.btn.text.small.icon {position:relative; padding: 1.8rem}
.btn.text.icon[class*="ico"][class*="-l"]::before,
.btn.text.icon[class*="ico"][class*="-r"]::after {content:''; display: inline-block; position:absolute; top:50%; transform: translateY(-50%);}
.btn.text.icon[class*="ico"][class*="-l"]::before {left:0;}
.btn.text.icon[class*="ico"][class*="-r"]::after {right:0;}

.btn.text.icon.large::before,
.btn.text.icon.large::after {width:2rem; height:2rem; background-repeat: no-repeat; background-position: 0 0; background-size:2rem auto;}
.btn.text.icon.medium::before,
.btn.text.icon.medium::after {width:1.6rem; height:1.6rem; background-repeat: no-repeat; background-position: 0 0; background-size:1.6rem auto;}
.btn.text.icon.small::before,
.btn.text.icon.small::after {width:1.4rem; height:1.4rem; background-repeat: no-repeat; background-position: 0 0; background-size:1.4rem auto;}

.btn.text.icon[class*=ico-20x-01]::before {background-image:url(/pub/app/img/common/ico-20x-01.svg);}
.btn.text.icon[class*=ico-20x-02]::after {background-image:url(/pub/app/img/common/ico-20x-02.svg);}
.btn.text.medium[class*=ico-16x-01]::before {background-image:url(/pub/app/img/common/ico-20x-01.svg);}
.btn.text.medium[class*=ico-16x-02]::after {background-image:url(/pub/app/img/common/ico-20x-02.svg);}
.btn.text.small[class*=ico-14x-01]::before {background-image:url(/pub/app/img/common/ico-20x-01.svg);}
.btn.text.small[class*=ico-14x-02]::after {background-image:url(/pub/app/img/common/ico-20x-02.svg);}