@charset "euc-kr"; 

/*** Button ***/
.btn {display:inline-block; position: relative; overflow:hidden; text-align:center;}
.btn.stick {min-width:32.7rem; height:5.6rem; line-height: 5.6rem; border-radius: var(--radius-12);}
.btn.stick.primary {background:var(--color-stick-button-primary-fill); color:var(--color-stick-button-primary-text);}
.btn.stick.primary.pressed {background:var(--color-stick-button-primary-pressed); color:var(--color-stick-button-primary-text);}
.btn.stick.primary:disabled {background:var(--color-stick-button-primary-disabled); color:var(--color-stick-button-primary-text);}

.btn.stick.secondary {background:var(--color-stick-button-secondary-fill); color:var(--color-stick-button-seconday-text);}
.btn.stick.secondary.pressed {background:var(--color-stick-button-secondary-pressed); color:var(--color-stick-button-seconday-text);}
.btn.stick.secondary:disabled {background:var(--color-stick-button-secondary-disabled); color:var(--color-stick-button-seconday-disabled-text);}

.btn.stick.outlined {background:var(--color-stick-button-outlined-fill); color:var(--color-stick-button-outlined-text); border:1px solid var(--color-stick-button-outlined-border)}
.btn.stick.outlined.pressed {background:var(--color-stick-button-outlined-fill); color:var(--color-stick-button-outlined-text); border:1px solid var(--color-stick-button-outlined-pressed-border)}
.btn.stick.outlined:disabled {background:var(--color-stick-button-outlined-fill); color:var(--color-stick-button-outlined-disabled-text); border:1px solid var(--color-stick-button-outlined-disabled-border)}

.btn.solid {min-width:32.7rem; height:4.8rem; line-height: 4.8rem; border-radius: var(--radius-8);}
.btn.solid.primary {background:var(--color-solid-button-primary-fill); color:var(--color-solid-button-primary-text);}
.btn.solid.primary.pressed {background:var(--color-solid-button-primary-pressed); color:var(--color-solid-button-primary-text);}
.btn.solid.primary:disabled {background:var(--color-solid-button-primary-disabled); color:var(--color-solid-button-primary-text);}

.btn.solid.secondary {background:var(--color-solid-button-secondary-fill); color:var(--color-solid-button-seconday-text);}
.btn.solid.secondary.pressed {background:var(--color-solid-button-secondary-pressed); color:var(--color-solid-button-seconday-text);}
.btn.solid.secondary:disabled {background:var(--color-solid-button-secondary-disabled); color:var(--color-solid-button-seconday-disabled-text);}

.btn.solid.outlined {background:var(--color-solid-button-outlined-fill); color:var(--color-solid-button-outlined-text); border:1px solid var(--color-solid-button-outlined-border)}
.btn.solid.outlined.pressed {background:var(--color-solid-button-outlined-fill); color:var(--color-solid-button-outlined-text); border:1px solid var(--color-solid-button-outlined-pressed-border)}
.btn.solid.outlined:disabled {background:var(--color-solid-button-outlined-fill); color:var(--color-solid-button-outlined-disabled-text); border:1px solid var(--color-solid-button-outlined-disabled-border)}

.btn.text {color:var(--color-text-button-text-basic);}
.btn.text.btn.secondary {color:var(--color-text-button-text-secondary);}
.btn.text:disabled {color:var(--color-text-button-text-disabled);}
.btn.text.btn.danger {color:var(--color-text-button-text-danger);}