@charset "euc-kr"; 

/*** CheckBox ***/
[class^="selection"],
[class^="switch"] {display:inline-block;position:relative;vertical-align:top}
[class^="selection"].block{display:block}
[class^="selection"] input,
[class^="switch"] input {position:absolute; left:0; z-index:0; opacity: 0;}
[class^="selection"] input + .label,
[class^="selection"] input + .label > em {display:inline-block; color:var(--fc_02);}

.selection.alone {width:2.4rem; height:2.4rem;}
.selection input[type=radio],
.selection input[type=checkbox] {position:absolute!important;height:1px!important;width:1px!important;overflow:hidden!important;clip:rect(1px 1px 1px 1px)!important;clip:rect(1px,1px,1px,1px)!important;}
.selection input[type=radio] + .label,
.selection input[type=checkbox] + .label {display:block;}
.selection.mid input[type=radio],
.selection.mid input[type=checkbox] {top:50%; transform:translateY(-50%);}

/* CheckBox > Basic */
.selection input[type=checkbox] + .label {display:inline-block; position:relative; z-index:1; width:100%; min-height:var(--checkbox-large-line-height); margin-top:-.2rem; padding-left:calc(var(--checkbox-large-line-height) + var(--checkbox-label-gap)); font-size: var(--checkbox-large-font-size); font-weight: var(--checkbox-large-on-font-weight);}
.selection input[type=checkbox] + .label:before {display:inline-block; content:''; position:absolute; left:0; top:-.1rem; z-index:1; width:var(--checkbox-large-line-height); height:var(--checkbox-large-line-height); border:var(--checkbox-border-width) solid var(--checkbox-large-off-border-color); border-radius:var(--checkbox-large-radius);background-color:var(--checkbox-background-color); transition: .3s}
.selection input[type=checkbox] + .label:after {display: inline-block; content:''; position:absolute; left:0; top:.02rem; z-index:1; width:2.4rem; height:2.4rem; background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5L6.0022 9L14 2' stroke='%23757575' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); background-position: 50% 50%; background-size:1.6rem 1.2rem; background-repeat: no-repeat}
.moa_ads_area .selection input[type=checkbox] + .label:after{background:none;}
.selection.alone input[type=checkbox] + .label {width:2.4rem; padding-left:0;}
.selection.mid input[type=checkbox] + .label:before {top:50%; transform:translateY(-50%);}
.selection.mid input[type=checkbox] + .label:after {top:50%;transform:translateY(-50%);margin-top:0.1rem;}
.selection input[type=checkbox]:checked + .label:before {border-color:#fff; background:var(--checkbox-large-on-background-color);}
.selection input[type=checkbox]:checked + .label:after {background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5L6.0022 9L14 2' stroke='white' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E "); animation: chkeckboxAni 0.3s linear}
.moa_ads_area .selection input[type=checkbox] + .label:after{background:none;}
.selection input[type=checkbox]:disabled + .label:before {border-color:var(--checkbox-large-off-disabled-border-color); background-color:var(--checkbox-background-color);}
.selection input[type=checkbox]:disabled + .label:after{background-image: url("data:image/svg+xml,%3Csvg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 5L6.0022 9L14 2' stroke='%23EFEFEF' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E ");}
.selection input[type=checkbox]:checked:disabled + .label:before {border-color:var(--checkbox-background-color); background:var(--checkbox-large-on-disabled-background-color);}
.selection input[type=checkbox]:checked:disabled + .label:after {background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-width:.15rem;fill-rule: evenodd;' d='M402,806l4,4,6-7' transform='translate(-399.313 -801.656)'/%3E%3C/svg%3E")}
@keyframes chkeckboxAni {
    0% {
        clip: rect(0, 0, 2.4rem, 0);
    }
    100% {
        clip: rect(0, 2.4rem, 2.4rem, 0);
    }
}

/* CheckBox > Small */
.selection.md input[type=checkbox] + .label em {padding: .1rem 0 0rem 0; font-size: var(--checkbox-medium-font-size); line-height:1.4;}
.selection.md input[type=checkbox] + .label {min-height:var(--checkbox-medium-line-height); padding-left:calc(var(--checkbox-medium-line-height) + var(--checkbox-label-gap));}
.selection.md input[type=checkbox] + .label:before {width:var(--checkbox-medium-line-height); height:var(--checkbox-medium-line-height); border-radius:var(--checkbox-medium-radius);}
.selection.md input[type=checkbox] + .label:after {display:block; content:''; position:absolute; top:0; left:0; width:var(--checkbox-medium-line-height); height:var(--checkbox-medium-line-height); background-size:1.2rem 1rem;}

