/*** common.css ***/
/* 버튼영역 - 컨텐츠 하단 */
.btn_cnt_wrap {display:flex;}
.btn_cnt_wrap > span {display:block; width:100%}

/* message */
.result {display:block; margin:0 auto; text-align:center;}
.result > .result_ico {position:relative; width:6.4rem; height:6.4rem; margin:0 auto}
.result .tit {margin-top:1.6rem; font-size:var(--font-size-heading-medium); color:var(--color-text-tit); font-weight:var(--typo-font-weight-bold);}
.result .txt {margin-top:1.6rem; font-size:var(--font-size-body-medium); color:var(--color-text-basic);}

/*** Popup ***/
html.lock, 
.lock body {overflow:hidden}
.lock #wrap {position:fixed; left:0; bottom:0; width:100%; height:100%; -webkit-overflow-scrolling:none}
.pop_close {display:block; position:absolute; top:var(--padding-24); right:var(--padding-24); font-size:var(--number-3); color:var(--color-gray-800); width:var(--number-24); height:var(--number-24); overflow:hidden; background-repeat:no-repeat; background-position:center center; background-image:url("data:image/svg+xml,%0A%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_792_228)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.2071 4.29289C20.5976 4.68342 20.5976 5.31658 20.2071 5.70711L5.20711 20.7071C4.81658 21.0976 4.18342 21.0976 3.79289 20.7071C3.40237 20.3166 3.40237 19.6834 3.79289 19.2929L18.7929 4.29289C19.1834 3.90237 19.8166 3.90237 20.2071 4.29289Z' fill='%232A2A2A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.29289 4.79289C3.68342 4.40237 4.31658 4.40237 4.70711 4.79289L19.7071 19.7929C20.0976 20.1834 20.0976 20.8166 19.7071 21.2071C19.3166 21.5976 18.6834 21.5976 18.2929 21.2071L3.29289 6.20711C2.90237 5.81658 2.90237 5.18342 3.29289 4.79289Z' fill='%232A2A2A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_792_228'%3E%3Crect width='24' height='24' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A"); background-size:2.4rem 2.4rem}
.pop_bg_close {display:block; position:fixed; top:0; bottom:0; left:0; right:0; pointer-events:auto}

.popup {display:none; position:fixed; left:0; top:0; width:100%; height:100%; z-index:200; -webkit-box-sizing:border-box; box-sizing:border-box; background:rgba(0,0,0,0); -webkit-transition:background 0.4s 0.1s; transition:background 0.4s 0.1s;}
.popup .pop_scl_wrap, 
.popup .pop_wrap {width:100%; max-height:100%; background-color:var(--color-background-dialogs-bg); -webkit-transform:translate3d(0, 10%, 0); transform:translate3d(0, 10%, 0); -webkit-transition:margin 0.4s,opacity 0.4s,visibility 0.4s,-webkit-transform 0.4s; transition:margin 0.4s,opacity 0.4s,visibility 0.4s,-webkit-transform 0.4s; visibility:hidden; opacity:0;}
.popup .pop_body .bottom_fixed {height:6.1rem;}
.popup.bg_no_click .pop_bg_close {display:none !important;}
.popup.bottom .pop_close {top:var(--number-34);}

/* pop_head */
.pop_wrap .pop_head,
.pop_wrap .pop_head h1 {font-size:var(--font-size-heading-medium); color:var(--color-text-tit); line-height:var(--typo-line-height-28); font-weight:var(--typo-font-weight-bold);}
.pop_wrap .pop_head {position:relative;}
.pop_wrap .pop_head h1 {text-align:left;}

/* pop_body */
.pop_body {height:100%; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform:translateZ(0); transform:translateZ(0); -webkit-overflow-scrolling:touch; position:relative; z-index:100;}
.popup.body_swipe .pop_body.is_tab {overflow:hidden;}
.popup.body_swipe .pop_body.is_tab .tab_scroller {padding-bottom:4.0rem; overflow-x:hidden; overflow-y:auto;}

/* pop_foot */
.pop_foot {background-color:var(--bg_01);}
.pop_foot > div {padding:0;}
.pop_foot .btn_area {display:flex}
.pop_foot .btn_area .btn {width:100%; min-width:auto;}
.pop_foot .btn_area span {display:block; width:100%}
.pop_foot .btn_area span + span {margin-left:var(--number-10)}
.pop_foot .multi_conts span {width:auto;}
.popup.foot .pop_foot {position:absolute; left:0; bottom:0; width:100%; z-index:210; -webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform:translateZ(0); transform:translateZ(0);}

/* dialog */
.pop_section {position:relative; padding:0 var(--padding-24); font-size:var(--font-size-body-medium); color:var(--color-text-basic); line-height:var(--typo-line-height-24);}
.popup.modal {padding:6rem 3.2rem; -webkit-box-align:center; -ms-flex-align:center; align-items:center; -webkit-box-pack:center; -ms-flex-pack:center; justify-content:center}
.popup.modal .pop_scl_wrap, 
.popup.modal .pop_wrap {max-width:64rem; border-radius:var(--radius-16); margin:0 auto; overflow:hidden;}
.popup.modal .pop_head .pop_close {top:2.1rem; right:1.6rem; display:none}
.popup.modal .pop_head > div {padding:var(--padding-24); min-height:auto;}
.popup.modal .pop_wrap .pop_body:first-child > .pop_section {padding-top:var(--padding-24);}
.popup.modal .pop_foot > div{padding:var(--padding-32) var(--padding-24) var(--padding-24);}
.popup.modal .pop_section .section {margin-top:var(--gap-24);}
.popup.modal .btn_cnt_wrap {margin-top:var(--gap-32);}
.popup.modal.no_title .pop_head > div {padding-bottom:0;} /* 모달 no_title, 닫기 버튼 없는 경우 */
.popup.modal.close.no_title .pop_head > div {padding-top:var(--padding-24); padding-bottom:var(--padding-24);} /* 모달 no_title, 닫기 버튼 있는 경우 */
.popup.modal.close.no_title .pop_close {top:var(--number-12)}

/* alert */
.popup.modal.alert{z-index:300}
.popup.modal.alert .message{word-break:break-all; text-align:left; color:var(--color-text-basic);}
.popup.modal.alert .message .txt_list{margin-top:1rem}
.popup.modal.alert .message .txt_list li+li{margin-top:.4rem}

/* bottom */
.popup.bottom .pop_body {overflow-x:hidden; overflow-y:auto;}
.popup.bottom .pop_head > div {padding:var(--padding-32) var(--gap-64) var(--padding-20) var(--padding-24);}
.popup.bottom.no_title .pop_head > div {padding-top:var(--padding-30); padding-bottom:0;} /* 바텀 no_title, 닫기 버튼 없는 경우 */
.popup.bottom.close.no_title .pop_head > div {padding-top:var(--padding-32); padding-bottom:var(--padding-32);} /* 바텀 no_title, 닫기 버튼 있는 경우 */
.popup.bottom.close.no_title .pop_close {top:var(--padding-30)}
.popup.bottom > .pop_scl_wrap, 
.popup.bottom .pop_wrap {position:fixed; bottom:0; border-radius:1.6rem 1.6rem 0 0; -webkit-transform:translate3d(0, 110%, 0); transform:translate3d(0, 110%, 0); opacity:1}
.popup.bottom .pop_wrap {box-shadow:0 -0.5rem 0.6rem rgba(0,0,0,.1); overflow:hidden;}
.popup.bottom .pop_wrap .pop_body:first-child > .pop_section {padding-top:var(--padding-30);} /* 바텀 헤더 마크업 없는 경우 */
.popup.bottom .btn_cnt_wrap {padding:var(--gap-14) 0;}
.popup.bottom .btn_cnt_wrap .btn_close {font-size:var(--font-size-buttom-small); color:var(--color-textbutton-text-basic);}
.popup.bottom.is_swipe .pop_head span.swipe{position:absolute; top:0; left:0; right:0; height:2.4rem; z-index:30}
.popup.bottom.is_swipe .pop_head span.swipe::after{content:''; position:absolute; top:10px; left:50%; width:3.0rem; height:0.5rem; margin-left:-1.5rem; background-color:#ddd; border-radius:0.5rem}
.popup.bottom .pop_foot > div {padding:var(--padding-24) var(--padding-24) calc(var(--sab) + var(--padding-16))}
.popup.bottom .pop_foot .btn_area span .btn{height:auto; padding:1.8rem 1rem 1.7rem; padding:1.8rem 1rem calc(constant(safe-area-inset-bottom) / 2 + 1.7rem); padding:1.8rem 1rem calc(env(safe-area-inset-bottom) / 2 + 1.7rem); line-height:1.2; font-size:1.8rem; font-weight:700}
html.mobile .popup.bottom > .pop_wrap {border-top:0 solid var(--color-alpha-black0);}
@media(min-width:1024px){
    .popup.bottom>.pop_scl_wrap,
    .popup.bottom>.pop_wrap {max-width:102.4rem; margin-left:auto; margin-right:auto; left:50%; margin-left:-51.2rem}
}

/* show  */
.popup.show {display:block !important; background-color:var(--color-background-dim); -webkit-transition-delay:0s; transition-delay:0s}
.popup.show.modal {display:-webkit-box !important; display:-ms-flexbox !important; display:flex !important}
.popup.show.no_dimmed {background:none; position:fixed; top:initial; left:initial; bottom:0; height:auto}
.popup.show .pop_scl_wrap, 
.popup.show .pop_wrap {-webkit-transform:translate3d(0, 0, 0); transform:translate3d(0, 0, 0); -webkit-transform:translateZ(0); -webkit-transition-delay:0.1s; transition-delay:0.1s; visibility:visible; opacity:1}
.msie .popup.show{display:block}
