@charset "euc-kr"; 

/*** Selection Control ***/
[class^="selection"],
[class^="switch"] {display:inline-block;position:relative;vertical-align:top}
[class^="selection"].block{display:block}
[class^="selection"] input,
[class^="switch"] input {position:absolute; left:0; z-index:0; opacity: 0;}
[class^="selection"] input + .label,
[class^="selection"] input + .label > em {display:inline-block; color:var(--fc_02);}

.selection.alone {width:2.4rem; height:2.4rem;}
.selection input[type=radio],
.selection input[type=checkbox] {position:absolute!important;height:1px!important;width:1px!important;overflow:hidden!important;clip:rect(1px 1px 1px 1px)!important;clip:rect(1px,1px,1px,1px)!important}
.selection input[type=radio] + .label,
.selection input[type=checkbox] + .label {display:block;}
.selection.mid input[type=radio],
.selection.mid input[type=checkbox] {top:50%; transform:translateY(-50%);}

/* CheckBox > Basic */
.selection input[type=checkbox] + .label {display:inline-block; position:relative; z-index:1; width:100%; min-height:2.4rem; margin-top:-.2rem; padding-left:3.4rem;}
.selection input[type=checkbox] + .label:before {display:inline-block; content:''; position:absolute; left:0; top:-.1rem; z-index:1; width:2.4rem; height:2.4rem; border:2px solid var(--fc_05); border-radius:.8rem;background-color:var(--fc_11); transition: .3s}
.selection input[type=checkbox] + .label:after {display: inline-block; content:''; position:absolute; left:0; top:.02rem; z-index:1; width:2.4rem; height:2.4rem; background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath style='fill:none;stroke:%238c949e;stroke-linecap:round;stroke-width:.15rem;fill-rule: evenodd;' d='M402,806l4,4,6-7' transform='translate(-399.313 -801.656)'/%3E%3C/svg%3E"); background-position: 50% 50%; background-size:1.5rem 1.2rem; background-repeat: no-repeat}
.moa_ads_area .selection input[type=checkbox] + .label:after{background:none;}
.selection.alone input[type=checkbox] + .label {width:2.4rem; padding-left:0;}
.selection.mid input[type=checkbox] + .label:before {top:50%; transform:translateY(-50%);}
.selection.mid input[type=checkbox] + .label:after {top:50%;transform:translateY(-50%);margin-top:0.1rem;}
.selection input[type=checkbox]:checked + .label:before {border-color:#ffcc00; background:var(--Button-solidButton-primary-pressed);}
.selection input[type=checkbox]:checked + .label:after {background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath style='fill:none;stroke:%2326282c;stroke-linecap:round;stroke-width:.15rem;fill-rule: evenodd;' d='M402,806l4,4,6-7' transform='translate(-399.313 -801.656)'/%3E%3C/svg%3E");animation: chkeckboxAni 0.3s linear}
.moa_ads_area .selection input[type=checkbox] + .label:after{background:none;}
.selection input[type=checkbox]:disabled + .label:before {border-color:#dde1e4;background-color:#dde1e4}
.selection input[type=checkbox]:disabled + .label:after{background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-width:.15rem;fill-rule: evenodd;' d='M402,806l4,4,6-7' transform='translate(-399.313 -801.656)'/%3E%3C/svg%3E")}
.selection input[type=checkbox]:checked:disabled + .label:before {background:var(--fc_08)}
.selection input[type=checkbox]:checked:disabled + .label:after {background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cpath style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-width:.15rem;fill-rule: evenodd;' d='M402,806l4,4,6-7' transform='translate(-399.313 -801.656)'/%3E%3C/svg%3E")}
@keyframes chkeckboxAni {
    0% {
        clip: rect(0, 0, 2.4rem, 0);
    }
    100% {
        clip: rect(0, 2.4rem, 2.4rem, 0);
    }
}

/* CheckBox > Small */
.selection.chk input[type=checkbox] + .label em {padding: .1rem 0 0rem 0; font-size: 1.6rem; line-height:1.4;}
.selection.chk input[type=checkbox] + .label {min-height:2rem; padding-left:3rem;}
.selection.chk input[type=checkbox] + .label:before {width:2rem; height:2rem; border-radius:.6rem;}
.selection.chk input[type=checkbox] + .label:after {display:block; content:''; position:absolute; top:0; left:0; width:2rem; height:2rem; background-size:1.2rem 1rem;}

/* Radio > Basic */
.selection input[type=radio],
.selection input[type=checkbox] {width:2.4rem; height:2.4rem; padding-top:.2rem; font-size:1.6rem;}
.selection input + .label > em, 
.selection input + .label > strong {display:inline-block; max-width:100%; line-height:2.4rem; font-size:1.6rem; vertical-align: middle}
.selection input + .label [class^=icon_bank_]{vertical-align:middle;margin:-.6rem .6rem 0 0}
.selection input + .label [class^=icon_bank_]+em, .selection input + .label [class^=icon_bank_]+strong{margin-top:-.5rem}
.selection input + .label.normal > em {font-weight:normal;}
.selection input + .label .label_txt {display:block; margin-top:.7rem; font-size:1.4rem; color:var(--fc_04)}
.selection input[type=radio]:disabled + .label > em,
.selection input[type=radio]:disabled + .label > strong,
.selection input[type=checkbox]:disabled + .label > em,
.selection input[type=checkbox]:disabled + .label > strong,
.selection input[type=checkbox]:disabled + .label, 
.selection input[type=checkbox]:disabled + .label .acc_check .acc_num .number {color: var(--fc_05)}
.selection input[type=checkbox]:disabled + .label .acc_check .acc_info_wrap .acc_info {color: var(--fc_05)}

.selection input[type=radio] + .label {display:inline-block; position:relative; z-index:1; width:100%; min-height:2.4rem; padding-left:3.4rem;}
.selection input[type=radio] + .label:before {content:''; display: inline-block; position:absolute; left:0; top:-.1rem; z-index:1; width:2.4rem; height:2.4rem; border:2px solid var(--fc_06); border-radius:100px;background-color:var(--bg_01);transition:0.3s}
.selection input[type=radio] + .label:after {content:''; display: inline-block; position:absolute; left:.6rem; top:.5rem; z-index:1; width:1.2rem; height:1.2rem; border-radius:50%; background:#ffcc00; transform: scale(0)}
.selection.alone input[type=radio] + .label {width:2.4rem; padding-left:0;}
.selection.mid input[type=radio] + .label:before {top:50%; transform:translateY(-50%);}
.selection input[type=radio]:checked + .label:before {border-color:#ffcc00;}
.selection input[type=radio]:checked + .label:after {animation: radioAni .3s linear forwards}
.selection.mid input[type=radio]:checked + .label:after {top:50%;margin-top:-0.6rem;}
.selection input[type=radio]:disabled + .label:before {border-color:var(--fc_08)}
.selection input[type=radio]:checked:disabled + .label:after {background:var(--fc_08)}
@keyframes radioAni {
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/* Switch */
.switch {display:inline-block; position:relative; height:2.2rem; vertical-align:top;}
.switch label {display:block; position:relative; height: 2.2rem; padding-left: 4.6rem;}
.switch label:before {position:absolute; top:0; left:0; content:''; width:3.8rem; height:2.2rem; margin-right: .8rem; border-radius:11px; background:#ddd;}
.switch label:after {position:absolute; top:.2rem; left:.2rem; content:''; width:1.8rem; height:1.8rem; border-radius:50%; background:var(--fc_10); box-shadow: 0px 2px 3px rgba(0,0,0,.1); -webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.1); transition: left .2s ease-out;}
.switch label span{font-size: 1.5rem !important; color:var(--fc_03); padding-left:.8rem; line-height:2.2rem;}
.switch input[type=checkbox] {width:100%; height:100%; background:none !important;}
.switch input + label {display:block; position:relative; height: 2.2rem;}
.switch input:checked + label:before {background:#ffe475;}
.switch input:checked + label:after {left:1.8rem; background:#ffbc00;}
.switch input:disabled + label:before {background-color:var(--fc_09);}
.switch input:disabled + label:after {float:left; background-color:var(--fc_10);}
.switch input[checked]:disabled + label:before {background-color:#ffedaf;}
.switch input[checked]:disabled + label:after {float:right; background-color:#fffbeb;}
.switch input:disabled + label span,
.switch input[checked]:disabled + label span {color:var(--fc_07);}
