/*** common.css ***/

/*** Tab ***/
:root {
    --tab-wrap-after-width:var(var(--number-36));
    --tab-line-default-gap:1.6rem; /* 피그마 토큰 추가 필요 */
    --tab-line-secondary-gap:0.8rem; /* 피그마 토큰 추가 필요 */
    --tab-box-selected-bacground-color:var(--color-gray-white); /* 피그마 토큰 추가 필요 */
}

/* Line Tab */
.tab_wrap {position:relative; width:100%;}
.tab_wrap::after {content:''; display:block; position:absolute; right:0; top:0; width:var(--number-36); height:var(--tab-line-height); z-index:1; background:linear-gradient(270deg, var(--color-gray-white) 15%, var(--color-alpha-white0) 100%);}
.tab_wrap .btn_tab {overflow:visible; position:relative; margin:0; font-size:var(--tab-line-font-size); color:var(--tab-line-default-font-color); text-align:center;}
.tab_wrap .btn_tab::after {content:''; position:absolute; z-index:3; bottom:calc(var(--tab-line-default-border-width) * -1); left:50%; width:0; height:var(--tab-line-selected-border-width); background:var(--tab-line-selected-border-color); box-shadow:none;}
.tab_wrap .btn_tab[aria-selected=true]::after, 
.tab_wrap .btn_tab.active::after {left:0; width:100%; -webkit-transition:.2s; transition:.2s;}
.tab_wrap .tab_list {position:relative; overflow-x:auto; white-space:nowrap;}
.tab_wrap .tab_list::-webkit-scrollbar {display:none;}
.tab_wrap .tab_panel {display:none; position:relative; border:0; border-radius:0; box-shadow:none; z-index:3;}
.tab_wrap .tab_panel.active {display:block;}
.tab_wrap .tab_panel:focus::after {content:''; position:absolute; bottom:0;}
.tab_wrap .tab_panel[tabindex='-1'] {display:none;}
.tab_wrap .tab_panel[tabindex='0'] {display:block;}
.tab_wrap .link_panel {padding:0}

.tab_wrap.line .scroll_wrap {display:inline-flex; position:relative; min-width:100%; padding-right:calc(var(--tab-wrap-after-width) * 0.6); border-bottom:var(--tab-line-default-border-width) solid var(--tab-line-default-border-color); white-space:nowrap; text-align:center;}
.tab_wrap.line .scroll_wrap .btn_tab {display:block; overflow:visible; position:relative; margin:0; padding:0 var(--tab-line-padding-horizontal); line-height: var(--tab-line-height); letter-spacing:var(--typo-letter-spacing-01); text-align:center;}
.tab_wrap.line .scroll_wrap .btn_tab[aria-selected=true], 
.tab_wrap.line .scroll_wrap .btn_tab.active {outline:0; font-weight:var(--typo-font-weight-bold); color:var(--tab-line-selected-font-color);}
.tab_wrap.line .scroll_wrap .btn_tab + .btn_tab {margin-left:var(--tab-line-gap);}
.tab_wrap.line.is_motion .scroll_wrap .btn_tab::after,
.tab_wrap.line.is_motion .scroll_wrap .btn_tab.active::after {display: none}
.tab_wrap.line.is_motion .tab_bar {position:absolute; left:0; bottom:0; width:0; height:var(--tab-line-selected-border-width); z-index:1; background-color:var(--tab-line-selected-border-color); transition:left 0.4s cubic-bezier(.25, .75, .5, 1.25);}

.tab_wrap.line .tab_list_sub .tab_list {background:var(--tab-line-secondary-background-color);}
.tab_wrap.line .tab_list_sub .btn_tab[aria-selected=true]::after, 
.tab_wrap.line .tab_list_sub .btn_tab.active::after {display:none;}
.tab_wrap.line .tab_list_sub .btn_tab {padding:var(--tab-line-secondary-padding-y) var(--tab-line-secondary-padding-x); font-weight:var(--typo-font-weight-semi-bold); font-size:var(--tab-line-secondary-font-size);}
.tab_wrap.line .tab_list_sub .btn_tab + .btn_tab {margin-left:var(--tab-line-secondary-gap);}
.tab_wrap.line .tab_list_sub .btn_tab[aria-selected=true], 
.tab_wrap.line .tab_list_sub .btn_tab.active {font-weight:var(--typo-font-weight-semi-bold); color:var(--tab-line-selected-font-color);}

/* Box Tab */
.tab_wrap.box::after {display:none;}
.tab_wrap.box .btn_tab {width:100%; padding:0; font-size:var(--tab-box-font-size); color:var(--tab-box-default-font-color); line-height:calc(var(--tab-box-height) - var(--tab-box-selected-border-width) * 2); border:var(--tab-box-selected-border-width) solid transparent; border-radius:var(--tab-box-radius);}
.tab_wrap.box .btn_tab + .btn_tab {margin-left:var(--tab-box-gap);}
.tab_wrap.box .btn_tab[aria-selected='true'] {padding:0; font-weight:var(--typo-font-weight-semi-bold); font-size:var(--tab-box-font-size); color:var(--tab-box-selected-font-color); border:var(--tab-box-selected-border-width) solid var(--tab-box-selected-border-color); background-color:var(--tab-box-selected-bacground-color);}
.tab_wrap.box .btn_tab[aria-selected='true']::after {display:none;}
.tab_wrap.box .tab_list {display:inline-flex; width:100%; height:auto; margin:0; padding:var(--tab-box-padding-y) var(--tab-box-padding-x); border-radius:var(--tab-box-radius); border-bottom:0; background-color:var(--tab-box-background-color);}
.tab_wrap.box .tab_list:after {height:auto; border-bottom:0;}
.tab_wrap.box.is_motion .btn_tab {z-index:2;cursor:auto}
.tab_wrap.box.is_motion .btn_tab[aria-selected='true'] {background:none;box-shadow:none;border:none}
.tab_wrap.box.is_motion .tab_list,
.tab_wrap.box.is_motion .tab_list .btn_tab {background:none}
.tab_wrap.box.is_motion .tab_list::before {content:''; position:absolute; top:0; left:0; right:0; bottom:0; border-radius:var(--tab-box-radius); background-color:var(--tab-box-background-color);}
.tab_wrap.box.is_motion .tab_bar {position:absolute; left:0; top:var(--tab-box-padding-y); bottom:var(--tab-box-padding-y); width:0; border:var(--tab-box-selected-border-width) solid var(--tab-box-selected-border-color); border-radius:var(--tab-radius-box); background-color:var(--tab-box-selected-bacground-color); transition:left 0.4s cubic-bezier(.25, .75, .5, 1.25)}

/* Swipe */
.tab_swipe{overflow:hidden}
.tab_swipe .tab_panel{display:block}
