@charset "euc-kr"; 

/*** TextArea ***/
.form_group.textarea .form_label {margin-bottom: var(--textarea-label-gap-y); font-size: var(--textarea-label-font-size); color:var(--textarea-label-font-color); line-height: var(--textarea-label-line-height);}
.form_group.textarea .form_ele {position: relative;}
.form_group.textarea textarea {width:100%; height:var(--textarea-height); padding:var(--textarea-padding-x) var(--textarea-padding-y) calc(var(--textarea-padding-y) + var(--textarea-label-line-height) + var(--textarea-byte-gap-y)) var(--textarea-padding-x); border-color:var(--textarea-default-border-color); border-width: var(--textarea-border-width); border-style:solid; border-radius: var(--textarea-radius); font-size:var( --textarea-font-size); line-height:1.4; -webkit-appearance:none; resize:none; background-color:transparent}

.form_group textarea::-webkit-input-placeholder, 
.form_group textarea::placeholder{font-size:1.6rem;font-weight:400;font-family:'KBText','Roboto','NotoSans','Droid Sans','AppleGothicNeoSD','Apple SD 산돌고딕 Neo','Sans-serif','돋음','dotum'}
.form_group textarea[readonly]::-webkit-input-placeholder,
.form_group textarea[readonly]::placeholder {color:var(--fc_02);}

.form_group.textarea.default textarea {color:var(--textarea-default-font-color); border-color: var(--textarea-default-border-color); background-color: var(--textarea-default-background-color);}
.form_group textarea:focus textarea, 
.form_group.textarea.focused textarea {border-color:var(--textarea-focused-border-color); color:var(--textarea-focused-font-color)}
.form_group.textarea.filled textarea {color:var(--textarea-filled-font-color)}
.form_group.readonly textarea,
.form_group textarea[readonly] {color:var(--textarea-readonly-font-color); border-color: var(--textarea-readonly-border-color); background-color: var(--textarea-readonly-background-color);}
.form_group.disabled textarea,
.form_group textarea[disabled] {color:var(--textarea-disabled-font-color); border-color: var(--textarea-disabled-border-color); background-color: var(--textarea-disabled-background-color);}
.form_group.textarea.error textarea {color:var(--textarea-error-font-color); border-color:var(--textarea-error-border-color); background-color: #fff;}
.form_group.textarea .byte {position:absolute; bottom:var(--textarea-padding-y); right:var(--textarea-padding-x); font-size:var(--textarea-label-font-size); color: var(--textarea-default-font-color); line-height: var(--textarea-label-line-height); text-align:right;}
.form_group.textarea .byte .curr {color: var(--textarea-focused-font-color);}

