/*** common.css ***/

/*** Tooltip ***/
.tooltip_limited_wrap{text-align:right; color:var(--fc_05); font-size:1.4rem; margin:0.6rem 2.4rem 0 0}
.tooltip_limited_wrap .tooltip_limited{margin-left:.3rem}
.tooltip_limited_wrap .tooltip_limited .tooltip_wrap{top:15rem}
.tooltip_limited_wrap .tooltip_limited .tooltip_wrap.many_trans{top:18rem}
.tooltip_limited_wrap .btn_tooltip{margin-top:-.4rem}
.tooltip_limited {display:inline-block; position:relative; white-space:normal}
.tooltip {display:inline-block; font-size:1.4rem; color:var(--fc_05)}
.btn_tooltip {overflow:hidden; display:inline-block; width:2rem; height:2rem; margin-top:-.2rem; background:url(/pub/app/img/common/spr_ico_20x.png) no-repeat -14rem 0; background-size:25rem auto;  vertical-align:middle;}
.btn_tooltip span {line-height:2rem; vertical-align:bottom;}
.btn_tooltip_x {width:3.4rem; height:3.4rem; display:block; position:absolute; top:0.5rem; right:0.5rem; background: url(/pub/app/img/common/ico_btn_x.png) no-repeat center center; background-size:1.4rem;}
.h3 .btn_tooltip{margin-top:-.4rem}
.tooltip_wrap {display:none; position:absolute; left:0; right:0; margin-top:.8rem; padding:2rem; border-radius:0.2rem; background-color:var(--fc_02); color:var(--fc_08); text-align:left; z-index:100; opacity: 0; transform:scaleY(0.8) translateY(-1.0rem); transform-origin:top left; transition:opacity .3s cubic-bezier(.25, .75, .5, 1.25), transform .3s cubic-bezier(.25, .75, .5, 1.25);}
.tooltip_wrap.top{transform-origin:bottom left;transform:scaleY(0.8) translateY(1.0rem)}
.tooltip_wrap.show{opacity:1;transform:scaleY(1) translateY(0)}
.tooltip_wrap.active {display:block;}
.tooltip_wrap .tooltip_tit {display:block; padding-right:2rem; font-size:1.6rem; font-weight:700;}
.tooltip_wrap .tooltip_tit + .tooltip_cont{margin-top:.7rem}
.tooltip_wrap .tooltip_tit + .tooltip_cont .tooltip_cont{padding-right:0}
.tooltip_wrap .tooltip_cont {padding-right:1.6rem; font-size:1.4rem; font-weight:400; line-height:1.437; white-space:normal;}
.tooltip_wrap .tooltip_cont .depth {margin-top:.7rem;}
.tooltip_wrap .tooltip_cont .p {font-size:inherit;}
.tooltip_wrap .tooltip_cont ul.bul>li{position:relative;padding:0 0 0 .7rem}
.tooltip_wrap .tooltip_cont ul.bul>li+li{margin-top:7px}
.tooltip_wrap .tooltip_cont ul.bul>li::before{content:'';position:absolute;top:.9rem;left:0;width:.3rem;height:.3rem;background-color:#c6cbcf}
.tooltip_wrap .tooltip_tit.hidden + .tooltip_cont {padding-right:3.2rem;}
.tooltip_wrap .tooltip_tit + .tooltip_cont {padding-right:0;}
.tooltip_wrap .depth li,
.tooltip_wrap p.depth.info {color:var(--fc_08); line-height:1.4;}
.tooltip_wrap p.depth.info::before {background-position: -22rem -12rem;}
.tooltip_wrap .depth li + li {margin-top:1rem;}
.tooltip_wrap .depth.bul > li:before {background:var(--fc_08);}
.tooltip_wrap .btn_txt {color:var(--fc_08);}
.tooltip_wrap .btn_txt[class*="ico_arr"]:after {border-top-color:var(--fc_08); border-right-color:var(--fc_08);}
.tooltip_wrap.top {bottom:25px;}
.tooltip_wrap .bold {color:var(--fc_11);}