@charset "utf-8";

/* 지식UP 연구소 상세 스크롤형 : 공통스타일 */
.lab_card_news_scroll{word-break: keep-all;}
.lab_card_news_scroll img {width:100%;max-width:37.5rem;}
.lab_card_news_scroll .top_area {height:36.5rem;}
.lab_card_news_scroll .top_area .h_group {margin:0 auto;padding:24.5rem 2.6rem 0 2.6rem;}
.lab_card_news_scroll .top_area .h_group .txt {font-size:1.3rem;color:#fff;}
.lab_card_news_scroll .top_area .h_group .tit {margin-top:.2rem;font-size:2.8rem;color:#fff;}
.lab_card_news_scroll .cont_area {margin:0 auto;padding:0 2.6rem;}
.lab_card_news_scroll .cont_area .tit {position:relative;margin-top:4rem;font-size:2.2rem;line-height:3.2rem;}
.lab_card_news_scroll .cont_area .tit_s {margin-top:2.5rem;font-size:1.6rem;}
.lab_card_news_scroll .cont_area .txt {margin-top:1.5rem;font-size:1.6rem;line-height:2.7rem;color:var(--fc_04, #696e76);}
.lab_card_news_scroll .cont_area .txt .highlight_bg {background-color:rgba(255, 204, 0, .5);}
.lab_card_news_scroll .cont_area .txt_s {margin-top:2rem;font-size:1.2rem;text-align:center;color:var(--fc_06, #aab0b8);}
.lab_card_news_scroll .cont_area .img {margin-top:2.5rem;text-align:center;}
.lab_card_news_scroll .cont_area .img .desc {display:block;margin-top:.7rem;font-size:1.2rem;color:var(--fc_05, #8c949e);}
.lab_card_news_scroll .cont_area .btn_area {margin-top:2.5rem;}
/*.lab_card_news_scroll .cont_area .btn_area .btn {display:block;position:relative;width:100%;height:6.5rem;padding:0 3rem;border-radius:1rem;background-color:#ececec;font-size:1.3rem;text-align:left;color:#464646;}*/
.lab_card_news_scroll .cont_area .btn_area .btn {display:block;position:relative;width:100%;height:6.5rem;padding:0 3rem;border-radius:1rem;background-color:var(--fc_09, #ebeef0);font-size:1.3rem;text-align:left;color:var(--fc_03, #484b51);}
.lab_card_news_scroll .cont_area .btn_area .btn strong {display:block;font-size:2rem;}
.lab_card_news_scroll .cont_area .btn_area .btn:after {content:'';display:block;position:absolute;right:3rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:1.2rem;height:2.3rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_ico.png) no-repeat 0 -10rem /15rem 15rem;}
.lab_card_news_scroll .cont_area .list_group {margin:4.5rem -2.6rem 0 -2.6rem;padding:2rem 2.6rem;background-color:var(--bg_02, #f7f7f8);}
.lab_card_news_scroll .cont_area .list_group .tit {margin-top:0;}
.lab_card_news_scroll .cont_area .list_group .list_ico {margin-top:1.5rem;}
.lab_card_news_scroll .cont_area .list_group .list_ico li {position:relative;margin-top:1.2rem;padding-left:1.6rem;line-height:2.7rem;color:var(--fc_04, #696e76);}
.lab_card_news_scroll .cont_area .list_group .list_ico li:first-child {margin-top:0;}
.lab_card_news_scroll .cont_area .list_group + .txt {margin-top:2.5rem;}

/* 2022.5월 - 새 시대의 예술 NFT */
.date_2022_05_01 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_01.jpg) no-repeat;background-size:cover;}
.date_2022_05_01 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_ico.png) no-repeat 0 0 /15rem 15rem;}
.date_2022_05_01 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_05_01 .cont_area .tit.ico2:after {width:3.6rem;height:2.5rem;background-position:-2.5rem 0;}
.date_2022_05_01 .cont_area .tit.ico3:after {width:2.2rem;height:2.5rem;background-position:-6.1rem 0;}                                        
.date_2022_05_01 .cont_area .txt.bg {position:relative;margin-top:3.5rem;padding:2rem 0;border-radius:1.2rem;background-color:#f2f2f2;font-size:1.6rem;font-weight:bold;line-height:2.4rem;text-align:center;color:#000;}
.date_2022_05_01 .cont_area .txt.bg:after {content:'';display:block;position:absolute;left:50%;top:-1.7rem;-webkit-transform:translateX(-50%);transform:translateX(-50%);width:3.4rem;height:3.4rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_ico.png) no-repeat 0 -5rem /15rem 15rem;}

/* 2022.5월 - 고유가 시대 기름값 아끼는 꿀팁 */
.date_2022_05_02 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_02_1.jpg) no-repeat;background-size:cover;}
.date_2022_05_02 .cont_area > .txt:first-child {margin-top:5rem;}
.date_2022_05_02 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_02_ico.png) no-repeat 0 0 /15rem 15rem;}
.date_2022_05_02 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_05_02 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-2.5rem 0;}
.date_2022_05_02 .cont_area .tit.ico3:after {width:3.6rem;height:2.5rem;background-position:-5rem 0;}
.date_2022_05_02 .cont_area .tit.ico6:after {width:2.5rem;height:2.5rem;background-position:-5rem -2.5rem;}
.date_2022_05_02 .cont_area span[class*=ico] {display:inline-block;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_02_ico.png) no-repeat 0 0 /15rem 15rem;font-size:0;text-indent:-1rem;vertical-align:middle;}
.date_2022_05_02 .cont_area span.ico4 {width:2.5rem;height:2.5rem;background-position:0 -2.5rem;}
.date_2022_05_02 .cont_area span.ico5 {width:2.5rem;height:2.5rem;background-position:-2.5rem -2.5rem;}
.date_2022_05_02 .cont_area span.ico7 {width:.8rem;height:1.6rem;background-position:-5rem -5rem;}
.date_2022_05_02 .cont_area span.ico8 {width:.8rem;height:1.6rem;background-position:-5.8rem -5rem;}
/*
.date_2022_05_02 .cont_area .txt.bg {position:relative;margin-top:2rem;padding-left:2.6rem;background-color:#fff7d1;line-height:2.7rem;font-weight:700;color:#000;}
.date_2022_05_02 .cont_area .txt.bg:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:1.6rem;height:1.6rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_02_ico.png) no-repeat 0 -5rem /15rem 15rem;}
*/
.date_2022_05_02 .cont_area .txt.bg {position:relative;margin-top:2rem;padding-left:3rem;color: var(--fc_02, #26282c);background-color:rgba(255, 204, 0, .5);line-height:2.7rem;font-weight:700;}
.date_2022_05_02 .cont_area .txt.bg:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2rem;height:2rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_ico.png) no-repeat 0 -5rem /15rem 15rem;}
/*.date_2022_05_02 .cont_area .txt_s.left {color:#a3a3a3;}*/
.date_2022_05_02 .cont_area .txt_box {margin-top:3rem;}
.date_2022_05_02 .cont_area .txt_box dl {font-size:1.2rem;text-align:center;}
.date_2022_05_02 .cont_area .txt_box dt {height:2.6rem;border-top-left-radius:1.2rem;border-top-right-radius:1.2rem;background-color:#4d5357;line-height:2.6rem;color:#fff;}
.date_2022_05_02 .cont_area .txt_box dd {height:3.8rem;border-bottom-left-radius:1.2rem;border-bottom-right-radius:1.2rem;background-color:#f5f5f5;line-height:3.8rem;color:#545454;}
/*.date_2022_05_02 .cont_area .txt_box .desc {margin-top:.5rem;font-size:1.2rem;text-align:center;color:#a3a3a3;}*/
.date_2022_05_02 .cont_area .txt_box .desc {margin-top:.5rem;font-size:1.2rem;text-align:center;color:var(--fc_05, #8c949e);}

/* 2022.5월 - 뉴스만 봐도 환전 타이밍이 보여요 */
.date_2022_05_03 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_03_1.jpg) no-repeat;background-size:cover;}
.date_2022_05_03 .cont_area > .txt:first-child {margin-top:5rem;}
.date_2022_05_03 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;width:2.5rem;height:2.5rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_03_ico.png) no-repeat 0 0 /15rem 15rem;}
.date_2022_05_03 .cont_area .tit.ico1:after {background-position:0 0;}
.date_2022_05_03 .cont_area .tit.ico2:after {background-position:-2.5rem 0;}
.date_2022_05_03 .cont_area .tit.ico3:after {background-position:-5rem 0;}
.date_2022_05_03 .cont_area .tit.ico4:after {background-position:-7.5rem 0;}
.date_2022_05_03 .cont_area .tit.ico5:after {background-position:-10rem 0;}
.date_2022_05_03 .cont_area .txt_group {margin-top:2.5rem;}
.date_2022_05_03 .cont_area .txt_group .txt {position:relative;height:6.5rem;padding:1.2rem 9rem 0 2.5rem;border-radius:1.2rem;color:#696e76;background-color:#f5f5f5;font-size:1.2rem;line-height:2rem;}
.date_2022_05_03 .cont_area .txt_group .txt:first-child {margin-top:0;}
.date_2022_05_03 .cont_area .txt_group .txt:after {content:'';display:block;width:8.7rem;height:6.5rem;position:absolute;right:1rem;top:0;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_03_bg.jpg) no-repeat;background-size:26.1rem 13rem;}
.date_2022_05_03 .cont_area .txt_group .txt.bg1:after {background-position:0 0;}
.date_2022_05_03 .cont_area .txt_group .txt.bg2:after {background-position:-8.7rem 0;}
.date_2022_05_03 .cont_area .txt_group .txt.bg3:after {background-position:-17.4rem 0;}
.date_2022_05_03 .cont_area .txt_group .txt.bg4:after {background-position:0 -6.5rem;}
.date_2022_05_03 .cont_area .txt_group .txt.bg5:after {background-position:-8.7rem -6.5rem;}
.date_2022_05_03 .cont_area .txt_group .txt.bg6:after {background-position:-17.4rem -6.5rem;}
.date_2022_05_03 .cont_area .txt_group + .txt {margin-top:2.5rem;}
/*.date_2022_05_03 .cont_area .txt_s.left {color:#a3a3a3;}*/
.date_2022_05_03 .cont_area .img + .txt {margin-top:2.5rem;}
/*
.date_2022_05_03 .cont_area .list_group {margin:4.5rem -2.6rem 0 -2.6rem;padding:2rem 2.6rem;background-color:#fff7d1;}
.date_2022_05_03 .cont_area .list_group .tit {margin-top:0;}
.date_2022_05_03 .cont_area .list_group .list_ico {margin-top:1.5rem;}
.date_2022_05_03 .cont_area .list_group .list_ico li {position:relative;margin-top:1.2rem;padding-left:1.6rem;line-height:2.7rem;color:var(--fc_04, #696e76);}
.date_2022_05_03 .cont_area .list_group .list_ico li:first-child {margin-top:0;}
.date_2022_05_03 .cont_area .list_group + .txt {margin-top:2.5rem;}
*/
.date_2022_05_03 .cont_area .list_group .list_ico li:before{content:'';display:block;position:absolute;left:0;top:.7rem;width:1.3rem;height:1.3rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_03_ico.png) no-repeat 0 -2.5rem /15rem 15rem;}

/* 2022.6월 - 취미와 재테크 사이, 아트테크 */
.date_2022_06_17 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/art_tech_tumb.png) no-repeat;background-size:cover;}
.date_2022_06_17 .top_area .h_group {margin:0 auto;padding:27.5rem 2.6rem 0 2.6rem;}
.date_2022_06_17 .cont_area > .txt:first-child {margin-top:5rem;}
.date_2022_06_17 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_6_01_ico.png) no-repeat 0 0 /15rem 2.5rem;}
.date_2022_06_17 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_06_17 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-2.5rem 0;}
.date_2022_06_17 .cont_area .tit.ico3:after {width:2.5rem;height:2.5rem;background-position:-5rem 0;}
.date_2022_06_17 .cont_area .tit.ico4:after {width:2.5rem;height:2.5rem;background-position:-7.5rem 0;}
.date_2022_06_17 .cont_area .tit.ico5:after {width:2.5rem;height:2.5rem;background-position:-10rem 0;}
.date_2022_06_17 .cont_area .tit.ico6:after {width:2.5rem;height:2.5rem;background-position:-12.5rem 0;}
/*
.date_2022_06_17 .cont_area .txt > em.bg {position:relative;margin-top:2rem;background-color:#ffe4a2;line-height:2.7rem;color:#545454;}
.date_2022_06_17 .cont_area .txt_s.left {color:#a3a3a3;}
.date_2022_06_17 .cont_area .txt.caution {position:relative;margin-top:2rem;padding-left:2.6rem;background-color:#fff7d1;line-height:2.7rem;font-weight:700;color:#000;}
.date_2022_06_17 .cont_area .txt.caution:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:1.6rem;height:1.6rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_02_ico.png) no-repeat 0 -5rem /15rem 15rem;}
*/
.date_2022_06_17 .cont_area .txt > em.bg {position:relative;margin-top:2rem;background-color:rgba(255, 204, 0, .5);line-height:2.7rem;}
.date_2022_06_17 .cont_area .txt.caution {position:relative;margin-top:2rem;padding-left:3rem;color: var(--fc_02, #26282c);background-color:rgba(255, 204, 0, .5);line-height:2.7rem;font-weight:700;}
.date_2022_06_17 .cont_area .txt.caution:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2rem;height:2rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_ico.png) no-repeat 0 -5rem /15rem 15rem;}
/*
.date_2022_06_17 .cont_area .list_group {margin:4.5rem -2.6rem 0 -2.6rem;padding:2rem 2.6rem;background-color:#fff7d1;}
.date_2022_06_17 .cont_area .list_group .tit {margin-top:0;}
.date_2022_06_17 .cont_area .list_group .list_ico {margin-top:1.5rem;}
.date_2022_06_17 .cont_area .list_group .list_ico li {position:relative;margin-top:1.2rem;padding-left:1.6rem;line-height:2.7rem;color:#545454;}
.date_2022_06_17 .cont_area .list_group .list_ico li:first-child {margin-top:0;}
.date_2022_06_17.cont_area .list_group + .txt {margin-top:2.5rem;}
*/
.date_2022_06_17 .cont_area .list_group .list_ico li:before{content:'';display:block;position:absolute;left:0;top:.7rem;width:1.3rem;height:1.3rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_03_ico.png) no-repeat 0 -2.5rem /15rem 15rem;}

/* 벌집군집붕괴현상 (220701)*/
.date_2022_07_01 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/card_bee_01.png) no-repeat;background-size:cover;}
.date_2022_07_01 .cont_area .tit[class*=ico]:after {content:''; display:inline-block; position:relative; top:.4rem; width:2.5rem; height:2.5rem; margin-left:.7rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/cardnews_bee_icon.png) no-repeat 0 0 /12.1rem 2.5rem;}
.date_2022_07_01 .cont_area .tit.ico2:after {background-position: -2.5rem 0;}
.date_2022_07_01 .cont_area .tit.ico3:after {width:3.1rem; background-position: -5rem 0;}
.date_2022_07_01 .cont_area .tit.ico4:after {background-position: -8.2rem 0;}
.date_2022_07_01 .cont_area .grey_box {position:relative; padding:2rem 2.6rem 2.2rem; margin:5rem -2.6rem 0; background-color: var(--bg_02, #f7f7f8);}
.date_2022_07_01 .cont_area .grey_box:before {position:absolute; display:block; top:-0.7rem; left:50%; content:''; width:27.8rem; height:2.1rem; background:url(https://oimg1.kbstar.com/img/mnbank/card_news/card_bee_07.png) no-repeat 50% 0; background-size:100% 100%; transform:translateX(-50%);}
.date_2022_07_01 .cont_area .grey_box li {position:relative; padding-left:2rem; margin-top:1.5rem}
.date_2022_07_01 .cont_area .grey_box li:before {position:absolute; top:.4rem; left:0; content:''; display:block; width:1.2rem; height:1.2rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/cardnews_bee_icon.png) no-repeat -10.9rem 0 /12.1rem 2.5rem;}
.date_2022_07_01 .cont_area .exp {color:var(--fc_05, #8c949e);}

/* 저무는 초저금리시대(220722) */
.date_2022_07_02 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_2022_cardnews_7_02.png) no-repeat;background-size:cover;}
.date_2022_07_02 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_02.png) no-repeat 0 0 /15rem 6.75rem;}
.date_2022_07_02 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_07_02 .cont_area .tit.ico2:after {width:3.6rem;height:2.5rem;background-position:0 -2.5rem;}
.date_2022_07_02 .cont_area .tit.ico3:after {width:2.5rem;height:2.5rem;background-position:-2.5rem 0;}
.date_2022_07_02 .cont_area .tit.ico4:after {width:2.5rem;height:2.5rem;background-position:-5rem 0;}
.date_2022_07_02 .cont_area .tit.ico5:after {width:2.5rem;height:2.5rem;background-position:-7.5rem 0;}
.date_2022_07_02 .cont_area .tit.ico6:after {width:2.5rem;height:2.5rem;background-position:-10rem 0;}
.date_2022_07_02 .cont_area span[class*=ico] {display:inline-block;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_02.png) no-repeat 0 0 /15rem 6.75rem;font-size:0;text-indent:-1rem;vertical-align:middle;}
.date_2022_07_02 .cont_area span.ico7 {width:1.55rem;height:1.55rem;background-position:0 -5.2rem;}
.date_2022_07_02 .cont_area span.ico8 {width:1.55rem;height:1.55rem;background-position:-1.55rem -5.2rem;}
.date_2022_07_02 .cont_area span.ico9 {width:1.6rem;height:1.6rem;background-position:-3.1rem -5.15rem;}
.date_2022_07_02 .cont_area .txt_box {margin-top:3rem;}
.date_2022_07_02 .cont_area .txt_box dl {font-size:1.2rem;text-align:center;}
.date_2022_07_02 .cont_area .txt_box dt {height:3.25rem;border-top-left-radius:2rem;border-top-right-radius:2rem;background-color:#5bb0ff;line-height:3.25rem;color:#fff;}
.date_2022_07_02 .cont_area .txt_box dd {height:5.25rem;border-bottom-left-radius:2rem;border-bottom-right-radius:2rem;background-color:#f5f5f5;line-height:5.25rem;color:#545454;}
.date_2022_07_02 .cont_area .txt_box.type2 dt {background-color:#ef3443;}
.date_2022_07_02 .cont_area .txt_box dd span:first-child {margin-right:2rem;}

/* KB증권 공중택시(220725) */
.date_2022_07_03 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_2022_cardnews_7_03.png) no-repeat;background-size:cover;}
.date_2022_07_03 .top_area .h_group {padding:27.9rem 2.6rem 0 2.6rem;}
.date_2022_07_03 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_03.png) no-repeat 0 0 /15rem 9.9rem;}
.date_2022_07_03 .cont_area .tit.ico1:after {width:2.15rem;height:2.5rem;background-position:0 0;}
.date_2022_07_03 .cont_area .tit.ico2:after {width:2.55rem;height:2.5rem;background-position:-2.15rem 0;}
.date_2022_07_03 .cont_area .tit.ico3:after {width:3.6rem;height:2.55rem;background-position:-4.7rem 0;}
.date_2022_07_03 .cont_area .tit.ico4:after {width:2.55rem;height:2.55rem;background-position:-8.3rem 0;}
.date_2022_07_03 .cont_area .tit.ico5:after {width:2.5rem;height:2.5rem;background-position:-10.85rem 0;}
.date_2022_07_03 .cont_area .uam_ex {position:relative;border:0.5rem solid #484b51;border-radius:2rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_2022_cardnews_7_03_1.png)  no-repeat;background-size:cover;padding:2rem 2rem 2.5rem;margin:4.4rem .5rem 0 .55rem;}
.date_2022_07_03 .cont_area .uam_ex .tit_s {margin-top:0;line-height:1.4rem;}
.date_2022_07_03 .cont_area .uam_ex .tit_s:after {content:'';display:inline-block;position:relative;top:.6rem;margin-left:.7rem;margin-top:0;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_03.png) no-repeat 0 0 /15rem 9.9rem;width:2.55rem;height:2.55rem;background-position:-8.3rem 0;}
.date_2022_07_03 .cont_area .uam_ex .txt {color:#696e76;}
.date_2022_07_03 .cont_area .uam_ex:before {content:'';position:absolute;top:10.2rem;left:-.65rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_03.png) no-repeat 0 -2.6rem /auto 9.9rem;width:.15rem;height:7.3rem;}
.date_2022_07_03 .cont_area .uam_ex:after {content:'';position:absolute;top:12.2rem;right:-.65rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_03.png) no-repeat -14.85rem -2.6rem /auto 9.9rem;width:.15rem;height:3.3rem;}
.date_2022_07_03 .cont_area .uam_ex .txt_area:after {content:'';position:absolute;bottom:.4rem;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%);background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_2022_cardnews_7_03.png) no-repeat -2.15rem -3rem;background-size:15rem auto;width:7.5rem;height:.31rem;}

/* 투자 MBTI (220809) */
.date_2022_08_01 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_220801_visual.png) no-repeat;background-size:cover;}
.date_2022_08_01 .cont_area .tit[class*=ico]:after,
.date_2022_08_01 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.4rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_220801.png) no-repeat 0 0 /12rem 11rem;}
.date_2022_08_01 .cont_area h4.tit {margin-top:2.5rem;}
.date_2022_08_01 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_08_01 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-3rem 0;}
.date_2022_08_01 .cont_area .tit.ico3:after {width:2.5rem;height:2.5rem;background-position:-6rem 0;}
.date_2022_08_01 .cont_area .txt.ico4:after {top:.6rem;margin-left:.3rem;width:2.5rem;height:2.5rem;background-position:-9rem 0;}
.date_2022_08_01 .cont_area .txt_group {margin-top:2.5rem;}
.date_2022_08_01 .cont_area .txt_group .txt {position:relative;margin-top:2.5rem;padding:1.5rem 7.2rem 1.3rem 4rem;border-radius:1.2rem;color:#696e76;background-color:#f7f7f8;font-size:1.6rem;line-height:2.29rem;}
.date_2022_08_01 .cont_area .txt_group .txt > span {position:absolute;left:2.3rem;}
.date_2022_08_01 .cont_area .txt_group .txt:first-child {margin-top:0;}
.date_2022_08_01 .cont_area .txt_group .txt:after {content:'';display:block;width:5.85rem;height:8.1rem;position:absolute;right:1.2rem;bottom:0;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_220801.png) no-repeat 0 0 /12rem 11rem;}
.date_2022_08_01 .cont_area .txt_group .txt.bg1:after {background-position:0 -2.9rem;}
.date_2022_08_01 .cont_area .txt_group .txt.bg2:after {height:7.5rem;background-position:-6rem -3.5rem;}

/* 여름 세차팁 (220809) */
.date_2022_08_02 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_220802_visual.png) no-repeat;background-size:cover;}
.date_2022_08_02 .cont_area .tit[class*=ico]:after,
.date_2022_08_02 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_220802.png) no-repeat 0 0 /12.8rem 2.5rem;}
.date_2022_08_02 .cont_area h4.tit {margin-top:2.5rem;}
.date_2022_08_02 .cont_area .tit.ico1:after {width:3.6rem;height:2.5rem;background-position:0 0;}
.date_2022_08_02 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-4.1rem 0;}
.date_2022_08_02 .cont_area .tit.ico3:after {width:2.9rem;height:2.5rem;background-position:-7.1rem 0;}
.date_2022_08_02 .cont_area .tit.ico4:after {margin-left:0;width:1.8rem;height:2.5rem;background-position:-10.5rem 0;}
.date_2022_08_02 .cont_area .list_group.yellow {background-color:#fff7d1;}
.date_2022_08_02 .cont_area .list_group.yellow .txt {color:#696e76 !important;}
.date_2022_08_02 .cont_area .list_group.yellow .tit {color:#26282c;}

/* 우주여행 (220809) */
.date_2022_08_03 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_220803_visual.png) no-repeat;background-size:cover;}
.date_2022_08_03 .cont_area .tit[class*=ico]:after,
.date_2022_08_03 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_220803.png) no-repeat 0 0 /17.5rem 5rem;}
.date_2022_08_03 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_08_03 .cont_area .tit.ico2:after {width:2.15rem;height:2.5rem;background-position:-9rem 0;}
.date_2022_08_03 .cont_area .tit.ico3:after {width:2.5rem;height:2.5rem;background-position:-11.65rem 0;}
.date_2022_08_03 .cont_area .tit.ico4:after {width:2.55rem;height:2.5rem;background-position:-14.65rem 0;}
.date_2022_08_03 .cont_area .emoji {display:inline-block;width:2.5rem;height:2.5rem;}
.date_2022_08_03 .cont_area .emoji:before {content:'';display:inline-block;position:relative;top:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_220803.png) no-repeat 0 0 /17.5rem 5rem;}
.date_2022_08_03 .cont_area .emoji.girl:before {width:2.5rem;height:2.5rem;background-position:-3rem 0;}
.date_2022_08_03 .cont_area .emoji.boy:before {width:2.5rem;height:2.5rem;background-position:-6rem 0;}
.date_2022_08_03 .cont_area .chat_box {margin-top:2.5rem;padding:1.5rem 1.7rem 1rem;border-radius:1.8rem;background-color:#333;}
.date_2022_08_03 .cont_area .chat_box .txt {color:var(--fc_11, #fff);text-align:center;}
.date_2022_08_03 .cont_area .chat_box .list_chat {margin-top:2.4rem;}
.date_2022_08_03 .cont_area .chat_box .list_chat:after {content:'';display:block;clear:both;}
.date_2022_08_03 .cont_area .chat_box .list_chat li {margin-bottom:3rem;}
.date_2022_08_03 .cont_area .chat_box .list_chat li > div {position:relative;display:inline-block;padding:1.5rem 2rem;border-radius:1.2rem;background-color:#fff597;font-size:1.2rem;line-height:2rem;text-align:center;}
.date_2022_08_03 .cont_area .chat_box .list_chat li > div:after {content:'';position:absolute;left:2rem;bottom:-1.1rem;width:1.5rem;height:1.15rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_220803.png) no-repeat 0 -3rem /17.5rem 5rem;}
.date_2022_08_03 .cont_area .chat_box .list_chat li > div > .emoji {position:absolute;left:0;bottom:-3.7rem;}
.date_2022_08_03 .cont_area .chat_box .list_chat li.right > div {background-color:var(--fc_11, #fff);}
.date_2022_08_03 .cont_area .chat_box .list_chat li.right > div:after {left:inherit;right:2rem;background-position:-1.5rem -3rem;}
.dark_mode .date_2022_08_03 .cont_area .chat_box {background-color:#f6f7f8;}
.dark_mode .date_2022_08_03 .cont_area .chat_box .list_chat li > div {background-color:#696e79;}
.dark_mode .date_2022_08_03 .cont_area .chat_box .list_chat li > div:after {background-position:-3rem -3rem;}
.dark_mode .date_2022_08_03 .cont_area .chat_box .list_chat li.right > div {background-color:#212224;}
.dark_mode .date_2022_08_03 .cont_area .chat_box .list_chat li.right > div:after {background-position:-4.5rem -3rem;}

/* 흔들리는 엔화의 위상 (220819) */
.date_2022_08_04 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_220804.png) no-repeat;background-size:cover;}
.date_2022_08_04 .cont_area .tit[class*=ico]:after,
.date_2022_08_04 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.4rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_cardnews_220804.png) no-repeat 0 0 /9rem 2.5rem;}
.date_2022_08_04 .cont_area .tit.ico1:after {width:2.9rem;height:2.5rem;background-position:0 0;}
.date_2022_08_04 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-3rem 0;}
.date_2022_08_04 .cont_area .tit.ico3:after {width:1.9rem;height:2.5rem;background-position:-6rem 0;}
.date_2022_08_04 .cont_area .chat_box {margin-top:2.5rem;padding:1.5rem 1.5rem 1.25rem;border-radius:1.8rem;background-color:#f7f7f8;}
.date_2022_08_04 .cont_area .chat_box .list_chat:after {content:'';display:block;clear:both;}
.date_2022_08_04 .cont_area .chat_box .list_chat li {margin-bottom:1.25rem;}
.date_2022_08_04 .cont_area .chat_box .list_chat li > div {position:relative;display:inline-block;padding:1.3rem 1.5rem;font-size:1.2rem;color:#f7f7f8;border-radius:1.2rem;background-color:#333;text-align:center;}
.date_2022_08_04 .cont_area .chat_box .list_chat li > div:before {content:'';position:absolute;left:2rem;bottom:-1.1rem;display:inline-block;border-style:solid;border-width:1.5rem;border-color:transparent transparent transparent #333;} 
.date_2022_08_04 .cont_area .chat_box .list_chat li.right > div {color:#545454;background-color:#fff597;}
.date_2022_08_04 .cont_area .chat_box .list_chat li.right > div:before {left:inherit;right:2rem;border-color:transparent #fff597 transparent transparent;}

/* 공유오피스 (220905) */
.date_2022_09_01 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_220901.png) no-repeat;background-size:cover;}
.date_2022_09_01 .cont_area .tit[class*=ico]:after,
.date_2022_09_01 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.4rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_cardnews_220901.png) no-repeat 0 0 /15rem 10rem;}
.date_2022_09_01 .cont_area h4.tit {margin-top:2.5rem;}
.date_2022_09_01 .cont_area .tit.ico1:after {width:2.55rem;height:2.55rem;background-position:0 0;}
.date_2022_09_01 .cont_area .tit.ico2:after {width:2.55rem;height:2.55rem;background-position:-3rem 0;}
.date_2022_09_01 .cont_area .tit.ico3:after {width:3.55rem;height:2.5rem;background-position:-6.1rem 0;}
.date_2022_09_01 .cont_area .tit.ico4:after {width:2.5rem;height:2.5rem;background-position:-10.15rem 0;}
.date_2022_09_01 .cont_area .txt.ico1:after {width:1.55rem;height:1.55rem;background-position:0 -3.2rem;}
.date_2022_09_01 .cont_area .chat_box {margin-top:2.5rem;padding:1.5rem 1.5rem 1.25rem;border-radius:1.8rem;background-color:#f7f7f8;}
.date_2022_09_01 .cont_area .chat_box .list_chat:after {content:'';display:block;clear:both;}
.date_2022_09_01 .cont_area .chat_box .list_chat li {margin-bottom:1.25rem;}
.date_2022_09_01 .cont_area .chat_box .list_chat li > div {position:relative;display:inline-block;padding:1.3rem 1.5rem;font-size:1.2rem;color:#f7f7f8;border-radius:1.2rem;background-color:#333;text-align:center;}
.date_2022_09_01 .cont_area .chat_box .list_chat li > div:before {content:'';position:absolute;left:2rem;bottom:-1.1rem;display:inline-block;border-style:solid;border-width:1.5rem;border-color:transparent transparent transparent #333;} 
.date_2022_09_01 .cont_area .chat_box .list_chat li.right > div {background-color:#707070;}
.date_2022_09_01 .cont_area .chat_box .list_chat li.right > div:before {left:inherit;right:2rem;border-color:transparent #707070 transparent transparent;}
.date_2022_09_01 .cont_area .txt_group {margin-top:2.5rem;}
.date_2022_09_01 .cont_area .txt_group .txt {position:relative;margin-top:1rem;padding:1.5rem 6rem 1.3rem 3rem;border-radius:1.2rem;color:#696e76;background-color:#f7f7f8;font-size:1.6rem;line-height:2.29rem;}
.date_2022_09_01 .cont_area .txt_group .txt > span {position:absolute;left:1.3rem;}
.date_2022_09_01 .cont_area .txt_group .txt:first-child {margin-top:0;}
.date_2022_09_01 .cont_area .txt_group .txt:after {content:'';display:block;width:2.9rem;height:3.25rem;position:absolute;top:50%;right:1.8rem;transform:translateY(-50%);background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_cardnews_220901.png) no-repeat 0 0 /15rem 10rem;}
.date_2022_09_01 .cont_area .txt_group .txt.bg1:after {background-position:-3rem -3.2rem;}
.date_2022_09_01 .cont_area .txt_group .txt.bg2:after {width:4.05rem;height:2.35rem;right:1.3rem;background-position:-6.1rem -3.2rem;}
.date_2022_09_01 .cont_area .txt_group .txt.bg3:after {width:2.2rem;height:3.15rem;right:2rem;background-position:-10.65rem -3.2rem;}

/* 1970, 스태그플레이션 (220922) */
.date_2022_09_22 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/1970_thumb.png) no-repeat;background-size:cover;}
.date_2022_09_22 .top_area .h_group {margin:0 auto;padding:24.5rem 2.6rem 0 2.6rem;}
.date_2022_09_22 .cont_area > .txt:first-child {margin-top:5rem;}
.date_2022_09_22 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_1970_01_ico.png) no-repeat 0 0 /10rem 2.5rem;}
.date_2022_09_22 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_09_22 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-2.5rem 0;}
.date_2022_09_22 .cont_area .tit.ico3:after {width:2.5rem;height:2.5rem;background-position:-5rem 0;}
.date_2022_09_22 .cont_area .tit.ico4:after {width:2.5rem;height:2.5rem;background-position:-7.5rem 0;}
.date_2022_09_22 .cont_area .tit.ico5:after {width:2.5rem;height:2.5rem;background-position:-10rem 0;}
.date_2022_09_22 .cont_area .tit.ico6:after {width:2.5rem;height:2.5rem;background-position:-12.5rem 0;}
.date_2022_09_22 .cont_area .txt > em.bg {position:relative;margin-top:2rem;background-color:rgba(255, 204, 0, .5);line-height:2.7rem;}
.date_2022_09_22 .cont_area .txt.caution {position:relative;margin-top:2rem;padding-left:3rem;color: var(--fc_02, #26282c);background-color:rgba(255, 204, 0, .5);line-height:2.7rem;font-weight:700;}
.date_2022_09_22 .cont_area .txt.caution:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2rem;height:2rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_ico.png) no-repeat 0 -5rem /15rem 15rem;}
.date_2022_09_22 .cont_area .list_group .list_ico li:before{content:'';display:block;position:absolute;left:0;top:.7rem;width:1.3rem;height:1.3rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_03_ico.png) no-repeat 0 -2.5rem /15rem 15rem;}

/* 아파트평형 (221001) */
.date_2022_10_01 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_221001.png) no-repeat;background-size:cover;}
.date_2022_10_01 .cont_area .tit[class*=ico]:after,
.date_2022_10_01 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;width:2.55rem;height:2.55rem;position:relative;top:.4rem;margin-left:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_221001.png) no-repeat 0 0 /12.5rem 6.5rem;}
.date_2022_10_01 .cont_area .tit.ico1:after {background-position:0 0;}
.date_2022_10_01 .cont_area .tit.ico2:after {background-position:-3.05rem 0;}
.date_2022_10_01 .cont_area .tit.ico3:after {background-position:-6.1rem 0;}
.date_2022_10_01 .cont_area .tit.ico4:after {background-position:-9.15rem 0;}
.date_2022_10_01 .cont_area .emoji {display:inline-block;width:2.5rem;height:2.5rem;}
.date_2022_10_01 .cont_area .emoji:before {content:'';display:inline-block;width:2.55rem;height:2.55rem;position:relative;top:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_221001.png) no-repeat 0 0 /12.5rem 6.5rem;}
.date_2022_10_01 .cont_area .emoji.woman:before {background-position:0 -3.05rem;}
.date_2022_10_01 .cont_area .emoji.man:before {background-position:-3.05rem -3.05rem;}
.date_2022_10_01 .cont_area .chat_box {margin-top:2.5rem;padding:1.8rem 1.7rem 1.6rem;border-radius:1.8rem;background-color:#f7f7f8;}
.date_2022_10_01 .cont_area .chat_box .txt {margin-top:0;font-weight:bold;text-align:center;}
.date_2022_10_01 .cont_area .chat_box .list_chat {margin-top:1.8rem;}
.date_2022_10_01 .cont_area .chat_box .list_chat:after {content:'';display:block;clear:both;}
.date_2022_10_01 .cont_area .chat_box .list_chat li {margin-bottom:1.5rem;}
.date_2022_10_01 .cont_area .chat_box .list_chat li > div {position:relative;display:inline-block;padding:0.8rem 2.2rem;border-radius:1.2rem;background-color:#707070;color:#f7f7f8;font-size:1.2rem;line-height:2rem;text-align:center;}
.date_2022_10_01 .cont_area .chat_box .list_chat li > div:before {content:'';position:absolute;left:2rem;bottom:-1rem;display:block;border-style:solid;border-width:1rem;border-color:#707070 transparent transparent transparent;transform:rotate(-90deg);z-index:1;}
.date_2022_10_01 .cont_area .chat_box .list_chat li.right > div:before {left:inherit;right:2rem;border-color:#333 transparent transparent transparent;transform:rotate(90deg);}
.date_2022_10_01 .cont_area .chat_box .list_chat li.right > div {background-color:#333;}
.date_2022_10_01 .cont_area .chat_box .list_chat li.bg_nega > div {background-color:#f23f3f;}
.date_2022_10_01 .cont_area .chat_box .list_chat li.bg_nega > div:before {border-color:#f23f3f transparent transparent transparent;}
.date_2022_10_01 .cont_area .chat_box .list_chat li.bg_posi > div {background-color:#287eff;}
.date_2022_10_01 .cont_area .chat_box .list_chat li.bg_posi > div:before {border-color:#287eff transparent transparent transparent;}
.date_2022_10_01 .cont_area .box_qna {margin-top:2.5rem;border-radius:1.8rem;overflow:hidden;color:#696e79;text-align:center;}
.date_2022_10_01 .cont_area .box_qna .question {background:#ffcc00;font-size:1.6rem;font-weight:bold;line-height:4.1rem;}
.date_2022_10_01 .cont_area .box_qna .answer {padding:1.3rem 1rem;background:#f7f7f8;}
.date_2022_10_01 .cont_area .box_qna .answer span {display:block;border-radius:1.8rem;background:#fff;font-size:1.2rem;line-height:4.1rem;}
.date_2022_10_01 .cont_area .box_qna .answer span + span {margin-top:1.4rem;}

/* 우주여행 (220809) */
.date_2022_10_02 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_cardnews_221002.png) no-repeat;background-size:cover;}
.date_2022_10_02 .cont_area .tit[class*=ico]:after,
.date_2022_10_02 .cont_area .txt[class*=ico]:after {content:'';display:inline-block;width:2.5rem;height:2.5rem;position:relative;top:.4rem;margin-left:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_221002.png) no-repeat 0 0 /15rem 6rem;}
.date_2022_10_02 .cont_area .tit.ico1:after {background-position:0 0;}
.date_2022_10_02 .cont_area .tit.ico2:after {background-position:-3rem 0;}
.date_2022_10_02 .cont_area .tit.ico3:after {background-position:-6rem 0;}
.date_2022_10_02 .cont_area .tit.ico4:after {background-position:-9rem 0;}
.date_2022_10_02 .cont_area .tit.ico5:after {background-position:-12rem 0;}
.date_2022_10_02 .cont_area .emoji {display:inline-block;width:2.5rem;height:2.5rem;}
.date_2022_10_02 .cont_area .emoji:before {content:'';display:inline-block;width:2.5rem;height:2.5rem;position:relative;top:.5rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_spr_cardnews_221002.png) no-repeat 0 0 /15rem 6rem;}
.date_2022_10_02 .cont_area .emoji.person:before {background-position:0 -3rem;}
.date_2022_10_02 .cont_area .emoji.car:before {background-position:-3rem -3rem;}


/****************************************************************************************************************
                                                          부자되는 e야기                                                          
****************************************************************************************************************/
[class*=story_] .cont_area .txt .highlight_bg {background-color:rgba(255, 229, 127, .5);}
[class*=story_] .cont_area .list_group .list_ico li:before {content:'';display:block;position:absolute;left:0;top:.7rem;width:1.3rem;height:1.3rem;}
[class*=story_] .cont_area .tit_s {font-size:1.8rem;}
[class*=story_] .cont_area .mydeal_list .deal {display:inline-block;min-height:4rem;height:auto;margin-right:.45rem;margin-bottom:1rem;padding:.9rem 2rem 0;border-radius:2rem;background:#f3eefe;color:#322a4f;font-size:1.5rem;}
[class*=story_] .cont_area .depth > li{color:var(--fc_04, #696e76);font-size:1.4rem;}
[class*=story_] .cont_area .depth.bul > li:before {background:var(--fc_04, #696e76);}

/* 돈되는 e야기 - 내펀드 성적표(220810) */
.story_220801 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_story_220801.png) no-repeat;background-size:cover;}
.story_220801 .cont_area .txt.stress {background-color:rgba(255, 229, 127, .5);padding:.2rem 1.5rem;font-weight:700;color:var(--fc_02, #26282c);}
.story_220801 .cont_area .txt span[class*=ico] {display:inline-block;width:1.75rem;height:.95rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220801.png) no-repeat -7.5rem 0 /15rem 2.6rem;font-size:0;text-indent:-1rem;vertical-align:-.2rem;padding:0 .5rem;}
.story_220801 .cont_area .txt.bg {position:relative;margin-top:3.5rem;padding:2rem 0;border-radius:1.2rem;background-color:#f9f9fa;font-size:1.6rem;line-height:2.4rem;text-align:center;color:#000;}
.story_220801 .cont_area .txt.bg2 {position:relative;margin-top:3.5rem;padding:2rem 0;border-radius:1.2rem;background-color:#f9f9fa;font-size:1.6rem;line-height:2.9rem;text-align:center;color:#000;}
.story_220801 .cont_area .txt.bg2 span.top{color:var(--fc_04, #696e76);}
.story_220801 .cont_area .txt.bg2 span.top{color:var(--fc_04, #696e76);}
.story_220801 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;width:2.5rem;height:2.5rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220801.png) no-repeat 0 0 /15rem 2.6rem;}
.story_220801 .cont_area .tit.ico1:after {height:2.55rem;background-position:0 0;}
.story_220801 .cont_area .tit.ico2:after {background-position:-2.5rem 0;}
.story_220801 .cont_area .tit.ico3:after {background-position:-5rem 0;}
.story_220801 .cont_area .tit.ico4:after {width:1.75rem;height:.95rem;background-position:-7.5rem 0;}
.story_220801 .cont_area .tit.ico5:after {height:2.55rem;background-position:-10rem 0;}
.story_220801 .cont_area .list_group .list_ico li:before{background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220801.png) no-repeat -12.5rem 0 /15rem 2.6rem;}

/* 돈되는 e야기 - 현명한 배당투자 꿀팁(220915) */
.story_220901 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_story_220901.png) no-repeat;background-size:cover;}
.story_220901 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;width:2.5rem;height:2.5rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220901.png) no-repeat 0 0 /17.5rem 2.6rem;}
.story_220901 .cont_area .tit.ico1:after {width:2.35rem;height:2.35rem;background-position:0 0;}
.story_220901 .cont_area .tit.ico2:after {background-position:-2.5rem 0;}
.story_220901 .cont_area .tit.ico3:after {height:2.55rem;background-position:-5rem 0;}
.story_220901 .cont_area .tit.ico4:after {background-position:-10rem 0;}
.story_220901 .cont_area .tit.ico5:after {height:2.55rem;background-position:-12.5rem 0;}
.story_220901 .cont_area .list_group .list_ico li:before {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220901.png) no-repeat -15rem 0 /17.5rem 2.6rem;}

/* 돈되는 e이야기 - 킹달러라는데 한국에서 내돈 내가 지키려면? (221012) */
.story_221001 .top_area {background: url(https://oimg1.kbstar.com/img/mnbank/card_news/bg_story_221001.png) no-repeat; background-size: cover; background-position:50% 0;}
.story_221001 .apple_article {position:relative; padding:2.8rem 3.1rem 1.8rem 3.3rem; margin-top:2rem; border-radius:1rem; background-color:var(--bg_02, #f7f7f8);}
.story_221001 .apple_article:after {content:''; display:block; position:absolute; left:1.9rem; bottom:-1.15rem; width:1.5rem; height:1.15rem; background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_221001.png) no-repeat -6.15rem 0 /7.65rem auto;}
.dark_mode .story_221001 .apple_article:after {content:''; display:block; position:absolute; left:1.9rem; bottom:-1.15rem; width:1.5rem; height:1.15rem; background:url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_221001.png) no-repeat -6.15rem -1.15rem /7.65rem auto;}
.story_221001 .apple_article strong span {text-decoration: underline;}
.story_221001 .apple_article p {margin-top:1.5rem; font-size:1.4rem; color: var(--fc_04, #696e76); text-align:right;}
.story_221001 .cont_area .apple_article + .txt {margin-top:3.4rem;}
.story_221001 .cont_area .tit[class*=ico]:after {content:''; display:inline-block; position:relative; top:0.4rem; width:2.5rem; height:2.5rem; margin-left:0.7rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220801.png) no-repeat 0 0 /15rem 2.6rem;}
.story_221001 .cont_area .tit.ico1:after {height:2.55rem; background-position:0 0;}
.story_221001 .cont_area .tit.ico2:after {height:2.55rem; background-position:-5rem 0;}
.story_221001 .cont_area .tit.ico3:after {width:3.55rem; height:2.55rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_221001.png) no-repeat 0 0 /7.65rem auto;}
.story_221001 .cont_area .tit.ico4:after {width:2.6rem; height:2.6rem; margin-right:0.2rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_221001.png) no-repeat -3.55rem 0 /7.65rem auto;}
.story_221001 .usa_fund01, .story_221001 .usa_fund02 {width:100%; overflow:hidden;}
.story_221001 .usa_fund01 {margin-top:1.8rem;}
.story_221001 .usa_fund02 {margin-top:1.1rem;}
.story_221001 .usa_fund01 p:first-child {float:left; width:75%; padding-left:2.5rem; margin-right:0.3rem; color:#fff; font-weight:bold; background-color:#386fe1; border-top-left-radius:0.7rem; border-bottom-left-radius:0.7rem; line-height:5rem;}
.story_221001 .usa_fund01 p:first-child+p {float:left; width:23%; color:#fff; font-weight:bold; background-color:#386fe1; border-top-right-radius:0.7rem; border-bottom-right-radius:0.7rem; text-align:center; line-height:5rem;}
.story_221001 .usa_fund02 p:first-child {float:left; width:75%; padding-left:2.5rem; margin-right:0.3rem; color:#fff; font-weight:bold; background-color:#ff5858; border-top-left-radius:0.7rem; border-bottom-left-radius:0.7rem; line-height:5rem;}
.story_221001 .usa_fund02 p:first-child+p {float:left; width:23%; color:#fff; font-weight:bold; background-color:#ff5858; border-top-right-radius:0.7rem; border-bottom-right-radius:0.7rem; text-align:center; line-height:5rem;}
.story_221001 .cont_area .list_group .list_ico li:before {content:''; display:block; position:absolute; left:0; top:0.7rem; width:1.3rem; height:1.3rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/spr_story_220801.png) no-repeat -12.5rem 0 /15rem 2.6rem;}
.story_221001 .cont_area .list_group .list_ico+p {margin-top:1.5rem;}
.story_221001 .cont_area .txt.fs12 {color:var(--fc_06, #aab0b8); line-height:2rem;}

/* 지식UP연구소 - ETF의 모든 것 (221014) */
.date_2022_10_14 .top_area {background:url(https://oimg1.kbstar.com/img/mnbank/card_news/1014_etf_01.png) no-repeat;background-size:cover;}
.date_2022_10_14 .top_area .h_group {margin:0 auto;padding:24.5rem 2.6rem 0 2.6rem;}
.date_2022_10_14 .cont_area > .txt:first-child {margin-top:5rem;}
.date_2022_10_14 .cont_area .tit[class*=ico]:after {content:'';display:inline-block;position:relative;top:.4rem;margin-left:.7rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/1020_etf_ico.png) no-repeat 0 0 /7.5rem 2.5rem;}
.date_2022_10_14 .cont_area .tit.ico1:after {width:2.5rem;height:2.5rem;background-position:0 0;}
.date_2022_10_14 .cont_area .tit.ico2:after {width:2.5rem;height:2.5rem;background-position:-2.5rem 0;}
.date_2022_10_14 .cont_area .tit.ico3:after {width:2.5rem;height:2.5rem;background-position:-5rem 0;}

.date_2022_10_14 .cont_area .txt > em.bg {position:relative;margin-top:2rem;background-color:#ffe4a2;line-height:2.7rem;}
.date_2022_10_14 .cont_area .txt_s.left {color:#a3a3a3;}
.date_2022_10_14 .cont_area .txt.caution {position:relative;margin-top:2rem;padding-left:2.6rem;background-color:#fff7d1;line-height:2.7rem;font-weight:700;color:#000;}
.date_2022_10_14 .cont_area .txt.caution:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:1.6rem;height:1.6rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_5_02_ico.png) no-repeat 0 -5rem /15rem 15rem;}

.date_2022_10_14 .cont_area .txt > em.bg {position:relative;margin-top:2rem;background-color:rgba(255, 204, 0, .5);line-height:2.7rem;}
.date_2022_10_14 .cont_area .txt.caution {position:relative;margin-top:2rem;padding-left:3rem;color: var(--fc_02, #26282c);background-color:rgba(255, 204, 0, .5);line-height:2.7rem;font-weight:700;}
.date_2022_10_14 .cont_area .txt.caution:before {content:'';display:block;position:absolute;left:.7rem;top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%);width:2rem;height:2rem;background:url(https://oimg1.kbstar.com/img/mnbank/card_news/2022_cardnews_ico.png) no-repeat 0 -5rem /15rem 15rem;}

/***************************************************************************************************************
                                                           KB부동산 웹툰                                                          
***************************************************************************************************************/
[class*=webtoon_] .ico_house:after {content:''; display:inline-block; position:relative; top:0.4rem; width:2.5rem; height:2.5rem;  margin-left:0.7rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_house.png) no-repeat 0 0 /2.5rem 2.5rem;}

/* KB부동산 웹툰(220824) */
.date_2022_08_24 .cont_area .tit.bul:before {content:''; display:inline-block; width:0.4rem; height:2.2rem; margin-right:0.8rem; background-color:var(--fc_02, #26282c); vertical-align:-2px;}
.date_2022_08_24 .cont_area .tit.bul:after {content:''; display:inline-block; position:relative; top:0.4rem; width:2.5rem; height:2.5rem;  margin-left:0.7rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_house.png) no-repeat 0 0 /2.5rem 2.5rem;}

/* KB부동산 웹툰: 서울을 떠나는 사람들 외 3건(220902) */
.webtoon_220901 .cont_area .tit.ico_home:after {content:''; display:inline-block; position:relative; top:0.4rem; width:2.5rem; height:2.5rem;  margin-left:0.7rem; background: url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_house.png) no-repeat 0 0 /2.5rem 2.5rem;}

/* DSR 이것만 알아둬 외 3건(220919) */
.webtoon_220902 .cont_area .tit.ico:after {content:'';display:inline-block;position:relative;top:0.4rem;width:2.5rem;height:2.5rem;margin-left:0.7rem;background: url(https://oimg1.kbstar.com/img/mnbank/card_news/ico_webtoon_220902.png) no-repeat 0 0 /2.5rem 2.5rem;}

