@charset "utf-8"; 
/*
*   공과금 전용 스타일
*/

.cate_utility .h2 + .list_top_wrap{margin-bottom: 2rem;}

/* list_data 뱃지 */
.list_top_wrap.ut_other .col:first-child{width: 70%;}
.list_top_wrap.ut_other .badge{border: 1px solid #60584c;color: #60584c;background: #fff;margin-bottom: 1.2rem;}
.list_top_wrap.ut_other .h3{margin-top: 0;}
.cate_utility .h3 > span.normal:last-child{margin-left: .4rem;}

/* 지로번호 관리 목록 타입 */
.ut_list_jiro.list_data > li > div{vertical-align: middle;}
.ut_list_jiro .tit > .number{color: #26282c;font-size: 1.6rem;font-weight: 500;}
.ut_list_jiro .info{margin-top: .8rem;font-size: 1.5rem;color: #696e76;font-weight: 500;}
.ut_list_jiro .btn_txt{font-size: 1.4rem;}

/* 잔액조회 버튼 예외처리 */
.btn_txt.ut_ico_revert{padding-left: 0;padding-right: 2.4rem;}
.btn_txt.ut_ico_revert::after{left: auto;right: 0;transform:rotateY(0);}

/* 지로납부 번호 */
/* .ut_step_no{position:relative;z-index:10;display:inline-block;vertical-align: .3rem;margin-left:.4rem;width: 1.9rem;height:1.9rem;line-height:1.9rem;background-color: #484b50;color: #fff;border-radius: 50%;font-size:1.3rem;text-align: center;font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;font-weight:500;text-indent: -0.1rem;} */

/* 납기내 금액 토글 */
.ut_between{display: flex;justify-content: space-between;align-items: center;}
.ut_between .left{flex: 1;}
.ut_between .left .input{width: 12rem;display:inline-block;border: 1px solid #dde1e4;}
.ut_between .left .input input[type="tel"]{font-size: 1.7rem;font-weight: 400;padding: 0 1rem;border:0}
.ut_between .left .input::after{display:none}

.ut_between .right{padding-left: 1rem;}
.ut_between .right .btn_txt{font-size:1.4rem;line-height: 1.6;}

