//사이즈 정의
@mixin dropdown-size-variable() {
	--upl-dropdown--menu-radius: var(--upl-radius-medium4);
	--upl-dropdown--menu-padding: var(--upl-padding-3);
	--upl-dropdown--menu-margin-top: var(--upl-padding-6);
	--upl-dropdown--menu-gap: var(--upl-gap-3);
	--upl-dropdown--list-item-radius: var(--upl-radius-medium2);
	--upl-dropdown--list-item-height: var(--upl-size-height-7);
	--upl-dropdown--list-item-pc-font-size: var(--upl-pc-font-size-navigation-depth-medium);
	--upl-dropdown--list-item-mobile-font-size: var(--upl-mobile-font-size-navigation-depth-medium);
}

//컬러 정의
@mixin dropdown-color-variable($mode: light) {
	--upl-dropdown--menu-color-border: var(--upl-#{$mode}-color-border-gray-light);
	--upl-dropdown--menu-color-surface: var(--upl-#{$mode}-color-surface-white-subtler);
	--upl-dropdown--menu-color-alpha-shadow: 0 0 0.2rem 0 var(--upl-#{$mode}-color-alpha-shadow1), 0 0.4rem 0.8rem 0 var(--upl-#{$mode}-color-alpha-shadow2);
	--upl-dropdown--list-item-color-action-hover: var(--upl-#{$mode}-color-action-secondary-hover);
	--upl-dropdown--list-item-color-action-pressed: var(--upl-#{$mode}-color-action-secondary-pressed);
	--upl-dropdown--list-item-color-action-selected: var(--upl-#{$mode}-color-action-secondary-selected);
	--upl-dropdown--list-item-color-text-selected: var(--upl-#{$mode}-color-text-secondary);
}

//모드 설정
$mode-setting: light;
/* upl-drop-wrap */
.upl-drop-wrap {
	@include dropdown-size-variable();
	@include dropdown-color-variable(#{$mode-setting});

	display: inline-flex;
	position: relative;
	.drop-menu {
		@include position($t: 100%, $l: 50%);
		display: none;
		z-index: 6;
		min-width: 13rem;
		border-radius: var(--upl-dropdown--menu-radius);
		padding: var(--upl-dropdown--menu-padding);
		margin-top: var(--upl-dropdown--menu-margin-top);
		background-color: var(--upl-dropdown--menu-color-surface);
		border: 0.1rem solid var(--upl-dropdown--menu-color-border);
		box-shadow: var(--upl-dropdown--menu-color-alpha-shadow);
		transform: translateX(-50%);
		&::before {
			@include pseudo();
			@include square(1.2rem);
			@include position($b: 100%, $l: 50%);
			display: block;
			margin-bottom: -0.5rem;
			margin-left: -0.6rem;
			transform: rotate(-135deg);
			background-color: var(--upl-dropdown--menu-color-surface);
			border: 0.1rem solid var(--upl-dropdown--menu-color-border);
			border-top-color: transparent;
			border-left-color: transparent;
		}
		.drop-in {
			@include flex-layout($fd: column, $ai: flex-start);
			gap: var(--upl-dropdown--menu-gap);
			position: relative;
			z-index: 1;
		}
		.drop-top {
			width: 100%;
			padding: var(--upl-padding-3) var(--upl-padding-6);
			border-bottom: 0.1rem solid var(--upl-dropdown--menu-color-border);
		}
		.drop-bottom {
			@include flex-layout($jc: center);
			width: 100%;
			padding: var(--upl-padding-3) 0;
			border-top: 0.1rem solid var(--upl-dropdown--menu-color-border);
		}
		.drop-list {
			width: 100%;
			.item-link {
				@include flex-layout($jc: flex-start, $ai: center);
				width: 100%;
				gap: var(--upl-gap-3);
				padding: 0 var(--upl-padding-6);
				font-size: var(--upl-dropdown--list-item-pc-font-size);
				border-radius: var(--upl-dropdown--list-item-radius);
				height: var(--upl-dropdown--list-item-height);
				background-color: var(--upl-dropdown--menu-color-surface);
				@include size-medium {
					font-size: var(--upl-dropdown--list-item-mobile-font-size);
				}
				.ico-go {
					@include svg-icon($size: var(--upl-icon--size-medium), $mode: #{$mode-setting});
				}
				&:hover {
					background-color: var(--upl-dropdown--list-item-color-action-hover);
				}
				&:active {
					background-color: var(--upl-dropdown--list-item-color-action-pressed);
				}
				&.active {
					font-weight: var(--upl-font-weight-bold);
					color: var(--upl-dropdown--list-item-color-text-selected);
					background-color: var(--upl-dropdown--list-item-color-action-selected);
				}
			}
		}
	}
	&.drop-left {
		.drop-menu {
			left: 0;
			right: unset;
			transform: none;
			&::before {
				left: 2.4rem;
				margin-left: 0;
			}
		}
	}
	&.drop-right {
		.drop-menu {
			left: unset;
			right: 0;
			transform: none;
			&::before {
				left: unset;
				right: 2.4rem;
			}
		}
	}
}

//고대비모드
@include color-mode($mode: dark) {
	//모드 설정
	$mode-setting: dark;

	/* upl-drop-wrap */
	.upl-drop-wrap {
		@include dropdown-color-variable(#{$mode-setting});
		.drop-list {
			.item-link {
				.ico-go {
					@include svg-icon($size: var(--upl-icon--size-medium), $mode: #{$mode-setting});
				}
			}
		}
	}
}