/*** Icon ***/
.icon {
	display:inline-block;
	width:var(--upl-iconsize-md);
	height:var(--upl-iconsize-md);
	vertical-align:middle;

	&::before {
		content:'';
		display:block;
		width:100%;
		height:100%;
		background-size:100%;
		background-repeat:no-repeat;
		background-position: 50% 50%;
	}
	
	//icon size
	&.xxxs {
		@include square(var(--upl-iconsize-xxxs))
	}
	&.xxs {
		@include square(var(--upl-iconsize-xxs));
	}
	&.xsm {
		@include square(var(--upl-iconsize-xsm));
	}
	&.sm {
		@include square(var(--upl-iconsize-sm));
	}
	&.smd {
		@include square(var(--upl-iconsize-smd));
	}
	&.md {
		@include square(var(--upl-iconsize-md));
	}
	&.mlg {
		@include square(var(--upl-iconsize-mlg));
	}
	&.lg {
		@include square(var(--upl-iconsize-lg));
	}
	&.xlg {
		@include square(var(--upl-iconsize-xlg));
	}
	&.xxlg {
		@include square(var(--upl-iconsize-xxlg));
	}
	&.xxxlg {
		@include square(var(--upl-iconsize-xxxlg));
	}

	&.icon-arrow-right:before {
		@include icon-set('icon-arrow-right.svg', $effect: pure);
	}
	&.icon-arrow-left:before {
		@include icon-set('icon-arrow-left.svg', $effect: pure);
	}
	&.icon-arrow-down:before {
		@include icon-set('icon-arrow-down.svg', $effect: pure);
	}
	&.icon-arrow-up:before {
		@include icon-set('icon-arrow-up.svg', $effect: pure);
	}
	&.icon-system-info:before {
		@include icon-set('icon-system-info.svg', $effect: pure);
	}
	&.icon-close:before {
		@include icon-set('icon-close.svg', $effect: pure);
	}
	&.icon-delete:before {
		@include icon-set('icon-delete.svg', $effect: pure);
	}
	&.icon-duplicate:before {
		@include icon-set('icon-duplicate.svg', $effect: pure);
	}
	&.icon-info:before {
		@include icon-set('icon-info.svg', $effect: pure);
	}
	&.icon-success:before {
		@include icon-set('icon-success.svg', $effect: pure);
	}
	&.icon-error:before {
		@include icon-set('icon-error.svg', $effect: pure);
	}
	&.icon-tooltip:before {
		@include icon-set('icon-tooltip.svg', $effect: pure);
	}

	//icon mask example
	&.icon-duplicate-mask:before {
		@include svg-icon($mode: light);
		@include icon-set('icon-duplicate.svg');
	}

	//icon angle
	&.icon-angle {
		//default: down
		&::before {
			@include icon-set('icon-arrow-down.svg', $effect: pure);
		}
		//disabled (for selectbox)
		// &.disabled::before {
		// 	@include icon-set('icon-angle-disabled.svg', $effect: pure);
		// }	
		&.up::before {
			transform: rotate(180deg);
		}
		&.left::before {
			transform: rotate(90deg);
		}
		&.right::before {
			transform: rotate(-90deg);
		}
	}
}
