@charset "utf-8";

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: 0;
}

:root{
    --fc_00: #000;
    --fc_01: #26282c;
    --fc_02: #222;
    --fc_03: #444;
    --fc_04: #666;
    --fc_05: #332d22;
    --bg_01: #fff;
    --bg_02: #fbf9f4;
    --bg_03: #eceef0;
    --bg_04: #eceef0;
    --bg_05: #fff;
    --bg_06: #f9fafc;
    --bg_07: #ccc;
    --bg_08: #eee;
    --bg_09: #fed03a;
    --bdc_01: #696e76; 
    --bdc_02: #ddd;
    --bdc_03: #332d22;
}

:root.dark{
    --fc_00: #fff;
    --fc_01: #fff;
    --fc_02: #f7f7f7;
    --fc_03: #f5f5f5;
    --fc_04: #f3f3f3;
    --fc_05: #fff;
    --bg_01: #000;
    --bg_02: #000; 
    --bg_03: #000;
    --bg_04: #555;
    --bg_05: #333;
    --bg_06: #333; 
    --bg_07: #222;
    --bg_08: #000;
    --bg_09: #999;
    --bdc_01: #86888a;
    --bdc_02: #666;
    --bdc_03: #fff;
}

a{color:var(--fc_01, #26282c);text-decoration:none}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    -webkit-text-size-adjust: none;
}

caption, legend, .offscreen{position:absolute!important;height:1px!important;width:1px!important;overflow:hidden!important;clip:rect(1px 1px 1px 1px)!important;clip:rect(1px,1px,1px,1px)!important}

[data-class="contents"] {
    padding: 20px 25px 30px 325px;
    background-color: var(--bg_03, #eceef0);
}

[data-class="component-name"] {
    padding-left: 0;
}
[data-class="component-name"]>span {
    display: inline-block;
    position: relative;
    font-weight: 700;
    color: var(--fc_00, #000);
    font-size: 26px;
}
[data-class="component-name"]>span::after{
    content: '';
    display: block;
    width:100%;
    height: 8px;
    margin-top: -15px;
    background-color: var(--bg_09, #fed03a);
}

[data-class="section"] {
    margin: 30px 0;
    padding: 20px;
    background-color:var(--bg_05, #fff);
    border-radius:10px;
    box-shadow:0 0px 3px 3px rgba(0,0,0,.05);
}
[data-class="component-name"] + [data-class="section"] {
    margin-top: 0;
}
[data-class="section"]:last-child {
    margin-bottom: 0;
}

[data-class="shortcut"] {
    position: fixed;
    top: 25px;
    left: 20px;
    bottom: 20px;
    z-index: 10;
    width: 280px;
    padding: 15px 5px 15px 15px;
    background-color: var(--bg_05, #fff);
    border-radius:10px;
    transition: all .6s;
    box-shadow:0 0px 3px 3px rgba(0,0,0,.05);
}
[data-class="shortcut"]>.inner{
    position: relative;
    width: 100%;
    height: 100%;
    padding-right: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
}
[data-class="shortcut"]>.inner::-webkit-scrollbar {
    width: 4px;
}
[data-class="shortcut"]>.inner::-webkit-scrollbar-thumb {
    background-color: #aaa;
    border-radius: 2px;
}
[data-class="shortcut"]>.inner::-webkit-scrollbar-thumb:hover {
    background-color: #000;
}
[data-class="shortcut"] a>span{display:inline-block;position:relative}
[data-class="shortcut"] a>span::after{
    content: '';
    display: block;
    width:0;
    height: 5px;
    margin-top: -7px;
    background-color: #fed03a;
    transition: 0.3s;
}
[data-class="shortcut"] a>span::before{
    content: '';
    position: absolute;
    top: 2px;
    right: -20px;
    width: 14px;
    height: 14px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' enable-background='new 0 0 50 50'%3E%3Cpath d='M 12 6 C 10.3 6 9 7.3 9 9 L 9 39 L 11 37 L 11 9 C 11 8.4 11.4 8 12 8 L 38 8 C 38.6 8 39 8.4 39 9 L 39 41 C 39 41.6 38.6 42 38 42 L 16 42 L 14 44 L 38 44 C 39.7 44 41 42.7 41 41 L 41 9 C 41 7.3 39.7 6 38 6 L 12 6 z M 16 25 L 16 27 L 24.59375 27 L 9.09375 42.5 L 10.5 43.90625 L 26 28.40625 L 26 37 L 28 37 L 28 26 L 28 25 L 27 25 L 16 25 z' fill='%23000' /%3E%3C/svg%3E%0A");
    background-position:50% 50%;
    background-size:14px 14px;
    background-repeat: no-repeat;
    transition: 0.3s;
}
[data-class="shortcut"] a:hover>span::after, [data-class="shortcut"] a.active>span::after{width:100%}
[data-class="h1-target"] {
    display: block;
    position: relative;
    margin-top:20px;
    padding: 2px 0 10px 5px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    font-size: 18px;
}
[data-class="h1-target"]:first-child{margin-top:0}
[data-class="h1-target"]+[data-class="h2-target"]{margin-top:15px}
[data-class="h2-target"] {
    display: block;
    position: relative;
    padding: 2px 0 2px 5px;
    font-size: 15px;
}
[data-class="h2-target"]>span::after{
    height: 4px!important;
    margin-top: -6px!important;
}
[data-class="h2-target"]+[data-class="h3-target"]{margin-top:10px}
[data-class="h3-target"]+[data-class="h2-target"]{margin-top:10px}
[data-class="h3-target"] {
    display: block;
    position: relative;
    padding: 2px 0 2px 15px;
    border-radius: 5px;
    font-size: 13px;
}
[data-class="h3-target"]>span::after{
    height: 3px!important;
    margin-top: -5px!important;
}
[data-class="h1"] {
    position: relative;
    padding: 50px 0 10px;
    color: var(--fc_02, #222);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
[data-class="h1"]::before{content:'#'}
[data-class="h1"]::after{content:'';display:block;height:7px;background-color:var(--bg_04, #eceef0);margin-top:-7px}
[data-class="h1"]:first-child {
    padding-top: 0;
}
[data-class="h1"]:last-child {
    padding-bottom: 0;
}

[data-class="h2"] {
    position: relative;
    padding: 50px 0 10px;
    color: var(--fc_03, #444);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
[data-class="h2"]::before{content:'#'}
[data-class="h2"]::after{content:'';display:block;height:5px;background-color:var(--bg_04, #eceef0);margin-top:-7px}
[data-class="h2"]:first-child {
    padding-top: 0;
}
[data-class="h2"]:last-child {
    padding-bottom: 0;
}
[data-class="h1"] + [data-class="h2"] {
    padding-top: 20px;
}

[data-class="h3"] {
    padding: 50px 0 10px;
    color: var(--fc_04, #666);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
[data-class="preview"] + [data-class="h3"]{padding-top:10px}
[data-class="h3"]::before{content:'#'}
[data-class="h3"]::after{content:'';display:block;height:4px;background-color:var(--bg_04, #eceef0);margin-top:-7px}
[data-class="h3"]:first-child {
    padding-top: 0;
}
[data-class="h3"]:last-child {
    padding-bottom: 0;
}
[data-class="h2"] + [data-class="h3"] {
    padding-top: 10px;
}

[data-class="p"] {
    margin: 10px 0;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
[data-class="p"]:first-child {
    margin-top: 0;
}
[data-class="p"]:last-child {
    margin-bottom: 0;
}

[data-class*="list"] {
    margin: 10px 0;
}
[data-class*="list"]:first-child {
    margin-top: 0;
}
[data-class*="list"]:last-child {
    margin-bottom: 0;
}
[data-class*="list"] > div {
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}

[data-class*="list"] > div + div {
    margin-top: 4px;
}
[data-class="shortcut"]+[data-class="box"]{margin-top:30px}
[data-class="box"] {
    margin: 10px 0;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid var(--bdc_02, #dddddd);
    background-color: var(--bg_02, #fbf9f4);
    color: var(--fc_01, #26282c);
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
[data-class="box"]:first-child {
    margin-top: 0;
}
[data-class="box"]:last-child {
    margin-bottom: 0;
}

[data-class="notice"] {
    margin: 10px 0;
    padding: 10px 24px;
    border-radius: 5px;
    border: 1px solid #b52e14;
    background-color: #ffeae6;
    color: #b52e14;
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.05);
}
[data-class="notice"]:first-child {
    margin-top: 0;
}
[data-class="notice"]:last-child {
    margin-bottom: 0;
}

[data-class*="list"] > div {
    position: relative;
    padding-left: 25px;
    color: var(--fc_02, #222);
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', sans-serif;
}
[data-class*="list"] > div:last-child {
    padding-bottom: 0;
}
[data-class*="list"] > div > [data-class*="list"] {
    margin-top: 5px;
    padding-bottom: 5px;
}
[data-class*="list"][data-class*="number"] {
    counter-reset: num 0;
}
[data-class*="list"][data-class*="number"] > div {
    padding-left: 25px;
}
[data-class*="list"][data-class*="number"] > div:before {
    counter-increment: num;
    content: counter(num) ".";
    position: absolute;
    top: 0;
    left: 2px;
    width: 20px;
    text-align: right;
}
[data-class*="list"][data-class*="disc"] > div {
    padding-left: 15px;
}
[data-class*="list"][data-class*="disc"] > div:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 5px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color: #000;
}
[data-class*="list"][data-class*="dash"] > div {
    padding-left: 15px;
}
[data-class*="list"][data-class*="dash"] > div:before {
    content: "";
    position: absolute;
    top: 13px;
    left: 5px;
    width: 6px;
    height: 1px;
    background-color: #000;
}

[data-class="button"] {
    margin: 10px 0 0;
    padding: 8px 20px;
    border: 1px solid var(--bdc_01, #696e76);
    border-radius: 5px;
    background-color:var(--bg_01, #fff);
    font-size: 14px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', Sans-serif;
    cursor: pointer;
}
[data-class="button"]:first-child {
    margin-top: 0;
}

[data-class="preview"] {
    margin: 10px 0;
    border: 1px solid var(--bdc_02, #ddd);
    border-radius: 5px;
    overflow: hidden;
}
[data-class="preview"]:before {
    margin-top: 0;
}
[data-class="preview"]:after {
    margin-bottom: 0;
}
[data-class="preview"] + [data-class="preview"] {
    margin-top: 30px;
}

[data-class="demo"] {
    min-height:7rem;
    padding: 20px 24px;
    border-radius: 5px 5px 0 0;
    background-color: var(--bg_01, #fff);
}

[data-class="device"] {
    position: relative;
    padding:20px;
    border-width:30px 5px 5px;
    border-style:solid;
    border-color:#333;
    border-radius:10px;
    transition:0.3s ease;
}

[data-class="demo"].layout [data-class="device"]{padding:0}

[data-class="device"]::before {
    content: '';
    position: absolute;
    top: -20px;
    left: 15px;
    width: 10px;
    height: 10px;
    border:2px solid rgba(255,255,255,0.15);
    border-radius: 100%;
    background-color: rgba(255,255,255,0.25);
}

[data-class="device"]::after {
    content: '';
    position: absolute;
    top: -17px;
    left: 50%;
    width: 40px;
    height: 5px;
    margin-left: -20px;
    border-radius: 5px;
    background-color: rgba(255,255,255,0.15);
}

[data-class*="code"] {
    display: block;
    overflow: hidden;
    height: 34px;
    margin: 0;
    border: 0;
    border-radius: 5px;
    background-color: var(--bg_06, #f9fafc);
    font-size: 14px;
    line-height: 1.5;
    font-family: Consolas, 'Noto Sans KR';
}
[data-class*="code"][data-class*="active"] {
    overflow: visible;
    height: auto;
}
[data-class*="demo"] + [data-class*="code"] {
    border-top: 1px solid var(--bdc_02, #ddd);
    border-radius: 0 0 5px 5px;
}

[data-class="title"] {
    position: relative;
    padding-left: 80px;
}

[data-class="fold"] {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 8px 24px;
    border: 0;
    background-color: transparent;
    color: var(--fc_05, #332d22);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', Sans-serif;
    text-align: left;
    cursor: pointer;
}
[data-class="fold"]:hover {
    background-color: var(--bg_07, #ccc);
}
[data-class="fold"]:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 74px;
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--bdc_03, #332d22);
    border-bottom: 2px solid var(--bdc_03, #332d22);
    transform: rotate(45deg);
}
[data-class*="code"][data-class*="active"] [data-class="fold"]:before {
    top: 14px;
    transform: rotate(225deg);
}

[data-class="copy"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    margin: 0;
    padding: 8px 15px;
    border: 0;
    background-color: var(--bg_08, #eee);
    color: var(--fc_05, #332d22);
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Noto Sans KR', Sans-serif;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}
[data-class="copy"]:hover {
    background-color: var(--bg_07, #ccc);
}
[data-class="fold"] .hljs-selector-tag,
[data-class="copy"] .hljs-selector-tag{
    color:inherit
}

[data-class="html"] {
    display: block;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 20px 24px;
    background-color: #1b2426;
}

[data-class*="sprite"] {
    background-color: var(--bg_02, #fbf9f4);
    border-top: 1px solid #ccc;
}
[data-class="file"] {
    displaY: block;
    position: relative;
    width: 100%;
    padding: 20px 24px;
    color: var(--fc_02, #332d22);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.5;
    font-family: Consolas, "Noto Sans KR", sans-serif;
    text-align: left;
}
[data-class="file"]:before {
    content: "Sprite Image";
    display: inline-block;
    margin-right: 10px;
    padding: 2px 10px;
    border-radius: 5px;
    background-color: #e2a52c;
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.1);
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.5;
    font-family: Consolas, "Noto Sans KR", sans-serif;
}
[data-class="file"]:after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-left: 10px;
    border-right: 2px solid var(--fc_02, #332d22);
    border-bottom: 2px solid var(--fc_02, #332d22);
    transform: rotate(45deg) translateY(0);
}
[data-class*="sprite"][data-class*="active"] [data-class="file"]:after {
    transform: rotate(225deg) translateY(-5px);
}
[data-class="image"] {
    display: none;
    padding: 0 24px 24px;
}
[data-class="image"] img {
    background-color: #fff;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.15);
}
[data-class*="sprite"][data-class*="active"] [data-class="image"] {
    display: block;
}

@media (max-width: 1400px) {
    [data-class="shortcut"] {
        display: block;
    }

    [data-class="contents"] {
        padding-left: 400px;
    }
}

@media (max-width: 1024px) {
    [data-class="shortcut"] {
        display: block;
        width: 250px;
        padding-right: 10px;
        padding-left: 10px;
    }

    [data-class="contents"] {
        padding-left: 290px;
    }

    [data-class="h1-target"] {
        font-size: 12px;
    }
    [data-class="h1-target"]:before {
        top: 4px;
        font-size: 10px;
    }
    [data-class="h2-target"] {
        font-size: 12px;
    }
    [data-class="h2-target"]:before {
        top: 4px;
        font-size: 10px;
    }
    [data-class="h3-target"] {
        font-size: 12px;
    }
    [data-class="h3-target"]:before {
        top: 4px;
        font-size: 10px;
    }
}


@media (max-width: 768px) {
    [data-class="component-name"]>span {
        font-size: 22px;
    }

    [data-class="h1"] {
        font-size: 18px;
    }

    [data-class="h2"]{
        font-size: 14px;
    }

    [data-class="shortcut"] {
        display: none;
    }

    [data-class="contents"] {
        padding: 30px 15px 15px;
    }

    [data-class="section"] {
        margin: 15px 0;
    }

    [data-class="preview"] {
        margin-right: -15px;
        margin-left: -15px;
        border-right: 0;
        border-left: 0;
        border-radius: 0;
    }

    [data-class="demo"] {
        padding: 15px;
    }

    [data-class="device"] {
        width:auto !important;
        border:none;
        padding:0;
    }

    [data-class*="code"] {
        border-radius: 0;
    }

    [data-class="fold"] {
        padding: 8px 24px;
    }

    [data-class="fold"]:before {
        left: 74px;
    }
}

html.dark [data-class="shortcut"] a>span::before{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50' enable-background='new 0 0 50 50'%3E%3Cpath d='M 12 6 C 10.3 6 9 7.3 9 9 L 9 39 L 11 37 L 11 9 C 11 8.4 11.4 8 12 8 L 38 8 C 38.6 8 39 8.4 39 9 L 39 41 C 39 41.6 38.6 42 38 42 L 16 42 L 14 44 L 38 44 C 39.7 44 41 42.7 41 41 L 41 9 C 41 7.3 39.7 6 38 6 L 12 6 z M 16 25 L 16 27 L 24.59375 27 L 9.09375 42.5 L 10.5 43.90625 L 26 28.40625 L 26 37 L 28 37 L 28 26 L 28 25 L 27 25 L 16 25 z' fill='%23fff' /%3E%3C/svg%3E%0A");
}