@charset "utf-8";

@font-face {
    font-family:'KBText';font-style:normal;font-weight:400;    
	src:url('/msbiz/app/css/fonts/kbfg_text_l.woff') format('woff');
}
@font-face {
    font-family:'KBText';font-style:normal;font-weight:700;    
	src:url('/msbiz/app/css/fonts/kbfg_text_b.woff') format('woff'); 
}
@font-face {
	font-family:'Roboto';font-style:normal;font-weight:400;
	src:url('/msbiz/app/css/fonts/roboto_regular.woff') format('woff');
}
@font-face {
	font-family:'Roboto';font-style:normal;font-weight:500;
	src:url('/msbiz/app/css/fonts/roboto_medium.woff') format('woff');
}

*,
*:before,
*:after {
    box-sizing: border-box;
    outline: 0;
}

:root{
    --fc_01: #000;
    --fc_02: #26282c;
    --fc_03: #484b51;
    --bg_01: #fff;
    --bg_02: #f7f7f8;
    --bg_03: #f3f0ea;
    --bdc_01: #222;
}

:root.dark{
    --fc_01: #fff;
    --fc_02: #fff;
    --fc_03: #f7f7f8;
    --bg_01: #212224;
    --bg_02: #34363a;
    --bg_03: #34363a;
    --bdc_01: #f7f7f8;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--bg_02, #f7f7f8);
    line-height: 1.5;
    font-family:'KBText','Roboto','NotoSans','Droid Sans','AppleGothicNeoSD','Apple SD 산돌고딕 Neo','Sans-serif','돋음','dotum';
    color:var(--fc_02, #26282c);
    -webkit-text-size-adjust: none;
}

.contents {
    padding: 30px 40px;
}

.paper {
    max-width: 960px;
    margin: 0 auto;
    padding: 60px 60px;
    background-color: var(--bg_01, #fff);
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.docs-name {
    margin: 0 auto 30px;
    max-width: 960px;
    color:var(--fc_02, #26282c);
    font-weight: 700;
    font-size: 26px;
}

.docs-name > span {
    position: relative;
    display: inline-block;
}

.docs-name > span::after{
    content: '';
    display: block;
    width:100%;
    height: 8px;
    margin-top: -15px;
    background-color: #fed03a;
}

.h1 {
    margin: 40px 0 10px;
    color:var(--fc_01, #000);
    font-weight: 700;
    font-size: 20px;
}
.h1:first-child {
    margin-top: 0;
}

.p {
    margin: 10px 0;
    color:var(--fc_03, #484b51);
    font-size: 14px;
}
.p:first-child {
    margin-top: 0;
}
.p:last-child {
    margin-bottom: 0;
}

.ul {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.ul > li > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.ul:first-child {
    margin-top: 0;
}
.ul:last-child {
    margin-bottom: 0;
}
.ul li {
    position: relative;
    padding-left: 15px;
    color:var(--fc_03, #484b51);
    font-size: 14px;
}
.ul li:before {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;
    width: 4px;
    height: 4px;
    border-radius: 4px;
    background-color:var(--fc_01, #000);
}
.ul > li > ul > li:before {
    border-radius: 0;
    border: 1px solid #000;
    background-color: var(--bg_01, #fff);
}
.ul li + li {
    margin-top: 10px;
}

.table {
    margin: 10px 0;
    border-top: 2px solid var(--fc_01, #000);
    border-bottom: 1px solid #ccc;
}
.table:first-child {
    margin-top: 0;
}
.table:last-child {
    margin-bottom: 0;
}
.table table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.table thead th {
    padding: 10px 20px;
    border-bottom: 1px solid #000;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}
.table tbody th {
    padding: 10px 20px;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}
.table tbody tr + tr th {
    border-top: 1px solid #ccc;
}
.table tbody td {
    padding: 10px 20px;
    font-size: 14px;
    text-align: left;
}
.table tbody tr + tr td {
    border-top: 1px solid #ccc;
}

.directory ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.directory li > ul {
    position: relative;
    padding-left: 40px;
}
.directory li > ul:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 15px;
    width: 10px;
    height: 100%;
    border-left: 1px dotted var(--bdc_01, #222);
}
.directory li {
    position: relative;
    font-size: 14px;
    line-height: 1.5;
}
.directory li:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 12px;
    left: -23px;
    width: 10px;
    height: 1px;
    border-top: 1px dotted var(--bdc_01, #222);
}
.directory > ul > li:before {
    border: 0;
}
.directory li > span {
    font-size: 12px;
    color: #888;
}

.code {
    overflow-x: auto;
    position: relative;
    margin: 10px 0;
    padding: 0;
    border-radius: 5px;
    background-color: var(--bg_03, #f3f0ea);
    box-shadow: inset 0 0 5px 0 rgba(0,0,0,.05);
}
.code:last-child {
    margin-bottom: 0;
}
.code xmp {
    display: block;
    margin: 0;
    padding: 20px 30px;
    color:var(--fc_01, #000);
    font-size: 14px;
    font-family: Consolas;
}
.point {
    color:red;
}

@media (max-width: 768px) {
    .contents {
        padding: 50px 15px 60px;
    }
    
    .paper {
        padding: 20px;
    }
}